Repository Kong/kong, changes with the labels that .github/labeler.yml gives for each.
All labels: core/admin-api, core/balancer, core/cli, core/clustering, core/configuration, core/db/migrations, core/db, changelog, core/docs, autodoc, core/language/go, core/language/js, core/language/python, core/logs, core/pdk, core/proxy, core/router, core/templates, core/tracing, chore, plugins/acl, plugins/acme, plugins/aws-lambda, plugins/azure-functions, plugins/basic-auth, plugins/bot-detection, plugins/correlation-id, plugins/cors, plugins/datadog, plugins/file-log, plugins/grpc-gateway, plugins/grpc-web, plugins/hmac-auth, plugins/http-log, plugins/ip-restriction, plugins/jwt, plugins/key-auth, plugins/ldap-auth, plugins/loggly, plugins/oauth2, plugins/serverless-functions, plugins/prometheus, plugins/proxy-cache, plugins/rate-limiting, plugins/request-size-limiting, plugins/request-termination, plugins/request-transformer, plugins/response-ratelimiting, plugins/response-transformer, plugins/session, plugins/statsd, plugins/syslog, plugins/tcp-log, plugins/udp-log, plugins/zipkin, plugins/opentelemetry, schema-change-noteworthy

chore(deps): bump lua-resty-openssl from 0.84.13 to 0.84.14 (#9600)
  CHANGELOG.md
  kong-3.1.0-0.rockspec
Labels: changelog

fix(rate-limiting) Restore atomic updates to Redis
  CHANGELOG.md
  kong/plugins/rate-limiting/policies/init.lua
Labels: changelog, plugins/rate-limiting

fix(rate-limiting) Fix ACL tests
  spec/03-plugins/23-rate-limiting/05-integration_spec.lua
Labels: none

fix(aws-lambda): accept only true|false|nil for isBase64Encode (#9598)
  kong/plugins/aws-lambda/handler.lua
  spec/03-plugins/27-aws-lambda/99-access_spec.lua
  spec/fixtures/aws-lambda.lua
Labels: plugins/aws-lambda

feat: exposed postgres connection pooling config
  kong/conf_loader/init.lua
  kong/db/strategies/postgres/connector.lua
  kong/templates/kong_defaults.lua
Labels: core/configuration, core/db, core/templates

added test cases
  kong/conf_loader/init.lua
  spec/01-unit/01-db/06-postgres_spec.lua
  spec/01-unit/03-conf_loader_spec.lua
Labels: core/configuration

updated kong.conf
  kong.conf.default
Labels: none

updated kong.conf
  kong.conf.default
Labels: none

removed invalid unit test
  spec/01-unit/01-db/06-postgres_spec.lua
Labels: none

sytle fix for #9600
  CHANGELOG.md
Labels: changelog

fix lint
  kong/runloop/plugin_servers/process.lua
Labels: core/language/go, core/language/js, core/language/python

fix bug
  kong/runloop/plugin_servers/process.lua
Labels: core/language/go, core/language/js, core/language/python

apply suggestions
  kong/runloop/plugin_servers/init.lua
  kong/runloop/plugin_servers/mp_rpc.lua
  kong/runloop/plugin_servers/pb_rpc.lua
  kong/runloop/plugin_servers/process.lua
Labels: core/language/go, core/language/js, core/language/python

fix(pluginserver): error if req come before ready
  kong/runloop/plugin_servers/init.lua
  kong/runloop/plugin_servers/mp_rpc.lua
  kong/runloop/plugin_servers/pb_rpc.lua
  kong/runloop/plugin_servers/process.lua
Labels: core/language/go, core/language/js, core/language/python

fix only tag
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
Labels: none

apply suggestions
  kong/runloop/plugin_servers/init.lua
  kong/runloop/plugin_servers/mp_rpc.lua
  kong/runloop/plugin_servers/process.lua
Labels: core/language/go, core/language/js, core/language/python

fix bug
  kong/runloop/plugin_servers/process.lua
Labels: core/language/go, core/language/js, core/language/python

apply suggestions
  kong/runloop/plugin_servers/mp_rpc.lua
  kong/runloop/plugin_servers/pb_rpc.lua
  kong/runloop/plugin_servers/process.lua
Labels: core/language/go, core/language/js, core/language/python

apply suggestions
  kong/runloop/plugin_servers/init.lua
Labels: core/language/go, core/language/js, core/language/python

fix bug
  kong/runloop/plugin_servers/process.lua
Labels: core/language/go, core/language/js, core/language/python

optimization
  kong/runloop/plugin_servers/init.lua
  kong/runloop/plugin_servers/process.lua
Labels: core/language/go, core/language/js, core/language/python

apply suggestions
  kong/runloop/plugin_servers/init.lua
Labels: core/language/go, core/language/js, core/language/python

fix bug
  kong/runloop/plugin_servers/init.lua
Labels: core/language/go, core/language/js, core/language/python

apply suggestions
  kong/init.lua
  kong/runloop/plugin_servers/init.lua
  kong/runloop/plugin_servers/mp_rpc.lua
  kong/runloop/plugin_servers/pb_rpc.lua
  kong/runloop/plugin_servers/process.lua
Labels: core/language/go, core/language/js, core/language/python

apply suggestions
  kong/init.lua
  kong/runloop/plugin_servers/init.lua
Labels: core/language/go, core/language/js, core/language/python

fix lint
  kong/runloop/plugin_servers/process.lua
Labels: core/language/go, core/language/js, core/language/python

apply suggestions
  kong/runloop/plugin_servers/mp_rpc.lua
  kong/runloop/plugin_servers/pb_rpc.lua
Labels: core/language/go, core/language/js, core/language/python

fix(pdk): response.exit accept bytes (#9526)
  CHANGELOG.md
  kong/include/kong/pluginsocket.proto
  kong/runloop/plugin_servers/pb_rpc.lua
Labels: changelog, core/language/go, core/language/js, core/language/python

fix(pluginserver): error if req come before ready (#9507)
  kong/runloop/plugin_servers/init.lua
  kong/runloop/plugin_servers/mp_rpc.lua
  kong/runloop/plugin_servers/pb_rpc.lua
  kong/runloop/plugin_servers/process.lua
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
Labels: core/language/go, core/language/js, core/language/python

move init and load logic into /pkd/private/node file
  kong/global.lua
  kong/pdk/node.lua
  kong/pdk/private/node.lua
Labels: core/pdk

update kong-3.1.0-0.rockspec
  kong-3.1.0-0.rockspec
Labels: none

add api get_schema()
  kong/router/atc.lua
Labels: none

fix(event-hooks) event-hooks API broken when the license is deployed via Admin API (#3804)
  kong/enterprise_edition/event_hooks.lua
  kong/enterprise_edition/init.lua
  kong/enterprise_edition/license_utils.lua
  kong/enterprise_edition/licensing.lua
  kong/enterprise_edition/runloop/handler.lua
  spec-ee/02-integration/00-kong/03-license_spec.lua
Labels: none

local var CACHED_SCHEMA
  kong/db/schema/entities/routes.lua
Labels: core/db, schema-change-noteworthy

chore(deps): bump lyaml from 6.2.7 to 6.2.8
  CHANGELOG.md
  kong-3.1.0-0.rockspec
Labels: changelog

chore(deps): bump lyaml from 6.2.7 to 6.2.8 (#9607)
  CHANGELOG.md
  kong-3.1.0-0.rockspec
Labels: changelog

chore(deps): bump KBT to 4.33.26 (#3904)
  .requirements
Labels: none

chore(dependency): bump the kong-build-tools dependency
  .requirements
Labels: none

chore(dependency): bump the kong-build-tools dependency (#9610)
  .requirements
Labels: none

chore(git): set .gitattributes for Jenkinsfile(v2) (#3643)
  .gitattributes
Labels: none

.github/labeler.yml:

core/admin-api:
- kong/api/**/*

core/balancer:
- kong/runloop/balancer/*

core/cli:
- kong/cmd/**/*

core/clustering:
- kong/clustering/**/*
- kong/cluster_events/**/*

core/configuration:
- kong/conf_loader/*

core/db/migrations:
- kong/db/migrations/**/*

core/db:
- any: ['kong/db/**/*', '!kong/db/migrations/**/*']

changelog:
- CHANGELOG.md

core/docs:
- any: ['**/*.md', '!CHANGELOG.md']

autodoc:
- 'autodoc/**/*'

core/language/go:
- kong/runloop/plugin_servers/*

core/language/js:
- kong/runloop/plugin_servers/*

core/language/python:
- kong/runloop/plugin_servers/*

core/logs:
- kong/pdk/log.lua

core/pdk:
- any: ['kong/pdk/**/*', '!kong/pdk/log.lua']

core/proxy:
- any: ['kong/runloop/**/*', '!kong/runloop/balancer/*', '!kong/runloop/plugin_servers/*']

core/router:
- kong/router.lua

core/templates:
- kong/templates/*

core/tracing:
- kong/tracing/**/*
- kong/pdk/tracing.lua

chore:
- .github/**/*
- .devcontainer/**/*

plugins/acl:
- kong/plugins/acl/**/*

plugins/acme:
- kong/plugins/acme/**/*

plugins/aws-lambda:
- kong/plugins/aws-lambda/**/*

plugins/azure-functions:
- kong/plugins/azure-functions/**/*

plugins/basic-auth:
- kong/plugins/basic-auth/**/*

plugins/bot-detection:
- kong/plugins/bot-detection/**/*

plugins/correlation-id:
- kong/plugins/correlation-id/**/*

plugins/cors:
- kong/plugins/cors/**/*

plugins/datadog:
- kong/plugins/datadog/**/*

plugins/file-log:
- kong/plugins/file-log/**/*

plugins/grpc-gateway:
- kong/plugins/grpc-gateway/**/*

plugins/grpc-web:
- kong/plugins/grpc-web/**/*

plugins/hmac-auth:
- kong/plugins/hmac-auth/**/*

plugins/http-log:
- kong/plugins/http-log/**/*

plugins/ip-restriction:
- kong/plugins/ip-restriction/**/*

plugins/jwt:
- kong/plugins/jwt/**/*

plugins/key-auth:
- kong/plugins/key-auth/**/*

plugins/ldap-auth:
- kong/plugins/ldap-auth/**/*

plugins/loggly:
- kong/plugins/loggly/**/*

plugins/oauth2:
- kong/plugins/oauth2/**/*

plugins/serverless-functions:
- kong/plugins/post-function/**/*
- kong/plugins/pre-function/**/*

plugins/prometheus:
- kong/plugins/prometheus/**/*

plugins/proxy-cache:
- kong/plugins/proxy-cache/**/*

plugins/rate-limiting:
- kong/plugins/rate-limiting/**/*

plugins/request-size-limiting:
- kong/plugins/request-size-limiting/**/*

plugins/request-termination:
- kong/plugins/request-termination/**/*

plugins/request-transformer:
- kong/plugins/request-transformer/**/*

plugins/response-ratelimiting:
- kong/plugins/response-ratelimiting/**/*

plugins/response-transformer:
- kong/plugins/response-transformer/**/*

plugins/session:
- kong/plugins/session/**/*

plugins/statsd:
- kong/plugins/statsd/**/*

plugins/syslog:
- kong/plugins/syslog/**/*

plugins/tcp-log:
- kong/plugins/tcp-log/**/*

plugins/udp-log:
- kong/plugins/udp-log/**/*

plugins/zipkin:
- kong/plugins/zipkin/**/*

plugins/opentelemetry:
- kong/plugins/opentelemetry/**/*

schema-change-noteworthy:
- kong/db/schema/entities/**/*
