Repository Kong/kong, changes with the labels that .github/labeler.yml gives for each.
All labels: core/admin-api, core/balancer, core/cli, core/clustering, core/configuration, core/db/migrations, core/db, changelog, core/docs, autodoc, core/language/go, core/language/js, core/language/python, core/logs, core/pdk, core/proxy, core/router, core/templates, core/tracing, chore, plugins/acl, plugins/acme, plugins/aws-lambda, plugins/azure-functions, plugins/basic-auth, plugins/bot-detection, plugins/correlation-id, plugins/cors, plugins/datadog, plugins/file-log, plugins/grpc-gateway, plugins/grpc-web, plugins/hmac-auth, plugins/http-log, plugins/ip-restriction, plugins/jwt, plugins/key-auth, plugins/ldap-auth, plugins/loggly, plugins/oauth2, plugins/serverless-functions, plugins/prometheus, plugins/proxy-cache, plugins/rate-limiting, plugins/request-size-limiting, plugins/request-termination, plugins/request-transformer, plugins/response-ratelimiting, plugins/response-transformer, plugins/session, plugins/statsd, plugins/syslog, plugins/tcp-log, plugins/udp-log, plugins/zipkin, plugins/opentelemetry, schema-change-noteworthy

tests(websockets): fix flaky admin api test
  spec-ee/02-integration/18-websockets/04-admin-api_spec.lua
Labels: none

tests(websockets): test API with both consistency settings
  spec-ee/02-integration/18-websockets/04-admin-api_spec.lua
Labels: none

tests(clustering): remove redundant tests
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
Labels: none

chore(tests): fix lint warning
  spec/03-plugins/06-statsd/01-log_spec.lua
Labels: none

chore(*): add missing copyright headers
  spec/02-integration/04-admin_api/21-truncated_arguments_spec.lua
  spec/02-integration/09-hybrid_mode/08-lazy_export.lua
Labels: none

chore(router): remove old compat module
  kong/router/atc_compat.lua
Labels: none

chore(meta): bump minor version
  kong/enterprise_edition/meta.lua
Labels: none

fix(balancer): mark the update timer as scheduled
  kong/runloop/balancer/upstreams.lua
Labels: core/balancer

fix(tracing): only show deprecation warning when enabled
  kong/tracing/init.lua
Labels: core/tracing

fix(ci): fix naming and ports for kong_redis container
  .github/workflows/build_and_test.yml
Labels: chore

chore(ci): bump version compat test image
  .github/workflows/build_and_test.yml
Labels: chore

chore(ci): disable version compat test
  .github/workflows/build_and_test.yml
Labels: chore

tests(router): fix flaky test
  spec/02-integration/05-proxy/02-router_spec.lua
Labels: none

chore(release) Deduplicating grep-kong-version.sh script
  Makefile
  distribution/grep-kong-version.sh
Labels: none

chore(*): fix luacheck warnings
  kong/clustering/init.lua
  kong/db/migrations/core/016_280_to_300.lua
Labels: core/clustering, core/db/migrations

chore(*): add missing copyright headers
  kong/db/migrations/core/017_300_to_310.lua
  kong/router/compat.lua
  kong/router/expressions.lua
  spec/05-migration/db/migrations/core/017_300_to_310_spec.lua
Labels: core/db/migrations

fix(clustering): enable privileged worker
  kong/init.lua
Labels: none

tests(cli): work around license errors in log check
  spec/02-integration/02-cmd/02-start_stop_spec.lua
Labels: none

perf(mtls-auth) avoid unecessary iterate on workspaces (#3849)
  kong/enterprise_edition/tls/plugins/sni_filter.lua
  plugins-ee/mtls-auth/kong/plugins/mtls-auth/cache.lua
  plugins-ee/mtls-auth/kong/plugins/mtls-auth/handler.lua
Labels: none

fix(request-validator): support content-type with parameters [FTI-2650] (#3819)
  plugins-ee/request-validator/kong/plugins/request-validator/handler.lua
  plugins-ee/request-validator/kong/plugins/request-validator/schema.lua
  plugins-ee/request-validator/spec/01-schema_spec.lua
  plugins-ee/request-validator/spec/02-access_kong_spec.lua
Labels: none

fix(exit-transformer) use less flaky way to find global configuration
  plugins-ee/exit-transformer/kong/plugins/exit-transformer/handler.lua
Labels: none

tests(exit-transformer): fix flakiness
  plugins-ee/exit-transformer/spec/03-scope_spec.lua
Labels: none

chore(ci): rebalance GitHub actions jobs
  .ci/run_tests_github.sh
  .github/workflows/build_and_test.yml
Labels: chore

feat(plugins): allow to set error code and error message
  kong/plugins/rate-limiting/handler.lua
  kong/plugins/rate-limiting/schema.lua
  spec/03-plugins/23-rate-limiting/04-access_spec.lua
Labels: plugins/rate-limiting

wip
  .requirements
  spec/01-unit/09-balancer/01-generic_spec.lua
  spec/01-unit/09-balancer/02-least_connections_spec.lua
  spec/01-unit/09-balancer/03-consistent_hashing_spec.lua
  spec/helpers/dns.lua
Labels: none

tests(healthchecks): use workspace-aware admin API fixture
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
Labels: none

fix(vitals): add missing off strategy methods
  kong/vitals/off/strategy.lua
Labels: none

tests(clustering): fix version-checking logic in DP tests
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
Labels: none

tests(cli): turn off vaults for error.log test case
  spec/02-integration/02-cmd/02-start_stop_spec.lua
Labels: none

.github/labeler.yml:

core/admin-api:
- kong/api/**/*

core/balancer:
- kong/runloop/balancer/*

core/cli:
- kong/cmd/**/*

core/clustering:
- kong/clustering/**/*
- kong/cluster_events/**/*

core/configuration:
- kong/conf_loader/*

core/db/migrations:
- kong/db/migrations/**/*

core/db:
- any: ['kong/db/**/*', '!kong/db/migrations/**/*']

changelog:
- CHANGELOG.md

core/docs:
- any: ['**/*.md', '!CHANGELOG.md']

autodoc:
- 'autodoc/**/*'

core/language/go:
- kong/runloop/plugin_servers/*

core/language/js:
- kong/runloop/plugin_servers/*

core/language/python:
- kong/runloop/plugin_servers/*

core/logs:
- kong/pdk/log.lua

core/pdk:
- any: ['kong/pdk/**/*', '!kong/pdk/log.lua']

core/proxy:
- any: ['kong/runloop/**/*', '!kong/runloop/balancer/*', '!kong/runloop/plugin_servers/*']

core/router:
- kong/router.lua

core/templates:
- kong/templates/*

core/tracing:
- kong/tracing/**/*
- kong/pdk/tracing.lua

chore:
- .github/**/*
- .devcontainer/**/*

plugins/acl:
- kong/plugins/acl/**/*

plugins/acme:
- kong/plugins/acme/**/*

plugins/aws-lambda:
- kong/plugins/aws-lambda/**/*

plugins/azure-functions:
- kong/plugins/azure-functions/**/*

plugins/basic-auth:
- kong/plugins/basic-auth/**/*

plugins/bot-detection:
- kong/plugins/bot-detection/**/*

plugins/correlation-id:
- kong/plugins/correlation-id/**/*

plugins/cors:
- kong/plugins/cors/**/*

plugins/datadog:
- kong/plugins/datadog/**/*

plugins/file-log:
- kong/plugins/file-log/**/*

plugins/grpc-gateway:
- kong/plugins/grpc-gateway/**/*

plugins/grpc-web:
- kong/plugins/grpc-web/**/*

plugins/hmac-auth:
- kong/plugins/hmac-auth/**/*

plugins/http-log:
- kong/plugins/http-log/**/*

plugins/ip-restriction:
- kong/plugins/ip-restriction/**/*

plugins/jwt:
- kong/plugins/jwt/**/*

plugins/key-auth:
- kong/plugins/key-auth/**/*

plugins/ldap-auth:
- kong/plugins/ldap-auth/**/*

plugins/loggly:
- kong/plugins/loggly/**/*

plugins/oauth2:
- kong/plugins/oauth2/**/*

plugins/serverless-functions:
- kong/plugins/post-function/**/*
- kong/plugins/pre-function/**/*

plugins/prometheus:
- kong/plugins/prometheus/**/*

plugins/proxy-cache:
- kong/plugins/proxy-cache/**/*

plugins/rate-limiting:
- kong/plugins/rate-limiting/**/*

plugins/request-size-limiting:
- kong/plugins/request-size-limiting/**/*

plugins/request-termination:
- kong/plugins/request-termination/**/*

plugins/request-transformer:
- kong/plugins/request-transformer/**/*

plugins/response-ratelimiting:
- kong/plugins/response-ratelimiting/**/*

plugins/response-transformer:
- kong/plugins/response-transformer/**/*

plugins/session:
- kong/plugins/session/**/*

plugins/statsd:
- kong/plugins/statsd/**/*

plugins/syslog:
- kong/plugins/syslog/**/*

plugins/tcp-log:
- kong/plugins/tcp-log/**/*

plugins/udp-log:
- kong/plugins/udp-log/**/*

plugins/zipkin:
- kong/plugins/zipkin/**/*

plugins/opentelemetry:
- kong/plugins/opentelemetry/**/*

schema-change-noteworthy:
- kong/db/schema/entities/**/*
