Repository Kong/kong, pull requests merged in 2018-10, with the labels that each got.

#3780 fix(router) do not force an extra segment in the path
  kong/db/schema/entities/routes.lua
  kong/router.lua
  spec/01-unit/000-new-dao/01-schema/05-routes_spec.lua
  spec/01-unit/010-router_spec.lua
  spec/02-integration/05-proxy/01-router_spec.lua
  spec/02-integration/05-proxy/10-handler_spec.lua
Labels: pr/ready

#3820 feat(core) use 'pg_timeout' as router rebuild semaphore timeout
  kong/runloop/handler.lua
Labels: pr/please review

#3819 fix(migrations) postgres migrations tuning and json->jsonb, timestamp->timestamptz
  kong-0.14.1-0.rockspec
  kong/db/migrations/core/001_14_to_15.lua
  kong/db/schema/others/migrations.lua
  kong/plugins/acl/migrations/001_14_to_15.lua
  kong/plugins/basic-auth/migrations/001_14_to_15.lua
  kong/plugins/basic-auth/migrations/init.lua
  kong/plugins/hmac-auth/migrations/001_14_to_15.lua
  kong/plugins/hmac-auth/migrations/init.lua
  kong/plugins/jwt/migrations/001_14_to_15.lua
  kong/plugins/jwt/migrations/init.lua
  kong/plugins/key-auth/migrations/001_14_to_15.lua
  kong/plugins/key-auth/migrations/init.lua
  kong/plugins/oauth2/migrations/001_14_to_15.lua
  kong/plugins/rate-limiting/migrations/000_base_rate_limiting.lua
  kong/plugins/rate-limiting/migrations/001_14_to_15.lua
  kong/plugins/rate-limiting/migrations/init.lua
  kong/plugins/response-ratelimiting/migrations/001_14_to_15.lua
  kong/plugins/response-ratelimiting/migrations/init.lua
Labels: pr/please review

#3829 fix(db) postgres ttl related where clauses to be more explicit about CURRENT_TIMESTAMP
  kong/db/strategies/postgres/connector.lua
Labels: pr/please review

#3826 feat(pdk) add kong.node module with '.get_id()' util
  kong-0.14.1-0.rockspec
  kong/pdk/init.lua
  kong/pdk/node.lua
  t/01-pdk/12-node/00-phase_checks.t
  t/01-pdk/12-node/01-get_id.t
Labels: pr/please review

#3765 fix(cors) set missing vary=origin
  kong/plugins/cors/handler.lua
  spec/03-plugins/14-cors/01-access_spec.lua
Labels: pr/ready (but hold merge)

#3860 refactor(db) replace db.old_dao:infos() with db.infos
  kong/init.lua
  spec/02-integration/000-new-dao/01-db_spec.lua
Labels: pr/please review

#3901 Code Style Fixes
  spec/01-unit/006-schema_validation_spec.lua
  spec/01-unit/008-api_helpers_spec.lua
  spec/03-plugins/26-oauth2/01-schema_spec.lua
Labels: pr/changes requested

#3926 tests(deps) update busted to 2.0rc13 and remove global patch
  Makefile
  kong/globalpatches.lua
Labels: pr/please review

#3927 corrected minor typo
  CHANGELOG.md
Labels: pr/changes requested

#3932 fixed typo and grammar mistakes
  CHANGELOG.md
Labels: pr/changes requested
