Repository Kong/kong, pull requests merged in 2018-11, with the labels that each got.

#3959 chore(conf) drop the 'custom_plugins' property
  kong/conf_loader.lua
  kong/pdk/init.lua
  kong/templates/kong_defaults.lua
  spec/01-unit/002-conf_loader_spec.lua
  spec/01-unit/003-prefix_handler_spec.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
  spec/02-integration/05-proxy/14-upstream-status-header_spec.lua
  spec/02-integration/07-sdk/01-ctx_spec.lua
  spec/02-integration/07-sdk/02-log_spec.lua
Labels: pr/ready

#3960 chore(plugins) remove the deprecated 'galileo' plugin
  kong-1.0.0rc2-0.rockspec
  kong/constants.lua
  kong/db/migrations/core/002_15_to_1.lua
  kong/db/migrations/core/init.lua
  kong/plugins/galileo/alf.lua
  kong/plugins/galileo/handler.lua
  kong/plugins/galileo/migrations/cassandra.lua
  kong/plugins/galileo/migrations/postgres.lua
  kong/plugins/galileo/producer.lua
  kong/plugins/galileo/schema.lua
  kong/plugins/galileo/sender.lua
  spec/01-unit/014-plugins_order_spec.lua
  spec/03-plugins/09-galileo/01-alf_spec.lua
  spec/03-plugins/09-galileo/02-buffer_spec.lua
  spec/03-plugins/09-galileo/ngx.lua
  spec/fixtures/blueprints.lua
Labels: pr/please review

#3962 chore(*) remove kong.tools.public and replace dependencies to it
  kong-1.0.0rc2-0.rockspec
  kong/api/routes/kong.lua
  kong/api/routes/upstreams.lua
  kong/cluster_events.lua
  kong/db/init.lua
  kong/tools/public.lua
Labels: pr/please review

#3777 chore(deps) bump LuaRocks to 3.0.4
  .travis.yml
Labels: pr/ready

#3989 chrore(deps) bump luaossl from `20180708` to `20181102`
  kong-1.0.0rc2-0.rockspec
Labels: pr/ready (but hold merge)

#3998 fix(db) add premature check for postgres cleanup timer, fix #3975
  kong/db/strategies/postgres/connector.lua
Labels: pr/please review

#3973 fix(plugins) don't call redis:select when not necessary
  kong/plugins/rate-limiting/policies/init.lua
  kong/plugins/response-ratelimiting/policies/init.lua
Labels: pr/changes requested

#4005 chore(ci) bump OpenSSL to 1.1.1a
  .travis.yml
Labels: pr/ready

#4004 chore(conf) update default C* policy to 'RequestRoundRobin'
  kong.conf.default
  kong/templates/kong_defaults.lua
Labels: pr/ready
