Repository Kong/kong, pull requests merged in 2018-05, with the labels that each got.

#3386 feat(dao) move ssl certificates/snis to new DAO
  kong-0.13.1-0.rockspec
  kong/api/init.lua
  kong/api/routes/certificates.lua
  kong/api/routes/snis.lua
  kong/dao/factory.lua
  kong/dao/migrations/cassandra.lua
  kong/dao/migrations/helpers.lua
  kong/dao/migrations/postgres.lua
  kong/dao/schemas/ssl_certificates.lua
  kong/dao/schemas/ssl_servers_names.lua
  kong/db/dao/certificates.lua
  kong/db/dao/init.lua
  kong/db/dao/snis.lua
  kong/db/errors.lua
  kong/db/init.lua
  kong/db/schema/entities/certificates.lua
  kong/db/schema/entities/snis.lua
  kong/runloop/certificate.lua
  kong/runloop/handler.lua
  spec-old-api/02-integration/04-admin_api/06-certificates_routes_spec.lua
  spec-old-api/02-integration/05-proxy/05-ssl_spec.lua
  spec-old-api/02-integration/06-invalidations/02-core_entities_invalidations_spec.lua
  spec/02-integration/01-helpers/01-blueprints_spec.lua
  spec/02-integration/03-dao/04-constraints_spec.lua
  spec/02-integration/04-admin_api/06-certificates_routes_spec.lua
  spec/02-integration/05-proxy/05-ssl_spec.lua
  spec/02-integration/06-invalidations/02-core_entities_invalidations_spec.lua
  spec/fixtures/blueprints.lua
Labels: pr/ready

#3423 fix(db) postgres connector keepalive errors on load
  kong/db/strategies/postgres/connector.lua
Labels: pr/please review

#3328 feat(db) handle unpartitioned tables in Cassandra
  kong/db/strategies/cassandra/init.lua
Labels: pr/please review

#3443 chore(deps) bump lua-resty-worker-events to 0.3.3
  kong-0.13.1-0.rockspec
Labels: pr/please review

#3452 fix(admin) empty url sugar attribute, see #3448
  kong/api/api_helpers.lua
  spec/02-integration/04-admin_api/21-services_routes_spec.lua
Labels: pr/please review

#3428 Azure Functions plugin
  kong-0.13.1-0.rockspec
  kong/constants.lua
  spec/01-unit/014-plugins_order_spec.lua
  spec/01-unit/015-plugins_version_spec.lua
Labels: pr/please review

#3457 ScyllaDB compatibility: explicitly drop index before dropping table
  kong/dao/migrations/cassandra.lua
Labels: pending author feedback

#3347 Hmac auth body validation
  kong/plugins/hmac-auth/access.lua
  spec/03-plugins/20-hmac-auth/03-access_spec.lua
Labels: pr/ready

#3472 Add hash on cookie
  kong-0.13.1-0.rockspec
  kong/dao/migrations/cassandra.lua
  kong/dao/migrations/postgres.lua
  kong/dao/schemas/upstreams.lua
  kong/runloop/balancer.lua
  kong/runloop/handler.lua
  kong/tools/utils.lua
  spec/01-unit/004-utils_spec.lua
  spec/01-unit/011-balancer_spec.lua
  spec/02-integration/04-admin_api/07-upstreams_routes_spec.lua
  spec/02-integration/05-proxy/09-balancer_spec.lua
Labels: pr/please review
