Repository Kong/kong, pull requests merged in 2018-07, with the labels that each got.

#3593 docs(pdk) fix phases in kong.ip.is_trusted
  kong/pdk/ip.lua
Labels: pr/please review

#3603 feat(schema) add support for ttl
  kong/db/schema/metaschema.lua
  spec/01-unit/000-new-dao/01-schema/02-metaschema_spec.lua
Labels: pr/please review

#3611 misc(travis) only run travis on master and next branches
  .travis.yml
Labels: pr/ready

#3594 chore(dev) auto-convert Windows line-endings
  Makefile
Labels: pr/please review

#3612 fix(db) kong.db.errors module did not receive name of the strategy
  kong/api/endpoints.lua
  kong/api/init.lua
  kong/db/dao/init.lua
  kong/db/init.lua
Labels: pr/ready (but hold merge)

#3648 fix(cli) prefix Cassandra connector errors in new DAO
  kong/db/init.lua
  spec/02-integration/04-admin_api/03-consumers_routes_spec.lua
  spec/02-integration/04-admin_api/06-certificates_routes_spec.lua
  spec/02-integration/04-admin_api/20-routes_routes_spec.lua
  spec/02-integration/04-admin_api/21-services_routes_spec.lua
Labels: pr/please review

#3643 feat(nightly) trigger the nightly release
  .ci/trigger-travis.sh
  .travis.yml
Labels: pr/please review
