Repository Kong/kong, pull requests merged in 2018-06, with the labels that each got.

#3486 [refactor] Extract group related functions from acl plugin
  kong-0.13.1-0.rockspec
  kong/plugins/acl/groups.lua
  kong/plugins/acl/handler.lua
Labels: pr/please review

#3541 docs(pdk) add LDoc comments to all PDK modules
  config.ld
  kong/pdk/client.lua
  kong/pdk/ctx.lua
  kong/pdk/init.lua
  kong/pdk/log.lua
  kong/pdk/request.lua
  kong/pdk/response.lua
  kong/pdk/service.lua
  kong/pdk/service/request.lua
  kong/pdk/service/response.lua
  kong/pdk/table.lua
Labels: pr/ready

#3513 fix(request-termination) delayed response
  kong/plugins/request-termination/handler.lua
  spec/03-plugins/27-request-termination/02-access_spec.lua
Labels: pr/please review

#3512 fix(aws-lambda) delayed response
  kong/plugins/aws-lambda/handler.lua
  spec/03-plugins/23-aws-lambda/01-access_spec.lua
Labels: pr/please review

#3498 chore(deps) bump min OpenResty version to 1.13.6.2
  .travis.yml
  kong/meta.lua
Labels: pr/ready (but hold merge)

#3514 chore(azure-functions) bump to 0.1.1
  kong-0.13.1-0.rockspec
Labels: pr/please review

#3575 hotfix(db) fix issues caused by uninitialized kong.db connector
  kong/cmd/migrations.lua
  kong/cmd/start.lua
  spec-old-api/02-integration/03-dao/05-use_cases_spec.lua
  spec-old-api/02-integration/04-admin_api/02-apis_routes_spec.lua
  spec-old-api/03-plugins/26-oauth2/03-access_spec.lua
  spec/02-integration/03-dao/02-migrations_spec.lua
  spec/02-integration/03-dao/03-crud_spec.lua
  spec/02-integration/03-dao/06-plugins_daos_spec.lua
  spec/02-integration/03-dao/08-ipc_events_spec.lua
  spec/02-integration/03-dao/10-cache_spec.lua
  spec/02-integration/05-proxy/02-upstream_headers_spec.lua
  spec/03-plugins/26-oauth2/03-access_spec.lua
  spec/helpers.lua
Labels: pr/please review

#3570 docs(legal) create copyright file
  COPYRIGHT
Labels: pr/please review
