Repository Kong/kong, pull requests merged in 2018-12, with the labels that each got.

#4032 fix(aws-lambda) strip Connection header if client is using HTTP/2
  kong/plugins/aws-lambda/handler.lua
Labels: pr/changes requested

#4057 chore(reports) only return arch and OS name
  kong/tools/utils.lua
Labels: pr/please review

#4065 feat(core) add ctx.is_service_mesh_request context value with tls mesh
  kong/runloop/handler.lua
Labels: pr/please review

#4067 chore(deps) bump luaossl to 20181207
  kong-1.0.0rc3-0.rockspec
Labels: pr/ready

#4068 fix(mesh) set up SSL_CTX in the init phase
  kong-1.0.0rc3-0.rockspec
  kong/resty/config.lua
  kong/runloop/handler.lua
  kong/runloop/mesh.lua
Labels: pr/please review

#4075 test(rate-limiting) fix rate-limiting access tests and remove old dao
  spec/03-plugins/24-rate-limiting/04-access_spec.lua
Labels: pr/please review

#4078 fix(db) fix postgres strategy create expressions array index issue
  kong/db/strategies/postgres/init.lua
Labels: pr/please review

#4080 chore(*) bump bundled plugins to version 1.0.0 (symbolic)
  kong/plugins/aws-lambda/handler.lua
  kong/plugins/bot-detection/handler.lua
  kong/plugins/datadog/handler.lua
  kong/plugins/file-log/handler.lua
  kong/plugins/http-log/handler.lua
  kong/plugins/ip-restriction/handler.lua
  kong/plugins/loggly/handler.lua
  kong/plugins/request-size-limiting/handler.lua
  kong/plugins/request-termination/handler.lua
  kong/plugins/statsd/handler.lua
  kong/plugins/syslog/handler.lua
  kong/plugins/tcp-log/handler.lua
  kong/plugins/udp-log/handler.lua
Labels: pr/please review

#4079 bump(pdk) from 0.1.0 to 1.0.0
  kong/pdk/init.lua
Labels: pr/please review

#4081 fix(db) store connection in request-aware context
  kong/db/strategies/cassandra/connector.lua
  kong/db/strategies/connector.lua
  kong/db/strategies/init.lua
  kong/db/strategies/postgres/connector.lua
Labels: pr/please review

#4082 chore(reports) updating host
  kong/constants.lua
Labels: pr/ready

#4077 fix(admin) avoid Lapis handler when handler doesn't exit explicitly
  kong/api/endpoints.lua
  kong/api/init.lua
  spec/02-integration/04-admin_api/25-plugin-endpoints.lua
  spec/fixtures/custom_plugins/kong/plugins/admin-api-method/api.lua
  spec/fixtures/custom_plugins/kong/plugins/admin-api-method/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/admin-api-method/schema.lua
Labels: pr/please review

#4095 fix(db) daos do not send duplicate crud event anymore
  kong/db/dao/init.lua
Labels: pr/please review

#4100 feat(migrations) check presence of apis before migrating
  kong/cmd/utils/migrations.lua
  kong/db/init.lua
  kong/db/strategies/cassandra/connector.lua
  kong/db/strategies/postgres/connector.lua
Labels: pr/ready
