Repository Kong/kong, pull requests merged in 2019-10, with the labels that each got.

#5082 Merge master into next 2019-10-01
  .ci/setup_env.sh
  .requirements
  .travis.yml
  CHANGELOG.md
  DEVELOPER.md
  Makefile
  kong-1.3.0-0.rockspec
  kong/api/routes/consumers.lua
  kong/cluster_events/strategies/cassandra.lua
  kong/db/dao/init.lua
  kong/db/declarative/init.lua
  kong/db/schema/others/declarative_config.lua
  kong/meta.lua
  kong/pdk/init.lua
  kong/pdk/request.lua
  kong/plugins/file-log/schema.lua
  kong/plugins/log-serializers/basic.lua
  kong/runloop/balancer.lua
  kong/runloop/handler.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/03-flatten_spec.lua
  spec/01-unit/10-log_serializer_spec.lua
  spec/02-integration/04-admin_api/03-consumers_routes_spec.lua
  spec/02-integration/05-proxy/04-plugins_triggering_spec.lua
  spec/03-plugins/04-file-log/02-schema_spec.lua
  spec/helpers.lua
  t/01-pdk/04-request/07-get_http_version.t
Labels: pr/do not merge

#5080 feat(declarative) add support for schema:transform for declarative
  kong/db/declarative/init.lua
  kong/db/schema/init.lua
  kong/db/schema/others/declarative_config.lua
  spec/02-integration/02-cmd/11-config_spec.lua
  spec/03-plugins/10-basic-auth/05-declarative_spec.lua
Labels: pr/please review

#4698 feat(db) support unique constraint on foreign fields
  kong/db/dao/init.lua
  kong/db/declarative/init.lua
  kong/db/errors.lua
  kong/db/schema/metaschema.lua
  kong/db/strategies/cassandra/init.lua
  kong/db/strategies/off/init.lua
  kong/db/strategies/postgres/init.lua
  spec/01-unit/01-db/02-db-errors_spec.lua
  spec/02-integration/03-db/10-db_unique_foreign_spec.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/unique-foreign/daos.lua
  spec/fixtures/custom_plugins/kong/plugins/unique-foreign/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/unique-foreign/migrations/000_base_unique_foreign.lua
  spec/fixtures/custom_plugins/kong/plugins/unique-foreign/migrations/init.lua
  spec/fixtures/custom_plugins/kong/plugins/unique-foreign/schema.lua
Labels: pr/please review

#5100 feat(db) add support for read transformations
  kong/db/dao/init.lua
  kong/db/schema/init.lua
  kong/db/schema/metaschema.lua
  spec/01-unit/01-db/01-schema/01-schema_spec.lua
  spec/01-unit/01-db/01-schema/02-metaschema_spec.lua
Labels: pr/please review

#5083 spin out and upgrade Lambda plugin
  kong-1.3.0-0.rockspec
  kong/plugins/aws-lambda/handler.lua
  kong/plugins/aws-lambda/schema.lua
  kong/plugins/aws-lambda/v4.lua
  spec/03-plugins/22-aws-lambda/01-access_spec.lua
  spec/03-plugins/22-aws-lambda/02-schema_spec.lua
Labels: pr/please review

#5108 chore(deps) bump kong-session-plugin to 2.2.0
  kong-1.3.0-0.rockspec
Labels: pr/please review

#5118 fix(db) cluster events deadlock as reported by #4986
  kong/db/migrations/core/006_130_to_140.lua
  kong/db/strategies/postgres/connector.lua
Labels: pr/please review

#5124 fix(proxy) disable service mesh by default and show a deprecation
  kong.conf.default
  kong/conf_loader.lua
  kong/init.lua
  kong/pdk/client.lua
  kong/runloop/handler.lua
  kong/templates/kong_defaults.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
  spec/02-integration/05-proxy/04-plugins_triggering_spec.lua
  spec/02-integration/05-proxy/06-ssl_spec.lua
  spec/02-integration/05-proxy/20-serviceless_proxying_spec.lua
  spec/02-integration/05-proxy/22-reports_spec.lua
  t/01-pdk/05-client/08-get_protocol.t
Labels: pr/ready

#5131 Merge master into next 2019-10-15
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  kong/conf_loader.lua
  kong/db/strategies/cassandra/init.lua
  kong/plugins/jwt/handler.lua
  spec/01-unit/01-db/01-schema/07-plugins_spec.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/12-plugins_order_spec.lua
  spec/01-unit/13-plugins_version_spec.lua
  spec/03-plugins/16-jwt/03-access_spec.lua
  spec/helpers.lua
Labels: pr/do not merge, pr/please review

#5127 chore(deps) update penlight from 1.5.4 to 1.7.0
  kong-1.3.0-0.rockspec
  spec/01-unit/01-db/02-db-errors_spec.lua
  spec/02-integration/03-db/03-plugins_spec.lua
  spec/02-integration/04-admin_api/03-consumers_routes_spec.lua
  spec/02-integration/04-admin_api/09-routes_routes_spec.lua
  spec/02-integration/04-admin_api/10-services_routes_spec.lua
Labels: pr/please review

#5152 chore(ci) bump kong-build-tools dependency
  Makefile
Labels: pr/ready

#5007 feat(api) list available endpoints
  kong/api/routes/kong.lua
  spec/02-integration/04-admin_api/02-kong_routes_spec.lua
Labels: pr/please review

#5168 Merge master into next 2019-10-28
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .travis.yml
  CHANGELOG.md
  CONTRIBUTING.md
  UPGRADE.md
  kong-1.4.0-0.rockspec
  kong.conf.default
  kong/cmd/utils/prefix_handler.lua
  kong/conf_loader.lua
  kong/init.lua
  kong/meta.lua
  kong/pdk/client.lua
  kong/runloop/handler.lua
  kong/templates/kong_defaults.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
  spec/02-integration/05-proxy/04-plugins_triggering_spec.lua
  spec/02-integration/05-proxy/06-ssl_spec.lua
  spec/02-integration/05-proxy/20-serviceless_proxying_spec.lua
  spec/02-integration/05-proxy/22-reports_spec.lua
  t/01-pdk/05-client/08-get_protocol.t
Labels: pr/do not merge

#5170 chore(deps) update development dependencies for busted and luacheck to lastest
  Makefile
  spec/01-unit/09-balancer_spec.lua
  spec/01-unit/11-reports_spec.lua
  spec/01-unit/14-dns_spec.lua
Labels: pr/please review

#5191 fix(admin-api) fix plugins fill-data to not infer json input
  kong/api/routes/plugins.lua
  spec/02-integration/04-admin_api/04-plugins_routes_spec.lua
Labels: pr/please review
