Repository Kong/kong, pull requests merged in 2019-07, with the labels that each got.

#4765 Merge master into next 2019-07-01
  CHANGELOG.md
  kong-1.2.1-0.rockspec
  kong.conf.default
  kong/meta.lua
Labels: pr/do not merge

#4780 fix(proxy) do not clear upgrade header (case-insensitive), fix #4779
  kong/runloop/handler.lua
Labels: pr/please review

#4783 chore(deps) bump session plugin to 2.1
  kong-1.2.1-0.rockspec
Labels: pr/please review

#4777 docs(readme) add missing punctuation
  README.md
Labels: pending author feedback

#4775 fix(router) several fixes related to sub-matching priorities
  kong/router.lua
  kong/runloop/handler.lua
  spec/01-unit/08-router_spec.lua
Labels: pr/please review

#4797 feat(pdk) implemented kong.service.request.set_cert_key()
  .ci/setup_env.sh
  .travis.yml
  kong/pdk/init.lua
  kong/pdk/service.lua
  t/01-pdk/09-service/00-phase_checks.t
  t/01-pdk/09-service/03-set-tls-cert-key.t
Labels: pr/please review

#4810 chore(deps) bump worker-events to 1.0.0
  kong-1.2.1-0.rockspec
  kong/cache.lua
  kong/db/dao/init.lua
  kong/db/declarative/init.lua
  kong/runloop/handler.lua
Labels: pr/please review

#4800 Upstream mutual TLS handshake support
  kong/constants.lua
  kong/db/migrations/core/005_120_to_130.lua
  kong/db/schema/entities/services.lua
  kong/runloop/certificate.lua
  kong/runloop/handler.lua
  spec/01-unit/01-db/01-schema/05-services_spec.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
  spec/01-unit/01-db/01-schema/07-plugins_spec.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/03-flatten_spec.lua
  spec/02-integration/03-db/02-db_core_entities_spec.lua
  spec/02-integration/05-proxy/18-client_certificate_spec.lua
  spec/02-integration/05-proxy/19-serviceless_proxying_spec.lua
  spec/fixtures/mtls_certs/ca.crt
  spec/fixtures/mtls_certs/ca.key
  spec/fixtures/mtls_certs/example.com.crt
  spec/fixtures/mtls_certs/example.com.key
  spec/fixtures/ssl.lua
Labels: pr/please review

#4801 feat(*) grpc proxying
  .ci/setup_env.sh
  .gitignore
  .travis.yml
  Makefile
  kong-1.2.1-0.rockspec
  kong/constants.lua
  kong/db/init.lua
  kong/db/schema/entities/routes.lua
  kong/db/schema/entities/routes_subschemas.lua
  kong/db/schema/entities/services.lua
  kong/db/schema/entities/upstreams.lua
  kong/db/schema/init.lua
  kong/db/schema/metaschema.lua
  kong/db/schema/others/declarative_config.lua
  kong/db/schema/typedefs.lua
  kong/init.lua
  kong/pdk/response.lua
  kong/runloop/handler.lua
  kong/templates/nginx_kong.lua
  spec/01-unit/01-db/01-schema/01-schema_spec.lua
  spec/01-unit/01-db/01-schema/02-metaschema_spec.lua
  spec/01-unit/01-db/01-schema/05-services_spec.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/01-validate_spec.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/02-process_auto_fields_spec.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/03-flatten_spec.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/02-integration/03-db/02-db_core_entities_spec.lua
  spec/02-integration/03-db/03-plugins_spec.lua
  spec/02-integration/04-admin_api/09-routes_routes_spec.lua
  spec/02-integration/04-admin_api/10-services_routes_spec.lua
  spec/02-integration/05-proxy/02-router_spec.lua
  spec/02-integration/05-proxy/10-balancer/01-ring-balancer_spec.lua
  spec/02-integration/05-proxy/17-origins_spec.lua
  spec/02-integration/05-proxy/19-grpc_proxy_spec.lua
  spec/02-integration/05-proxy/19-serviceless_proxying_spec.lua
  spec/02-integration/05-proxy/20-grpc_plugins_triggering_spec.lua
  spec/fixtures/1.2_custom_nginx.template
  spec/fixtures/custom_nginx.template
  spec/fixtures/grpc/hello.proto
  spec/fixtures/hosts
  spec/helpers.lua
  spec/kong_tests.conf
  t/01-pdk/08-response/11-exit.t
Labels: pr/please review

#4824 Merge master into next 2019-07-23
  CONTRIBUTING.md
  README.md
  kong/db/dao/init.lua
  kong/db/strategies/cassandra/init.lua
  kong/runloop/handler.lua
Labels: pr/do not merge
