Repository Kong/kong, pull requests merged in 2019-12, with the labels that each got.

#5214 feat(plugins/request-size-limiting) allow size unit (#1352)
  kong/plugins/request-size-limiting/handler.lua
  kong/plugins/request-size-limiting/schema.lua
  spec/03-plugins/12-request-size-limiting/01-access_spec.lua
Labels: pr/please review

#5270 feat(admin-api) run anonymous reports on a timer on admin api
  kong/api/routes/config.lua
  kong/api/routes/plugins.lua
Labels: pr/please review

#5302 fix(cache) same invalidation sent multiple times
  kong/runloop/handler.lua
  spec/02-integration/06-invalidations/02-core_entities_invalidations_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/invalidations/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/invalidations/schema.lua
Labels: pr/please review

#5315 fix(schema) service url should cleanup existing url components
  kong/db/schema/entities/services.lua
  spec/02-integration/04-admin_api/10-services_routes_spec.lua
Labels: pr/please review

#5314 fix(schema) service host cannot have port
  kong/db/schema/entities/services.lua
  spec/01-unit/01-db/01-schema/05-services_spec.lua
Labels: pr/please review

#5321 fix(admin-api) incorrect PUT behavior for /certificates
  kong/api/routes/certificates.lua
  kong/db/dao/certificates.lua
  spec/02-integration/04-admin_api/06-certificates_routes_spec.lua
Labels: pr/please review

#5322 fix(acl) get acl by group fails when more consumers share the same group
  kong-1.4.2-0.rockspec
  kong/plugins/acl/api.lua
  kong/plugins/acl/daos.lua
  spec/03-plugins/18-acl/01-api_spec.lua
Labels: pr/please review

#5295 chore(deps) bump up prometheus plugin to 0.7
  kong-1.4.0-0.rockspec
Labels: pr/ready (but hold merge)

#5334 Merge master into next 2019-12-12
  .ci/run_tests.sh
  .requirements
  .travis.yml
  CHANGELOG.md
  Jenkinsfile
  Makefile
  UPGRADE.md
  autodoc/data/admin-api.lua
  kong-1.4.2-0.rockspec
  kong/api/endpoints.lua
  kong/api/init.lua
  kong/api/routes/certificates.lua
  kong/cmd/config.lua
  kong/db/dao/certificates.lua
  kong/db/dao/targets.lua
  kong/meta.lua
  kong/plugins/acl/api.lua
  kong/plugins/acl/daos.lua
  kong/plugins/oauth2/migrations/001_14_to_15.lua
  kong/reports.lua
  kong/router.lua
  kong/runloop/balancer.lua
  kong/runloop/handler.lua
  kong/templates/nginx_kong.lua
  kong/tools/batch_queue.lua
  scripts/autodoc-admin-api
  scripts/make-patch-release
  spec/01-unit/08-router_spec.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
  spec/02-integration/02-cmd/11-config_spec.lua
  spec/02-integration/04-admin_api/06-certificates_routes_spec.lua
  spec/02-integration/04-admin_api/09-routes_routes_spec.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
  spec/02-integration/04-admin_api/17-foreign-entity_spec.lua
  spec/03-plugins/01-tcp-log/01-tcp-log_spec.lua
  spec/03-plugins/02-udp-log/01-udp-log_spec.lua
  spec/03-plugins/03-http-log/01-log_spec.lua
  spec/03-plugins/04-file-log/01-log_spec.lua
  spec/03-plugins/05-syslog/01-log_spec.lua
  spec/03-plugins/06-statsd/01-log_spec.lua
  spec/03-plugins/07-loggly/01-log_spec.lua
  spec/03-plugins/18-acl/01-api_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/api-override/api.lua
  spec/fixtures/custom_plugins/kong/plugins/foreign-entity/daos.lua
  spec/fixtures/custom_plugins/kong/plugins/foreign-entity/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/foreign-entity/migrations/000_base_foreign_entity.lua
  spec/fixtures/custom_plugins/kong/plugins/foreign-entity/migrations/init.lua
  spec/fixtures/custom_plugins/kong/plugins/foreign-entity/schema.lua
  spec/helpers.lua
Labels: pr/do not merge

#5332 feat: enable `reuseport` option for Nginx `listen` directive by default
  kong.conf.default
  kong/conf_loader.lua
  kong/templates/kong_defaults.lua
  spec/01-unit/03-conf_loader_spec.lua
Labels: pr/please review

#5345 feat(core) check the existence of `lua_ssl_trusted_certificate` and use
  kong/conf_loader.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/02-integration/05-proxy/10-balancer/01-ring-balancer_spec.lua
Labels: pr/please review

#5350 chore(conf) remove transparent listen flag
  kong.conf.default
  kong/conf_loader.lua
  kong/reports.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/11-reports_spec.lua
  spec/02-integration/05-proxy/20-serviceless_proxying_spec.lua
  spec/fixtures/nginx-directives.conf
Labels: pr/please review

#5351 chore(conf) remove KONG_ORIGINS
  kong/conf_loader.lua
  kong/init.lua
  kong/reports.lua
  kong/runloop/handler.lua
  kong/singletons.lua
  kong/templates/kong_defaults.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/11-reports_spec.lua
  spec/01-unit/14-dns_spec.lua
  spec/02-integration/05-proxy/17-origins_spec.lua
  spec/02-integration/05-proxy/20-serviceless_proxying_spec.lua
  spec/02-integration/05-proxy/23-context_spec.lua
Labels: pr/please review

#5335 feat(rate-limiting) add support for draft-rfc rate-limiting headers
  kong/plugins/rate-limiting/handler.lua
  spec/03-plugins/23-rate-limiting/04-access_spec.lua
Labels: pr/please review

#5353 chore(proxy) remove serviceless proxying
  kong/init.lua
  kong/pdk/response.lua
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/02-router_spec.lua
  spec/02-integration/05-proxy/20-serviceless_proxying_spec.lua
  spec/02-integration/05-proxy/23-context_spec.lua
  t/01-pdk/08-response/11-exit.t
Labels: pr/please review

#5359 chore(rockspec) bump lua-resty-healthcheck to 1.1.2
  kong-1.4.2-0.rockspec
Labels: pr/ready (but hold merge)

#5361 feat(migrations) better support for using already existing C* keyspaces
  kong/db/strategies/cassandra/connector.lua
Labels: pr/please review

#5363 Merge master into next 2019-12-20
  UPGRADE.md
  autodoc/data/admin-api.lua
  kong-1.4.2-0.rockspec
  kong/db/schema/others/declarative_config.lua
  kong/runloop/balancer.lua
  scripts/autodoc-admin-api
Labels: pr/do not merge

#5294 feat: CP/DP (Hybrid mode)
  autodoc/data/admin-api.lua
  kong-1.4.2-0.rockspec
  kong/api/init.lua
  kong/api/routes/clustering.lua
  kong/clustering.lua
  kong/cmd/hybrid.lua
  kong/cmd/init.lua
  kong/conf_loader.lua
  kong/db/declarative/init.lua
  kong/init.lua
  kong/pdk/private/phases.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
  spec/02-integration/02-cmd/12-hybrid_spec.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/02-integration/09-hybrid_mode/02-start_stop_spec.lua
  spec/fixtures/custom_nginx.template
  spec/fixtures/kong_clustering.crt
  spec/fixtures/kong_clustering.key
Labels: pr/please review
