Repository Kong/kong, pull requests merged in 2020-12, with the labels that each got.

#6615 Release: 2.2.1
  CHANGELOG.md
  kong-2.2.1-0.rockspec
  kong/meta.lua
Labels: pr/do not merge, pr/please review

#6536 feat(db) certificates to have cert_alt and key_alt fields
  autodoc/admin-api/data/admin-api.lua
  kong/db/migrations/core/013_220_to_230.lua
  kong/db/schema/entities/certificates.lua
  kong/runloop/certificate.lua
  spec/02-integration/04-admin_api/06-certificates_routes_spec.lua
  spec/02-integration/05-proxy/06-ssl_spec.lua
  spec/fixtures/ssl.lua
Labels: core/db, core/db/migrations

#6613 feat(pdk) kong.node.get_hostname
  kong/api/routes/kong.lua
  kong/clustering.lua
  kong/pdk/node.lua
  kong/reports.lua
  kong/tools/utils.lua
  spec/01-unit/05-utils_spec.lua
  t/01-pdk/12-node/00-phase_checks.t
  t/01-pdk/12-node/03-get_hostname.t
Labels: pr/please review

#6633 Merge master into next 2020-12-07
  .requirements
  CHANGELOG.md
  Jenkinsfile
  Makefile
  README.md
  UPGRADE.md
  kong-2.2.1-0.rockspec
  kong/cmd/config.lua
  kong/db/dao/plugins/go.lua
  kong/meta.lua
  kong/pdk/service/request.lua
  kong/plugins/bot-detection/rules.lua
  kong/runloop/handler.lua
  kong/templates/nginx_kong.lua
  spec/02-integration/05-proxy/19-grpc_proxy_spec.lua
  spec/03-plugins/01-tcp-log/01-tcp-log_spec.lua
  spec/03-plugins/21-bot-detection/01-access_spec.lua
  spec/fixtures/custom_nginx.template
Labels: pr/do not merge

#6639 chore(deps) bump openssl from 1.1.1h to 1.1.1i
  .requirements
Labels: pr/please review

#6636 chore(deps) bump lyaml from 6.2.5 to 6.2.7
  kong-2.2.1-0.rockspec
Labels: pr/please review

#6635 chore(deps) bump resty.mlcache from 2.4.1 to 2.5.0
  kong-2.2.1-0.rockspec
Labels: pr/please review

#6643 Merge master into next 2020-12-08
  .requirements
  kong/runloop/handler.lua
  spec/03-plugins/01-tcp-log/01-tcp-log_spec.lua
Labels: pr/do not merge

#6608 feat(migrations) allow up_f field in Cassandra migrations
  kong/db/init.lua
  kong/db/schema/others/migrations.lua
  spec/01-unit/01-db/01-schema/10-migrations_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/with-migrations/migrations/000_base_with_migrations.lua
  spec/fixtures/custom_plugins/kong/plugins/with-migrations/migrations/001_14_to_15.lua
Labels: core/db/migrations

#6595 docs(changelog) mention the non-root way of running kong
  CHANGELOG.md
Labels: core/configuration

#6421 fix(conf) default nginx_user to kong, not nobody
  kong.conf.default
  kong/conf_loader/init.lua
  kong/templates/kong_defaults.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/04-prefix_handler_spec.lua
Labels: core/configuration

#6621 Updated Development Section in README.md
  README.md
Labels: core/docs

#6649 fix(clustering) do not include the new fields in the deprecated
  kong/api/routes/clustering.lua
Labels: pr/please review

#6667 Merge master into next 2020-12-17
  CHANGELOG.md
  Jenkinsfile
  README.md
  kong.conf.default
  kong/cmd/reload.lua
  kong/cmd/utils/nginx_signals.lua
  kong/cmd/utils/prefix_handler.lua
  kong/conf_loader/init.lua
  kong/templates/kong_defaults.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/02-integration/02-cmd/03-reload_spec.lua
  spec/fixtures/reload.conf
Labels: pr/do not merge

#6646 (tests) more healthcheck testing
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
  spec/02-integration/05-proxy/10-balancer/04-round-robin_spec.lua
Labels: core/balancer

#6663 feat(clustering) add more fields on Control Plane API that returns the
  kong/clustering.lua
  kong/constants.lua
  kong/db/migrations/core/013_220_to_230.lua
  kong/db/schema/entities/clustering_data_planes.lua
  spec/01-unit/01-db/01-schema/13-cluster_status_spec.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
Labels: core/admin-api, pr/please review

#6672 feat(pdk) kong.log.set_serialize_value
  kong/pdk/log.lua
  t/01-pdk/02-log/05-set_serialize_value.t
Labels: core/pdk, pr/please review

#6600 generic external plugins
  .requirements
  kong-2.2.1-0.rockspec
  kong.conf.default
  kong/conf_loader/init.lua
  kong/db/dao/plugins.lua
  kong/db/schema/plugin_loader.lua
  kong/init.lua
  kong/runloop/plugin_servers/init.lua
  kong/runloop/plugin_servers/mp_rpc.lua
  kong/runloop/plugin_servers/process.lua
  kong/templates/kong_defaults.lua
  spec/02-integration/10-go_plugins/01-reports_spec.lua
  spec/helpers.lua
Labels: core/proxy

#6674 handle old config styles
  kong/runloop/plugin_servers/process.lua
  kong/templates/kong_defaults.lua
Labels: pr/please review

#6660 feat(request-size) option to require content-length header
  kong/plugins/request-size-limiting/handler.lua
  kong/plugins/request-size-limiting/schema.lua
  spec/03-plugins/12-request-size-limiting/01-access_spec.lua
  spec/helpers.lua
Labels: plugins/request-size-limiting, pr/please review
