Repository Kong/kong, pull requests merged in 2020-11, with the labels that each got.

#6542 chore(deps) bump kong-plugin-request-transformer from 1.2.x to 1.3.x
  kong-2.2.0-0.rockspec
Labels: pr/please review

#6552 minimal inter-modules RPC
  kong-2.2.0-0.rockspec
  kong/init.lua
  kong/templates/nginx_kong_stream.lua
  kong/tools/stream_api.lua
  spec/02-integration/05-proxy/01-proxy_spec.lua
  spec/02-integration/12-stream_api/01-stream_api_endpoint_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/stream-api-echo/api.lua
  spec/fixtures/custom_plugins/kong/plugins/stream-api-echo/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/stream-api-echo/schema.lua
Labels: pr/ready

#6571 chore(docs) whitespace correction
  kong.conf.default
Labels: pr/please review

#6570 chore(docs) improve ssl_verify_depth description
  kong.conf.default
Labels: pr/please review

#6557 feat(*) utf-8 names for Routes and Services
  kong/db/schema/entities/routes.lua
  kong/db/schema/entities/services.lua
  kong/db/schema/typedefs.lua
  spec/01-unit/01-db/01-schema/05-services_spec.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
  spec/01-unit/05-utils_spec.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
  spec/02-integration/04-admin_api/09-routes_routes_spec.lua
  spec/02-integration/04-admin_api/10-services_routes_spec.lua
Labels: core/db

#6501 refactor(helpers) combine 2 functions
  spec/helpers.lua
Labels: pr/please review

#6580 tests(actions) stop using the `set-env` command which has been remove…
  .github/workflows/build_and_test.yml
Labels: pr/please review

#6581 Merge master into next 2020-11-16
  .github/workflows/build_and_test.yml
  UPGRADE.md
  kong.conf.default
  kong/db/dao/init.lua
  kong/db/dao/plugins/go.lua
  kong/router.lua
  spec/01-unit/08-router_spec.lua
  spec/02-integration/05-proxy/06-ssl_spec.lua
  spec/02-integration/10-go_plugins/01-reports_spec.lua
  spec/fixtures/go/go-hello.go
Labels: pr/do not merge, pr/please review

#6487 Added Note for New Contributors
  README.md
Labels: pr/please review

#6590 feat(key-auth) add config.key_in_header and config.key_in_query
  kong/plugins/key-auth/handler.lua
  kong/plugins/key-auth/schema.lua
  spec/01-unit/01-db/01-schema/07-plugins_spec.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/02-process_auto_fields_spec.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/03-flatten_spec.lua
  spec/02-integration/03-db/03-plugins_spec.lua
  spec/03-plugins/09-key-auth/02-access_spec.lua
Labels: pr/please review

#6597 feat(conf) allow specifying client_max_body_size and client_body_buffer_size for admin api
  kong.conf.default
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/fixtures/1.2_custom_nginx.template
  spec/fixtures/custom_nginx.template
Labels: pr/please review

#5772 update bot-detection rules
  kong/plugins/bot-detection/rules.lua
Labels: plugins/bot-detection

#6086 Move kong build tools version to .requirements file
  .requirements
  Makefile
Labels: pr/please review

#6599 feat(cluster) enable access log on cluster listener
  kong.conf.default
  kong/templates/nginx_kong.lua
  spec/fixtures/custom_nginx.template
Labels: pr/please review
