Repository Kong/kong, pull requests merged in 2020-09, with the labels that each got.

#6215 feat(stream) UDP proxy support
  kong/conf_loader/listeners.lua
  kong/constants.lua
  kong/db/schema/entities/routes.lua
  kong/db/schema/entities/routes_subschemas.lua
  kong/db/schema/entities/services.lua
  kong/reports.lua
  kong/router.lua
  spec/01-unit/01-db/01-schema/05-services_spec.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/01-validate_spec.lua
  spec/02-integration/04-admin_api/09-routes_routes_spec.lua
  spec/02-integration/04-admin_api/10-services_routes_spec.lua
  spec/02-integration/05-proxy/26-udp_spec.lua
  spec/fixtures/custom_nginx.template
Labels: pr/ready

#6258 chore(deps) bump prometheus plugin to 1.0.0
  .ci/run_tests.sh
  .travis.yml
  kong-2.1.3-0.rockspec
Labels: pr/please review

#6299 feat(hybrid) do not queue updates on dp nodes
  kong/clustering.lua
Labels: pr/please review

#6324 tests(clustering) return nil when `wait_until` condition wasn't
  kong/clustering.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
Labels: pr/please review

#6328 Merge master into next 2020-09-11
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  kong/init.lua
Labels: pr/do not merge

#6349 chore(deps) bump resty.openssl from 0.6.2 to 0.6.5
  kong-2.1.3-0.rockspec
Labels: pr/please review

#6356 fix(log-serializer) request/response size reported as number instead of string
  kong/pdk/log.lua
  spec/01-unit/10-log_serializer_spec.lua
  spec/03-plugins/04-file-log/01-log_spec.lua
Labels: pr/please review

#6368 fix(cmd) kong hybrid gen_cert errors on permissions issues
  kong/cmd/hybrid.lua
Labels: pr/please review

#6354 fix(acl) deny should not deny proxying if denied group does not match
  kong/plugins/acl/handler.lua
  spec/03-plugins/18-acl/02-access_spec.lua
Labels: pr/please review

#6375 Merge master into next 2020-09-21
  CHANGELOG.md
  DEVELOPER.md
  Makefile
  kong-2.1.4-0.rockspec
  kong/cmd/hybrid.lua
  kong/meta.lua
  kong/plugins/acl/handler.lua
  scripts/common.sh
  spec/03-plugins/18-acl/02-access_spec.lua
Labels: pr/do not merge

#6358 feat(correlation-id) override empty correlation id with a generated one
  kong/plugins/correlation-id/handler.lua
  spec/03-plugins/11-correlation-id/01-access_spec.lua
Labels: pr/please review

#6357 fix(key-auth) do not error with 400 when body cannot be decoded
  kong/plugins/key-auth/handler.lua
  spec/03-plugins/09-key-auth/02-access_spec.lua
Labels: pr/please review

#6382 chore(deps) bump openssl from 1.1.1g to 1.1.1h
  .requirements
Labels: pr/please review

#6381 chore(deps) bump luacheck (used for tests) from 0.23 to 0.24
  Makefile
Labels: pr/please review

#6371 fix(headers) admin api and proxy server headers adjustment
  kong/init.lua
  kong/pdk/response.lua
  kong/plugins/request-termination/handler.lua
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/14-server_tokens_spec.lua
  t/01-pdk/08-response/11-exit.t
Labels: core/proxy, pr/please review

#5859 fix(balancer) mark a balancer test as being flaky
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
Labels: core/balancer

#6383 chore(tests) include kong*.rockspec to cache hash calculation on travis
  .ci/setup_env.sh
Labels: pr/please review

#6391 chore(deps) kong.tools.printable is not used anymore
  kong-2.1.4-0.rockspec
  kong/tools/printable.lua
Labels: pr/please review

#6306 fix(hybrid) allow graceful exit of cp and dp nodes
  kong/clustering.lua
  spec/02-integration/02-cmd/12-hybrid_spec.lua
Labels: core/clustering, pr/please review

#6194 chore(deps) bump penlight from 1.7.0 to 1.9.2
  kong-2.1.4-0.rockspec
Labels: pr/please review

#6401 Merge master into next 2020-09-28
  Makefile
Labels: pr/do not merge

#6376 feat(clustering) automatically purge entries from the cluster_data_planes table so it won't grow uncontained
  kong.conf.default
  kong/clustering.lua
  kong/conf_loader/init.lua
  kong/db/migrations/core/012_213_to_220.lua
  kong/db/schema/entities/clustering_data_planes.lua
  kong/templates/kong_defaults.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
Labels: core/clustering

#6342 feat(conf) improved lua_ssl_trusted_certificate
  kong.conf.default
  kong/cmd/utils/prefix_handler.lua
  kong/conf_loader/init.lua
  kong/db/strategies/cassandra/connector.lua
  kong/db/strategies/postgres/connector.lua
  kong/templates/nginx_kong.lua
  kong/templates/nginx_kong_stream.lua
  kong/tools/utils.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/01-unit/05-utils_spec.lua
  spec/02-integration/05-proxy/27-lua-ssl-trusted-cert_spec.lua
  spec/fixtures/1.2_custom_nginx.template
  spec/fixtures/custom_nginx.template
Labels: core/proxy

#6392 chore(deps) remove resty.iputils dependency
  kong-2.1.4-0.rockspec
  kong/db/schema/typedefs.lua
Labels: pr/please review
