Repository Kong/kong, pull requests merged in 2020-10, with the labels that each got.

#6395 chore(admin) poll worker events before and after the changes
  kong/api/api_helpers.lua
  kong/init.lua
  kong/pdk/response.lua
Labels: pr/please review

#6344 fix(plugins) stream compatibility in logging plugins
  kong/plugins/datadog/handler.lua
  kong/plugins/loggly/handler.lua
  kong/plugins/statsd/handler.lua
Labels: plugins/datadog, plugins/loggly, plugins/statsd

#6407 feat(clustering) pre-create the config cache file with 0600 permission
  kong/clustering.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
Labels: core/clustering, pr/please review

#6402 feat(db) check MIN and DEPRECATED versions on connector init
  kong/constants.lua
  kong/db/init.lua
  spec/01-unit/01-db/07-db_spec.lua
  spec/02-integration/03-db/01-db_spec.lua
Labels: core/db, pr/please review

#6336 feat(balancer) remove target history
  kong-2.1.4-0.rockspec
  kong/api/routes/upstreams.lua
  kong/db/dao/targets.lua
  kong/db/migrations/core/012_213_to_220.lua
  kong/runloop/balancer.lua
  spec/01-unit/09-balancer_spec.lua
  spec/02-integration/04-admin_api/08-targets_routes_spec.lua
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
  spec/02-integration/05-proxy/10-balancer/02-least-connections_spec.lua
  spec/02-integration/05-proxy/10-balancer/03-consistent-hashing_spec.lua
Labels: core/balancer

#6423 Merge master into next 2020-10-02
  README.md
  kong/init.lua
Labels: pr/do not merge

#6419 perf(utils) luajit table.clone and table.isarray
  kong/api/api_helpers.lua
  kong/db/schema/init.lua
  kong/tools/utils.lua
  spec/01-unit/05-utils_spec.lua
Labels: pr/please review

#6416 fix(balancer) protect against nil request context data
  kong/runloop/balancer.lua
Labels: core/balancer

#6393 chore(deps) remove resty.mediador dependency
  kong-2.1.4-0.rockspec
  kong/conf_loader/init.lua
  kong/db/schema/typedefs.lua
  kong/pdk/ip.lua
  kong/router.lua
  kong/tools/utils.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
Labels: pr/please review

#6436 feat(jwt) support RS384 algorithm
  kong/plugins/jwt/daos.lua
  kong/plugins/jwt/jwt_parser.lua
  spec/03-plugins/16-jwt/01-jwt_parser_spec.lua
  spec/03-plugins/16-jwt/03-access_spec.lua
  spec/03-plugins/16-jwt/fixtures.lua
Labels: plugins/jwt, pr/ready (but hold merge)

#6441 chore(migrations) deprecate migration helpers
  kong/db/migrations/helpers.lua
Labels: pr/please review

#6442 fix(db) do not export ratelimiting_metrics
  kong/plugins/rate-limiting/daos.lua
Labels: plugins/rate-limiting, pr/please review

#6440 fix(migrations) add proper error handling to 2.1.3 to 2.2.0 migrations
  kong/db/migrations/core/012_213_to_220.lua
Labels: pr/please review

#6468 style(admin) rename /clustering/data_planes to /clustering/data-planes
  kong.conf.default
  kong/api/routes/clustering.lua
  kong/db/schema/entities/clustering_data_planes.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/02-integration/09-hybrid_mode/03-pki_spec.lua
Labels: pr/please review

#6408 fix(hybrid) broadcast CRUD changes to DPs cluster
  kong/clustering.lua
  spec/02-integration/09-hybrid_mode/04-cp_cluster_sync_spec.lua
Labels: core/clustering, pr/please review

#6466 perf(migrations) optimize 2.1.0 to 2.2.0 migrations
  kong/db/migrations/core/012_213_to_220.lua
Labels: pr/please review

#6465 hotfix(admin) add /clustering/status back with deprecation header
  kong/api/routes/clustering.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/02-integration/09-hybrid_mode/03-pki_spec.lua
Labels: pr/please review

#6444 fix(cli) no stack trace when running migration up while having pending migrations
  kong/cmd/utils/migrations.lua
Labels: core/cli, pr/please review

#6475 hotfix(hybrid) do not push config changes when there is nothing new to export
  kong/clustering.lua
Labels: pr/please review

#6477 perf(migrations) store workspace id after first retrieval
  kong/db/migrations/operations/200_to_210.lua
Labels: pr/please review

#6481 chore(deps) bump luarocks from 3.3.1 to 3.4.0
  .requirements
Labels: pr/please review

#6496 chore(conf) update kong.conf.default
  kong.conf.default
Labels: pr/please review

#6499 chore(docs) drop "development", no longer relevant
  kong.conf.default
Labels: pr/please review

#6409 fix(hybrid) more robust clustering connection and thread management
  kong/clustering.lua
Labels: core/clustering, pr/please review, pr/ready (but hold merge)

#6526 Merge master into next 2020-10-29
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  Jenkinsfile
  Makefile
  README.md
  kong-2.2.0-0.rockspec
  kong.conf.default
  kong/api/routes/clustering.lua
  kong/api/routes/upstreams.lua
  kong/clustering.lua
  kong/cmd/utils/migrations.lua
  kong/db/dao/plugins.lua
  kong/db/dao/plugins/go.lua
  kong/db/dao/targets.lua
  kong/db/migrations/core/005_120_to_130.lua
  kong/db/migrations/core/007_140_to_150.lua
  kong/db/migrations/core/008_150_to_200.lua
  kong/db/migrations/core/009_200_to_210.lua
  kong/db/migrations/core/010_210_to_211.lua
  kong/db/migrations/core/012_213_to_220.lua
  kong/db/migrations/helpers.lua
  kong/db/migrations/operations/200_to_210.lua
  kong/db/migrations/operations/210_to_211.lua
  kong/db/migrations/operations/212_to_213.lua
  kong/db/schema/entities/clustering_data_planes.lua
  kong/db/strategies/cassandra/connector.lua
  kong/meta.lua
  kong/plugins/ip-restriction/migrations/001_200_to_210.lua
  kong/plugins/rate-limiting/daos.lua
  kong/runloop/plugins_iterator.lua
  kong/templates/nginx_kong_stream.lua
  spec/02-integration/04-admin_api/08-targets_routes_spec.lua
  spec/02-integration/05-proxy/10-balancer/02-least-connections_spec.lua
  spec/02-integration/05-proxy/10-balancer/04-round-robin_spec.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/02-integration/09-hybrid_mode/03-pki_spec.lua
  spec/02-integration/09-hybrid_mode/04-cp_cluster_sync_spec.lua
  spec/fixtures/balancer_utils.lua
  spec/fixtures/custom_plugins/kong/plugins/with-migrations/migrations/001_14_to_15.lua
Labels: pr/do not merge

#6517 fix(router) ignore SNI matcher when request `protocol` is not `https`…
  kong/router.lua
  spec/01-unit/08-router_spec.lua
  spec/02-integration/05-proxy/06-ssl_spec.lua
Labels: pr/please review
