Repository Kong/kong, pull requests merged in 2021-11, with the labels that each got.

#8008 perf(plugin-iterator) return zero iterator when no global plugins specified
  kong/runloop/plugins_iterator.lua
Labels: pr/please review, core/performance

#8043 fix(balancer) make stream proxy balancer retries work
  kong/init.lua
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/10-balancer/06-stream_spec.lua
Labels: pr/please review

#6757 feat(router) allow TLS passthrough in stream router
  kong/constants.lua
  kong/db/schema/entities/routes.lua
  kong/db/schema/entities/routes_subschemas.lua
  kong/init.lua
  kong/pdk/client.lua
  kong/router.lua
  kong/runloop/handler.lua
  kong/templates/nginx_kong_stream.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/01-validate_spec.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
  spec/02-integration/03-db/02-db_core_entities_spec.lua
  spec/02-integration/04-admin_api/09-routes_routes_spec.lua
  spec/02-integration/04-admin_api/10-services_routes_spec.lua
  spec/02-integration/05-proxy/02-router_spec.lua
  spec/fixtures/custom_nginx.template
Labels: pr/please review, core/router, core/streams

#8054 chore(deps) bump luarocks from 3.7.0 to 3.8.0
  .requirements
Labels: pr/please review

#8016 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: core/docs

#8100 style(clustering) split inflating and deflating of config cache to separate methods
  kong/clustering/data_plane.lua
Labels: pr/please review

#8095 feat(conf) add a new cipehrsuites `fips` that includes only FIPS
  kong.conf.default
  kong/conf_loader/init.lua
Labels: core/configuration

#8094 feat(conf) add dns_cache_size configuration parameter support
  kong.conf.default
  kong/conf_loader/init.lua
  kong/templates/kong_defaults.lua
  kong/tools/dns.lua
Labels: core/configuration

#8096 docs(changelog) add deprecation notice for BasePlugin
  CHANGELOG.md
Labels: core/docs

#8032 feat(rate-limiting) add redis username support
  kong/plugins/rate-limiting/policies/init.lua
  kong/plugins/rate-limiting/schema.lua
  spec/03-plugins/23-rate-limiting/05-integration_spec.lua
Labels: plugins/rate-limiting

#8089 docs(c*): add cassandra deprecation message
  CHANGELOG.md
  kong/conf_loader/init.lua
Labels: core/db, core/configuration, core/docs

#8009 chore(*) import zipkin
  .github/workflows/build_and_test.yml
  kong-2.6.0-0.rockspec
  kong/constants.lua
  kong/plugins/zipkin/handler.lua
  kong/plugins/zipkin/kong-plugin-zipkin-1.4.1-1.rockspec
  kong/plugins/zipkin/reporter.lua
  kong/plugins/zipkin/request_tags.lua
  kong/plugins/zipkin/schema.lua
  kong/plugins/zipkin/span.lua
  kong/plugins/zipkin/tracing_headers.lua
  spec/03-plugins/34-zipkin/reporter_spec.lua
  spec/03-plugins/34-zipkin/request_tags_spec.lua
  spec/03-plugins/34-zipkin/schema_spec.lua
  spec/03-plugins/34-zipkin/tracing_headers_spec.lua
  spec/03-plugins/34-zipkin/zipkin_no_endpoint_spec.lua
  spec/03-plugins/34-zipkin/zipkin_spec.lua
Labels: plugins/zipkin

#8099 doc(admin-api) add tls_passthrough in route
  autodoc/admin-api/data/admin-api.lua
Labels: pr/please review, core/docs
