Repository Kong/kong, pull requests merged in 2021-08, with the labels that each got.

#7464 chore(*) import aws lambda
  kong-2.5.0-0.rockspec
  kong/plugins/aws-lambda/CHANGELOG.md
  kong/plugins/aws-lambda/README.md
  kong/plugins/aws-lambda/aws-serializer.lua
  kong/plugins/aws-lambda/handler.lua
  kong/plugins/aws-lambda/http/connect-better.lua
  kong/plugins/aws-lambda/iam-ec2-credentials.lua
  kong/plugins/aws-lambda/iam-ecs-credentials.lua
  kong/plugins/aws-lambda/kong-plugin-aws-lambda-3.5.4-1.rockspec
  kong/plugins/aws-lambda/request-util.lua
  kong/plugins/aws-lambda/schema.lua
  kong/plugins/aws-lambda/v4.lua
  spec/03-plugins/27-aws-lambda/02-schema_spec.lua
  spec/03-plugins/27-aws-lambda/03-iam-ec2-credentials_spec.lua
  spec/03-plugins/27-aws-lambda/04-iam-ecs-credentials_spec.lua
  spec/03-plugins/27-aws-lambda/05-aws-serializer_spec.lua
  spec/03-plugins/27-aws-lambda/06-request-util_spec.lua
  spec/03-plugins/27-aws-lambda/50-http-proxy_spec.lua
  spec/03-plugins/27-aws-lambda/99-access_spec.lua
  spec/fixtures/aws-lambda.lua
Labels: plugins/aws-lambda

#7545 chore(*) import acme
  kong-2.5.0-0.rockspec
  kong/plugins/acme/CHANGELOG.md
  kong/plugins/acme/LICENSE
  kong/plugins/acme/README.md
  kong/plugins/acme/api.lua
  kong/plugins/acme/client.lua
  kong/plugins/acme/daos.lua
  kong/plugins/acme/handler.lua
  kong/plugins/acme/kong-plugin-acme-0.2.14-1.rockspec
  kong/plugins/acme/migrations/000_base_acme.lua
  kong/plugins/acme/migrations/init.lua
  kong/plugins/acme/schema.lua
  kong/plugins/acme/storage/kong.lua
  spec/03-plugins/29-acme/01-client_spec.lua
  spec/03-plugins/29-acme/02-kong_storage_spec.lua
  spec/03-plugins/29-acme/03-access_spec.lua
  spec/03-plugins/29-acme/04-schema_spec.lua
Labels: plugins/acme

#7568 fix(clustering) ensure data plane config thread is terminated gracefully
  kong/clustering/data_plane.lua
Labels: core/clustering

#7656 chore(deps) bump lua-protobuf from 0.3.2 to 0.3.3
  kong-2.5.0-0.rockspec
Labels: pr/please review

#7658 chore(deps) bump lua-resty-acme from ~> 0.6 to == 0.7.1
  kong-2.5.0-0.rockspec
Labels: pr/please review

#7657 chore(deps) bump lua-resty-openssl from 0.7.3 to 0.7.4
  kong-2.5.0-0.rockspec
Labels: pr/please review

#7516 chore(log) remove duplicate CP plugin version output in log
  kong/clustering/control_plane.lua
Labels: core/clustering

#7380 fix(workspace): do not allow reserved names
  .luacheckrc
  kong/db/schema/entities/workspaces.lua
  spec/01-unit/01-db/01-schema/15-workspaces_spec.lua
Labels: core/configuration

#7724 fix(proxy) keep proxy-authentication request header and proxy-authenticate response header
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/03-upstream_headers_spec.lua
Labels: pr/please review

#7727 chore(deps) bump openresty from 1.19.3.2 to 1.19.9.1
  .requirements
  CHANGELOG.md
  kong/meta.lua
Labels: pr/please review

#6744 feat(termination) add a request-echo option
  kong/plugins/request-termination/handler.lua
  kong/plugins/request-termination/schema.lua
  spec/03-plugins/14-request-termination/01-schema_spec.lua
  spec/03-plugins/14-request-termination/02-access_spec.lua
Labels: pr/please review

#7742 perf(uri) escape only when needed
  kong/tools/uri.lua
Labels: pr/please review

#7758 fix(admin) GET /upstreams/:upstreams/targets/:target returns 404 when target weight is 0
  kong/api/routes/upstreams.lua
  spec/02-integration/04-admin_api/08-targets_routes_spec.lua
Labels: pr/please review

#7757 fix(pdk) malformed accept header can cause unexpected HTTP 500
  kong/pdk/response.lua
  t/01-pdk/08-response/13-error.t
Labels: pr/please review

#7750 chore(deps) bump luasec from 1.0.1 to 1.0.2
  kong-2.5.0-0.rockspec
Labels: pr/please review

#7767 chore(deps) bump openssl from 1.1.1k to 1.1.1l
  .requirements
  CHANGELOG.md
Labels: pr/please review

#7776 fix(request-termination) bump version
  kong/plugins/request-termination/handler.lua
Labels: pr/please review
