Repository Kong/kong, pull requests merged in 2021-04, with the labels that each got.

#6971 chore(pdk) adjust ambigious comment for kong.client.load_consumer
  kong/pdk/client.lua
Labels: core/pdk, pr/please review

#7002 fix(balancer) don't cache an empty upstream name dict
  kong/runloop/balancer.lua
Labels: pr/please review

#6957 deps(luasyslog) bump to 2.0.1 fixing a potential memory issue
  kong-2.3.3-0.rockspec
  scripts/update-copyright
Labels: pr/please review

#6860 chore(ci) add github probot-stale app config
  .github/stale.yml
Labels: pr/please review

#6938 feat(clustering) resilient initial config on control plane database failures
  kong/clustering.lua
Labels: pr/please review

#6988 docs(pdk) small consistency change
  kong/pdk/log.lua
Labels: pr/please review

#7043 chore(deps) bump luarocks from 3.5.0 to 3.7.0
  .requirements
Labels: pr/please review

#7034 refactor(utils) skip wrapper function
  kong/tools/utils.lua
Labels: pr/please review

#7046 fix(template) standardize access_log template config
  kong.conf.default
  kong/conf_loader/init.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong_stream.lua
  spec/01-unit/04-prefix_handler_spec.lua
Labels: pr/please review

#7044 feat(hybrid) auto load cluster_cert or cluster_ca_cert
  kong.conf.default
  kong/conf_loader/init.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/02-integration/02-cmd/12-hybrid_spec.lua
  spec/02-integration/07-sdk/03-cluster_spec.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/02-integration/09-hybrid_mode/02-start_stop_spec.lua
  spec/02-integration/09-hybrid_mode/03-pki_spec.lua
  spec/02-integration/09-hybrid_mode/04-cp_cluster_sync_spec.lua
  spec/02-integration/09-hybrid_mode/05-ocsp_spec.lua
Labels: core/configuration, pr/please review

#7052 fix(dao) upsert existent targets
  kong/db/dao/targets.lua
  spec/02-integration/02-cmd/11-config_spec.lua
Labels: core/balancer

#6081 feat(syslog) add facility configuration capability
  kong/plugins/syslog/handler.lua
  kong/plugins/syslog/schema.lua
Labels: plugins/syslog

#7080 fix(cli) prefix argument in stop cmd takes precedence before environm…
  kong/cmd/stop.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
Labels: core/cli, pr/please review

#7078 fix(template) fix iterator in stream shdict
  kong/templates/nginx_kong_stream.lua
Labels: core/streams, core/templates, pr/please review
