Repository Kong/kong, pull requests merged in 2021-03, with the labels that each got.

#6870 perf(proxy) pass ctx to stash_ref
  kong/init.lua
Labels: pr/please review

#6868 fix(router) sanitize path postfix
  kong/router.lua
  spec/fixtures/router_path_handling_tests.lua
Labels: pr/please review

#6884 fix(pdk) ensure PDK type comments are followed correctly
  kong/pdk/client.lua
  kong/pdk/request.lua
  kong/pdk/service/request.lua
Labels: core/pdk, pr/please review

#6833 fix(balancer) use a FIFO for eventual consistency updates
  kong/runloop/balancer.lua
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
  spec/02-integration/05-proxy/10-balancer/02-least-connections_spec.lua
  spec/02-integration/05-proxy/10-balancer/05-stress.lua
  spec/fixtures/balancer_utils.lua
  spec/fixtures/mock_webserver_tpl.lua
  spec/helpers.lua
Labels: core/balancer

#6902 fix(proxy) disable buffered responses on connection upgrades
  kong/init.lua
  spec/02-integration/05-proxy/09-websockets_spec.lua
Labels: pr/please review

#6925 chore(deps) bump kong-lapis from 1.8.1.2 to 1.8.3.1
  kong-2.3.3-0.rockspec
Labels: pr/please review

#6855 docs(readme) added link for IBM Cloud deployment on README
  README.md
Labels: core/docs

#6929 fix(proxy) do not clear Upgrade header if response Connection header contains Upgrade
  kong/runloop/handler.lua
Labels: pr/please review

#6849 fix(external_plugins) exec on the spawned plugin server
  kong/runloop/plugin_servers/process.lua
Labels: pr/please review

#6594 fix(oauth2) handle more client invalid token generation cases
  kong/plugins/oauth2/access.lua
  kong/plugins/oauth2/handler.lua
  spec/03-plugins/25-oauth2/03-access_spec.lua
Labels: pr/please review

#6593 fix(schema) more descriptive error logs when type is invalid
  kong/db/schema/entities/targets.lua
  kong/db/schema/entities/upstreams.lua
  spec/01-unit/01-db/01-schema/08-targets_spec.lua
  spec/01-unit/01-db/01-schema/09-upstreams_spec.lua
  spec/02-integration/04-admin_api/07-upstreams_routes_spec.lua
Labels: pr/please review

#6945 chore(ci) disable kong-prometheus-plugin test suite (#6896)
  .ci/run_tests.sh
Labels: pr/please review

#6914 refactor(db) simplify cache code in kong.init
  kong/constants.lua
  kong/db/declarative/init.lua
  kong/init.lua
  kong/runloop/handler.lua
Labels: pr/ready (but hold merge)

#6950 Merge master into next 2021-03-23
  README.md
  autodoc/admin-api/generate.lua
  autodoc/cli/data.lua
  autodoc/conf/data.lua
  kong-2.3.3-0.rockspec
  kong/cache/warmup.lua
  kong/constants.lua
  kong/db/declarative/init.lua
  kong/db/schema/entities/targets.lua
  kong/db/schema/entities/upstreams.lua
  kong/db/schema/others/declarative_config.lua
  kong/db/schema/topological_sort.lua
  kong/db/strategies/cassandra/init.lua
  kong/db/strategies/postgres/connector.lua
  kong/init.lua
  kong/plugins/oauth2/access.lua
  kong/plugins/oauth2/handler.lua
  kong/runloop/handler.lua
  kong/runloop/plugin_servers/process.lua
  kong/tools/utils.lua
  spec/01-unit/01-db/01-schema/05-services_spec.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
  spec/01-unit/01-db/01-schema/08-targets_spec.lua
  spec/01-unit/01-db/01-schema/09-upstreams_spec.lua
  spec/01-unit/01-db/01-schema/12-topological_sort_spec.lua
  spec/01-unit/01-db/06-postgres_spec.lua
  spec/01-unit/01-db/08-cache_warmup_spec.lua
  spec/01-unit/05-utils_spec.lua
  spec/02-integration/04-admin_api/07-upstreams_routes_spec.lua
  spec/02-integration/04-admin_api/14-tags_spec.lua
  spec/03-plugins/25-oauth2/03-access_spec.lua
Labels: pr/do not merge

#6796 fix(balancer) update the Host header between balancer retries
  .requirements
  kong/init.lua
  kong/runloop/balancer.lua
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/10-balancer/05-recreate-request_spec.lua
Labels: core/balancer

#6944 feat(plugins) add log by lua capability
  kong/db/schema/typedefs.lua
  kong/plugins/file-log/handler.lua
  kong/plugins/file-log/schema.lua
  kong/plugins/http-log/handler.lua
  kong/plugins/http-log/schema.lua
  kong/plugins/loggly/handler.lua
  kong/plugins/loggly/schema.lua
  kong/plugins/syslog/handler.lua
  kong/plugins/syslog/schema.lua
  kong/plugins/tcp-log/handler.lua
  kong/plugins/tcp-log/schema.lua
  kong/plugins/udp-log/handler.lua
  kong/plugins/udp-log/schema.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/03-flatten_spec.lua
  spec/03-plugins/01-tcp-log/01-tcp-log_spec.lua
  spec/03-plugins/02-udp-log/01-udp-log_spec.lua
  spec/03-plugins/03-http-log/01-log_spec.lua
  spec/03-plugins/03-http-log/02-schema_spec.lua
  spec/03-plugins/04-file-log/01-log_spec.lua
  spec/03-plugins/04-file-log/02-schema_spec.lua
  spec/03-plugins/05-syslog/01-log_spec.lua
  spec/03-plugins/07-loggly/01-log_spec.lua
  spec/kong_tests.conf
Labels: pr/please review

#6954 Merge master into next 2021-03-23
  CHANGELOG.md
  kong/init.lua
  kong/runloop/balancer.lua
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/10-balancer/05-recreate-request_spec.lua
Labels: pr/do not merge

#6966 chore(deps) bump openssl from 1.1.1j to 1.1.1k
  .requirements
Labels: pr/please review
