Repository Kong/kong, pull requests merged in 2021-01, with the labels that each got.

#6699 chore(deps) bump luarocks from 3.4.0 to 3.5.0
  .requirements
Labels: pr/please review

#6697 chore(readme) add pongo and the plugin-template
  README.md
Labels: pr/please review

#6609 chore(test) apply logfile assertions
  spec/02-integration/02-cmd/02-start_stop_spec.lua
  spec/02-integration/02-cmd/13-signals_spec.lua
  spec/02-integration/03-db/11-postgres-ro_spec.lua
  spec/02-integration/05-proxy/06-ssl_spec.lua
  spec/02-integration/05-proxy/23-context_spec.lua
  spec/02-integration/11-dbless/02-workers_spec.lua
  spec/03-plugins/03-http-log/01-log_spec.lua
  spec/03-plugins/08-datadog/01-log_spec.lua
  spec/03-plugins/25-oauth2/03-access_spec.lua
Labels: pr/please review

#6705 fix(schema) limit positive integer limit to 255 (1 byte) when setting
  kong/db/schema/entities/upstreams.lua
  spec/01-unit/01-db/01-schema/09-upstreams_spec.lua
Labels: core/db

#6650 fix(conf) prepare prefix to combine trusted certs
  kong/cmd/migrations.lua
  kong/cmd/start.lua
  spec/02-integration/05-proxy/27-lua-ssl-trusted-cert_spec.lua
Labels: core/cli

#6710 fix(response-transformer) do not allow nulls in arrays
  kong/plugins/response-transformer/handler.lua
  kong/plugins/response-transformer/schema.lua
  spec/03-plugins/15-response-transformer/03-api_spec.lua
Labels: pr/please review

#6713 fix(declarative) lazy load full schema for validation and store it in partial schema
  kong/db/schema/others/declarative_config.lua
Labels: pr/please review

#6730 Merge master into next 2021-01-13
  .gitignore
  .requirements
  CHANGELOG.md
  Jenkinsfile
  README.md
  UPGRADE.md
  kong-2.3.0-0.rockspec
  kong/cmd/migrations.lua
  kong/cmd/start.lua
  kong/db/schema/entities/upstreams.lua
  kong/db/schema/others/declarative_config.lua
  kong/meta.lua
  kong/plugins/response-transformer/handler.lua
  kong/plugins/response-transformer/schema.lua
  kong/runloop/balancer.lua
  scripts/make-prerelease-release
  spec/01-unit/01-db/01-schema/09-upstreams_spec.lua
  spec/02-integration/02-cmd/08-quit_spec.lua
  spec/02-integration/04-admin_api/08-targets_routes_spec.lua
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
  spec/02-integration/05-proxy/27-lua-ssl-trusted-cert_spec.lua
  spec/03-plugins/15-response-transformer/03-api_spec.lua
  spec/fixtures/go/go.mod
Labels: pr/do not merge

#6735 fix(proxy) return 502 on connectivity errors with buffered proxying
  kong/init.lua
  spec/02-integration/05-proxy/24-buffered_spec.lua
Labels: pr/please review

#6741 chore(deps) bump pgmoon to 1.12.0
  kong-2.3.0-0.rockspec
Labels: pr/please review

#6750 tests(stress) test upstreams update under stress
  spec/02-integration/05-proxy/10-balancer/05-stress_spec.lua
Labels: core/balancer

#6760 chore(deps) bump lua-resty-dns-client to 5.2.1
  kong-2.3.0-0.rockspec
Labels: pr/please review

#6759 chore(deps) bump lua-resty-openssl to 0.6.11
  kong-2.3.0-0.rockspec
Labels: pr/please review

#6777 fix(JWT) do not allow on consumer
  kong/plugins/jwt/schema.lua
Labels: pr/please review
