Repository Kong/kong, pull requests merged in 2021-09, with the labels that each got.

#7796 feat(admin) add support for HEAD calls (GET without body)
  kong/api/api_helpers.lua
  spec/02-integration/04-admin_api/02-kong_routes_spec.lua
Labels: pr/please review

#7564 plugins/grpc-gateway: add missing support for structured URI arguments
  kong/plugins/grpc-gateway/deco.lua
  spec/03-plugins/28-grpc-gateway/01-proxy_spec.lua
  spec/fixtures/grpc/target/grpc-target.go
  spec/fixtures/grpc/target/targetservice/targetservice.pb.go
  spec/fixtures/grpc/target/targetservice/targetservice_grpc.pb.go
  spec/fixtures/grpc/targetservice.proto
Labels: plugins/grpc-gateway

#7819 feat(dns) enable ipv6 as unsupported experimental feature
  kong/conf_loader/init.lua
Labels: pr/please review

#7828 fix(pdk) kong.response.exit cannot use customized "Content-Length" header
  kong/pdk/response.lua
  t/01-pdk/08-response/11-exit.t
Labels: pr/please review

#7839 fix(plugins/acme) escape dots in wildcard domains pattern
  kong/plugins/acme/handler.lua
  spec/03-plugins/29-acme/03-access_spec.lua
Labels: pr/please review, plugins/acme

#7830 feat(admin) add better support for OPTIONS requests
  kong/api/api_helpers.lua
  kong/init.lua
  spec/02-integration/04-admin_api/02-kong_routes_spec.lua
  spec/02-integration/04-admin_api/09-routes_routes_spec.lua
Labels: pr/please review

#7647 chore(plugins/acme) sync upstream features including Vault K8S auth an…
  kong/plugins/acme/client.lua
  kong/plugins/acme/handler.lua
  kong/plugins/acme/kong-plugin-acme-0.3.0-1.rockspec
  kong/plugins/acme/schema.lua
Labels: pr/please review, plugins/acme

#7818 perf(vars) use index to access variables
  .github/workflows/build_and_test.yml
  kong/init.lua
  kong/templates/nginx_kong.lua
Labels: core/performance

#7827 feat(clustering) handle removal of fields on control plane
  kong-2.5.0-0.rockspec
  kong/clustering/compat/removed_fields.lua
  kong/clustering/control_plane.lua
  spec/01-unit/19-hybrid/03-fields-removal_spec.lua
Labels: core/clustering

#7557 feat(pdk) add kong.log.deprecation (and kong.cmd.utils.log.deprecation)
  kong-2.5.0-0.rockspec
  kong/api/routes/plugins.lua
  kong/cmd/config.lua
  kong/cmd/utils/log.lua
  kong/deprecation.lua
  kong/globalpatches.lua
  kong/pdk/log.lua
  t/01-pdk/02-log/06-deprecation.t
Labels: core/configuration

#7858 chore(handler) call ngx.http_version() only once, use localized log and exit, and localize ngx.exec
  kong/runloop/handler.lua
Labels: pr/please review

#7873 docs(CHANGELOG) changes for 2.6.0
  CHANGELOG.md
Labels: core/docs

#7908 docs fix broken link
  DEVELOPER.md
Labels: core/docs

#7910 chore(deps) bump resty.acme from 0.7.1 to 0.7.2
  kong-2.6.0-0.rockspec
Labels: pr/please review

#7909 chore(deps) bump resty.openssl from 0.7.4 to 0.7.5
  kong-2.6.0-0.rockspec
Labels: pr/please review
