Repository Kong/kong, pull requests merged in 2021-02, with the labels that each got.

#6802 fix(rate-limiting) remove unneeded phase handlers for better accuracy
  kong/plugins/rate-limiting/handler.lua
Labels: pr/please review

#6794 fix(cache) always set router and plugin iterator versions to "init" even on reloads
  kong/runloop/handler.lua
Labels: pr/please review

#6785 fix(schemas) mark boolean fields with default value as required
  kong/db/schema/entities/plugins.lua
  kong/db/schema/entities/routes.lua
  kong/db/schema/entities/routes_subschemas.lua
  kong/db/schema/entities/upstreams.lua
  kong/plugins/acl/schema.lua
  kong/plugins/basic-auth/schema.lua
  kong/plugins/correlation-id/schema.lua
  kong/plugins/cors/schema.lua
  kong/plugins/file-log/schema.lua
  kong/plugins/hmac-auth/schema.lua
  kong/plugins/jwt/schema.lua
  kong/plugins/key-auth/schema.lua
  kong/plugins/ldap-auth/schema.lua
  kong/plugins/oauth2/schema.lua
  kong/plugins/rate-limiting/schema.lua
  kong/plugins/request-size-limiting/schema.lua
  kong/plugins/response-ratelimiting/schema.lua
  kong/plugins/tcp-log/schema.lua
Labels: pr/please review

#6786 chore(clustering) early exit init/init_worker on non-hybrid modes
  kong/clustering.lua
Labels: pr/please review

#6756 docs(autodoc) scripts/autodoc can install files in docs repo
  scripts/autodoc
Labels: core/docs

#6815 chore(deps) bump dev/testing deps to latest
  Makefile
Labels: pr/please review

#6814 chore(deps) bump luasec from 0.9 to 1.0
  kong-2.3.1-0.rockspec
Labels: pr/please review

#6818 Merge master into next 2021-02-08
  LICENSE
  kong/clustering.lua
  kong/db/schema/entities/plugins.lua
  kong/db/schema/entities/routes.lua
  kong/db/schema/entities/routes_subschemas.lua
  kong/db/schema/entities/upstreams.lua
  kong/pdk/cluster.lua
  kong/plugins/acl/schema.lua
  kong/plugins/basic-auth/schema.lua
  kong/plugins/correlation-id/schema.lua
  kong/plugins/cors/schema.lua
  kong/plugins/file-log/schema.lua
  kong/plugins/hmac-auth/schema.lua
  kong/plugins/jwt/schema.lua
  kong/plugins/key-auth/schema.lua
  kong/plugins/ldap-auth/schema.lua
  kong/plugins/oauth2/schema.lua
  kong/plugins/rate-limiting/handler.lua
  kong/plugins/rate-limiting/schema.lua
  kong/plugins/request-size-limiting/schema.lua
  kong/plugins/response-ratelimiting/schema.lua
  kong/plugins/tcp-log/schema.lua
  kong/runloop/handler.lua
  kong/tools/sandbox.lua
  scripts/autodoc
  scripts/make-patch-release
  spec/01-unit/020-sandbox_spec.lua
Labels: pr/do not merge

#6824 Merge master into next 2021-02-10
  CHANGELOG.md
  kong-2.3.2-0.rockspec
  kong/cmd/migrations.lua
  kong/db/schema/entities/routes.lua
  kong/meta.lua
  kong/router.lua
  kong/runloop/handler.lua
  kong/tools/uri.lua
  spec/01-unit/08-router_spec.lua
  spec/01-unit/18-tools_uri_spec.lua
  spec/02-integration/02-cmd/10-migrations_spec.lua
  spec/02-integration/05-proxy/02-router_spec.lua
  spec/02-integration/05-proxy/08-uri_encoding_spec.lua
Labels: pr/do not merge

#6825 docs(conf) add description for alternate certificate support of Kong and
  kong.conf.default
Labels: core/docs, pr/please review

#6805 fix(*) do not run non-needed code on roles that don't need them
  kong/init.lua
  kong/runloop/handler.lua
Labels: pr/please review

#6826 fix(hmac-auth) fix issue with validation if-statement
  kong/plugins/hmac-auth/access.lua
  kong/plugins/hmac-auth/handler.lua
  spec/03-plugins/19-hmac-auth/03-access_spec.lua
Labels: plugins/hmac-auth, pr/please review

#6832 fix(docs) remove note on ssl on stream_listen
  kong.conf.default
Labels: pr/please review

#6842 fix(admin) do not send prng_seeds but instead send pids
  kong/api/routes/kong.lua
  kong/globalpatches.lua
  spec/02-integration/02-cmd/03-reload_spec.lua
  spec/02-integration/04-admin_api/02-kong_routes_spec.lua
  spec/02-integration/11-dbless/01-respawn_spec.lua
Labels: pr/please review

#6850 fix(balancer) pass ctx to balancer.execute
  kong/init.lua
  kong/runloop/balancer.lua
Labels: pr/please review

#6862 chore(deps) bump resty-openssl from 0.6.11 to 0.7.0
  kong-2.3.2-0.rockspec
Labels: pr/please review

#6854 feat(jwt) add ES384 support to JWT Plugin
  kong/plugins/jwt/daos.lua
  kong/plugins/jwt/jwt_parser.lua
  spec/03-plugins/16-jwt/01-jwt_parser_spec.lua
  spec/03-plugins/16-jwt/03-access_spec.lua
  spec/03-plugins/16-jwt/fixtures.lua
Labels: plugins/jwt

#6869 fix(pdk) kong.log.serialize to use KONG_PROXY_LATENCY
  kong/init.lua
  kong/pdk/log.lua
  spec/fixtures/custom_plugins/kong/plugins/ctx-tests/handler.lua
Labels: pr/please review
