Repository Kong/kong, pull requests merged in 2021-12, with the labels that each got.

#8107 feat(grpc) allow imported services
  kong/plugins/grpc-gateway/deco.lua
  kong/plugins/grpc-web/deco.lua
  kong/tools/grpc.lua
  spec/01-unit/22-grpc-utils_spec.lua
  spec/fixtures/grpc/direct_imports.proto
  spec/fixtures/grpc/second_level_imports.proto
Labels: pr/please review, plugins/grpc-web, plugins/grpc-gateway

#8081 fix(sandbox) allow os.date and table.concat in the sandbox [CT-293]
  kong/tools/kong-lua-sandbox.lua
Labels: core/proxy

#8072 docs(autodoc) remove unused autodoc/conf scripts [CT-292]
  autodoc/conf/data.lua
  autodoc/conf/generate.lua
  autodoc/conf/parser.lua
Labels: core/docs

#8104 refactor(schema) remove goto statements for Lua 5.1 compat
  kong/db/schema/entity.lua
  kong/db/schema/init.lua
Labels: core/db

#8134 chore(deps) bump inspect from 3.1.1 to 3.1.2
  kong-2.6.0-0.rockspec
Labels: pr/please review

#8135 chore(deps) bump resty.openssl to from 0.8.1 to 0.8.2
  kong-2.6.0-0.rockspec
Labels: pr/please review

#8133 perf(dbless) improve proxy long tail latency for DB-less reload [CT-321]
  CHANGELOG.md
  kong/db/declarative/init.lua
  kong/db/schema/others/declarative_config.lua
  kong/router.lua
  kong/tools/utils.lua
Labels: pr/please review

#7972 docs(changelog) document upcoming changes
  CHANGELOG.md
Labels: core/docs

#8144 tests(least-connections) increase test precision
  spec/02-integration/05-proxy/10-balancer/02-least-connections_spec.lua
Labels: core/balancer

#8191 chore(deps) bump openssl from 1.1.1l to 1.1.1m
  .requirements
Labels: pr/please review

#8138 docs(changelog) grpc allows services from imported `.proto`s
  CHANGELOG.md
Labels: core/docs

#8210 chore(entities) adjust tags schema
  kong/db/schema/entities/tags.lua
Labels: pr/please review

#8114 feat(acme) add rsa_key_size config option to acme plugin
  kong/plugins/acme/client.lua
  kong/plugins/acme/schema.lua
Labels: pr/please review, plugins/acme

#8203 Fix reports tests issues
  spec/02-integration/04-admin_api/11-reports_spec.lua
  spec/02-integration/05-proxy/22-reports_spec.lua
  spec/02-integration/10-go_plugins/01-reports_spec.lua
Labels: core/admin-api

#8182 perf(pdk) another string.byte to avoid lj_str_new overhead
  kong/pdk/service/request.lua
Labels: core/performance

#8202 fix(ffi) make corrections on ffi declarations for macOS+M1
  kong/clustering/data_plane.lua
  kong/cmd/utils/prefix_handler.lua
  kong/plugins/file-log/handler.lua
  kong/tools/utils.lua
Labels: pr/please review, distribution

#8196 Support TLS SNI custom dynamic configuration
  kong/templates/nginx_kong_stream.lua
Labels: pr/ready, core/streams

#8238 chore(init): print err when loading config file err
  kong/conf_loader/init.lua
Labels: chore

#8239 docs: updating source compilation versions
  DEVELOPER.md
Labels: core/docs

#8236 perf(router) use ngx.ssl.server_name() instead of var.ssl_server_name
  kong/router.lua
Labels: core/performance, core/router

#8232 fix(targets) reschedule resolve timer after resolving
  kong/runloop/balancer/targets.lua
Labels: core/balancer

#8248 chore(ci) add dependabot to keep actions up-to-date
  .github/dependabot.yml
Labels: chore
