Repository Kong/kong, pull requests merged in 2021-05, with the labels that each got.

#7115 fix(core) Bumping some plugins that got missed
  kong/plugins/hmac-auth/handler.lua
  kong/plugins/syslog/handler.lua
Labels: distribution

#7102 fix(proxy) the context got shared between different tls keepalive requests
  kong/init.lua
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/04-plugins_triggering_spec.lua
Labels: pr/please review

#6933 fix(conf) Added status code 405 to nginx config
  kong/templates/nginx_kong.lua
Labels: core/templates

#7112 fix(clustering) constant cache flips on dp because of invalidations event
  kong/clustering.lua
Labels: pr/please review

#7123 chore(*) update copyright years
  README.md
  kong/tools/timestamp.lua
  kong/tools/utils.lua
  spec/helpers.lua
Labels: pr/please review

#7128 chore(deps) bump grpcurl from 1.8.0 to 1.8.1
  Makefile
Labels: pr/please review

#7127 chore(deps) bump penlight from 1.9.2 to 1.10.0
  kong-2.4.0-0.rockspec
Labels: pr/please review

#7126 chore(deps) bump luasec from 1.0 to 1.0.1
  kong-2.4.0-0.rockspec
Labels: pr/please review

#7085 fix(*) skip upstreams/targets events on control planes
  kong/runloop/handler.lua
  spec/01-unit/16-runloop_handler_spec.lua
Labels: core/balancer, pr/please review

#7146 fix(db) correct key for select_by_cache_key in off strategy
  kong/db/strategies/off/init.lua
  spec/02-integration/03-db/14-dao_spec.lua
Labels: core/db

#7030 perf(*) implement the performance testing framework
  .github/workflows/perf.yml
  spec/04-perf/01-rps/01-simple_spec.lua
  spec/04-perf/02-flamegraph/01-simple_spec.lua
  spec/04-perf/99-teardown/01-teardown_spec.lua
  spec/fixtures/perf/terraform/equinix-metal/.gitignore
  spec/fixtures/perf/terraform/equinix-metal/README.md
  spec/fixtures/perf/terraform/equinix-metal/main.tf
  spec/fixtures/perf/terraform/equinix-metal/output.tf
  spec/fixtures/perf/terraform/equinix-metal/packet.tf
  spec/fixtures/perf/terraform/equinix-metal/scripts/wrk.lua
  spec/fixtures/perf/terraform/equinix-metal/ssh.tf
  spec/fixtures/perf/terraform/equinix-metal/tls.tf
  spec/fixtures/perf/terraform/equinix-metal/variables.tf
  spec/helpers/perf.lua
  spec/helpers/perf/drivers/docker.lua
  spec/helpers/perf/drivers/local.lua
  spec/helpers/perf/drivers/terraform.lua
  spec/helpers/perf/git.lua
  spec/helpers/perf/logger.lua
  spec/helpers/perf/utils.lua
Labels: pr/wip

#7177 fix(perf) typo and better intermediate error handling
  .github/workflows/perf.yml
  spec/helpers/perf.lua
  spec/helpers/perf/drivers/terraform.lua
Labels: pr/please review

#7164 refact(file-log) remove the wrong comment, the log method has been mo…
  kong/plugins/file-log/handler.lua
Labels: plugins/file-log

#6993 fix(migrations) don't assume '/?/init.lua' in the path
  kong/db/migrations/state.lua
Labels: pr/please review

#7402 tests(plugins_triggering_spec) reduce flakiness when reading file-log
  spec/02-integration/05-proxy/04-plugins_triggering_spec.lua
Labels: pr/please review

#7166 Fix relative links in admin-api.lua
  autodoc/admin-api/data/admin-api.lua
Labels: core/docs
