Repository Kong/kong, pull requests merged in 2022-07, with the labels that each got.

#9041 chore(balancer) remove warning about keep-alive patch, which is required
  kong/init.lua
Labels: pr/please review, size/XS

#9043 chore(balancer) remove deprecated ngx.ctx.balancer_address
  CHANGELOG.md
  kong/runloop/handler.lua
Labels: pr/please review, core/proxy, size/XS, changelog

#9014 chore(ci) add constant label for "latest" nightly build image
  Jenkinsfile
Labels: pr/please review, size/XS

#9039 fix(globalpatches) fallback to alternative_sleep at init phase
  kong/globalpatches.lua
Labels: size/XS

#9034 feat(clustering) switch to use old protocol
  kong/clustering/init.lua
  kong/conf_loader/init.lua
  kong/templates/kong_defaults.lua
Labels: pr/discussion, core/clustering, core/templates, core/configuration, size/XS

#9048 perf(plugins) cache domains_matcher for ACME
  kong/plugins/acme/handler.lua
  spec/03-plugins/29-acme/03-access_spec.lua
Labels: plugins/acme, size/M

#9058 fix(aws-lambda) change path from request_uri to upstream_uri
  kong/plugins/aws-lambda/aws-serializer.lua
  spec/03-plugins/27-aws-lambda/05-aws-serializer_spec.lua
Labels: plugins/aws-lambda, size/XS

#9060 fix(runloop) fix typo in configuration role check
  kong/runloop/handler.lua
Labels: core/proxy, size/XS

#6878 feat(proxy) implement delayed response with stream module
  kong/init.lua
  kong/pdk/response.lua
  spec/02-integration/05-proxy/28-stream_plugins_triggering_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/short-circuit/handler.lua
Labels: core/pdk, size/L

#9024 fix(core) stop percent decoding regex path
  CHANGELOG.md
  kong/db/migrations/core/016_280_to_300.lua
  kong/router.lua
  spec/01-unit/08-router_spec.lua
  spec/02-integration/05-proxy/02-router_spec.lua
Labels: core/db/migrations, core/router, size/L, changelog

#9027 feat(core) explict flag for regex route.path
  CHANGELOG.md
  kong/db/migrations/core/016_280_to_300.lua
  kong/db/schema/typedefs.lua
  kong/router.lua
  spec/01-unit/01-db/01-schema/05-services_spec.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
  spec/01-unit/01-db/01-schema/09-upstreams_spec.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/01-validate_spec.lua
  spec/01-unit/08-router_spec.lua
  spec/02-integration/04-admin_api/07-upstreams_routes_spec.lua
  spec/02-integration/04-admin_api/10-services_routes_spec.lua
  spec/02-integration/05-proxy/02-router_spec.lua
  spec/03-plugins/36-request-transformer/02-access_spec.lua
  spec/fixtures/balancer_utils.lua
Labels: core/db/migrations, core/router, core/db, size/L, changelog

#9011 fix: typo in changelog
  CHANGELOG.md
Labels: size/XS, changelog

#9071 feat(clustering) switch turn off wRPC also from CP
  kong/clustering/init.lua
  kong/templates/nginx_kong.lua
Labels: core/clustering, core/templates, size/S

#9073 perf(clustering) improve calculate hash performance by utilizing string buffer and tablepool
  kong/clustering/config_helper.lua
  spec/01-unit/19-hybrid/02-clustering_spec.lua
Labels: core/clustering, size/L

#9053 fix(otel) allow only global scope
  kong/plugins/opentelemetry/schema.lua
Labels: size/XS, plugins/opentelemetry

#9082 fix(clustering) do not register events multiple times
  kong/clustering/control_plane.lua
  kong/clustering/init.lua
  kong/clustering/wrpc_control_plane.lua
Labels: core/clustering, size/L

#9085 fix(clustering) fail to listen to wrpc port
  kong/templates/nginx_kong.lua
Labels: core/templates, size/XS

#9079 chore(requirement)bump lua-resty-events to 0.1.2
  .requirements
Labels: chore, size/XS

#8938 feat(router) new router support and tests fix
  kong-2.8.1-0.rockspec
  kong/conf_loader/init.lua
  kong/db/migrations/core/016_280_to_300.lua
  kong/db/schema/entities/routes.lua
  kong/db/schema/entities/routes_subschemas.lua
  kong/router/atc.lua
  kong/router/atc_compat.lua
  kong/router/init.lua
  kong/router/traditional.lua
  kong/runloop/handler.lua
  kong/templates/kong_defaults.lua
  spec/01-unit/08-router_spec.lua
  spec/02-integration/05-proxy/02-router_spec.lua
Labels: core/proxy, core/db/migrations, core/templates, core/db, core/configuration, size/XXL, schema-change-noteworthy

#9083 tests(helpers) fix function `wait_timer`
  spec/helpers.lua
Labels: pr/ready, size/S

#9091 fix(core) migration null handling of C*
  kong/db/migrations/core/016_280_to_300.lua
Labels: core/db/migrations, size/M

#9108 fix(release): be more explicit about building and pushing the master branch builds
  Jenkinsfile
Labels: size/M

#9113 fix(tests) more requests to wait for router update
  spec/02-integration/03-db/11-postgres-ro_spec.lua
Labels: size/S

#9077 feat(acme): debug log details
  kong/plugins/acme/handler.lua
Labels: plugins/acme, size/XS

#9057 Tests/wrpc negotiation
  kong/clustering/services/negotiation.lua
  spec/01-unit/19-hybrid/04-negotiation.lua
Labels: core/clustering, size/L

#9066 fix(prometheus) data_plane_version_compatible metric of inexistent data plan had been hold in shared dict
  kong/plugins/prometheus/exporter.lua
Labels: plugins/prometheus, size/XS

#9120 fix(wrpc) error handling when sending message
  kong/tools/wrpc/init.lua
  kong/tools/wrpc/threads.lua
Labels: size/S

#9121 fix(clustering) potential leaking for DP wRPC
  kong/clustering/wrpc_data_plane.lua
  kong/tools/wrpc/init.lua
Labels: core/clustering, size/S

#9122 tests(*) refactor t/Util.pm to provide more config flexibility
  t/01-pdk/02-log/01-sanity.t
  t/Util.pm
Labels: size/L

#9124 chore(deps) bump kbt to 4.33.3 and add the atc-router flag for CI
  .ci/setup_env_github.sh
  .requirements
Labels: size/XS

#9128 tests(spec/helpers) add comments for new options in `http_serrver`
  spec/helpers.lua
Labels: size/M

#9114 fix(cmd) confusing prompt
  kong/cmd/migrations.lua
Labels: core/cli, size/XS

#9131 fix(ci): docker hub refs: #FT-3141
  Jenkinsfile
Labels: size/XS

#8901 fix(ci): autodoc was passing when it should not have been
  scripts/autodoc
Labels: size/XS

#9135 style(*) simplify code for timer initialization
  kong/globalpatches.lua
Labels: size/XS

#9132 chore(pdk) localize ngx.var/ngx.req
  kong/pdk/request.lua
Labels: core/pdk, size/M

#9106 chore(router) small code clean
  kong/router/traditional.lua
Labels: core/router, size/S

#9139 tests(perf) don't run pull-request-comment-branch if not triggered from
  .github/workflows/perf.yml
Labels: chore, size/XS

#9140 perf(*) tests(perf) compile wrk and wrk2 instead
  spec/helpers/perf/drivers/terraform.lua
Labels: size/XS

#9129 fix(aws-lambda) fix 500 error in serviceless route
  kong/plugins/aws-lambda/aws-serializer.lua
  spec/03-plugins/27-aws-lambda/06-request-util_spec.lua
Labels: plugins/aws-lambda, size/M

#9144 chore(deps): bump kong-build-tools version
  .requirements
Labels: size/XS

#8140 fix(tools.uri) normalization decodes as much as possible
  kong/tools/uri.lua
  spec/01-unit/08-router_spec.lua
  spec/01-unit/18-tools_uri_spec.lua
Labels: pr/please review, size/L

#9133 fix(*) router now has different path scheme
  kong/db/schema/entities/routes.lua
  kong/db/schema/typedefs.lua
  spec/01-unit/01-db/01-schema/05-services_spec.lua
  spec/01-unit/01-db/01-schema/09-upstreams_spec.lua
  spec/02-integration/04-admin_api/07-upstreams_routes_spec.lua
  spec/02-integration/04-admin_api/10-services_routes_spec.lua
Labels: core/db, size/M, schema-change-noteworthy

#9146 fix(plugins/prometheus) fix typo of `latency`
  kong/plugins/prometheus/handler.lua
  kong/plugins/prometheus/schema.lua
  spec/03-plugins/26-prometheus/02-access_spec.lua
  spec/03-plugins/26-prometheus/03-custom-serve_spec.lua
  spec/03-plugins/26-prometheus/04-status_api_spec.lua
  spec/03-plugins/26-prometheus/05-metrics_spec.lua
Labels: plugins/prometheus, size/S

#9142 fix(tracing) add `request` type to only create request-level span
  kong.conf.default
  kong/conf_loader/init.lua
  spec/02-integration/14-tracing/01-instrumentations_spec.lua
Labels: core/configuration, size/M

#9078 chore(declarative) on the fly migration
  CHANGELOG.md
  kong-2.8.1-0.rockspec
  kong/db/declarative/init.lua
  kong/db/declarative/migrations/init.lua
  kong/db/declarative/migrations/regex_route_path.lua
  kong/db/migrations/core/016_280_to_300.lua
  kong/db/migrations/migrate_regex_280_300.lua
  kong/db/schema/others/declarative_config.lua
  kong/templates/kong_yml.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/01-validate_spec.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/04-on-the-fly-migration_spec.lua
  spec/02-integration/02-cmd/11-config_spec.lua
  spec/02-integration/03-db/08-declarative_spec.lua
  spec/02-integration/04-admin_api/11-reports_spec.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
  spec/fixtures/dc_blueprints.lua
Labels: core/db/migrations, core/templates, core/db, size/L, changelog

#9130 docs(helpers) add docs for function `wait_timer`
  spec/helpers.lua
Labels: pr/ready, size/S

#9064 Upgrade tests
  .github/workflows/upgrade-tests.yml
  .gitignore
  .luacheckrc
  CHANGELOG.md
  DEVELOPER.md
  kong/cmd/migrations.lua
  kong/db/migrations/core/016_280_to_300.lua
  kong/db/schema/others/migrations.lua
  kong/plugins/pre-function/migrations/_001_280_to_300.lua
  scripts/test-upgrade-path.sh
  spec/01-unit/01-db/01-schema/10-migrations_spec.lua
  spec/05-migration/db/migrations/core/016_280_to_300_spec.lua
  spec/05-migration/plugins/acme/migrations/001_280_to_300_spec.lua
  spec/05-migration/plugins/http-log/migrations/001_280_to_300_spec.lua
  spec/05-migration/plugins/post-function/migrations/001_280_to_300_spec.lua
  spec/05-migration/plugins/pre-function/migrations/001_280_to_300_spec.lua
  spec/helpers.lua
  spec/upgrade_helpers.lua
Labels: core/cli, core/db/migrations, core/db, plugins/serverless-functions, core/docs, chore, size/XL, changelog
