Repository Kong/kong, pull requests merged in 2022-09, with the labels that each got.

#9359 fix test failure
  spec/02-integration/04-admin_api/08-targets_routes_spec.lua
Labels: size/XS

#9355 tests(router) add test for header optimization pr #9327
  spec/01-unit/08-router_spec.lua
Labels: pr/please review, size/S

#9361 docs(changelog) update changelog about path handling deprecation
  CHANGELOG.md
Labels: size/XS, changelog

#9364 tests(integration/admin_api/targets_routes) fix a flaky test
  spec/02-integration/04-admin_api/08-targets_routes_spec.lua
Labels: size/M

#9349 fix(test) hybrid sync test
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
Labels: size/XS

#9357 tests(router) add more test cases for incremental build
  kong/router/atc_compat.lua
  spec/01-unit/08-router_spec.lua
Labels: size/L

#9194 feat(acme): add host on certificate update log
  kong/plugins/acme/client.lua
  kong/plugins/acme/handler.lua
Labels: plugins/acme, size/XS

#9183 feat(acme): add enable_ipv4_common_name option
  kong/plugins/acme/handler.lua
  kong/plugins/acme/schema.lua
  spec/03-plugins/29-acme/03-access_spec.lua
Labels: plugins/acme, size/L

#9366 docs: embrace conventional-commits
  CONTRIBUTING.md
Labels: core/docs, size/XS

#9368 perf(clustering) on-demand export of declarative config for Hybrid mode protocols
  kong/clustering/control_plane.lua
  kong/clustering/wrpc_control_plane.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/02-integration/09-hybrid_mode/06-lagacy_switch_spec.lua
  spec/02-integration/09-hybrid_mode/08-lazy_export.lua
Labels: core/clustering, size/L

#9370 Cherrypick #9368 to `release/3.0.x.`
  kong/clustering/control_plane.lua
  kong/clustering/wrpc_control_plane.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/02-integration/09-hybrid_mode/06-lagacy_switch_spec.lua
  spec/02-integration/09-hybrid_mode/08-lazy_export.lua
Labels: core/clustering, size/L

#9334 fix(db) blue/green migration for route regex path
  kong/db/migrations/core/016_280_to_300.lua
Labels: core/db/migrations, size/S

#9136 docs fix link to docs for reporting vulnerability
  SECURITY.md
Labels: core/docs, size/XS

#9373 Cherry pick/route bg mig
  kong/db/migrations/core/016_280_to_300.lua
Labels: core/db/migrations, size/S

#9378 tests(healthcheck): re-enable and fix flaky tests that were marked as flaky
  bin/busted
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
  spec/fixtures/balancer_utils.lua
  spec/fixtures/https_server.lua
  spec/fixtures/mock_webserver_tpl.lua
  spec/helpers.lua
Labels: size/XXL

#9384 fix(external-plugins): handle failing instance creation
  kong/runloop/plugin_servers/mp_rpc.lua
  kong/runloop/plugin_servers/pb_rpc.lua
Labels: core/language/go, core/language/python, core/language/js, size/S

#9348 fix(request-transformer) properly catch errors of cjson.encode as we changed to cjson.safe now
  kong/plugins/request-transformer/access.lua
Labels: plugins/request-transformer, size/XS

#9385 docs(changelog): changelog entry for #9384
  CHANGELOG.md
Labels: size/XS, changelog

#9389 fix(router) prefix match no longer normalize input
  kong-3.0.0-0.rockspec
  kong/db/declarative/migrations/init.lua
  kong/db/declarative/migrations/route_path.lua
  kong/db/migrations/core/016_280_to_300.lua
  kong/db/migrations/migrate_path_280_300.lua
  kong/router/atc_compat.lua
  kong/router/traditional.lua
  spec/01-unit/08-router_spec.lua
Labels: core/db/migrations, core/db, size/M

#9393 fix(router) prefix match no longer normalize input (#9389)
  kong-3.0.0-0.rockspec
  kong/db/declarative/migrations/init.lua
  kong/db/declarative/migrations/route_path.lua
  kong/db/migrations/core/016_280_to_300.lua
  kong/db/migrations/migrate_path_280_300.lua
  kong/router/atc_compat.lua
  kong/router/traditional.lua
  spec/01-unit/08-router_spec.lua
Labels: core/db/migrations, core/db, size/M

#9394 fix(router) anchor regex paths in traditional_compatible mode
  kong/router/atc_compat.lua
  spec/01-unit/08-router_spec.lua
Labels: size/M

#9401 fix(runloop) do not reset `*:version` to `init` when worker respawns,
  kong/init.lua
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/02-router_spec.lua
Labels: core/proxy, size/M

#9405 docs(kong.conf) add `router_flavor` documentation (#9386)
  kong.conf.default
Labels: size/M

#9406 fix(release-scripts): "last" minute fixes
  scripts/make-release
  scripts/release-lib.sh
Labels: size/S

#9371 fix(auth-plugins): auth plugins cache inconsistency while anonymous was configured as username
  kong/runloop/handler.lua
  spec/03-plugins/10-basic-auth/03-access_spec.lua
Labels: core/proxy, size/L

#9402 fix (statsd) fix hostname_in_prefix flag bug and request_size/respons type bug
  kong/plugins/statsd/log.lua
  kong/plugins/statsd/schema.lua
  spec/03-plugins/06-statsd/01-log_spec.lua
Labels: plugins/statsd

#9411 fix(conf) typo fix, flavor should be `expressions`
  kong.conf.default
Labels: size/XS

#9413 fix(conf): typo fix, flavor should be expressions (#9411)
  kong.conf.default
Labels: size/XS

#9408 chore(release) bump kong-release-tools version requirement (#9323)
  scripts/make-release
  scripts/release-lib.sh
Labels: size/S

#9412 fix(declarative) migration failed on nested route
  kong/db/declarative/init.lua
  kong/db/declarative/migrations/init.lua
  kong/db/declarative/migrations/route_path.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/04-on-the-fly-migration_spec.lua
  spec/02-integration/02-cmd/11-config_spec.lua
  spec/02-integration/04-admin_api/11-reports_spec.lua
Labels: core/db, size/M

#9416 fix(declartive): migration failed on nested route
  kong/db/declarative/init.lua
  kong/db/declarative/migrations/init.lua
  kong/db/declarative/migrations/route_path.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/04-on-the-fly-migration_spec.lua
  spec/02-integration/02-cmd/11-config_spec.lua
  spec/02-integration/04-admin_api/11-reports_spec.lua
Labels: core/db, size/M

#9415 docs(changelog) change prometheus changelog and update prometheus dashboard
  CHANGELOG.md
  kong/plugins/prometheus/grafana/kong-official.json
Labels: plugins/prometheus, size/XXL, changelog

#9417 docs(upgrade) instructions for 3.0
  UPGRADE.md
Labels: core/docs, size/L

#9420 fix(release) Pinning to KBT branch while troubleshooting RPM build failure
  .requirements
Labels: size/XS

#9421 Release: 3.0.0
  CHANGELOG.md
  COPYRIGHT
  kong-admin-api.yml
Labels: pr/please review, pr/do not merge, size/XL, changelog

#9382 refactor(tools): optimize `utils.yield` for better performance
  kong/tools/utils.lua
Labels: size/S

#9422 docs(changelog) add 3.0.0 changes
  CHANGELOG.md
Labels: size/S, changelog

#9429 chore(scripts): make make-release release better
  scripts/make-release
  scripts/release-lib.sh
Labels: size/S

#9428 chore(release): bump Kong's version number to 3.1.0
  kong-3.1.0-0.rockspec
  kong-admin-api.yml
  kong/meta.lua
Labels: size/XS

#9434 fix(instrumentation) plugin_header_filter instrumentation was not in correct place
  CHANGELOG.md
  kong/init.lua
  spec/02-integration/14-tracing/01-instrumentations_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/tcp-trace-exporter/handler.lua
Labels: pr/please review, size/M, bug, changelog

#9440 fix: CHANGELOG
  CHANGELOG.md
Labels: size/XS, changelog

#9451 fix(router): check empty route field
  CHANGELOG.md
  kong/router/atc_compat.lua
  spec/01-unit/08-router_spec.lua
Labels: size/M, changelog

#9430 feat(balancer): add upstream use_srv_name config
  CHANGELOG.md
  autodoc/admin-api/data/admin-api.lua
  kong-3.1.0-0.rockspec
  kong/db/migrations/core/017_300_to_310.lua
  kong/db/migrations/core/init.lua
  kong/db/schema/entities/upstreams.lua
  kong/runloop/balancer/balancers.lua
  spec/01-unit/01-db/01-schema/09-upstreams_spec.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/03-flatten_spec.lua
  spec/01-unit/09-balancer/01-generic_spec.lua
Labels: core/balancer, core/db/migrations, core/db, size/L, changelog, autodoc, schema-change-noteworthy

#9470 fix(router/atc): properly handle empty fields on the `Route` object
  CHANGELOG.md
  kong/router/atc_compat.lua
  spec/01-unit/08-router_spec.lua
Labels: size/M, changelog

#9460 fix(aws-lambda): fetch ecs environment variable failure caused by the phase change
  CHANGELOG.md
  kong/plugins/aws-lambda/handler.lua
  kong/plugins/aws-lambda/iam-ecs-credentials.lua
  spec/03-plugins/27-aws-lambda/04-iam-ecs-credentials_spec.lua
Labels: pr/please review, plugins/aws-lambda, size/L, changelog

#9479 docs(api): update router documentation to include atc-router docs links
  autodoc/admin-api/data/admin-api.lua
Labels: size/S, autodoc

#9472 fix(instrumentation) plugin_header_filter instrumentation was not in …
  CHANGELOG.md
  kong/init.lua
  spec/02-integration/14-tracing/01-instrumentations_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/tcp-trace-exporter/handler.lua
Labels: size/M, changelog

#9395 fix(busted) silence gobal var warnings from OpenResty
  bin/busted
Labels: size/XS

#9484 tests(perf) run apt-get update before install
  .github/workflows/perf.yml
Labels: chore, size/XS

#9475 perf(router): dynamic router lru cache size based on number of routes
  kong/router.lua
  kong/runloop/handler.lua
Labels: core/proxy, core/router, size/M
