Repository Kong/kong, pull requests merged in 2022-01, with the labels that each got.

#8240 chore(*) update copyright year 2022
  LICENSE
  README.md
  kong/tools/timestamp.lua
  kong/tools/utils.lua
  spec/helpers.lua
Labels: chore

#8247 perf(resty.ctx) localize ngx.var/ngx.log/ngx.WARN
  kong/resty/ctx.lua
Labels: core/performance

#8251 perf(runloop) optimize the call of ngx.time in log phase
  kong/runloop/handler.lua
Labels: pr/please review, core/performance

#8254 chore(*) add comments to pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore

#8231 chore(perf) rename packet to metal and bump terraform version
  .github/workflows/perf.yml
  spec/04-perf/01-rps/01-simple_spec.lua
  spec/04-perf/01-rps/02-balancer_spec.lua
  spec/04-perf/01-rps/03-plugin_iterator_spec.lua
  spec/04-perf/02-flamegraph/01-simple_spec.lua
  spec/04-perf/02-flamegraph/03-plugin_iterator_spec.lua
  spec/04-perf/99-teardown/01-teardown_spec.lua
  spec/fixtures/perf/terraform/equinix-metal/main.tf
  spec/fixtures/perf/terraform/equinix-metal/metal.tf
  spec/fixtures/perf/terraform/equinix-metal/output.tf
  spec/fixtures/perf/terraform/equinix-metal/variables.tf
Labels: pr/please review, chore

#8249 fix(admin-api) correctly return next field for
  kong/api/routes/upstreams.lua
  spec/02-integration/04-admin_api/08-targets_routes_spec.lua
Labels: pr/ready, core/admin-api

#8253 docs(*) improve docs for developer
  DEVELOPER.md
  README.md
Labels: core/docs

#8266 fix(makefile) grpcurl compatible with aarch64
  Makefile
Labels: pr/please review, chore

#8267 fix(extplugin) recursively unwrap Protobuf struct
  kong/runloop/plugin_servers/pb_rpc.lua
Labels: pr/please review, core/pdk

#8268 docs(dev) fix typo and format code examples
  DEVELOPER.md
Labels: chore

#8260 fix(*) catch file read failures
  kong/clustering/init.lua
  kong/cmd/utils/prefix_handler.lua
  spec/01-unit/04-prefix_handler_spec.lua
Labels: task/bug, pr/ready

#8278 deps(penlight) Bump to 1.12
  kong-2.7.0-0.rockspec
Labels: pr/please review, chore

#8274 tests(perf) add env to adjust perf test load duration
  spec/04-perf/01-rps/01-simple_spec.lua
  spec/04-perf/01-rps/02-balancer_spec.lua
  spec/04-perf/01-rps/03-plugin_iterator_spec.lua
Labels: core/performance

#8262 style(runloop) remove local ngx.null reference
  kong/runloop/handler.lua
Labels: chore

#8280 fix(extplugin) add type unwrap functions
  kong/runloop/plugin_servers/pb_rpc.lua
Labels: core/language/go, core/language/python, core/language/js

#8272 fix(tests) add pl_path.mkdir(nginx_prefix)
  spec/helpers/perf/drivers/local.lua
Labels: chore

#8269 fix(router) remove last dot in FQDNs
  kong/router.lua
  spec/02-integration/05-proxy/06-ssl_spec.lua
Labels: core/router

#8213 chore(revert) re-add Redis username support
  kong/plugins/rate-limiting/policies/init.lua
  kong/plugins/rate-limiting/schema.lua
  spec/03-plugins/23-rate-limiting/05-integration_spec.lua
Labels: plugins/rate-limiting

#8216 feat(plugin) add ACL configuration for response ratelimiting [FT-2189]
  kong/plugins/response-ratelimiting/policies/init.lua
  kong/plugins/response-ratelimiting/schema.lua
  spec/03-plugins/24-response-rate-limiting/05-integration_spec.lua
Labels: pr/please review, plugins/response-ratelimiting

#8226 Fix C* connector record migration consistency level
  kong/db/strategies/cassandra/connector.lua
Labels: core/db/migrations

#8265 chore(*) support dev container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  DEVELOPER.md
Labels: pr/please review, chore

#8078 (chore) document and refactor release scripts
  scripts/common.sh
  scripts/make-final-release
  scripts/make-patch-release
  scripts/make-prerelease-release
Labels: chore

#8204 perf(clustering) improve hash calculation performance
  kong/clustering/init.lua
  spec/01-unit/19-hybrid/02-clustering_spec.lua
Labels: pr/please review, core/performance

#8294 chore(deps) bump resty.session from 3.8 to 3.10
  kong-2.7.0-0.rockspec
Labels: pr/please review

#8233 fix(router) may be a bug in has_wildcard_host_port check
  kong/router.lua
  spec/01-unit/08-router_spec.lua
Labels: pr/please review, core/router

#8299 chore(*) use string.byte to optimize dns client.lua
  kong/resty/dns/client.lua
Labels: core/performance

#8300 tests(dns) fix dns resolve in 14-dns_spec.lua
  spec/01-unit/14-dns_spec.lua
Labels: pr/ready, core/balancer

#8306 chore(*) add Github Action labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: pr/ready, chore

#8311 docs(changelog) add 2.8 changelog section
  CHANGELOG.md
Labels: pr/please review, core/docs

#8148 feat(tests) adds hybrid mode support to performance test framework
  spec/04-perf/01-rps/04-simple_hybrid_spec.lua
  spec/helpers/perf.lua
  spec/helpers/perf/drivers/docker.lua
  spec/helpers/perf/drivers/local.lua
  spec/helpers/perf/drivers/terraform.lua
Labels: core/clustering

#8307 fix(dns) check options.search array for dot domain
  kong/resty/dns/client.lua
  spec/01-unit/21-dns-client/02-client_spec.lua
Labels: core/router

#8287 fix(docs) Clean up and fix PDK docs
  autodoc/pdk/ldoc/ldoc.ltp
  kong/pdk/client.lua
  kong/pdk/client/tls.lua
  kong/pdk/cluster.lua
  kong/pdk/ctx.lua
  kong/pdk/init.lua
  kong/pdk/ip.lua
  kong/pdk/log.lua
  kong/pdk/nginx.lua
  kong/pdk/node.lua
  kong/pdk/request.lua
  kong/pdk/response.lua
  kong/pdk/router.lua
  kong/pdk/service/request.lua
  kong/pdk/service/response.lua
  kong/pdk/table.lua
Labels: pr/ready, core/docs

#8322 chore(ci) run the labeler on pull_request_target
  .github/workflows/label.yml
Labels: pr/please review, chore

#8332 Add review:autodoc to generated docs PR
  .github/workflows/autodocs.yml
Labels: core/docs

#8337 Moving constant CLUSTERING_MAX_PAYLOAD to be configurable in kong.conf
  kong.conf.default
  kong/clustering/control_plane.lua
  kong/clustering/data_plane.lua
  kong/conf_loader/init.lua
  kong/constants.lua
  kong/templates/kong_defaults.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/19-hybrid/03-fields-removal_spec.lua
Labels: core/configuration

#8331 chore(cache) localize ngx.* for warmup.lua
  kong/cache/warmup.lua
Labels: chore, core/caching

#8338 chore(cache) optimize cache init new
  kong/cache/init.lua
Labels: chore, core/caching

#8340 chore(cache) localize cjson.encode in marshall.lua
  kong/cache/marshall.lua
Labels: core/caching

#8343 chore(ci) run the labeler only on pull_request_target
  .github/workflows/label.yml
Labels: chore

#8346 Update changelog for 2.7.1
  CHANGELOG.md
Labels: core/docs

#8349 release: 2.7.1
  CHANGELOG.md
  kong-2.7.1-0.rockspec
  kong/meta.lua
Labels: pr/please review, pr/do not merge
