Repository Kong/kong, pull requests merged in 2022-04, with the labels that each got.

#8621 fix(protobuf) typo on encoding array-style tables as ListValue
  kong/tools/protobuf.lua
Labels: pr/ready, size/XS

#8150 feat(zipkin) include http path to span name
  CHANGELOG.md
  kong/plugins/zipkin/handler.lua
  kong/plugins/zipkin/schema.lua
  spec/03-plugins/34-zipkin/zipkin_spec.lua
Labels: pr/please review, core/docs, plugins/zipkin, size/M

#8624 chore(requirements) bump OpenSSL to 1.1.1n
  .requirements
  CHANGELOG.md
Labels: pr/please review, size/XS

#8620 chore(rockspec) bump lua-resty-healthcheck to 1.4.3
  .github/workflows/build_and_test.yml
  CHANGELOG.md
  kong-2.7.1-0.rockspec
  kong/db/init.lua
  kong/plugins/oauth2/access.lua
  spec/01-unit/09-balancer/02-least_connections_spec.lua
  spec/fixtures/balancer_utils.lua
Labels: size/M

#8633 fix(runloop) reschedule rebuild timers after running them
  CHANGELOG.md
  kong/runloop/handler.lua
  kong/runloop/plugins_iterator.lua
Labels: size/M

#8634 fix(runloop) reschedule rebuild timers after running them
  CHANGELOG.md
  kong/runloop/handler.lua
  kong/runloop/plugins_iterator.lua
Labels: core/proxy, size/M

#8635 chore(requirements) bump OpenSSL to 1.1.1n
  .requirements
  CHANGELOG.md
Labels: size/XS

#8497 fix(balancer) stop DNS renewal on target event
  CHANGELOG.md
  kong/runloop/balancer/targets.lua
Labels: pr/please review, core/balancer, size/M

#8639 perf(clustering) conditional rebuilding of router, plugins iterator and balancer on dp (2.8)
  kong/clustering/control_plane.lua
  kong/clustering/data_plane.lua
  kong/clustering/init.lua
  kong/db/declarative/init.lua
  kong/runloop/handler.lua
  spec/01-unit/19-hybrid/02-clustering_spec.lua
Labels: core/proxy, core/clustering, core/db, size/L

#8642 chore(build) Updating kong build tools to use stable pcre download site
  .requirements
Labels: size/XS

#8644 chore(build) Don't build debian jessie since this is failing
  Jenkinsfile
Labels: size/XS

#8643 Release: 2.7.2
  Jenkinsfile
  kong/cmd/utils/env.lua
Labels: pr/please review, pr/do not merge, size/XS

#8623 fix(pdk): msgpack rpc functions handles binary
  CHANGELOG.md
  kong/runloop/plugin_servers/mp_rpc.lua
  spec/01-unit/25-msgpack_rpc_spec.lua
Labels: core/language/go, core/docs, core/language/python, core/language/js, size/M

#8611 fix(core) rpc handling of cjson.null
  CHANGELOG.md
  kong/runloop/plugin_servers/mp_rpc.lua
  spec/01-unit/25-msgpack_rpc_spec.lua
Labels: core/language/go, core/docs, core/language/python, core/language/js, size/S

#8585 chore(pdk) remove pdk version
  kong/cmd/config.lua
  kong/cmd/migrations.lua
  kong/cmd/start.lua
  kong/cmd/vault.lua
  kong/global.lua
  kong/init.lua
  kong/pdk/init.lua
  spec/01-unit/12-plugins_order_spec.lua
  spec/01-unit/13-plugins_version_spec.lua
  spec/01-unit/23-vaults_spec.lua
  spec/02-integration/13-vaults/02-env_vault_spec.lua
  spec/helpers.lua
  t/01-pdk/00-sanity.t
  t/02-global/01-init-pdk.t
Labels: pr/discussion, core/cli, core/pdk, size/L

#8602 feat(config) default `lua_ssl_trusted_certificate` to `system`
  CHANGELOG.md
  kong.conf.default
  kong/templates/kong_defaults.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/helpers.lua
Labels: pr/please review, pr/ready, core/templates, core/docs, size/M

#8613 chore(*) fix some typos
  kong/cache/warmup.lua
  kong/plugins/prometheus/exporter.lua
  kong/plugins/zipkin/tracing_headers.lua
  kong/resty/dns/client.lua
  kong/tools/utils.lua
  spec/03-plugins/27-aws-lambda/99-access_spec.lua
  spec/03-plugins/34-zipkin/tracing_headers_spec.lua
Labels: plugins/prometheus, plugins/zipkin, size/S

#8641 feat(stream_api): use TCP instead of UDP
  kong/templates/nginx_kong_stream.lua
  kong/tools/stream_api.lua
  spec/02-integration/12-stream_api/01-stream_api_endpoint_spec.lua
  spec/fixtures/custom_nginx.template
  spec/fixtures/custom_plugins/kong/plugins/stream-api-echo/api.lua
Labels: core/templates, size/L

#8606 docs(changelog) add pdk in breaking changes
  CHANGELOG.md
Labels: core/docs, size/XS

#8617 tests(plugins/rate-limiting) test ssl connection
  .github/workflows/build_and_test.yml
  spec/03-plugins/23-rate-limiting/04-access_spec.lua
  spec/03-plugins/23-rate-limiting/05-integration_spec.lua
  spec/03-plugins/24-response-rate-limiting/04-access_spec.lua
  spec/03-plugins/24-response-rate-limiting/05-integration_spec.lua
  spec/fixtures/redis/ca.crt
  spec/fixtures/redis/ca.key
  spec/fixtures/redis/docker-entrypoint.sh
  spec/fixtures/redis/server.crt
  spec/fixtures/redis/server.key
  spec/helpers.lua
Labels: pr/please review, pr/ready, chore, size/XXL

#8649 Revert "tests(plugins/rate-limiting) test ssl connection (#8617)"
  .github/workflows/build_and_test.yml
  spec/03-plugins/23-rate-limiting/04-access_spec.lua
  spec/03-plugins/23-rate-limiting/05-integration_spec.lua
  spec/03-plugins/24-response-rate-limiting/04-access_spec.lua
  spec/03-plugins/24-response-rate-limiting/05-integration_spec.lua
  spec/fixtures/redis/ca.crt
  spec/fixtures/redis/ca.key
  spec/fixtures/redis/docker-entrypoint.sh
  spec/fixtures/redis/server.crt
  spec/fixtures/redis/server.key
  spec/helpers.lua
Labels: chore, size/XXL

#8599 fix(pdk) kong.response.get_source() to return error on plugin throws runtime exception
  kong/init.lua
  spec/02-integration/05-proxy/04-plugins_triggering_spec.lua
Labels: size/M

#8648 tests(fixtures) use functions from pl_stringx
  spec/fixtures/https_server.lua
Labels: size/XS

#8650 fix(doc) duplicate and incorrect level title
  CHANGELOG.md
Labels: pr/ready, core/docs, size/S

#8397 feat(clustering) initial version negotiation endpoint
  kong-2.8.0-0.rockspec
  kong/clustering/control_plane.lua
  kong/clustering/data_plane.lua
  kong/clustering/init.lua
  kong/clustering/utils.lua
  kong/clustering/version_negotiation/init.lua
  kong/clustering/version_negotiation/services_known.lua
  kong/clustering/version_negotiation/services_requested.lua
  kong/clustering/wrpc_data_plane.lua
  kong/conf_loader/init.lua
  kong/init.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
  spec/02-integration/09-hybrid_mode/06-version_negotiation_spec.lua
  spec/03-plugins/06-statsd/01-log_spec.lua
  spec/fixtures/custom_nginx.template
Labels: pr/please review, core/clustering, core/templates, core/configuration, size/XXL

#8412 feat(conf) allow user-specified OpenResty install path
  kong.conf.default
  kong/cmd/utils/nginx_signals.lua
  kong/templates/kong_defaults.lua
  spec/02-integration/02-cmd/15-utils_spec.lua
Labels: pr/please review, core/cli, core/templates, size/L

#8612 docs(core) deprecate go pluginserver
  CHANGELOG.md
Labels: core/docs, size/XS

#8364 chore(scripts) update make_patch_release to new branching model
  scripts/make-patch-release
Labels: chore

#8656 docs(changelog) add entry for new openresty_path config field
  CHANGELOG.md
Labels: core/docs, size/XS

#8658 chore(scripts) add missing update_docker function in release/2.8.x
  scripts/common.sh
Labels: size/S

#8655 hotfix(conf) make lua_ssl_trusted_certificate fail softly on launch
  kong.conf.default
  kong/conf_loader/init.lua
  spec/01-unit/03-conf_loader_spec.lua
Labels: core/configuration, size/M

#8547 fix(plugins) ensure go plugins on protobuf restart instance
  CHANGELOG.md
  kong/runloop/plugin_servers/pb_rpc.lua
Labels: core/language/go, core/docs, core/language/python, core/language/js, size/XS

#8678 ci(*) use kong/grpcbin instead of moul/grpcbin for arm64 support
  .github/workflows/build_and_test.yml
Labels: chore, size/XS

#8672 chore(rockspec) replace git protocol by https
  kong-2.8.1-0.rockspec
Labels: chore, size/XS

#8691 chore(*): add a CODEOWNERS file to the repo
  CODEOWNERS
Labels: size/XS

#8663 refactor(ldap-auth) openssl ffi based asn1 parser/decoder
  kong/plugins/ldap-auth/asn1.lua
  kong/plugins/ldap-auth/ldap.lua
Labels: plugins/ldap-auth, size/XL

#8696 fix(ldap-auth) free internal pointer after covert to lua string
  kong/plugins/ldap-auth/asn1.lua
Labels: plugins/ldap-auth, size/XS

#8179 fix(dao) apply cache_key for target uniqueness detection
  CHANGELOG.md
  kong/api/routes/upstreams.lua
  kong/db/dao/targets.lua
  kong/db/migrations/core/016_280_to_300.lua
  kong/db/migrations/core/init.lua
  kong/db/schema/entities/targets.lua
  spec/02-integration/04-admin_api/08-targets_routes_spec.lua
Labels: core/db/migrations, core/admin-api, core/db, core/docs, size/L

#8697 chore(ci) changelog label
  .github/labeler.yml
Labels: chore, size/XS

#8700 chore(deps) bump luarocks 3.8.0 to 3.9.0
  .requirements
  CHANGELOG.md
Labels: pr/please review, chore, size/XS, changelog

#8586 feat(clustering) atomic exports of declarative configs with postgres
  kong/db/declarative/init.lua
Labels: pr/please review, pr/discussion, core/db, size/M

#8706 chore(release): cleanup the Jenkins release logic
  Jenkinsfile
Labels: core/configuration, size/L

#8698 fix(pdk) ignore user set Tranfer-Encoding
  CHANGELOG.md
  kong/pdk/response.lua
  t/01-pdk/08-response/05-set_header.t
  t/01-pdk/08-response/08-set_headers.t
  t/01-pdk/08-response/11-exit.t
Labels: core/pdk, size/L, changelog

#8713 tests(hybrid) mark test as flaky
  spec/02-integration/09-hybrid_mode/03-pki_spec.lua
Labels: size/XS

#8668 fix(cp) do a pcall for all calls to export_deflated_reconfigure_payload
  kong/clustering/control_plane.lua
  kong/clustering/wrpc_control_plane.lua
Labels: core/clustering, size/S

#8707 test(packaging): do a quick validation that Kong can viably be packaged
  Jenkinsfile
Labels: size/S

#8723 chore(ci): fix the test packaging
  Jenkinsfile
Labels: size/XS
