Repository Kong/kong, pull requests merged in 2022-03, with the labels that each got.

#8481 doc(changelog) 2.8.0 has been released
  CHANGELOG.md
Labels: core/docs

#8444 fix(aws-lambda) proxy correctly with lua-resty-http
  .github/workflows/build_and_test.yml
  CHANGELOG.md
  kong/plugins/aws-lambda/CHANGELOG.md
  kong/plugins/aws-lambda/handler.lua
  kong/plugins/aws-lambda/kong-plugin-aws-lambda-3.6.3-0.rockspec
  kong/plugins/aws-lambda/schema.lua
  spec/03-plugins/27-aws-lambda/02-schema_spec.lua
  spec/03-plugins/27-aws-lambda/50-http-proxy_spec.lua
  spec/03-plugins/27-aws-lambda/99-access_spec.lua
  spec/fixtures/aws-lambda.lua
  spec/fixtures/forward-proxy-server.lua
Labels: pr/please review, plugins/aws-lambda

#8445 fix(aws-lambda) proxy correctly with lua-resty-http
  CHANGELOG.md
  kong/plugins/aws-lambda/CHANGELOG.md
  kong/plugins/aws-lambda/handler.lua
  kong/plugins/aws-lambda/kong-plugin-aws-lambda-3.6.3-0.rockspec
  kong/plugins/aws-lambda/schema.lua
  spec/03-plugins/27-aws-lambda/02-schema_spec.lua
  spec/03-plugins/27-aws-lambda/50-http-proxy_spec.lua
  spec/03-plugins/27-aws-lambda/99-access_spec.lua
  spec/fixtures/aws-lambda.lua
  spec/fixtures/forward-proxy-server.lua
Labels: pr/please review, plugins/aws-lambda

#8430 docs(admin-api) field configuration_hash in /status
  autodoc/admin-api/data/admin-api.lua
Labels: pr/please review, core/docs

#8500 docs(changelog) add missing entry for #8142
  CHANGELOG.md
Labels: pr/please review, core/docs

#8503 docs(changelog) sync up 2.7.0 changelog with master branch
  CHANGELOG.md
Labels: core/docs, size/M

#8505 [DOCU-348] Admin API: rm DEL service for route
  autodoc/admin-api/data/admin-api.lua
Labels: core/docs, size/XS

#8509 docs(changelog) add entry for #8161
  CHANGELOG.md
Labels: core/docs, size/XS

#8510 docs(changelog) 2.8.0 has been released
  CHANGELOG.md
Labels: size/XS

#8504 docs(changelog) sync up-to-date
  CHANGELOG.md
Labels: size/XS

#8516 docs(autodocs) fix admin api autodoc error when endpoint is set to false
  autodoc/admin-api/generate.lua
Labels: size/XS

#8511 chore(devcontainer) bump docker image version
  .devcontainer/Dockerfile
Labels: chore, size/XS

#8522 Chore(labeler) does not add some labels correctly
  .github/labeler.yml
Labels: chore, size/XS

#8483 fix(schema-validator) does not convert the `null` in the declarative configuration to `nil`
  kong/db/schema/init.lua
  spec/03-plugins/24-response-rate-limiting/01-schema_spec.lua
Labels: core/db, size/S

#8518 docs(*) update source install instructions
  DEVELOPER.md
Labels: pr/wip, core/docs, size/L

#8526 fix(clustering) use ngx.exit(ngx.ERROR)
  kong/clustering/control_plane.lua
Labels: core/clustering, size/XS

#8524 [DOCU-1996] Rm code backticks from upgrade headers
  UPGRADE.md
Labels: size/S

#8365 Update README.md
  README.md
Labels: chore

#8544 Update OpenSSL to 1.1.1n
  .requirements
  CHANGELOG.md
Labels: core/docs, size/XS

#8545 chore(deps) bump resty.openssl from 0.8.5 to 0.8.6
  CHANGELOG.md
  kong-2.8.0-0.rockspec
Labels: pr/please review, core/docs, size/XS

#8205 docs(pdk) hostnames are allowed in kong.service.*
  kong/pdk/service.lua
Labels: pr/please review, core/pdk, size/XS

#8455 fix(prometheus): fix for boolean label handling
  kong/plugins/prometheus/prometheus.lua
Labels: plugins/prometheus

#8548 docs(CHANGELOG.md) add content about #8483
  CHANGELOG.md
Labels: core/docs, size/XS

#8561 chore(labeler) fix serverless-functions
  .github/labeler.yml
Labels: chore, size/XS

#8559 fix(serverless) remove `config.functions` from schema
  kong/plugins/pre-function/_handler.lua
  kong/plugins/pre-function/_schema.lua
  spec/03-plugins/33-serverless-functions/01-schema_spec.lua
  spec/03-plugins/33-serverless-functions/02-access_spec.lua
  spec/03-plugins/33-serverless-functions/03-dbless_spec.lua
  spec/03-plugins/36-request-transformer/02-access_spec.lua
Labels: plugins/serverless-functions, size/M, plugins/pre-function

#8560 fix(*) remove blacklist/whitelist from schema
  kong/plugins/acl/schema.lua
  kong/plugins/bot-detection/schema.lua
  kong/plugins/ip-restriction/schema.lua
Labels: plugins/bot-detection, plugins/ip-restriction, plugins/acl, size/M

#8566 fix(aws-lambda) remove proxy_schema field
  kong/plugins/aws-lambda/handler.lua
  kong/plugins/aws-lambda/schema.lua
Labels: plugins/aws-lambda, size/S

#8558 fix(hmac-auth) remove deprecated signatures
  kong/plugins/hmac-auth/access.lua
  spec/03-plugins/19-hmac-auth/03-access_spec.lua
Labels: plugins/hmac-auth, size/S

#8529 tests(jwt) use rsa keys with 65537 as public exponent
  spec/03-plugins/16-jwt/01-jwt_parser_spec.lua
Labels: size/S

#8467 style(templates) use var_index default
  kong/templates/nginx_kong.lua
  spec/fixtures/custom_nginx.template
Labels: pr/ready (but hold merge), core/templates

#8534 tests(helpers) use FFI based SSL server in tests
  kong-2.8.0-0.rockspec
  spec/helpers.lua
  spec/helpers/ssl.lua
Labels: pr/please review, size/L

#8565 chore(acme) auth_method default value
  CHANGELOG.md
  kong/plugins/acme/schema.lua
Labels: plugins/acme, core/docs, size/XS

#8581 fix(env) localize environ pointer and early return on nil
  kong/cmd/utils/env.lua
  kong/vaults/env/init.lua
Labels: core/cli, size/XS

#8552 feat(core) remove deprecated go pluginserver support
  .ci/setup_env_github.sh
  .requirements
  kong-2.8.0-0.rockspec
  kong/db/dao/plugins/go.lua
  kong/runloop/plugin_servers/process.lua
  kong/templates/kong_defaults.lua
  spec/kong_tests.conf
Labels: core/language/go, core/templates, core/db, core/language/python, core/language/js, size/XL

#8580 docs(changelog) add entry for #8558
  CHANGELOG.md
Labels: core/docs, size/XS

#8582 chore(requirements) bump `lua-kong-nginx-module` to `0.2.1`
  .requirements
Labels: core/templates, chore, size/XS

#8519 perf(clustering) conditional rebuilding of router, plugins iterator and balancer on dp
  kong/clustering/control_plane.lua
  kong/clustering/data_plane.lua
  kong/clustering/init.lua
  kong/db/declarative/init.lua
  kong/runloop/handler.lua
  spec/01-unit/19-hybrid/02-clustering_spec.lua
Labels: pr/please review, core/proxy, core/clustering, core/db, size/L

#8567 fix(runloop) reschedule rebuild timers after running them
  CHANGELOG.md
  kong/runloop/handler.lua
  kong/runloop/plugins_iterator.lua
Labels: core/proxy, core/docs, size/M

#8553 fix(db) make dao:cache_key to fallback to primary_key if nothing from cache_key was found
  kong/db/dao/init.lua
  spec/01-unit/01-db/04-dao_spec.lua
Labels: pr/please review, core/db, size/M

#8491 perf(proxy) reduce calls to csv function in common cases
  kong/runloop/handler.lua
Labels: core/proxy

#8583 fix(core) use admin_error_log for cluster listener
  CHANGELOG.md
  kong/templates/nginx_kong.lua
  spec/fixtures/custom_nginx.template
Labels: pr/please review, core/templates, core/docs, size/XS

#8576 docs(changelog) add entry for #8566
  CHANGELOG.md
Labels: core/docs, size/XS

#8577 docs(changelog) add entry for #8564
  CHANGELOG.md
Labels: core/docs, size/XS

#8579 docs(changelog) add entry fro #8559
  CHANGELOG.md
Labels: core/docs, size/XS

#8592 chore(deps) bump resty.openssl from 0.8.6 to 0.8.7
  CHANGELOG.md
  kong-2.8.0-0.rockspec
Labels: pr/please review, core/docs, size/XS

#8589 chore(deps) bump inspect from 3.1.2 to 3.1.3
  CHANGELOG.md
  kong-2.8.0-0.rockspec
Labels: pr/please review, core/docs, size/XS

#8588 chore(deps) bump luacheck from 0.25.0 to 0.26.0
  Makefile
Labels: pr/please review, size/XS

#8578 docs(changelog) add entry for #8560
  CHANGELOG.md
Labels: core/docs, size/XS

#8569 docs(CHANGELOG) add change log entry for #8452
  CHANGELOG.md
Labels: core/docs, size/XS

#8596 fix(api) targets upserts using PUT HTTP method
  CHANGELOG.md
  kong/api/routes/upstreams.lua
  spec/02-integration/04-admin_api/07-upstreams_routes_spec.lua
  spec/02-integration/04-admin_api/08-targets_routes_spec.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
  spec/02-integration/05-proxy/10-balancer/02-least-connections_spec.lua
  spec/fixtures/admin_api.lua
  spec/fixtures/balancer_utils.lua
Labels: core/admin-api, core/docs, size/L

#8600 docs(changelog) introduce 'breaking changes' header
  CHANGELOG.md
Labels: core/docs, size/S

#8572 docs(api) document header regex in autodocs admin api
  autodoc/admin-api/data/admin-api.lua
Labels: size/XS

#8568 docs(admin-api) clarify what `"00000000000000000000000000000000"` means
  autodoc/admin-api/data/admin-api.lua
Labels: size/XS

#8601 style(jwt-plugin) remove unusefull comment
  kong/plugins/jwt/handler.lua
Labels: plugins/jwt, size/XS

#8574 fix(serverless) migrations from 2.8 to 3.0
  kong-2.8.0-0.rockspec
  kong/plugins/post-function/migrations/001_280_to_300.lua
  kong/plugins/post-function/migrations/init.lua
  kong/plugins/pre-function/migrations/001_280_to_300.lua
  kong/plugins/pre-function/migrations/_001_280_to_300.lua
  kong/plugins/pre-function/migrations/init.lua
Labels: plugins/serverless-functions, size/M

#8607 chore(proxy-cache) do not copy response data to request's ctx
  CHANGELOG.md
  kong/plugins/proxy-cache/handler.lua
Labels: plugins/proxy-cache, core/docs, size/XS

#8614 chore(*) fix linter
  .github/workflows/build_and_test.yml
  kong/db/init.lua
  kong/plugins/oauth2/access.lua
  spec/01-unit/09-balancer/02-least_connections_spec.lua
  spec/fixtures/balancer_utils.lua
Labels: plugins/oauth2, core/db, chore, size/M

#8224 feat(dbless) use LMDB as DB-less backend
  .ci/setup_env_github.sh
  .requirements
  kong-2.8.0-0.rockspec
  kong/api/routes/config.lua
  kong/conf_loader/init.lua
  kong/constants.lua
  kong/db/declarative/init.lua
  kong/db/declarative/marshaller.lua
  kong/db/strategies/off/init.lua
  kong/global.lua
  kong/init.lua
  kong/pdk/vault.lua
  kong/runloop/handler.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx.lua
  kong/templates/nginx_kong.lua
  kong/templates/nginx_kong_stream.lua
  spec/02-integration/02-cmd/14-vault_spec.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
  spec/fixtures/custom_nginx.template
  spec/fixtures/dump_lmdb_key.lua
Labels: pr/please review, core/proxy, core/pdk, core/templates, core/admin-api, core/db, core/configuration, size/XL

#8357 Feat/wrpc
  kong-2.8.0-0.rockspec
  kong/clustering/init.lua
  kong/clustering/wrpc_control_plane.lua
  kong/clustering/wrpc_data_plane.lua
  kong/conf_loader/init.lua
  kong/db/declarative/init.lua
  kong/db/schema/others/declarative_config.lua
  kong/include/kong/model/ca_certificate.proto
  kong/include/kong/model/certificate.proto
  kong/include/kong/model/config.proto
  kong/include/kong/model/consumer.proto
  kong/include/kong/model/parameter.proto
  kong/include/kong/model/plugin.proto
  kong/include/kong/model/plugin_entities.proto
  kong/include/kong/model/route.proto
  kong/include/kong/model/service.proto
  kong/include/kong/model/sni.proto
  kong/include/kong/model/target.proto
  kong/include/kong/model/upstream.proto
  kong/include/kong/model/workspace.proto
  kong/include/kong/services/config/v1/config.proto
  kong/include/wrpc/wrpc.proto
  kong/init.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
  kong/tools/channel.lua
  kong/tools/grpc.lua
  kong/tools/protobuf.lua
  kong/tools/wrpc.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/02-integration/09-hybrid_mode/02-start_stop_spec.lua
  spec/02-integration/09-hybrid_mode/03-pki_spec.lua
  spec/02-integration/09-hybrid_mode/04-cp_cluster_sync_spec.lua
  spec/02-integration/09-hybrid_mode/05-ocsp_spec.lua
  spec/fixtures/custom_nginx.template
Labels: core/clustering, core/templates, core/db, core/configuration, size/XXL
