Repository Kong/kong, pull requests merged in 2022-12, with the labels that each got.

#9764 tests(rate-limiting): refactor tests
  spec/03-plugins/23-rate-limiting/04-access_spec.lua
  spec/helpers.lua
Labels: pr/please review, size/XXL

#9844 style(db/declarative): small code clean for declarative
  kong/db/declarative/init.lua
Labels: core/db, size/S

#9851 fix(pdk/vault): do not call sema:wait in init phase
  CHANGELOG.md
  kong/pdk/vault.lua
Labels: core/pdk, size/S, changelog

#9848 docs(core): changelog for path validation change
  CHANGELOG.md
Labels: size/XS, changelog

#9862 revert(clustering): use privileged worker for control plane connection
  CHANGELOG.md
  kong/clustering/utils.lua
  kong/init.lua
Labels: pr/please review, size/S

#9860 revert(clustering): use privileged worker for control plane connection
  CHANGELOG.md
  kong/clustering/utils.lua
  kong/init.lua
Labels: pr/please review, core/clustering, size/S, changelog

#9865 fix(build): bump the KBT version to avoid the alpine arm cache poisoning
  .requirements
Labels: size/XS

#9801 fix(key-auth) expire keys in L1/L2 caches when ttl is in [0, 1)
  kong/cache/init.lua
  kong/db/strategies/postgres/init.lua
  kong/pdk/cluster.lua
  kong/plugins/key-auth/handler.lua
  spec/03-plugins/09-key-auth/02-access_spec.lua
Labels: pr/ready (but hold merge), pr/ready, core/pdk, plugins/key-auth, core/db, size/M

#9874 chore(zipkin): add log namespace in timers
  kong/plugins/zipkin/handler.lua
  kong/plugins/zipkin/reporter.lua
  spec/03-plugins/34-zipkin/zipkin_spec.lua
Labels: plugins/zipkin, size/S

#9877 fix(zipkin): global plugin always executes in rewrite phase
  CHANGELOG.md
  kong/plugins/zipkin/handler.lua
  spec/03-plugins/34-zipkin/zipkin_no_endpoint_spec.lua
Labels: plugins/zipkin, size/L, changelog

#9887 fix(ci): authentication changes
  Jenkinsfile
Labels: size/XS

#9886 [Backport release/3.1.x] fix(ci): auth
  Jenkinsfile
Labels: size/XS

#9885 [Backport release/3.0.x] fix(ci): auth
  Jenkinsfile
Labels: size/XS

#9880 chore(deps): bump the kong-build-tools version
  .requirements
Labels: size/XS

#9894 chore(tests): fix upgrade test
  spec/helpers.lua
  spec/upgrade_helpers.lua
Labels: size/S

#9895 chore(ci): add bazel labels
  .github/labeler.yml
Labels: chore, size/S

#9899 chore(ci): fix labeler
  .github/labeler.yml
Labels: size/XS

#9893 backport(*): EE -> CE bazel changes
  .github/workflows/build_and_test.yml
  .github/workflows/package.yml
  .github/workflows/perf.yml
  .github/workflows/upgrade-tests.yml
  build/README.md
  scripts/build-kong.sh
Labels: core/docs, chore, size/M

#9898 chore(ci): add `YAML_DIR` to Makefile
  Makefile
Labels: size/XS

#9714 feat(http-log): support http_endpoint field to be referenceable
  CHANGELOG.md
  kong/plugins/http-log/schema.lua
  spec/03-plugins/03-http-log/03-schem-vault_spec.lua
Labels: plugins/http-log, size/M, changelog

#9902 docs(*) fix changelog link, add 3.0.1
  CHANGELOG.md
Labels: size/S, changelog

#9910 chore(ci): remove bazelisk
  .github/workflows/build_and_test.yml
  .github/workflows/package.yml
  .github/workflows/perf.yml
Labels: chore, size/XS

#9896 chore(deps): bump lua-resty-acme from 0.9.0 to 0.10.1
  kong-3.1.0-0.rockspec
Labels: size/XS

#9681 style(init): introduce role/mode check functions
  kong/init.lua
Labels: size/M

#9891 feat(zipkin): add support for labeling phase duration as tags
  CHANGELOG.md
  kong/plugins/zipkin/handler.lua
  kong/plugins/zipkin/schema.lua
  spec/03-plugins/34-zipkin/zipkin_spec.lua
Labels: pr/please review, plugins/zipkin, size/L, changelog

#9925 chore(deps): bump `atc-router` to 1.0.2
  .requirements
Labels: size/XS

#9927 chore(deps): bump `atc-router` to 1.0.2
  .requirements
Labels: size/XS

#9928 fix(router): add better error handling for ATC router when invalid field
  kong/router/atc.lua
  spec/01-unit/08-router_spec.lua
Labels: size/M

#9930 fix(router): add better error handling for ATC router when invalid fi…
  kong/router/atc.lua
  spec/01-unit/08-router_spec.lua
Labels: size/M

#9929 fix(router): add better error handling for ATC router when invalid field
  kong/router/atc_compat.lua
  spec/01-unit/08-router_spec.lua
Labels: size/M

#9931 chore(*): bump rockspec and `meta.lua` to `3.0.2`
  kong-3.0.2-0.rockspec
  kong/meta.lua
Labels: size/XS

#9932 chore(*): bump rockspec and `meta.lua` to `3.1.1`
  kong-3.1.1-0.rockspec
  kong/meta.lua
Labels: size/XS

#9934 Release: 3.0.2
  .github/workflows/build_and_test.yml
  .requirements
  kong-3.0.2-0.rockspec
  kong-admin-api.yml
  kong/meta.lua
  kong/router/atc_compat.lua
  spec/01-unit/08-router_spec.lua
Labels: pr/please review, pr/do not merge, chore, size/XL

#9935 Release: 3.1.1
  .requirements
  CHANGELOG.md
  kong-3.1.1-0.rockspec
  kong/meta.lua
  kong/router/atc.lua
  spec/01-unit/08-router_spec.lua
Labels: pr/please review, pr/do not merge, size/M, changelog

#9942 chore(deps): update to luarocks-3.9.2
  .requirements
  CHANGELOG.md
Labels: size/XS, changelog

#9943 style(pdk):localize some vars
  kong/pdk/service.lua
Labels: core/pdk, size/S

#9919 feat(status_listen) support HTTP/2
  kong.conf.default
  kong/conf_loader/init.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/02-integration/08-status_api/01-core_routes_spec.lua
Labels: core/configuration, size/M

#9869 fix(build): bump the KBT version to avoid the alpine arm cache poisoning (#9865)
  .requirements
Labels: size/XS

#9868 fix(build): bump the KBT version to avoid the alpine arm cache poisoning (#9865)
  .requirements
Labels: size/XS

#9906 test(integration): re-enable some tests by renaming their filename
  .github/workflows/build_and_test.yml
  scripts/check_spec_files_spelling.sh
  spec/01-unit/19-hybrid/04-negotiation_spec.lua
  spec/02-integration/04-admin_api/12-plugins-conf_spec.lua
  spec/02-integration/04-admin_api/13-plugin-endpoints_spec.lua
  spec/02-integration/04-admin_api/18-worker-events.lua
  spec/02-integration/09-hybrid_mode/08-lazy_export_spec.lua
  spec/02-integration/11-dbless/03-config_persistence_spec.lua
  spec/03-plugins/26-prometheus/06-hybrid-mode_metrics_spec.lua
  spec/on_demand_specs
Labels: pr/please review, chore, size/L

#9949 chore(ci): replace kbt with bazel build
  .github/workflows/package.yml
Labels: chore, size/L

#9950 chore(ci): fix docker images tags when pushing
  .github/workflows/package.yml
Labels: chore, size/XS

#9956 chore(ci): fix packaging running on forks
  .github/workflows/package.yml
Labels: chore, size/XS

#9960 fix(db): add back `FLOOR` so ttl returns integer instead of float
  CHANGELOG.md
  kong/db/strategies/postgres/init.lua
Labels: core/db, size/S, changelog

#9890 refactor(db/declarative): seperate declarative code
  kong-3.1.0-0.rockspec
  kong/db/declarative/export.lua
  kong/db/declarative/import.lua
  kong/db/declarative/init.lua
Labels: core/db, size/XXL

#9967 doc(build): Update README.md
  build/README.md
Labels: core/docs, size/XS, build/bazel

#9653 refactor(core/runloop): code clean for reconfigure event processing
  kong/runloop/handler.lua
Labels: core/proxy, size/L

#9603 feat(db): exposed postgres connection pooling config
  CHANGELOG.md
  kong.conf.default
  kong/conf_loader/init.lua
  kong/db/strategies/postgres/connector.lua
  kong/templates/kong_defaults.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/02-integration/03-db/15-connection_pool_spec.lua
Labels: core/templates, core/db, core/configuration, size/L, changelog

#9966 docs(ci): add Bash/Zsh command and supporting Mac FAQ
  build/README.md
Labels: core/docs, size/S, build/bazel

#9962 Support IMDSv1 and IMDSv2
  kong/plugins/aws-lambda/handler.lua
  kong/plugins/aws-lambda/iam-ec2-credentials.lua
  kong/plugins/aws-lambda/schema.lua
  spec/03-plugins/27-aws-lambda/03-iam-ec2-credentials_spec.lua
Labels: plugins/aws-lambda, size/M

#9972 fix(clustering): upstream use_srv_name cluster compatibility problem
  kong/clustering/compat/init.lua
  spec/01-unit/19-hybrid/03-compat_spec.lua
Labels: core/clustering, size/M

#9977 refactor(plugins/basic-auth): code clean and optimization
  kong/plugins/basic-auth/access.lua
  kong/plugins/basic-auth/crypto.lua
Labels: plugins/basic-auth, size/M

#9969 docs(README): fix markdown order list manner
  README.md
Labels: core/docs, size/XS

#9984 fix(plugin): Fix typo in comment
  kong/plugins/aws-lambda/iam-ec2-credentials.lua
Labels: plugins/aws-lambda, size/XS

#8974 fix(balancer) fix upstreams reload every 10s
  kong/runloop/balancer/upstreams.lua
  spec/02-integration/06-invalidations/04-balancer_cache_correctness_spec.lua
Labels: pr/please review, pr/ready, core/balancer, size/M

#9985 style(plugin): adjust whitespace
  kong/plugins/aws-lambda/iam-ec2-credentials.lua
Labels: plugins/aws-lambda, size/XS

#9986 docs(changelog): add CHANGELOG entry for AWS Lambda IMDSv2 support
  CHANGELOG.md
Labels: pr/please review, size/XS, changelog

#9996 fix(runloop): `set_host_header` pass the wrong upstream_host
  kong/runloop/handler.lua
Labels: core/proxy, size/XS

#9852 feat(prometheus): skip fields in shm (high cost) when no instance configured
  kong/plugins/prometheus/api.lua
  kong/plugins/prometheus/exporter.lua
  kong/plugins/prometheus/prometheus.lua
  spec/03-plugins/26-prometheus/06-hybrid-mode_metrics_spec.lua
  spec/03-plugins/26-prometheus/07-optional_fields_spec.lua
Labels: pr/please review, pr/ready, plugins/prometheus, size/L

#9998 cherry-pick fix(runloop): `set_host_header` pass the wrong upstream_host (#9996)
  kong/runloop/handler.lua
Labels: core/proxy, size/XS

#9999 cherry-pick fix(runloop): `set_host_header` pass the wrong upstream_host (#9996)
  kong/runloop/handler.lua
Labels: core/proxy, size/XS

#9979 docs(admin-api): fix a typo in key set description
  autodoc/admin-api/data/admin-api.lua
Labels: size/XS, autodoc

#9786 docs(autodoc): correct example response data
  autodoc/admin-api/data/admin-api.lua
Labels: pr/ready, size/XS, autodoc

#9978 style(router/atc): simplify atc code
  kong/router/atc.lua
Labels: size/M

#9911 fix(declarative-config): set hash when config is loaded
  CHANGELOG.md
  kong/db/declarative/import.lua
  kong/init.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
  spec/02-integration/04-admin_api/02-kong_routes_spec.lua
Labels: core/db, size/L, changelog

#9936 perf(plugins/ip-restriction): add lrucache for ipmatcher
  kong/plugins/ip-restriction/handler.lua
  spec/03-plugins/17-ip-restriction/02-access_spec.lua
Labels: pr/discussion, plugins/ip-restriction, size/L

#10005 chore(release): bump rockspec version to 3.2.0
  kong-3.2.0-0.rockspec
  kong-admin-api.yml
  kong/meta.lua
Labels: size/XS

#9990 docs(admin-api): add db-less mode restrictions for the debug routes
  autodoc/admin-api/data/admin-api.lua
Labels: size/S, autodoc

#9955 refactor(plugins/response-transformer): code clean
  kong/plugins/response-transformer/body_transformer.lua
  kong/plugins/response-transformer/handler.lua
  kong/plugins/response-transformer/header_transformer.lua
  spec/03-plugins/15-response-transformer/01-header_transformer_spec.lua
  spec/03-plugins/15-response-transformer/02-body_transformer_spec.lua
Labels: plugins/response-transformer, size/L

#10009 build(release): fix rpm build
  .github/workflows/release.yml
Labels: chore, size/XS

#10012 build(release): fix permissions
  .github/workflows/build_and_test.yml
  .github/workflows/release.yml
Labels: chore, size/S

#10015 build(release): cache only for pull_request
  .github/workflows/release.yml
Labels: chore, size/XS

#10016 chore(ci): correctly pinning KONG_NGINX_MODULE
  .ci/setup_env_github.sh
Labels: size/XS, backport release/2.8.x, backport release/3.0.x, backport release/2.6.x

#10019 chore(ci): correctly pinning KONG_NGINX_MODULE (#10016)
  .ci/setup_env_github.sh
Labels: size/XS

#10017 [Backport release/3.0.x] chore(ci): correctly pinning KONG_NGINX_MODULE
  .ci/setup_env_github.sh
Labels: size/XS

#10018 chore(ci): correctly pinning KONG_NGINX_MODULE
  .ci/setup_env_github.sh
  .requirements
Labels: size/XS

#9946 fix(jwt): deny requests that have different tokens in the jwt token search locations.
  CHANGELOG.md
  kong/plugins/jwt/handler.lua
  spec/03-plugins/16-jwt/03-access_spec.lua
Labels: plugins/jwt, size/M, changelog

#10013 fix(test): prometheus test incorrect mock
  spec/03-plugins/26-prometheus/07-optional_fields_spec.lua
Labels: size/S

#10014 style(plugins/key-auth): code clean
  kong/plugins/key-auth/handler.lua
Labels: plugins/key-auth, size/M

#10025 chore(cd): skip empty matrix
  .github/workflows/release.yml
Labels: chore, size/XS

#10026 chore(spec): update spec key size
  spec/fixtures/kong_spec.crt
  spec/fixtures/kong_spec.key
Labels: size/M

#10029 chore(cd): correct permissions for pr from forks and dependabot
  .github/workflows/release.yml
Labels: chore, size/S

#10032 build(release): trigger on tags
  .github/workflows/release.yml
Labels: chore, size/XS
