Repository Kong/kong, pull requests merged in 2022-11, with the labels that each got.

#9641 chore(ci): remove travis.yml
  .travis.yml
Labels: size/M

#9503 fix(get): propagate next page size param #9029
  kong/api/endpoints.lua
  spec/02-integration/04-admin_api/10-services_routes_spec.lua
Labels: core/admin-api, size/S

#9650 doc(changelog) add changelog entry for #9503
  CHANGELOG.md
Labels: size/XS, changelog

#9624 perf(router): increase `lua_regex_cache_max_entries` and show warning if too small
  CHANGELOG.md
  kong.conf.default
  kong/router/traditional.lua
  kong/templates/kong_defaults.lua
Labels: core/templates, size/S, changelog

#9662 docs(changelog): add entry for #9457
  CHANGELOG.md
Labels: size/XS, changelog

#9665 Release: 2.8.3
  CHANGELOG.md
  kong-2.8.3-0.rockspec
  kong/meta.lua
Labels: pr/please review, size/S

#9661 docs(changelog): add entry for #9504
  CHANGELOG.md
Labels: size/S, changelog

#9628 fix(opentelemetry): fix parent_id reporting from w3c header
  CHANGELOG.md
  kong/plugins/opentelemetry/handler.lua
  spec/03-plugins/37-opentelemetry/04-exporter_spec.lua
Labels: size/M, changelog, plugins/opentelemetry

#9672 tests(clustering): turn off vitals in stop/start errlog test
  spec/02-integration/09-hybrid_mode/02-start_stop_spec.lua
Labels: size/XS

#9676 chore: disable Jenkins as it is flaky
  Jenkinsfile.disabled
Labels: size/XS

#9674 chore(deps) bump openssl from 1.1.1q to 1.1.1s
  .requirements
  CHANGELOG.md
Labels: size/XS, changelog

#9675 chore(deps) bump resty.openssl from 0.8.14 to 0.8.15
  CHANGELOG.md
  kong-3.1.0-0.rockspec
Labels: size/XS, changelog

#9679 chore(deps): bump kong-build-tools for the packaging fix
  .requirements
Labels: size/XS

#9680 chore(deps): bump kong-build-tools for the packaging fix
  .requirements
Labels: size/XS

#9673 fix(statsd) remove must type limitation
  kong/plugins/statsd/schema.lua
  spec/03-plugins/06-statsd/02-schema_spec.lua
Labels: plugins/statsd, size/M

#9463 fix(response-transformer): fix the error when response-transformer
  CHANGELOG.md
  kong/plugins/response-transformer/body_transformer.lua
  kong/plugins/response-transformer/handler.lua
  spec/03-plugins/15-response-transformer/02-body_transformer_spec.lua
Labels: plugins/response-transformer, size/M, changelog

#9683 docs(changelog): typofix for #9463
  CHANGELOG.md
Labels: size/XS, changelog

#9654 style(plugins/otel): code clean for get_cached_headers()
  kong/plugins/opentelemetry/handler.lua
Labels: size/S, plugins/opentelemetry

#9657 chore(ci): add some retry logic to parts of our CI
  Jenkinsfile
Labels: chore, size/M

#9691 tests(helpers): retry all safe admin client requests
  spec/helpers.lua
Labels: size/XS

#9656 feat(release): release official Ubuntu 22.04 (Jammy) packages
  Jenkinsfile
Labels: size/XS

#9696 chore(devcontainer) bump to 3.0.0
  .devcontainer/Dockerfile
Labels: chore, size/XS

#9694 Fixed #9692 missing yaml-dev dependency in devcontainer
  .devcontainer/Dockerfile
Labels: chore, size/XS

#9701 chore(devcontainer): use correct tag and move off alpine
  .devcontainer/Dockerfile
Labels: chore, size/S

#8187 feat(session) forward persistent cookie field
  CHANGELOG.md
  kong/plugins/session/schema.lua
  kong/plugins/session/session.lua
  spec/03-plugins/30-session/01-access_spec.lua
Labels: plugins/session, size/M, version-compatibility, changelog

#9670 tests(perf): add "bring-your-own" provider
  .github/workflows/perf.yml
  spec/fixtures/perf/terraform/bring-your-own/main.tf
  spec/fixtures/perf/terraform/bring-your-own/output.tf
  spec/fixtures/perf/terraform/bring-your-own/ssh.tf
  spec/fixtures/perf/terraform/bring-your-own/variables.tf
  spec/helpers/perf.lua
  spec/helpers/perf/drivers/terraform.lua
Labels: chore, size/L

#9700 tests(balancer_utils): improved listening port detection to avoid side
  .ci/run_tests.sh
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
  spec/02-integration/05-proxy/10-balancer/05-stress.lua
  spec/03-plugins/37-opentelemetry/04-exporter_spec.lua
  spec/fixtures/balancer_utils.lua
  spec/helpers.lua
Labels: size/L

#9703 chore(tests) add concurrency control
  .github/workflows/build_and_test.yml
  .github/workflows/perf.yml
  .github/workflows/upgrade-tests.yml
Labels: chore, size/S

#9704 ci(*): use `ubuntu-22.04` instead of `ubuntu-20.04`
  .github/workflows/autodocs.yml
  .github/workflows/build_and_test.yml
  .github/workflows/perf.yml
  .github/workflows/upgrade-tests.yml
Labels: chore, size/S

#9705 chore(tests): add test mutex for perf test
  .github/workflows/perf.yml
Labels: chore, size/XS

#9707 chore(autodocs): use `ubuntu-22.04` for autodoc as well
  .github/workflows/autodocs.yml
Labels: chore, size/XS

#9709 chore(ci): re-enable per-commit builds
  .requirements
  Jenkinsfile
Labels: size/S

#9689 Release: 3.0.1
  CHANGELOG.md
  COPYRIGHT
  kong-3.0.1-0.rockspec
  kong-admin-api.yml
  kong/cmd/prepare.lua
  kong/cmd/start.lua
  kong/cmd/utils/prefix_handler.lua
  kong/global.lua
  kong/init.lua
  kong/meta.lua
  kong/router/atc_compat.lua
  kong/runloop/handler.lua
  kong/runloop/plugins_iterator.lua
  kong/tracing/propagation.lua
  spec/01-unit/08-router_spec.lua
  spec/01-unit/26-tracing/02-propagation_spec.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
  spec/02-integration/02-cmd/09-prepare_spec.lua
  spec/02-integration/05-proxy/02-router_spec.lua
  spec/02-integration/14-tracing/01-instrumentations_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/tcp-trace-exporter/handler.lua
Labels: pr/please review, pr/do not merge, core/cli, core/proxy, size/XXL, changelog, core/tracing

#9684 docs(changelog): adjust change log
  CHANGELOG.md
Labels: size/S, changelog

#9717 chore(tests) fix label-check test
  .github/workflows/label-check.yml
Labels: size/XS

#9713 chore(ci): remove CODEOWNERS file
  CODEOWNERS
Labels: size/XS

#9721 tests(perf): ensure clean state
  spec/helpers/perf/drivers/terraform.lua
Labels: size/XS

#9724 docs(test) explain blueprints versus db access
  spec/helpers.lua
Labels: size/M

#9712 feat(amazonlinux): bump KBT and include amazonlinux 2022 as a release target refs: #FT-3480
  .requirements
  Jenkinsfile
Labels: size/XS

#9719 tests(router/atc): escape '\' in regex path properly
  spec/01-unit/08-router_spec.lua
Labels: size/M

#9741 tests(perf): bump max test run duration from 2h to 3h
  .github/workflows/perf.yml
Labels: chore, size/XS

#9612 feat(pdk): add `kong.client.tls.set_client_ca_list`
  .requirements
  CHANGELOG.md
  kong/pdk/client/tls.lua
  t/01-pdk/14-client-tls/00-phase_checks.t
  t/01-pdk/14-client-tls/01-set_client_ca_list.t
  t/certs/ca.crt
  t/certs/ca.key
  t/certs/intermediate.crt
  t/certs/intermediate.key
Labels: pr/ready, core/pdk, size/XL, changelog

#9747 tests(helpers): use io.open to truncate file
  spec/02-integration/01-helpers/01-helpers_spec.lua
  spec/helpers.lua
Labels: size/L

#9748 chore(tests): remove hardcoded dns resolver in tests
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/01-unit/09-balancer/01-generic_spec.lua
  spec/01-unit/09-balancer/02-least_connections_spec.lua
  spec/01-unit/09-balancer/03-consistent_hashing_spec.lua
  spec/01-unit/09-balancer/04-round_robin_spec.lua
  spec/01-unit/14-dns_spec.lua
  spec/01-unit/21-dns-client/01-utils_spec.lua
  spec/01-unit/21-dns-client/02-client_spec.lua
  spec/01-unit/21-dns-client/03-client_cache_spec.lua
  spec/fixtures/headers.conf
  spec/fixtures/invalid.conf
  spec/fixtures/to-strip.conf
  spec/kong_tests.conf
Labels: size/L

#9756 chore(rockspec): bump lua-resty-healthcheck to 1.5.3
  kong-2.8.3-0.rockspec
Labels: size/XS

#9761 style(db/declarative): use constant wisely
  kong/db/declarative/init.lua
Labels: core/db, size/XS

#9766 tests(helpers): remember allocated ports to reduce the chance of dupl…
  spec/helpers.lua
Labels: size/M

#9763 Revert "feat(pdk): add `kong.client.tls.set_client_ca_list` (#9612)"
  .requirements
  CHANGELOG.md
  kong/pdk/client/tls.lua
  t/01-pdk/14-client-tls/00-phase_checks.t
  t/01-pdk/14-client-tls/01-set_client_ca_list.t
  t/certs/ca.crt
  t/certs/ca.key
  t/certs/intermediate.crt
  t/certs/intermediate.key
Labels: core/pdk, size/XL, changelog

#9765 fix(cmd): use correct format to log message
  kong/cmd/utils/prefix_handler.lua
Labels: core/cli, size/XS

#9737 feat(core): add keys and key-sets entity
  kong-3.1.0-0.rockspec
  kong/constants.lua
  kong/db/dao/key_sets.lua
  kong/db/dao/keys.lua
  kong/db/migrations/core/017_300_to_310.lua
  kong/db/schema/entities/key_sets.lua
  kong/db/schema/entities/keys.lua
  kong/db/schema/typedefs.lua
  spec/02-integration/02-cmd/11-config_spec.lua
  spec/02-integration/03-db/18-keys_spec.lua
  spec/02-integration/03-db/19-key-sets_spec.lua
  spec/02-integration/04-admin_api/21-admin-api-keys_spec.lua
  spec/fixtures/blueprints.lua
  spec/helpers.lua
Labels: core/db/migrations, core/db, size/XXL, schema-change-noteworthy

#9762 chore(ldap-auth): cache key algorithm
  kong/plugins/ldap-auth/access.lua
  spec/03-plugins/20-ldap-auth/01-access_spec.lua
  spec/03-plugins/20-ldap-auth/02-invalidations_spec.lua
Labels: pr/please review, plugins/ldap-auth, size/M

#8595 feat(response-ratelimiting) redis ssl
  CHANGELOG.md
  kong/clustering/compat/removed_fields.lua
  kong/plugins/response-ratelimiting/policies/init.lua
  kong/plugins/response-ratelimiting/schema.lua
  spec/01-unit/19-hybrid/03-fields-removal_spec.lua
  spec/03-plugins/24-response-rate-limiting/04-access_spec.lua
  spec/03-plugins/24-response-rate-limiting/05-integration_spec.lua
Labels: core/clustering, plugins/response-ratelimiting, size/XXL, version-compatibility, changelog

#9740 chore(clustering): remove legacy hybrid protocol
  kong-3.1.0-0.rockspec
  kong/clustering/control_plane.lua
  kong/clustering/data_plane.lua
  kong/clustering/init.lua
  kong/clustering/utils.lua
  kong/conf_loader/init.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
  spec/01-unit/19-hybrid/03-fields-removal_spec.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/02-integration/09-hybrid_mode/02-start_stop_spec.lua
  spec/02-integration/09-hybrid_mode/03-pki_spec.lua
  spec/02-integration/09-hybrid_mode/05-ocsp_spec.lua
  spec/02-integration/09-hybrid_mode/06-lagacy_switch_spec.lua
  spec/02-integration/09-hybrid_mode/08-lazy_export.lua
  spec/04-perf/01-rps/06-core_entities_crud_spec.lua
  spec/fixtures/custom_nginx.template
  spec/helpers.lua
Labels: core/clustering, core/templates, core/configuration, size/XXL

#9760 fix(core): prefix path must be normalized
  kong/db/schema/typedefs.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
Labels: core/db, size/M

#9770 Revert "fix(db/lmdb): create lmdb directory with proper permission (#…
  kong/cmd/utils/prefix_handler.lua
  spec/02-integration/02-cmd/09-prepare_spec.lua
Labels: core/cli, size/M

#9771 tests(upgrade-test): add some assertions for start/stop Kong
  spec/05-migration/db/migrations/core/016_280_to_300_spec.lua
  spec/05-migration/plugins/http-log/migrations/001_280_to_300_spec.lua
  spec/05-migration/plugins/post-function/migrations/001_280_to_300_spec.lua
  spec/05-migration/plugins/pre-function/migrations/001_280_to_300_spec.lua
Labels: size/M

#9768 feat(pdk): extend `kong.client.tls.request_client_certificate`
  CHANGELOG.md
  kong/pdk/client/tls.lua
  t/01-pdk/14-client-tls/00-phase_checks.t
  t/01-pdk/14-client-tls/01-request_client_certificate.t
  t/certs/ca.crt
  t/certs/ca.key
  t/certs/client_example.com.crt
  t/certs/client_example.com.key
  t/certs/intermediate.crt
  t/certs/intermediate.key
Labels: core/pdk, size/XL, changelog

#9758 feat(clustering) support http forward proxy
  CHANGELOG.md
  kong-3.1.0-0.rockspec
  kong.conf.default
  kong/clustering/utils.lua
  kong/conf_loader/init.lua
  kong/resty/websocket/client.lua
  kong/templates/kong_defaults.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/02-integration/09-hybrid_mode/10-forward-proxy_spec.lua
  spec/fixtures/forward-proxy-server.lua
Labels: core/clustering, core/templates, core/configuration, size/XL, changelog

#9774 chore(clustering): remove unused code check_protocol_support
  kong/clustering/utils.lua
Labels: core/clustering, size/M

#9776 fix(core): fix cache_key issues
  kong/db/dao/key_sets.lua
  kong/db/dao/keys.lua
  kong/db/schema/entities/key_sets.lua
  spec/02-integration/03-db/18-keys_spec.lua
Labels: core/db, size/M, schema-change-noteworthy

#9744 feat(api): dynamic log levels
  .requirements
  CHANGELOG.md
  autodoc/admin-api/data/admin-api.lua
  kong-3.1.0-0.rockspec
  kong/api/init.lua
  kong/api/routes/debug.lua
  kong/api/routes/kong.lua
  kong/constants.lua
  kong/pdk/log.lua
  kong/runloop/handler.lua
  kong/templates/nginx_kong.lua
  spec/02-integration/04-admin_api/22-debug_spec.lua
  spec/fixtures/custom_nginx.template
  spec/helpers.lua
Labels: pr/please review, core/proxy, core/templates, core/admin-api, core/logs, size/XL, changelog, autodoc

#9711 chore(github) modify pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore, size/XS

#9067 fix(clustering): data-plane node id keeps changing after restarted in hybrid mode
  CHANGELOG.md
  kong-3.1.0-0.rockspec
  kong/cluster_events/init.lua
  kong/db/init.lua
  kong/global.lua
  kong/pdk/node.lua
  kong/pdk/private/node.lua
  kong/plugins/statsd/log.lua
  spec/02-integration/02-cmd/14-vault_spec.lua
  spec/02-integration/09-hybrid_mode/09-node-id-persistence_spec.lua
Labels: pr/please review, core/pdk, core/clustering, plugins/statsd, core/db, size/L, changelog

#9778 chore(rockspec): bump lua-resty-healthcheck to 1.6.2
  kong-3.1.0-0.rockspec
Labels: size/XS

#9780 doc(changelog): add an entry for PR 9778
  CHANGELOG.md
Labels: size/XS, changelog

#9773 feat(clustering): hybrid forward proxy https
  kong.conf.default
  kong/clustering/utils.lua
  kong/conf_loader/init.lua
  kong/resty/websocket/client.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/02-integration/09-hybrid_mode/10-forward-proxy_spec.lua
  spec/fixtures/custom_nginx.template
Labels: core/clustering, core/templates, core/configuration, size/L

#9781 chore(changelog): update changelog for hybrid mode forward proxy
  CHANGELOG.md
Labels: size/XS, changelog

#9789 fix(http-log): queue id serialization
  CHANGELOG.md
  kong/plugins/http-log/handler.lua
  spec/03-plugins/03-http-log/03-queue_spec.lua
Labels: plugins/http-log, size/S, changelog

#9779 Update README.md
  README.md
Labels: core/docs, size/XS

#9794 fix(api): various minor fixes and optimizations for dynamic log levels
  kong/api/routes/debug.lua
  kong/init.lua
  kong/runloop/handler.lua
  kong/templates/nginx_kong.lua
  spec/fixtures/custom_nginx.template
Labels: core/proxy, core/templates, core/admin-api, size/S

#9796 chore(deps): add Kong/lua-resty-websocket
  .ci/setup_env_github.sh
  .requirements
  kong-3.1.0-0.rockspec
  kong/clustering/utils.lua
  kong/resty/websocket/client.lua
Labels: core/clustering, size/L

#9782 fix(clustering): wrpc also set ws connect timeout
  kong/tools/wrpc/init.lua
Labels: size/XS

#9671 refactor(clustering): gather clustering events into one place
  kong-3.1.0-0.rockspec
  kong/clustering/events.lua
  kong/clustering/init.lua
  kong/clustering/wrpc_control_plane.lua
Labels: core/clustering, size/L

#9521 perf(plugins): use batch queue in datadog & statsd plugin to reduce timer usage
  kong/clustering/compat/removed_fields.lua
  kong/plugins/datadog/handler.lua
  kong/plugins/datadog/schema.lua
  kong/plugins/statsd/log.lua
  kong/plugins/statsd/schema.lua
  spec/01-unit/19-hybrid/03-fields-removal_spec.lua
  spec/03-plugins/06-statsd/01-log_spec.lua
  spec/03-plugins/08-datadog/01-log_spec.lua
Labels: pr/changes requested, core/clustering, plugins/datadog, plugins/statsd, size/L

#9790 fix(clustering): override node id while it contains an invalid uuid
  kong/pdk/private/node.lua
  spec/02-integration/09-hybrid_mode/09-node-id-persistence_spec.lua
Labels: core/pdk, size/M

#9804 docs(changelog): add changelog for #9521
  CHANGELOG.md
Labels: size/XS, changelog

#9792 chore(ci): setup a backport github action
  .github/workflows/backport.yml
Labels: pr/ready, chore, size/S

#9795 chore(ci): migrate some CI from Jenkins to github actions
  .github/workflows/package.yml
  Jenkinsfile
  Makefile
Labels: pr/ready, chore, size/L, backport release/2.8.x, backport release/3.0.x

#9816 chore(deps): bump the kong-build-tools version
  .requirements
Labels: size/XS, backport release/2.8.x, backport release/3.0.x

#9815 chore(deps): bump pgmoon to 1.16.0
  kong-3.1.0-0.rockspec
Labels: size/XS

#9820 chore(deps): bump the kong-build-tools version (#9816)
  .requirements
Labels: size/XS

#9821 chore(deps): bump the kong-build-tools version (#9816)
  .requirements
Labels: size/XS

#9814 chore(ci): migrate some CI from Jenkins to github actions (#9795)
  .github/workflows/package.yml
  Jenkinsfile
  Makefile
Labels: chore, size/L

#9822 fix(Make): explicitely set the KONG_SOURCE_LOCATION environment variable
  Makefile
Labels: size/S, backport release/2.8.x, backport release/3.0.x

#9826 docs(changelog): add entry for #9740
  CHANGELOG.md
Labels: size/XS, changelog

#9829 fix(ci): make sure docker tag is valid
  .github/workflows/package.yml
Labels: chore, size/XS, backport release/2.8.x, backport release/3.0.x

#9830 [Backport release/2.8.x] fix(ci): make sure docker tag is valid
  .github/workflows/package.yml
Labels: chore, size/XS

#9791 docs(core): add autodocs for keys and key-sets
  CHANGELOG.md
  autodoc/admin-api/data/admin-api.lua
  autodoc/admin-api/generate.lua
Labels: size/L, changelog, autodoc

#9840 chore(ci): arm builds refs: #ENGEN-715 (#9168)
  .requirements
  Jenkinsfile
  Makefile
Labels: size/M
