Repository Kong/kong, pull requests merged in 2022-05, with the labels that each got.

#8752 chore(deps) bump openssl from 1.1.1n to 1.1.1o
  .requirements
  CHANGELOG.md
Labels: pr/please review, size/XS, changelog

#8753 chore(deps) bump resty.openssl from 0.8.7 to 0.8.8
  CHANGELOG.md
  kong-2.8.0-0.rockspec
Labels: pr/please review, size/XS, changelog

#8754 chore(deps) bump luasec from 1.0.2 to 1.1.0
  CHANGELOG.md
  kong-2.8.0-0.rockspec
Labels: pr/please review, size/XS, changelog

#8756 chore(deps) bump luacheck (dev dep) from 0.26.0 to 0.26.1
  Makefile
Labels: pr/please review, size/XS

#8755 chore(deps) bump resty.healthcheck from 1.5.0 to 1.5.1
  CHANGELOG.md
  kong-2.8.0-0.rockspec
Labels: pr/please review, size/XS, changelog

#8690 fix(admin) support HTTP/2 when requesting /status
  kong/api/routes/health.lua
  kong/pdk/nginx.lua
  kong/plugins/prometheus/exporter.lua
  kong/templates/nginx_kong.lua
  spec/03-plugins/26-prometheus/05-metrics_spec.lua
  spec/fixtures/custom_nginx.template
  spec/fixtures/prometheus/metrics.conf
  t/01-pdk/10-nginx/00-phase_checks.t
  t/01-pdk/10-nginx/02-get_statistics.t
Labels: core/pdk, core/templates, core/admin-api, plugins/prometheus, size/L

#8763 chore(tools) small optimization for grpc
  kong/tools/grpc.lua
Labels: chore, size/S

#7961 chore(plugins) remove deprecated BasePlugin
  CHANGELOG.md
  kong-2.8.0-0.rockspec
  kong/db/dao/plugins.lua
  kong/plugins/base_plugin.lua
  kong/runloop/plugins_iterator.lua
  kong/vendor/classic.lua
  spec/02-integration/05-proxy/21-grpc_plugins_triggering_spec.lua
  spec/02-integration/05-proxy/28-stream_plugins_triggering_spec.lua
  spec/02-integration/07-sdk/02-log_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/admin-api-method/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/cache/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/ctx-checker-last/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/ctx-checker/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/dummy/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/error-generator/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/fail-once-auth/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/invalid-schema/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/legacy-plugin-good/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/logger-last/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/logger/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/plugin-with-custom-dao/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/rewriter/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/short-circuit/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/slow-query/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/with-migrations/handler.lua
Labels: pr/please review, core/proxy, core/db, size/L, changelog

#8778 tests(rockspec) add a script to validate rockspec file
  .github/workflows/build_and_test.yml
  scripts/validate-rockspec
Labels: chore, size/M

#8764 chore(clustering) log `push_config` duration
  kong/clustering/control_plane.lua
Labels: core/clustering, size/XS

#8750 docs(changelog) add entry for stream API rewrite
  CHANGELOG.md
Labels: pr/ready, size/XS, changelog

#8771 chore(ci): adjust how we version our nightlies
  Jenkinsfile
Labels: pr/do not merge, size/XS

#6992 fix(http-log) set headers with single value, not array
  CHANGELOG.md
  kong-2.8.0-0.rockspec
  kong/db/migrations/operations/280_to_300.lua
  kong/plugins/http-log/migrations/001_280_to_300.lua
  kong/plugins/http-log/migrations/init.lua
  kong/plugins/http-log/schema.lua
  spec/03-plugins/03-http-log/01-log_spec.lua
  spec/03-plugins/03-http-log/02-schema_spec.lua
Labels: pr/please review, core/db/migrations, plugins/http-log, size/L, version-compatibility, changelog

#8792 chore(httplog) bump version for breaking change
  kong/plugins/http-log/handler.lua
Labels: plugins/http-log, size/XS

#8801 tests(rockspec) improve validation script
  scripts/validate-rockspec
Labels: size/M

#8781 chore(migrations) remove deprecated migrations helpers
  CHANGELOG.md
  kong-2.8.0-0.rockspec
  kong/db/init.lua
  kong/db/migrations/helpers.lua
Labels: pr/please review, core/db/migrations, core/db, size/L, changelog

#8626 tests(plugins/zipkin) make `host` and `port` of `Zipkin` configurable
  spec/03-plugins/34-zipkin/zipkin_spec.lua
  spec/helpers.lua
Labels: pr/ready, size/S

#8765 feat(plugin/aws-lambda)accept string type statusCode as return when working in proxy integration mode
  kong/plugins/aws-lambda/handler.lua
  spec/03-plugins/27-aws-lambda/99-access_spec.lua
Labels: plugins/aws-lambda, size/M

#8800 perf(db) yield on dbless daos
  kong/db/strategies/off/init.lua
Labels: pr/please review, core/db, size/XS

#8807 [ENGEN-450] chore(changelog) debian 8 deprecation notice
  CHANGELOG.md
Labels: size/XS, changelog

#8809 Bump openssl 1.1.1o (backport 2.8)
  .requirements
  CHANGELOG.md
Labels: size/S

#8625 tests(*) make the `host` and `port` of `grpcbin` configurable
  .github/workflows/build_and_test.yml
  spec/02-integration/05-proxy/02-router_spec.lua
  spec/02-integration/05-proxy/19-grpc_proxy_spec.lua
  spec/02-integration/05-proxy/21-grpc_plugins_triggering_spec.lua
  spec/02-integration/05-proxy/22-reports_spec.lua
  spec/03-plugins/01-tcp-log/01-tcp-log_spec.lua
  spec/03-plugins/02-udp-log/01-udp-log_spec.lua
  spec/03-plugins/03-http-log/01-log_spec.lua
  spec/03-plugins/04-file-log/01-log_spec.lua
  spec/03-plugins/05-syslog/01-log_spec.lua
  spec/03-plugins/06-statsd/01-log_spec.lua
  spec/03-plugins/07-loggly/01-log_spec.lua
  spec/03-plugins/08-datadog/01-log_spec.lua
  spec/03-plugins/09-key-auth/02-access_spec.lua
  spec/03-plugins/10-basic-auth/03-access_spec.lua
  spec/03-plugins/11-correlation-id/01-access_spec.lua
  spec/03-plugins/14-request-termination/02-access_spec.lua
  spec/03-plugins/16-jwt/03-access_spec.lua
  spec/03-plugins/17-ip-restriction/02-access_spec.lua
  spec/03-plugins/19-hmac-auth/03-access_spec.lua
  spec/03-plugins/20-ldap-auth/01-access_spec.lua
  spec/03-plugins/21-bot-detection/01-access_spec.lua
  spec/03-plugins/23-rate-limiting/04-access_spec.lua
  spec/03-plugins/24-response-rate-limiting/04-access_spec.lua
  spec/03-plugins/25-oauth2/03-access_spec.lua
  spec/03-plugins/26-prometheus/02-access_spec.lua
  spec/03-plugins/26-prometheus/04-status_api_spec.lua
  spec/03-plugins/32-grpc-web/01-proxy_spec.lua
  spec/03-plugins/34-zipkin/zipkin_spec.lua
  spec/helpers.lua
Labels: pr/ready, chore, size/XL

#8716 perf(pdk) faster request.get_header
  kong/pdk/request.lua
  t/01-pdk/04-request/13-get_header.t
Labels: core/pdk, size/S

#8797 fix(balancer) set target status using hostname
  kong/runloop/balancer/init.lua
Labels: core/balancer, size/XS

#8810 feat(api) report plugin versions on server
  CHANGELOG.md
  kong/api/routes/kong.lua
Labels: pr/please review, core/admin-api, size/S, changelog

#8818 fix(clustering) localize config_version to avoid race condition from
  kong/clustering/wrpc_data_plane.lua
Labels: core/clustering, size/XS

#8821 feat(api) add plugin priority to metadata
  kong/api/routes/kong.lua
Labels: pr/please review, core/admin-api, size/XS

#8798 fix(api): use POST to add targets to specific upstream
  CHANGELOG.md
  kong/api/routes/upstreams.lua
  spec/02-integration/04-admin_api/07-upstreams_routes_spec.lua
  spec/02-integration/04-admin_api/08-targets_routes_spec.lua
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
  spec/02-integration/05-proxy/10-balancer/02-least-connections_spec.lua
  spec/fixtures/admin_api.lua
  spec/fixtures/balancer_utils.lua
Labels: pr/please review, core/admin-api, size/L, changelog

#8833 fix(api) metadata represent infinity and non-numbers
  kong/api/routes/kong.lua
Labels: core/admin-api, size/XS

#8835 docs(changelog) add breaking change notice for #8796
  CHANGELOG.md
Labels: pr/please review, size/XS, changelog

#8839 tests(healthchecks) fix flaky 401 test
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
Labels: size/M

#8845 chore(deps) bump resty.cassandra from 1.5.1 to 1.5.2
  CHANGELOG.md
  kong-2.8.0-0.rockspec
Labels: pr/please review, size/XS, changelog

#8813 chore(cluster) code clean
  kong/clustering/control_plane.lua
  kong/clustering/data_plane.lua
  kong/clustering/utils.lua
  kong/clustering/version_negotiation/init.lua
  kong/tools/grpc.lua
Labels: core/clustering, size/M

#8822 tests(plugin/key-auth) fix a flaky test
  spec/03-plugins/09-key-auth/02-access_spec.lua
Labels: pr/ready, size/XS

#8724 feat(pdk) tracing pdk and core instrumentation
  CHANGELOG.md
  kong-2.8.0-0.rockspec
  kong.conf.default
  kong/conf_loader/init.lua
  kong/globalpatches.lua
  kong/init.lua
  kong/pdk/init.lua
  kong/pdk/tracing.lua
  kong/plugins/zipkin/handler.lua
  kong/plugins/zipkin/kong-plugin-zipkin-1.4.1-1.rockspec
  kong/runloop/handler.lua
  kong/templates/kong_defaults.lua
  kong/tools/utils.lua
  kong/tracing/instrumentation.lua
  kong/tracing/propagation.lua
  spec/01-unit/26-tracing/01-tracer_pdk_spec.lua
  spec/01-unit/26-tracing/02-propagation_spec.lua
  spec/02-integration/14-tracing/01-instrumentations_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/tcp-trace-exporter/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/tcp-trace-exporter/schema.lua
  t/01-pdk/15-tracing/01-context.t
Labels: pr/please review, core/proxy, core/pdk, core/templates, core/configuration, plugins/zipkin, size/XXL, changelog

#8652 fix(plugins): change log level from error to info when restarting external plugin instance
  kong/runloop/plugin_servers/mp_rpc.lua
  kong/runloop/plugin_servers/pb_rpc.lua
Labels: core/language/go, core/language/python, core/language/js, size/S

#8855 chore(cluster) remove decode/encode_config in data_plane
  kong/clustering/data_plane.lua
  kong/clustering/utils.lua
  kong/clustering/wrpc_data_plane.lua
Labels: core/clustering, size/M

#8851 chore(clustering) remove wRPC flaky flag
  spec/02-integration/09-hybrid_mode/03-pki_spec.lua
Labels: size/XS

#8850 chore(deps) bump openresty from 1.19.9.1 to 1.21.4.1
  .requirements
  CHANGELOG.md
  kong/meta.lua
  spec/02-integration/04-admin_api/03-consumers_routes_spec.lua
  spec/02-integration/04-admin_api/14-tags_spec.lua
Labels: pr/please review, size/S, changelog

#8694 fix(balancer) start only needed upstream update timers
  kong/runloop/balancer/init.lua
  kong/runloop/balancer/upstreams.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
Labels: core/balancer, size/L

#8858 fix(upstreams) mark the update timer as scheduled
  kong/runloop/balancer/upstreams.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
Labels: core/balancer, size/XS

#8704 Remove config cache
  CHANGELOG.md
  kong/clustering/data_plane.lua
  kong/clustering/init.lua
  kong/clustering/utils.lua
  kong/clustering/wrpc_data_plane.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/02-integration/11-dbless/03-config_persistence.lua
Labels: pr/do not merge, pr/ready, core/clustering, size/L, changelog

#8867 docs(changelog) correct the config cache deprecation docs
  CHANGELOG.md
Labels: size/XS, changelog

#8873 chore(*) do not maintain fallbacks to luajit table goodies
  kong/cluster_events/strategies/postgres.lua
  kong/db/dao/init.lua
  kong/db/schema/init.lua
  kong/db/strategies/cassandra/init.lua
  kong/db/strategies/cassandra/tags.lua
  kong/db/strategies/postgres/init.lua
  kong/pdk/table.lua
  kong/router.lua
  kong/tools/utils.lua
  kong/tools/wrpc.lua
Labels: pr/please review, core/pdk, core/clustering, core/router, core/db, size/L

#8834 chore(cluster) head request to check wrpc endpoint
  kong/clustering/init.lua
  kong/clustering/version_negotiation/init.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/02-integration/09-hybrid_mode/02-start_stop_spec.lua
  spec/02-integration/09-hybrid_mode/03-pki_spec.lua
  spec/02-integration/09-hybrid_mode/05-ocsp_spec.lua
  spec/02-integration/09-hybrid_mode/06-version_negotiation_spec.lua
  spec/helpers.lua
Labels: core/clustering, size/L

#8866 Replace Konnect w/Konnect Cloud, add UTM params
  README.md
Labels: core/docs, size/XS

#8874 chore(*) remove kong singletons in favor of global kong
  CHANGELOG.md
  kong-2.8.0-0.rockspec
  kong/api/api_helpers.lua
  kong/api/init.lua
  kong/api/routes/kong.lua
  kong/api/routes/plugins.lua
  kong/db/dao/targets.lua
  kong/init.lua
  kong/pdk/init.lua
  kong/plugins/acl/acls.lua
  kong/plugins/ldap-auth/access.lua
  kong/runloop/balancer/healthcheckers.lua
  kong/runloop/balancer/targets.lua
  kong/runloop/balancer/upstreams.lua
  kong/runloop/certificate.lua
  kong/runloop/handler.lua
  kong/singletons.lua
  kong/status/init.lua
  spec/01-unit/09-balancer/01-generic_spec.lua
  spec/01-unit/09-balancer/02-least_connections_spec.lua
  spec/01-unit/09-balancer/03-consistent_hashing_spec.lua
  spec/01-unit/09-balancer/04-round_robin_spec.lua
  spec/01-unit/09-balancer/05-worker_consistency_spec.lua
  spec/01-unit/14-dns_spec.lua
  spec/01-unit/16-runloop_handler_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/cache/handler.lua
Labels: pr/please review, core/balancer, core/proxy, core/pdk, core/admin-api, core/db, plugins/ldap-auth, plugins/acl, size/L

#8878 fix(conf_loader) do not log `lua_ssl_trusted_certificate` warnings in…
  kong/conf_loader/init.lua
Labels: core/configuration, size/XS

#8864 refactor(wrpc) Refactor wRPC proto file process
  kong-2.8.0-0.rockspec
  kong/clustering/control_plane.lua
  kong/clustering/wrpc_control_plane.lua
  kong/clustering/wrpc_data_plane.lua
  kong/plugins/grpc-gateway/deco.lua
  kong/plugins/grpc-web/deco.lua
  kong/tools/grpc.lua
  kong/tools/wrpc/init.lua
  kong/tools/wrpc/proto.lua
  spec/01-unit/22-grpc-utils_spec.lua
Labels: core/clustering, plugins/grpc-web, plugins/grpc-gateway, size/L

#8735 Add resty.http timeouts to zipkin plugin
  CHANGELOG.md
  kong/plugins/zipkin/handler.lua
  kong/plugins/zipkin/reporter.lua
  kong/plugins/zipkin/schema.lua
  spec/03-plugins/34-zipkin/zipkin_spec.lua
Labels: plugins/zipkin, size/L, changelog
