Repository Kong/kong, pull requests merged in 2022-10, with the labels that each got.

#9478 fix(cmd): kong prepare to write out .kong_process_secrets
  kong/cmd/prepare.lua
  kong/cmd/utils/prefix_handler.lua
  spec/02-integration/02-cmd/09-prepare_spec.lua
Labels: pr/please review, core/cli, size/L

#9486 style(wrpc): typo fix recieve -> receive
  CHANGELOG.md
  kong/include/wrpc/wrpc.proto
  kong/tools/wrpc/future.lua
  spec/01-unit/19-hybrid/05-wrpc/future_spec.lua
Labels: size/XS, changelog

#9407 tests: fix some flaky tests
  .ci/run_tests.sh
  .github/workflows/build_and_test.yml
  spec/02-integration/02-cmd/02-start_stop_spec.lua
  spec/02-integration/02-cmd/12-hybrid_spec.lua
  spec/02-integration/02-cmd/13-signals_spec.lua
  spec/02-integration/04-admin_api/08-targets_routes_spec.lua
  spec/02-integration/06-invalidations/02-core_entities_invalidations_spec.lua
  spec/03-plugins/01-tcp-log/01-tcp-log_spec.lua
  spec/03-plugins/02-udp-log/01-udp-log_spec.lua
  spec/03-plugins/05-syslog/01-log_spec.lua
  spec/fixtures/balancer_utils.lua
  spec/helpers.lua
Labels: chore, size/XL

#9505 fix(*): do not use stale router data if workers are respawned
  kong/init.lua
  kong/runloop/handler.lua
Labels: core/proxy, size/S

#9480 fix(router/atc): check expression building error
  CHANGELOG.md
  kong/router/atc_compat.lua
  spec/01-unit/08-router_spec.lua
  spec/02-integration/05-proxy/02-router_spec.lua
Labels: size/L, changelog

#9511 fix(router/atc): properly handle expressions building error
  CHANGELOG.md
  kong/router/atc_compat.lua
  spec/01-unit/08-router_spec.lua
  spec/02-integration/05-proxy/02-router_spec.lua
Labels: size/L, changelog

#9453 chore(release): setup per-commit releases for past releases
  Jenkinsfile
Labels: size/XS

#9523 chore(tools): use native ngx.sleep in yield
  kong/globalpatches.lua
  kong/tools/utils.lua
Labels: size/XS

#9510 fix(admin): fix potentially truncate arguments
  kong/api/arguments.lua
  spec/02-integration/04-admin_api/21-truncated_arguments_spec.lua
Labels: core/admin-api, size/M

#9528 docs(CHANGELOG): add missing document for #9510
  CHANGELOG.md
Labels: size/XS, changelog

#9534 fix(ci): move the github token location
  Jenkinsfile
Labels: size/XS

#9535 chore(deps): bump openssl from 1.1.1q to 1.1.1r
  .requirements
  CHANGELOG.md
Labels: pr/please review, size/XS, changelog

#9530 fix(admin): increase max uri and post arguments to 1000 (backport 2.8)
  CHANGELOG.md
  kong/api/arguments.lua
  spec/02-integration/04-admin_api/21-truncated_arguments_spec.lua
Labels: core/admin-api, size/M

#9456 perf(plugins-iterator): cache globals and replace iterators with iterator getters
  kong/init.lua
  kong/runloop/plugins_iterator.lua
Labels: core/proxy, size/L

#9543 Revert "chore(deps): bump openssl from 1.1.1q to 1.1.1r (#9535)"
  .requirements
  CHANGELOG.md
Labels: size/XS, changelog

#9533 feat(hash): replace md5 with sha256 on proxy-cache plugin
  kong/plugins/proxy-cache/cache_key.lua
  kong/plugins/proxy-cache/handler.lua
  kong/tools/utils.lua
  spec/03-plugins/31-proxy-cache/02-access_spec.lua
  spec/03-plugins/31-proxy-cache/03-api_spec.lua
Labels: plugins/proxy-cache, size/L

#9432 perf(clustering): use privileged worker for control plane connection
  CHANGELOG.md
  kong/clustering/data_plane.lua
  kong/clustering/init.lua
  kong/clustering/utils.lua
  kong/clustering/wrpc_data_plane.lua
  kong/globalpatches.lua
  kong/init.lua
Labels: pr/please review, core/clustering, size/M, changelog

#9547 style(plugin_servers): some localization of functions
  kong/runloop/plugin_servers/init.lua
Labels: core/language/go, core/language/python, core/language/js, size/M

#9546 fix(PDK): req.start_time for PDK log phase
  kong/runloop/plugin_servers/init.lua
Labels: core/language/go, core/language/python, core/language/js, size/XS

#9555 fix(url): adjust the pulp admin api links
  Jenkinsfile
Labels: size/XS

#9558 deps(requirements): bump atc-router to 1.0.1
  .requirements
  CHANGELOG.md
Labels: size/XS, changelog

#9536 fix(cli): shut down timers at the end of execution
  CHANGELOG.md
  kong/cmd/init.lua
Labels: core/cli, size/S, changelog

#9515 style(router/atc): pass `phase` param to `yield`
  kong/router/atc.lua
Labels: size/S

#9518 style(router/atc): check fields with `is_empty_field` when we calc priority
  kong/router/compat.lua
  spec/01-unit/08-router_spec.lua
Labels: size/M

#9517 chore(router/atc): remove last dot in sni
  kong/router/compat.lua
Labels: size/S

#9516 style(router/atc): reduce temporary string in regex path checking
  kong/router/compat.lua
Labels: size/XS

#9569 style(router/atc): define constant LOGICAL_AND/OR
  kong/router/atc.lua
  kong/router/compat.lua
  kong/router/expressions.lua
Labels: size/S

#9519 chore(router/atc): cache split host port results
  kong/router/atc.lua
Labels: size/M

#9551 style(plugin_server): small code clean for plugin server
  kong/init.lua
  kong/runloop/plugin_servers/init.lua
Labels: core/language/go, core/language/python, core/language/js, size/M

#9380 feat(aws-lambda): add requestContext field into aws-gateway-compatible input
  CHANGELOG.md
  kong/plugins/aws-lambda/aws-serializer.lua
  spec/03-plugins/27-aws-lambda/05-aws-serializer_spec.lua
Labels: pr/please review, plugins/aws-lambda, size/L, changelog

#9173 feat(zipkin) support adding trace id in response header
  kong/plugins/zipkin/handler.lua
  kong/plugins/zipkin/schema.lua
  spec/03-plugins/34-zipkin/zipkin_spec.lua
Labels: plugins/zipkin, size/M

#9280 fix(tracing): correct matching ot baggage headers
  CHANGELOG.md
  kong/tracing/propagation.lua
  spec/01-unit/26-tracing/02-propagation_spec.lua
Labels: pr/ready, size/M, changelog, core/tracing

#9575 style(*): style fix for plugin server and changelog
  CHANGELOG.md
  kong/runloop/plugin_servers/init.lua
Labels: core/language/go, core/language/python, core/language/js, size/S, changelog

#9514 fix(clustering): DP friendly msg when CP offline
  kong/clustering/data_plane.lua
  kong/clustering/wrpc_data_plane.lua
  kong/tools/utils.lua
  spec/02-integration/09-hybrid_mode/02-start_stop_spec.lua
Labels: core/clustering, size/M

#9572 tests(integration/proxy/balancer/consistent-hashing): mark as a flaky test group
  spec/02-integration/05-proxy/10-balancer/03-consistent-hashing_spec.lua
Labels: size/XS

#9477 feat(report): route statistic
  kong/reports.lua
  kong/router/atc.lua
  kong/router/init.lua
  kong/router/traditional.lua
  kong/router/utils.lua
  spec/02-integration/05-proxy/22-reports_spec.lua
Labels: size/L

#9506 fix(cmd): kong prepare to write out .kong_process_secrets (#9478)
  kong/cmd/prepare.lua
  kong/cmd/utils/prefix_handler.lua
  spec/02-integration/02-cmd/09-prepare_spec.lua
Labels: core/cli, size/L

#9513 refactor(error_handlers):simplify error handlers
  kong/error_handlers.lua
Labels: size/M

#9583 chore(deps): bump lua-resty-openssl from 0.8.10 to 0.8.13
  CHANGELOG.md
  kong-3.1.0-0.rockspec
Labels: pr/please review, changelog

#9584 chore(utils): reflecting changes in ee utils
  kong/conf_loader/init.lua
  kong/tools/utils.lua
Labels: core/configuration, size/M

#9579 style(db/declarative): small code clean
  kong/db/declarative/init.lua
Labels: core/db, size/M

#9585 doc(changelog): fix PR link for #9583
  CHANGELOG.md
Labels: size/XS, changelog

#9565 tests(migrations): add 3.1 migrations spec
  .github/workflows/upgrade-tests.yml
  spec/05-migration/db/migrations/core/017_300_to_310_spec.lua
Labels: chore, size/S

#9586 style(db): declarative migration clean
  kong/clustering/control_plane.lua
  kong/clustering/wrpc_control_plane.lua
  kong/db/declarative/migrations/route_path.lua
  kong/db/migrations/migrate_path_280_300.lua
Labels: core/db/migrations, core/clustering, core/db, size/M

#9580 style(router): code clean and optimization for phonehome_statistics
  kong/router/atc.lua
  kong/router/init.lua
  kong/router/traditional.lua
  kong/router/utils.lua
Labels: size/L

#9431 feat(db): entity transformations
  CHANGELOG.md
  kong/db/schema/init.lua
  kong/db/schema/metaschema.lua
  spec/01-unit/01-db/01-schema/01-schema_spec.lua
  spec/01-unit/01-db/01-schema/02-metaschema_spec.lua
  spec/02-integration/03-db/11-db_transformations_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/transformations/daos.lua
  spec/fixtures/custom_plugins/kong/plugins/transformations/migrations/000_base_transformations.lua
Labels: pr/please review, core/db, size/L, changelog

#9337 fix(core): ensure absolute path is used for event sock
  CHANGELOG.md
  kong/cmd/start.lua
  kong/global.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
Labels: core/cli, size/M, changelog

#9591 fix(core): ensure absolute path is used for event sock
  CHANGELOG.md
  kong/cmd/start.lua
  kong/global.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
Labels: core/cli, size/M, changelog

#9594 fix(plugins/zipkin): correctly parse `ot` baggage headers
  CHANGELOG.md
  kong/tracing/propagation.lua
  spec/01-unit/26-tracing/02-propagation_spec.lua
Labels: size/M, changelog, core/tracing

#9596 docs(changelog): remove incorrect entries
  CHANGELOG.md
Labels: size/XS, changelog

#9442 fix(request-transformer): unpredictable overriding result from rename header to existing header caused by pairs disorder
  CHANGELOG.md
  kong/plugins/request-transformer/access.lua
  spec/03-plugins/36-request-transformer/02-access_spec.lua
Labels: pr/please review, plugins/request-transformer, size/L, changelog

#9595 refactor(handler): trying to make reconfigure more atomic
  kong/runloop/handler.lua
  kong/runloop/plugins_iterator.lua
Labels: core/proxy, size/XL

#9600 chore(deps): bump lua-resty-openssl from 0.8.13 to 0.8.14
  CHANGELOG.md
  kong-3.1.0-0.rockspec
Labels: pr/please review, size/XS, changelog

#9598 fix(aws-lambda): accept only true|false|nil for isBase64Encode
  kong/plugins/aws-lambda/handler.lua
  spec/03-plugins/27-aws-lambda/99-access_spec.lua
  spec/fixtures/aws-lambda.lua
Labels: plugins/aws-lambda, size/M

#9526 fix(pdk): response.exit accept bytes
  CHANGELOG.md
  kong/include/kong/pluginsocket.proto
  kong/runloop/plugin_servers/pb_rpc.lua
Labels: core/language/go, core/language/python, core/language/js, size/S, changelog

#9507 fix(pluginserver): error if req come before ready
  kong/runloop/plugin_servers/init.lua
  kong/runloop/plugin_servers/mp_rpc.lua
  kong/runloop/plugin_servers/pb_rpc.lua
  kong/runloop/plugin_servers/process.lua
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
Labels: core/language/go, core/language/python, core/language/js, size/L

#9607 chore(deps): bump lyaml from 6.2.7 to 6.2.8
  CHANGELOG.md
  kong-3.1.0-0.rockspec
Labels: size/XS, changelog

#9610 chore(dependency): bump the kong-build-tools dependency
  .requirements
Labels: size/XS

#9375 chore(ci) limit test runs for push events
  .github/workflows/build_and_test.yml
Labels: chore, size/XS

#8939 fix(admin): return `404` on deletion of child of non-existent entity
  kong/api/endpoints.lua
  spec/02-integration/04-admin_api/17-foreign-entity_spec.lua
Labels: core/admin-api, size/S

#9605 tests(balancer): fix flaky tests
  .requirements
  spec/02-integration/05-proxy/10-balancer/03-consistent-hashing_spec.lua
  spec/fixtures/balancer_utils.lua
  spec/helpers.lua
Labels: size/L

#9599 style(api): api code clean
  kong/api/api_helpers.lua
  kong/api/endpoints.lua
Labels: core/admin-api, size/M

#9568 docs(admin-api): add note for `https_redirect_status_code`
  autodoc/admin-api/data/admin-api.lua
Labels: pr/ready, size/XS, autodoc

#8695 docs(autodoc) Set source_url for PR checks and fix formatting
  autodoc/admin-api/data/admin-api.lua
  autodoc/admin-api/generate.lua
  autodoc/cli/data.lua
  autodoc/pdk/ldoc/ldoc.ltp
  autodoc/upgrading/generate.lua
Labels: size/S, autodoc

#9618 chore: bump kong-build-tools to 4.25.4
  .requirements
Labels: size/XS

#9617 chore(Github Action) fix job `lint-doc-and-unit-tests`
  .github/workflows/build_and_test.yml
Labels: chore, size/XS

#8930 feat(rate-limting) allow to set error code and error message
  kong/plugins/rate-limiting/handler.lua
  kong/plugins/rate-limiting/schema.lua
  spec/03-plugins/23-rate-limiting/04-access_spec.lua
Labels: plugins/rate-limiting, size/M

#9616 fix(clustering): race cond for new DP and new cfg
  CHANGELOG.md
  kong/clustering/control_plane.lua
  kong/clustering/wrpc_control_plane.lua
Labels: core/clustering, size/S, changelog

#9537 chore(release) Deduplicating grep-kong-version.sh script
  Makefile
  distribution/grep-kong-version.sh
Labels: size/S

#9448 chore(error_handlers): define response message for trace method 405 error status code
  CHANGELOG.md
  kong/error_handlers.lua
  spec/02-integration/05-proxy/13-error_handlers_spec.lua
  spec/fixtures/custom_nginx.template
Labels: size/S, changelog

#9622 chore(ci): fail on do-not-merge label
  .github/workflows/label-check.yml
Labels: chore, size/S

#9631 fix(clustering): log the correct error message var
  kong/clustering/data_plane.lua
Labels: core/clustering, size/XS

#9457 fix(opentelemetry): set default propagation type to w3c
  kong/plugins/opentelemetry/handler.lua
  spec/03-plugins/37-opentelemetry/03-propagation_spec.lua
Labels: pr/please review, size/S, plugins/opentelemetry

#9625 tests(https_server): retry if failed to start Nginx
  spec/fixtures/https_server.lua
Labels: pr/ready, size/S

#9504 fix(otel): use `BatchQueue` to avoid worker-level table data race
  kong/pdk/tracing.lua
  kong/plugins/opentelemetry/handler.lua
  spec/03-plugins/37-opentelemetry/04-exporter_spec.lua
  spec/03-plugins/37-opentelemetry/05-otelcol_spec.lua
Labels: pr/please review, core/pdk, size/L, core/tracing, plugins/opentelemetry

#9620 docs(changelog): add entry for #8930
  CHANGELOG.md
Labels: size/XS, changelog

#8933 tests(helpers): add file waiter
  spec/02-integration/01-helpers/01-helpers_spec.lua
  spec/02-integration/02-cmd/03-reload_spec.lua
  spec/02-integration/02-cmd/06-restart_spec.lua
  spec/02-integration/02-cmd/12-hybrid_spec.lua
  spec/helpers.lua
Labels: size/L

#8932 tests(helpers): add a reopen option to proxy http clients
  spec/02-integration/01-helpers/01-helpers_spec.lua
  spec/03-plugins/26-prometheus/04-status_api_spec.lua
  spec/helpers.lua
Labels: size/L

#9606 fix(router/atc): exports atc.schema for entities checking
  kong/db/schema/entities/routes.lua
  kong/router/atc.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
Labels: core/db, size/M, schema-change-noteworthy

#9400 fix(request-termination): status_code cannot be set as null
  kong/plugins/request-termination/schema.lua
  spec/03-plugins/14-request-termination/01-schema_spec.lua
Labels: size/XS, plugins/request-termination

#8929 doc(spec): Fix the variable according to `helpers.redis_host`
  spec/README.md
Labels: core/docs, size/XS

#9050 (Grammar Changes) Update bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: chore, size/XS

#9626 feat(acme): add support for redis SSL
  CHANGELOG.md
  kong-3.1.0-0.rockspec
  kong/plugins/acme/schema.lua
  spec/03-plugins/29-acme/05-redis_storage_spec.lua
Labels: plugins/acme, size/M, version-compatibility, changelog

#8941 fix(oauth2): specify correct client type in `code_challenge` error msg
  kong/plugins/oauth2/access.lua
  spec/03-plugins/25-oauth2/03-access_spec.lua
Labels: plugins/oauth2, size/XS

#9642 tests(*): remove httpbin.org from integration tests
  spec/02-integration/04-admin_api/09-routes_routes_spec.lua
  spec/02-integration/05-proxy/07-upstream_timeouts_spec.lua
  spec/03-plugins/27-aws-lambda/99-access_spec.lua
  spec/03-plugins/30-session/01-access_spec.lua
  spec/03-plugins/30-session/02-kong_storage_adapter_spec.lua
  spec/03-plugins/34-zipkin/zipkin_spec.lua
  spec/03-plugins/35-azure-functions/01-access_spec.lua
  t/03-dns-client/02-timer-usage.t
Labels: size/M

#8904 tests(fixtures): fortify service creation
  spec/fixtures/balancer_utils.lua
Labels: size/XS

#9525 fix: add missing protocols field to plugins
  CHANGELOG.md
  kong/plugins/azure-functions/schema.lua
  kong/plugins/grpc-gateway/schema.lua
  kong/plugins/grpc-web/schema.lua
  kong/plugins/pre-function/_schema.lua
  kong/plugins/prometheus/schema.lua
  kong/plugins/proxy-cache/schema.lua
  kong/plugins/request-transformer/schema.lua
  kong/plugins/session/schema.lua
  kong/plugins/zipkin/schema.lua
Labels: plugins/request-transformer, plugins/serverless-functions, plugins/proxy-cache, plugins/grpc-web, plugins/grpc-gateway, plugins/prometheus, plugins/session, plugins/zipkin, plugins/azure-functions, size/S, changelog
