Repository Kong/kong, pull requests merged in 2023-11, with the labels that each got.

#11903 chore(deps): bump `atc-router` to `v1.3.1`
  .requirements
  build/openresty/atc_router/atc_router_repositories.bzl
  changelog/unreleased/kong/bump_atc_router.yml
  scripts/explain_manifest/suites.py
Labels: size/S, build/bazel

#11908 [cherry release/3.4.x] tests(azure-functions): remove usage of mockbin in `azure-functions` tests (#11879)
  spec/03-plugins/35-azure-functions/01-access_spec.lua
Labels: size/M

#11904 refactor(router): use rust style raw string in expression
  kong/router/atc.lua
  kong/router/compat.lua
  spec/01-unit/08-router_spec.lua
Labels: skip-changelog, size/M

#11884 refactor(tools): separate string functions from tools.utils
  kong/tools/string.lua
  kong/tools/utils.lua
Labels: skip-changelog, size/L

#11304 refactor(runloop/wasm): optimize hash_chain_entity with string.buffer
  kong/runloop/wasm.lua
Labels: core/proxy, skip-changelog, size/S

#11731 feat(db): add `examples` to metaschema fields
  kong/db/schema/metaschema.lua
Labels: core/db, skip-changelog, size/XS, schema-change-noteworthy

#11920 refactor(tools): cache lower(unit) for `bytes_to_str()`
  kong/tools/string.lua
Labels: skip-changelog, size/S

#11918 style(tools): optimize calls of string.find
  kong/tools/utils.lua
Labels: skip-changelog, size/XS

#11912 docs(kong.conf.default): update descriptions for `nginx_http_lua_rege…
  kong.conf.default
Labels: size/XS

#11934 Revert "feat(testing): add reconfiguration completion detection mechanism"
  changelog/unreleased/reconfiguration-completion-detection.yml
  kong/clustering/config_helper.lua
  kong/clustering/control_plane.lua
  kong/clustering/data_plane.lua
  kong/db/declarative/import.lua
  kong/db/strategies/postgres/connector.lua
  kong/db/strategies/postgres/init.lua
  kong/global.lua
  kong/runloop/handler.lua
  spec/02-integration/04-admin_api/24-reconfiguration-completion_spec.lua
Labels: core/proxy, core/clustering, core/db, skip-changelog, size/L

#11811 refactor(pdk): serialize log msg with string.buffer
  kong/pdk/log.lua
Labels: pr/discussion, core/logs, skip-changelog, size/M

#11859 fix(rate-limiting): counters accuracy with redis policy & sync_rate
  changelog/unreleased/kong/rate-limiting-fix-redis-sync-rate.yml
  kong/plugins/rate-limiting/policies/init.lua
  spec/03-plugins/23-rate-limiting/02-policies_spec.lua
Labels: plugins/rate-limiting, size/L

#11938 docs(CHANGELOG): migrate changelogs from CHANGELOG.md to correct place
  CHANGELOG.md
  changelog/3.5.0/3.5.0.md
Labels: core/docs, size/L, changelog

#11819 refactor(pluginserver): reset instance triggers invalidation
  kong/runloop/plugin_servers/init.lua
  kong/runloop/plugin_servers/pb_rpc.lua
  kong/runloop/plugins_iterator.lua
Labels: core/language/go, core/proxy, core/language/python, core/language/js, size/M

#11919 fix(conf_loader): adjust Wasm shm_kv nginx.conf prefix
  changelog/unreleased/kong/wasm-injected-shm-kv.yml
  kong.conf.default
  kong/conf_loader/init.lua
  kong/templates/nginx.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/fixtures/custom_nginx.template
Labels: core/templates, core/configuration, size/S

#11926 fix(db): pg store connection called without self
  kong/db/strategies/postgres/connector.lua
Labels: core/db, skip-changelog, size/XS, backport release/3.5.x

#11928 fix(acl-plugin): Move schema descriptions into the right field
  kong/plugins/acl/schema.lua
Labels: plugins/acl, skip-changelog, size/XS, schema-change-noteworthy

#11916 fix(opentelemetry): Add missing descriptions to schema
  kong/plugins/opentelemetry/schema.lua
Labels: skip-changelog, size/S, plugins/opentelemetry, schema-change-noteworthy

#11937 refactor(pdk): output content with string.buffer
  kong/pdk/service/request.lua
Labels: core/pdk, skip-changelog, size/M

#11680 docs(kong.conf): Add names of referenced caches to mem_cache_size parameter
  kong.conf.default
Labels: skip-changelog, size/XS

#11899 tests(dns): add a test case to cover dns resolution in stream subsystem
  spec/02-integration/05-proxy/05-dns_spec.lua
Labels: skip-changelog, size/M

#11905 fix(router): http headers sensitive for expressions and insensitive for traditional_compatible
  changelog/unreleased/kong/expression_http_headers_sensitive.yml
  kong/router/atc.lua
  kong/router/compat.lua
  spec/01-unit/08-router_spec.lua
Labels: size/L

#11923 fix(keys): validate public and private key
  changelog/unreleased/kong/validate_private_key.yml
  kong/db/dao/keys.lua
  kong/db/schema/typedefs.lua
  kong/plugins/acme/client.lua
  spec/01-unit/01-db/01-schema/03-typedefs_spec.lua
  spec/02-integration/03-db/18-keys_spec.lua
Labels: plugins/acme, core/db, size/L, schema-change-noteworthy

#11914 refactor(router): http/stream subsystem does not share schema
  changelog/unreleased/kong/subsystems_do_not_share_router_schemas.yml
  kong/db/schema/entities/routes.lua
  kong/router/atc.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
Labels: core/db, size/L, schema-change-noteworthy

#11946 docs(COPYRIGHT): update copyright for 3.5.0
  COPYRIGHT
Labels: size/L

#11936 fix(pdk): response send function should ignore transfer-encoding correctly
  changelog/unreleased/kong/pdk-response-send-remove-transfer-encoding.yml
  kong/pdk/response.lua
  spec/03-plugins/27-aws-lambda/99-access_spec.lua
  spec/fixtures/aws-lambda.lua
  t/01-pdk/08-response/11-exit.t
Labels: core/pdk, size/M

#11952 chore(deps): bump openresty from 1.21.4.2 to 1.21.4.3
  .requirements
  build/openresty/patches/nginx-1.21.4_09-http2-rapid-reset-ddos-attack-cve-2023-44487.patch
  build/openresty/repositories.bzl
  changelog/unreleased/kong/bump-openresty-1.21.4.3.yml
  kong/meta.lua
Labels: pr/please review, size/M, build/bazel

#11954 chore(deps): bump resty-openssl from 0.8.25 to 1.0.1
  changelog/unreleased/kong/bump-resty-openssl-1.0.1.yml
  kong-3.6.0-0.rockspec
Labels: pr/please review, size/XS

#11955 chore(deps): bump lpeg from 1.0.2 to 1.1.0
  changelog/unreleased/kong/bump-lpeg-1.1.0.yml
  kong-3.6.0-0.rockspec
Labels: pr/please review, size/XS

#11956 chore(deps): bump lua-messagepack from 0.5.2 to 0.5.3
  changelog/unreleased/kong/bump-lua-messagepack-0.5.3.yml
  kong-3.6.0-0.rockspec
Labels: pr/please review, size/XS

#11902 tests(*): improve http mock
  spec/helpers/http_mock.lua
Labels: skip-changelog, size/S

#11949 refactor(tools): separate system-related functions from tools.utils
  kong-3.6.0-0.rockspec
  kong/tools/system.lua
  kong/tools/utils.lua
Labels: skip-changelog, size/L

#11958 chore(version): bump versions to 3.5.1
  kong-3.5.1-0.rockspec
  kong/meta.lua
Labels: skip-changelog, size/XS

#11924 chore: improve backporting process
  .github/workflows/backport.yml
Labels: chore, size/M, backport release/3.0.x, backport release/3.1.x, backport release/3.2.x, backport release/3.3.x, backport release/3.4.x, backport release/3.5.x

#11948 refactor(router): simplify the functions of cache calculation
  kong/router/atc.lua
Labels: skip-changelog, size/S

#11964 refactor(tools): separate time functions from tools.utils
  kong-3.6.0-0.rockspec
  kong/tools/time.lua
  kong/tools/utils.lua
Labels: skip-changelog, size/L

#11965 refactor(tools): move sort_by_handler_priority to DAO
  kong/db/dao/plugins.lua
  kong/tools/utils.lua
Labels: core/db, skip-changelog, size/M, schema-change-noteworthy

#11971 docs(changelog): Post 3.5.0 changelog update
  CHANGELOG.md
  changelog/3.5.0/3.5.0.md
  changelog/3.5.0/kong/.gitkeep
  changelog/3.5.0/kong/10570.yml
  changelog/3.5.0/kong/11360-1.yml
  changelog/3.5.0/kong/11360-2.yml
  changelog/3.5.0/kong/11402.yml
  changelog/3.5.0/kong/11424.yml
  changelog/3.5.0/kong/11442.yml
  changelog/3.5.0/kong/11464.yml
  changelog/3.5.0/kong/11468.yml
  changelog/3.5.0/kong/11480.yml
  changelog/3.5.0/kong/11484.yml
  changelog/3.5.0/kong/11502.yml
  changelog/3.5.0/kong/11515.yml
  changelog/3.5.0/kong/11518.yml
  changelog/3.5.0/kong/11523.yml
  changelog/3.5.0/kong/11532.yml
  changelog/3.5.0/kong/11538.yml
  changelog/3.5.0/kong/11551-1.yml
  changelog/3.5.0/kong/11551-2.yml
  changelog/3.5.0/kong/11553.yml
  changelog/3.5.0/kong/11566.yml
  changelog/3.5.0/kong/11578.yml
  changelog/3.5.0/kong/11599.yml
  changelog/3.5.0/kong/11613.yml
  changelog/3.5.0/kong/11638.yml
  changelog/3.5.0/kong/11639.yml
  changelog/3.5.0/kong/11727.yml
  changelog/3.5.0/kong/aws_lambda_service_cache.yml
  changelog/3.5.0/kong/bump_openssl_3.1.4.yml
  changelog/3.5.0/kong/dedicated_config_processing.yml
  changelog/3.5.0/kong/fix-cve-2023-44487.yml
  changelog/3.5.0/kong/fix-opentelemetry-parent-id.yml
  changelog/3.5.0/kong/fix-tcp-log-sslhandshake.yml
  changelog/3.5.0/kong/fix_dns_enable_dns_no_sync.yml
  changelog/3.5.0/kong/fix_patch_order.yml
  changelog/3.5.0/kong/lapis_version_bump.yml
  changelog/3.5.0/kong/lua_kong_nginx_module_bump.yml
  changelog/3.5.0/kong/luajit_ldp_stp_fusion.yml
  changelog/3.5.0/kong/ngx_wasm_module_bump.yml
  changelog/3.5.0/kong/on_prem_dp_metadata.yml
  changelog/3.5.0/kong/per_reqeuest_deubgging.yml
  changelog/3.5.0/kong/plugin-configure-phase.yml
  changelog/3.5.0/kong/request-aware-table.yml
  changelog/3.5.0/kong/request_id.yml
  changelog/3.5.0/kong/session_do_not_read_body_by_default.yml
  changelog/3.5.0/kong/vault-declarative.yml
  changelog/3.5.0/kong/vault-init-warmup.yml
  changelog/3.5.0/kong/vault-resurrect.yml
  changelog/3.5.0/kong/wasm-filter-config-schemas.yml
  changelog/3.5.0/kong/wasm-filter-json-config.yml
  changelog/3.5.0/kong/wasmtime_version_bump.yml
  changelog/unreleased/kong-manager/.gitkeep
Labels: core/docs, skip-changelog, size/L, changelog

#11695 feat(db): allow primary key passed as full entity to DAOs
  changelog/unreleased/kong/dao-pk-as-entity.yml
  kong/clustering/control_plane.lua
  kong/db/dao/certificates.lua
  kong/db/dao/init.lua
  kong/db/dao/snis.lua
  kong/db/dao/targets.lua
  kong/pdk/client.lua
  kong/plugins/acme/client.lua
  kong/plugins/acme/storage/kong.lua
  kong/plugins/oauth2/access.lua
  kong/plugins/proxy-cache/api.lua
  kong/plugins/proxy-cache/handler.lua
  kong/runloop/balancer/upstreams.lua
  spec/02-integration/03-db/02-db_core_entities_spec.lua
  spec/02-integration/03-db/03-plugins_spec.lua
  spec/02-integration/03-db/08-declarative_spec.lua
  spec/02-integration/03-db/10-db_unique_foreign_spec.lua
  spec/02-integration/03-db/11-db_transformations_spec.lua
  spec/02-integration/03-db/12-dao_hooks_spec.lua
  spec/02-integration/03-db/13-cluster_status_spec.lua
  spec/02-integration/03-db/18-keys_spec.lua
  spec/02-integration/03-db/19-key-sets_spec.lua
  spec/02-integration/04-admin_api/03-consumers_routes_spec.lua
  spec/02-integration/04-admin_api/04-plugins_routes_spec.lua
  spec/02-integration/04-admin_api/06-certificates_routes_spec.lua
  spec/02-integration/04-admin_api/09-routes_routes_spec.lua
  spec/02-integration/04-admin_api/10-services_routes_spec.lua
  spec/02-integration/04-admin_api/17-foreign-entity_spec.lua
  spec/02-integration/13-vaults/01-vault_spec.lua
  spec/02-integration/20-wasm/02-db_spec.lua
  spec/03-plugins/10-basic-auth/05-declarative_spec.lua
  spec/03-plugins/16-jwt/02-api_spec.lua
  spec/03-plugins/25-oauth2/01-schema_spec.lua
  spec/03-plugins/25-oauth2/03-access_spec.lua
  spec/03-plugins/29-acme/01-client_spec.lua
Labels: core/balancer, plugins/oauth2, core/pdk, core/clustering, plugins/acme, core/db, plugins/proxy-cache, size/XL, schema-change-noteworthy

#11967 refactor(pdk): move ffi.cdef gethostname from tools into pdk
  kong/pdk/node.lua
  kong/tools/utils.lua
Labels: core/pdk, skip-changelog, size/S

#11988 [backport -> release/3.4.x] chore: improve backporting process
  .github/workflows/backport.yml
Labels: chore, size/M

#11989 [backport -> release/3.3.x] chore: improve backporting process
  .github/workflows/backport.yml
Labels: chore, size/M

#11983 chore(patches): fix ldoc intermittent fail caused by LuaJIT
  build/openresty/patches/LuaJIT-2.1-20230410_08_ldoc_error_fix.patch
  changelog/unreleased/kong/fix-ldoc-intermittent-fail.yml
Labels: size/S, build/bazel

#11986 chore(deps): bump busted from 2.1.2 to 2.2.0
  Makefile
Labels: pr/please review, skip-changelog, size/XS

#12001 fix(*): rename Kong-Transaction-Id header to Kong-Test-Transaction-Id
  changelog/unreleased/reconfiguration-completion-detection.yml
  kong/init.lua
  kong/runloop/handler.lua
  spec/02-integration/04-admin_api/02-kong_routes_spec.lua
  spec/02-integration/04-admin_api/24-reconfiguration-completion_spec.lua
Labels: core/proxy, size/S

#11998 style(pdk): remove outdated comments of kong.singletons
  kong/pdk/init.lua
Labels: core/pdk, skip-changelog, size/XS

#11623 feat(conf): inject nginx directives into kong's proxy location block
  changelog/unreleased/kong/inject-nginx-directives-location.yml
  kong.conf.default
  kong/conf_loader/init.lua
  kong/templates/nginx_kong.lua
  spec/01-unit/04-prefix_handler_spec.lua
Labels: core/templates, core/configuration, size/S, author/community

#11959 chore(ci): add ngx_wasm_module bump workflow
  .github/workflows/update-ngx-wasm-module.yml
Labels: chore, size/L

#12008 perf(router): cooperatively yield when building statistics of routes
  kong/router/utils.lua
Labels: pr/please review, skip-changelog, size/S

#11985 refactor(tools): remove gzip module reference in utils.lua
  kong/clustering/compat/init.lua
  kong/clustering/control_plane.lua
  kong/clustering/data_plane.lua
  kong/tools/utils.lua
  spec/01-unit/05-utils_spec.lua
  spec/01-unit/19-hybrid/03-compat_spec.lua
  spec/helpers.lua
Labels: core/clustering, skip-changelog, size/S

#12013 docs(changelog): cooperatively yield when building statistics of routes
  changelog/unreleased/kong/router-report-yield.yml
Labels: pr/please review, size/XS

#12006 chore(pdk): doc a known issue of get_headers()
  kong/pdk/service/response.lua
Labels: core/pdk, skip-changelog, size/XS

#11996 fix(tracing): patch dns query function earlier
  changelog/unreleased/kong/tracing-dns-query-patch.yml
  kong/globalpatches.lua
  kong/tracing/instrumentation.lua
  spec/02-integration/14-tracing/01-instrumentations_spec.lua
Labels: size/L, core/tracing

#11935 fix(tracing): error when DNS query fails
  changelog/unreleased/kong/fix_dns_instrument_error_handling.yml
  kong/tracing/instrumentation.lua
  spec/02-integration/14-tracing/01-instrumentations_spec.lua
Labels: size/M, core/tracing

#12017 chore(tests): deprecate uses of mockbin.com
  spec/03-plugins/09-key-auth/02-access_spec.lua
Labels: size/S

#11900 fix(dns): Eliminate asynchronous timer in syncQuery() to prevent hang risk
  changelog/unreleased/kong/fix_dns_blocking.yml
  changelog/unreleased/kong/fix_dns_disable_dns_no_sync.yml
  kong.conf.default
  kong/resty/dns/client.lua
  kong/templates/kong_defaults.lua
  spec/01-unit/21-dns-client/02-client_spec.lua
  t/03-dns-client/01-phases.t
  t/03-dns-client/02-timer-usage.t
Labels: core/templates, size/L

#12012 refactor(tools): separate IP-related functions from tool.utils
  kong-3.6.0-0.rockspec
  kong/tools/ip.lua
  kong/tools/utils.lua
Labels: skip-changelog, size/XL

#12018 refactor(tools): separate module-related functions from tool.utils
  kong-3.6.0-0.rockspec
  kong/tools/module.lua
  kong/tools/utils.lua
Labels: skip-changelog, size/M

#12023 chore: trigger backport on label addition
  .github/workflows/backport.yml
Labels: chore, size/XS, backport release/3.3.x, backport release/3.4.x, backport release/3.5.x

#12002 refactor(tools): move topological_sort from tools.utils to db.utils
  kong-3.6.0-0.rockspec
  kong/db/schema/topological_sort.lua
  kong/db/strategies/postgres/connector.lua
  kong/db/utils.lua
  kong/tools/utils.lua
  spec/01-unit/05-utils_spec.lua
Labels: core/db, skip-changelog, size/L, schema-change-noteworthy

#11850 fix(plugin/azure-function): clear upstream uri and request uri inject plugin logic
  changelog/unreleased/kong/fix-upstream-uri-azure-function-plugin.yml
  kong/plugins/azure-functions/handler.lua
  spec/03-plugins/35-azure-functions/01-access_spec.lua
Labels: plugins/azure-functions, size/M

#12014 refactor(router): move some declarations into local scope
  kong/router/utils.lua
Labels: skip-changelog, size/XS

#12027 refactor(tools): separate HTTP-related functions from tool.utils
  kong-3.6.0-0.rockspec
  kong/tools/http.lua
  kong/tools/utils.lua
Labels: skip-changelog, size/XXL

#12046 style(tools): small style fixes for ip module
  kong/tools/ip.lua
Labels: skip-changelog, size/XS

#12048 style(tools): optimize string operations in http module
  kong/tools/http.lua
  kong/tools/string.lua
Labels: skip-changelog, size/S

#11921 feat(cp): add dp cert details
  changelog/unreleased/kong/cp-expose-dp-cert-details.yml
  kong-3.6.0-0.rockspec
  kong/clustering/control_plane.lua
  kong/clustering/init.lua
  kong/clustering/tls.lua
  kong/db/migrations/core/022_350_to_360.lua
  kong/db/migrations/core/init.lua
  kong/db/schema/entities/clustering_data_planes.lua
  spec/01-unit/01-db/01-schema/13-cluster_status_spec.lua
  spec/01-unit/19-hybrid/02-clustering_spec.lua
  spec/02-integration/03-db/13-cluster_status_spec.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/05-migration/db/migrations/core/022_350_to_360_spec.lua
Labels: core/db/migrations, core/clustering, core/db, size/L, schema-change-noteworthy

#12003 fix(plugin): RL instances sync to the same DB at same rate
  changelog/unreleased/kong/rl-shared-sync-timer.yml
  kong/plugins/rate-limiting/policies/init.lua
  spec/03-plugins/23-rate-limiting/05-integration_spec.lua
Labels: plugins/rate-limiting, size/XL

#12043 chore(deps): bump lua-resty-lmdb to 1.4.0
  .requirements
  changelog/unreleased/kong/bump-lua-resty-lmdb-1.4.0.yml
Labels: size/XS

#12051 refactor(tools): move function validate_labels from tools.utils to conf_loader
  kong/conf_loader/init.lua
  kong/tools/utils.lua
Labels: core/configuration, skip-changelog, size/L

#12042 chore(cd): remove trigger of tags to avoid it overwriting release
  .github/workflows/release.yml
Labels: chore, size/XS, backport release/3.5.x

#11925 feat(ci): only re-run failed tests
  .ci/run_tests.sh
  .github/workflows/build_and_test.yml
  spec/busted-log-failed.lua
Labels: chore, size/L

#12045 fix(kconfig): remove kong version and edition from kconfig.js
  kong/admin_gui/init.lua
  spec/01-unit/29-admin_gui/02-admin_gui_template_spec.lua
  spec/02-integration/17-admin_gui/01-admin-gui-path_spec.lua
Labels: skip-changelog, size/XS

#12064 chore(deps): bump kong-lapis from 1.14.0.3 to 1.16.0.1
  changelog/unreleased/kong/bump-lapis-1.16.0.1.yml
  kong-3.6.0-0.rockspec
Labels: size/XS, backport

#11993 chore: improve cherry-picking process
  .github/workflows/cherry-picks.yml
Labels: chore, size/M, cherry-pick kong-ee

#12076 chore(deps): bump lua-messagepack from 0.5.3 to 0.5.4
  changelog/unreleased/kong/bump-lua-messagepack-0.5.4.yml
  kong-3.6.0-0.rockspec
Labels: pr/please review, size/XS

#11789 fix(ca_certificates): invalidate ca store caches when a ca cert is updated and prevent ca_certificates that are still being referenced by other entities from being deleted
  changelog/unreleased/kong/ca_certificates_reference_check.yml
  kong-3.6.0-0.rockspec
  kong/api/endpoints.lua
  kong/db/dao/ca_certificates.lua
  kong/db/dao/plugins.lua
  kong/db/dao/services.lua
  kong/db/errors.lua
  kong/db/schema/entities/ca_certificates.lua
  kong/db/schema/entities/services.lua
  kong/db/strategies/postgres/plugins.lua
  kong/db/strategies/postgres/services.lua
  kong/runloop/certificate.lua
  kong/runloop/events.lua
  spec/02-integration/03-db/03-plugins_spec.lua
  spec/02-integration/03-db/21-services_spec.lua
  spec/02-integration/03-db/22-ca_certificates_spec.lua
  spec/02-integration/04-admin_api/16-ca_certificates_routes_spec.lua
  spec/02-integration/05-proxy/18-upstream_tls_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/reference-ca-cert/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/reference-ca-cert/schema.lua
Labels: core/proxy, core/admin-api, core/db, size/XXL, schema-change-noteworthy

#12081 perf(plugins/datadog): use tools.string.replace_dashes
  kong/plugins/datadog/handler.lua
Labels: plugins/datadog, skip-changelog, size/XS, cherry-pick kong-ee

#12075 perf(plugins/jwt): use string.buffer to replace table.concat
  kong/plugins/jwt/jwt_parser.lua
Labels: plugins/jwt, skip-changelog, size/S, cherry-pick kong-ee

#12067 refactor(plugins/oauth2): use build-in functions to replace sha256
  kong/plugins/oauth2/access.lua
Labels: plugins/oauth2, skip-changelog, size/S, cherry-pick kong-ee

#12068 plugin(datadog): fix a bug that datalog plugin is not triggered for serviceless routes
  changelog/unreleased/kong/serviceless-routes-still-trigger-datalog-plugin.yml
  kong/plugins/datadog/handler.lua
  spec/03-plugins/08-datadog/01-log_spec.lua
Labels: plugins/datadog, size/L

#12090 hotfix(cd): skip comment on commit step
  .github/workflows/release.yml
Labels: chore, size/XS

#12080 perf(tracing): avoid unnecessary creations and garbage-collections of spans (from timers)
  changelog/unreleased/kong/perf-tracing-from-timers.yml
  kong/pdk/tracing.lua
  spec/01-unit/26-tracing/01-tracer_pdk_spec.lua
  spec/03-plugins/37-opentelemetry/01-otlp_spec.lua
Labels: core/pdk, size/M, core/tracing

#12088 chore(deps): bump lua-resty-openssl to 1.0.2
  changelog/unreleased/kong/bump-resty-openssl-1.0.1.yml
  changelog/unreleased/kong/bump-resty-openssl-1.0.2.yml
  kong-3.6.0-0.rockspec
Labels: size/XS

#12091 Revert new backport bot
  .github/workflows/backport.yml
Labels: chore, size/M

#12093 fix(cherry-picks): prevent comment flood in case of errors
  .github/workflows/cherry-picks.yml
Labels: chore, size/XS

#12070 chore: revise the comment of the tls.validate_client_cert
  kong/clustering/tls.lua
Labels: core/clustering, skip-changelog, size/XS

#12035 docs(changelog): tune the message of atc-router version bump
  changelog/unreleased/kong/bump-atc-router-1.3.1.yml
  changelog/unreleased/kong/bump_atc_router.yml
Labels: size/XS

#11997 refactor(router): only load configured flavor module
  kong/router/init.lua
  spec/01-unit/08-router_spec.lua
Labels: skip-changelog, size/M

#12097 feat(admin-api): add gateway edition info to the endpoint `/`
  changelog/unreleased/kong/add-gateway-edition-to-root-endpoint-admin-api.yml
  kong/api/routes/kong.lua
  spec/02-integration/04-admin_api/02-kong_routes_spec.lua
Labels: core/admin-api, size/XS

#12073 fix(core): respect custom proxy_access_log
  changelog/unreleased/kong/respect-custom-proxy_access_log.yml
  kong/cmd/utils/prefix_handler.lua
  kong/templates/nginx_kong.lua
  spec/01-unit/04-prefix_handler_spec.lua
Labels: core/cli, core/templates, size/M

#12062 refactor(tracing): add tracing context
  kong-3.6.0-0.rockspec
  kong/plugins/opentelemetry/handler.lua
  kong/tracing/instrumentation.lua
  kong/tracing/propagation.lua
  kong/tracing/tracing_context.lua
  spec/fixtures/custom_plugins/kong/plugins/trace-propagator/handler.lua
Labels: skip-changelog, size/L, core/tracing, plugins/opentelemetry

#12026 feat(core): add lmdb validation tag directive
  .requirements
  changelog/unreleased/kong/bump-lua-resty-lmdb-1.4.0.yml
  changelog/unreleased/kong/bump-lua-resty-lmdb-1.4.1.yml
  changelog/unreleased/kong/introduce_lmdb_validation_tag.yml
  kong/conf_loader/init.lua
  kong/templates/nginx_inject.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/fixtures/custom_nginx.template
Labels: core/templates, core/configuration, size/M

#12092 refactor(admin_gui): simplify code with table.concat
  kong/admin_gui/init.lua
Labels: skip-changelog, size/M

#12109 fix(core): respect custom proxy_access_log (#12073)
  changelog/unreleased/kong/respect-custom-proxy_access_log.yml
  kong/cmd/utils/prefix_handler.lua
  kong/templates/nginx_kong.lua
  spec/01-unit/04-prefix_handler_spec.lua
Labels: core/cli, core/templates, size/M

#12021 chore(ci): fix workflow webhook notification
  .github/workflows/backport-fail-bot.yml
  .github/workflows/release-and-tests-fail-bot.yml
Labels: skip-changelog, chore, size/M

#12115 fix(cd): use correct sha for PR based docker build
  .github/workflows/release.yml
Labels: chore, size/S, backport release/3.5.x

#12055 refactor(conf_loader): separate constants from conf_loader core
  kong-3.6.0-0.rockspec
  kong/conf_loader/constants.lua
  kong/conf_loader/init.lua
  spec/01-unit/03-conf_loader_spec.lua
Labels: core/configuration, skip-changelog, size/XXL

#12022 fix(scripts): fix update-copyright in venv and remove unused repos
  Makefile
  build/templates/venv-commons
  scripts/update-copyright
Labels: skip-changelog, size/M, build/bazel

#12119 chore(deps): bump actions/github-script from 6 to 7
  .github/workflows/backport-fail-bot.yml
  .github/workflows/release-and-tests-fail-bot.yml
Labels: skip-changelog, chore, size/XS

#12114 fix_error_handler_494
  changelog/unreleased/kong/error_handler_494.yml
  kong/error_handlers.lua
  kong/templates/nginx_kong.lua
  spec/02-integration/05-proxy/13-error_handlers_spec.lua
Labels: core/templates, size/S

#12128 fix(scripts): remove debug code in update-copyright
  scripts/update-copyright
Labels: size/XS

#12120 chore(ci): fix workflow webhook notification and use "Kong/github-sla…
  .github/workflows/backport-fail-bot.yml
  .github/workflows/release-and-tests-fail-bot.yml
Labels: chore, size/M

#12121 chore(ci): fix workflow webhook notification and use "Kong/github-sla…
  .github/workflows/backport-fail-bot.yml
  .github/workflows/release-and-tests-fail-bot.yml
Labels: skip-changelog, chore

#12122 chore(ci): fix workflow webhook notification and use "Kong/github-sla…
  .github/workflows/backport-fail-bot.yml
  .github/workflows/master-fail-bot
  .github/workflows/release-and-tests-fail-bot.yml
  .github/workflows/release-fail-bot.yml
Labels: chore, size/L

#12123 chore(ci): fix workflow webhook notification and use "Kong/github-sla…
  .github/workflows/backport-fail-bot.yml
  .github/workflows/release-and-tests-fail-bot.yml
Labels: chore, size/L
