Repository Kong/kong, pull requests merged in 2023-08, with the labels that each got.

#11219 style(runloop): localize some functions
  kong/runloop/plugins_iterator.lua
Labels: core/proxy, size/S

#11195 style(router/compat): always use uint64 in compatible priority
  kong/router/compat.lua
Labels: size/XS

#11331 tests(*): http mock support specifying customized init_by_lua_block code
  spec/02-integration/01-helpers/03-http_mock_spec.lua
  spec/helpers/http_mock.lua
  spec/helpers/http_mock/template.lua
Labels: size/M

#11339 chore(dev): remove EE specific path from LUA_PATH
  build/templates/venv-commons
Labels: size/S, build/bazel

#11231 test(healthcheck): tag healthcheck passive test to flaky
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
Labels: pr/ready, size/XS

#11273 style(router): remove `ipairs` and optimize router select
  kong/router/atc.lua
Labels: size/S

#11347 docs(admin-api): add filter chains to OpenAPI spec
  kong-admin-api.yml
Labels: size/M, backport release/3.4.x

#11340 tests(wasm): test clustering behavior with missing filters
  spec/02-integration/20-wasm/06-clustering_spec.lua
Labels: size/M

#11356 chore(ci): remove perf test trigger from comments
  .github/workflows/perf.yml
Labels: chore, size/XS

#11328 fix(balancer): query args not forwarded bug
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/32-query-params_spec.lua
Labels: core/proxy, size/M

#11296 docs(pdk): clarify kong.request.get_raw_body doc
  kong/pdk/request.lua
Labels: core/pdk, size/XS

#11362 fix(build): update the openssl alternate download url
  build/openresty/openssl/openssl_repositories.bzl
Labels: size/XS, build/bazel

#11361 chore(deps): bump openssl from 3.1.1 to 3.1.2
  .requirements
  CHANGELOG.md
  build/openresty/openssl/openssl_repositories.bzl
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/debian-10-amd64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-amd64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
Labels: size/M, changelog, build/bazel

#11364 fix(acme): error concatenation
  CHANGELOG.md
  kong/plugins/acme/client.lua
Labels: plugins/acme, size/XS, changelog, backport release/3.4.x

#11345 chore(build): improve wasmx build
  .github/matrix-full.yml
  .requirements
  BUILD.bazel
  build/BUILD.bazel
  build/kong_bindings.bzl
  build/openresty/BUILD.openresty.bazel
  build/openresty/repositories.bzl
  build/openresty/wasmx/BUILD.bazel
  build/openresty/wasmx/rules.bzl
  build/openresty/wasmx/wasmx_repositories.bzl
  scripts/explain_manifest/config.py
Labels: chore, size/XL, build/bazel

#11263 docs(*): fix broken links
  CONTRIBUTING.md
  DEVELOPER.md
  README.md
Labels: core/docs, size/XS

#10445 feat(proxy): Allow to remove the proxy cache headers
  CHANGELOG.md
  kong/clustering/compat/removed_fields.lua
  kong/plugins/proxy-cache/handler.lua
  kong/plugins/proxy-cache/schema.lua
  spec/03-plugins/31-proxy-cache/02-access_spec.lua
  spec/03-plugins/31-proxy-cache/03-api_spec.lua
  spec/03-plugins/31-proxy-cache/04-invalidations_spec.lua
Labels: core/clustering, plugins/proxy-cache, size/XL, changelog, schema-change-noteworthy, author/community

#11327 fix(documentation): migrated http to https for license copy
  README.md
Labels: core/docs, size/XS

#11330 refactor(runloop/events): gather stream config logic
  kong/db/declarative/import.lua
  kong/init.lua
  kong/runloop/events.lua
Labels: core/proxy, core/db, size/L

#11370 fix(pluginservers): workers invalidate instances
  kong/runloop/plugin_servers/init.lua
  kong/runloop/plugin_servers/pb_rpc.lua
Labels: core/language/go, core/language/python, core/language/js, size/M

#11383 docs(CONTRIBUTING): perfer `ipairs` to `for` loop
  CONTRIBUTING.md
Labels: pr/discussion, core/docs, size/S

#11374 Revert "style(router): remove `ipairs` and optimize router select (#11273）
  kong/router/atc.lua
Labels: pr/discussion, size/S

#11375 Revert "perf(router): iterate routes with for loop (#11111)"
  kong/router/atc.lua
  kong/router/utils.lua
Labels: pr/discussion, size/S

#11348 feat(router): support http queries in expression
  kong/router/atc.lua
  kong/router/utils.lua
  spec/01-unit/08-router_spec.lua
  spec/02-integration/05-proxy/02-router_spec.lua
Labels: size/XL

#11372 Fix(language): Critical messages during startup
  CHANGELOG.md
  kong/runloop/plugin_servers/init.lua
  kong/runloop/plugin_servers/mp_rpc.lua
  kong/runloop/plugin_servers/pb_rpc.lua
  kong/runloop/plugin_servers/process.lua
Labels: core/language/go, core/language/python, core/language/js, size/L, changelog

#11385 fix(conf_loader): cluster_cert/cluster_ca_cert should be base64 decoded
  CHANGELOG.md
  kong/conf_loader/init.lua
  spec/01-unit/03-conf_loader_spec.lua
Labels: core/configuration, size/L, changelog

#11342 fix(oauth2): fix a bug that refresh_token could be shared across instances
  CHANGELOG.md
  kong/plugins/oauth2/access.lua
  spec/03-plugins/25-oauth2/03-access_spec.lua
Labels: plugins/oauth2, size/L, changelog

#11381 fix(build): set $HOME for luarocks build in macos
  build/luarocks/BUILD.luarocks.bazel
Labels: size/XS, build/bazel

#11390 chore: output kernal message on test failed
  .github/workflows/build_and_test.yml
Labels: chore, size/S

#11391 chore(balancer): use less dramatic debug message
  kong/runloop/balancer/upstreams.lua
Labels: pr/please review, core/balancer, size/XS

#11177 fix(*): drop luasocket in cli
  CHANGELOG.md
  bin/busted
  kong/cmd/utils/migrations.lua
  kong/db/strategies/postgres/connector.lua
  spec/02-integration/02-cmd/10-migrations_spec.lua
  spec/02-integration/03-db/01-db_spec.lua
  spec/02-integration/03-db/04-db_cluster_mutex_spec.lua
  spec/03-plugins/28-grpc-gateway/01-proxy_spec.lua
  spec/require.lua
Labels: pr/please review, core/cli, core/db, size/L, changelog

#11394 chore(cd): skip verify image test on fork
  .github/workflows/release.yml
Labels: chore, size/XS

#11395 test(oauth2): fix flaky test
  spec/03-plugins/25-oauth2/03-access_spec.lua
Labels: size/XS

#11392 fix(utils): yield to sleep only when the ngx.sleep is available
  kong/tools/utils.lua
Labels: pr/please review, size/S

#11386 fix(dns): fix retry and timeout handling
  CHANGELOG.md
  kong/resty/dns/client.lua
  spec/01-unit/21-dns-client/02-client_spec.lua
  spec/fixtures/mocks/lua-resty-dns/resty/dns/resolver.lua
Labels: size/L, changelog

#11396 chore(version): bump versions to 3.4.1
  kong-3.4.1-0.rockspec
  kong/meta.lua
Labels: size/XS

#11399 docs(changelog): move unreleased changes to Unreleased
  CHANGELOG.md
Labels: size/M, changelog

#11359 [KAG-2033] Deprecate CentOS 7 Packages
  .github/matrix-full.yml
  CHANGELOG.md
  DEVELOPER.md
  scripts/release-kong.sh
Labels: core/docs, chore, size/S, changelog, backport release/3.4.x

#11405 chore(scripts): print wasm test filter path to stdout
  scripts/build-wasm-test-filters.sh
Labels: size/S, build/bazel

#11350 refactor(aws-lambda): refactor aws-lambda plugin code with lua-resty-aws
  .requirements
  Makefile
  build/BUILD.bazel
  build/libexpat/BUILD.bazel
  build/libexpat/BUILD.libexpat.bazel
  build/libexpat/repositories.bzl
  build/luarocks/BUILD.luarocks.bazel
  build/repositories.bzl
  kong-3.5.0-0.rockspec
  kong/db/dao/plugins.lua
  kong/init.lua
  kong/plugins/aws-lambda/aws-serializer.lua
  kong/plugins/aws-lambda/handler.lua
  kong/plugins/aws-lambda/iam-ec2-credentials.lua
  kong/plugins/aws-lambda/iam-ecs-credentials.lua
  kong/plugins/aws-lambda/iam-sts-credentials.lua
  kong/plugins/aws-lambda/request-util.lua
  kong/plugins/aws-lambda/v4.lua
  scripts/explain_manifest/fixtures/alpine-amd64.txt
  scripts/explain_manifest/fixtures/alpine-arm64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/debian-10-amd64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-amd64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
  spec/03-plugins/27-aws-lambda/03-iam-ec2-credentials_spec.lua
  spec/03-plugins/27-aws-lambda/04-iam-ecs-credentials_spec.lua
  spec/03-plugins/27-aws-lambda/05-aws-serializer_spec.lua
  spec/03-plugins/27-aws-lambda/07-iam-sts-credentials_spec.lua
Labels: plugins/aws-lambda, core/db, size/XXL, schema-change-noteworthy, build/bazel

#11409 chore(ci): upgrade test use master-ubuntu tag
  scripts/upgrade-tests/test-upgrade-path.sh
Labels: size/XS

#11413 fix(aws-lambda): add better type and error handling on proxy integration mode
  CHANGELOG.md
  kong/plugins/aws-lambda/request-util.lua
  spec/03-plugins/27-aws-lambda/08-sam-integration_spec.lua
  spec/fixtures/aws-lambda.lua
  spec/fixtures/sam-app/hello_world/app.py
Labels: plugins/aws-lambda, size/M, changelog

#11354 refactor(nginx-templates): reduce redundancy
  kong/cmd/reload.lua
  kong/cmd/restart.lua
  kong/cmd/start.lua
  kong/cmd/utils/prefix_handler.lua
  kong/templates/nginx_kong.lua
  kong/templates/nginx_kong_stream.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
  spec/02-integration/02-cmd/03-reload_spec.lua
  spec/03-plugins/06-statsd/01-log_spec.lua
  spec/fixtures/custom_nginx.template
  spec/fixtures/default_nginx.template
  spec/fixtures/template_inject/nginx_kong_test_custom_inject_http.lua
  spec/fixtures/template_inject/nginx_kong_test_custom_inject_stream.lua
  spec/helpers.lua
Labels: core/cli, core/templates, size/XXL

#11408 chore(test): address flakiness of grpc logs test
  spec/03-plugins/03-http-log/01-log_spec.lua
Labels: size/L

#11419 chore(deps): bump lua-resty-aws to 1.3.1
  CHANGELOG.md
  kong-3.5.0-0.rockspec
Labels: size/XS, changelog

#11376 fix(queues): best effort batching during shutdown
  CHANGELOG.md
  kong/tools/queue.lua
  spec/01-unit/27-queue_spec.lua
Labels: size/M, changelog

#11420 docs: improve developer doc
  build/README.md
Labels: core/docs, size/XS, build/bazel

#11416 chore(deps): bump lua-resty-session from 4.0.4 to 4.0.5
  CHANGELOG.md
  kong-3.5.0-0.rockspec
Labels: size/S, changelog

#11388 style(router): move some http only functions
  kong/router/atc.lua
Labels: size/S

#11367 [Backport release/3.4.x] chore(build): improve wasmx build
  .github/matrix-full.yml
  .requirements
  BUILD.bazel
  build/BUILD.bazel
  build/kong_bindings.bzl
  build/openresty/BUILD.openresty.bazel
  build/openresty/repositories.bzl
  build/openresty/wasmx/BUILD.bazel
  build/openresty/wasmx/rules.bzl
  build/openresty/wasmx/wasmx_repositories.bzl
  scripts/explain_manifest/config.py
Labels: chore, size/XL, build/bazel

#11414 fix(cache): make acl entities group cache warmup
  CHANGELOG.md
  kong/cache/warmup.lua
  kong/plugins/acl/groups.lua
  spec/03-plugins/18-acl/02-access_spec.lua
Labels: plugins/acl, size/M, changelog

#11373 chore(deps): bump lua-ffi-zlib to 0.6 and remove zlib dev packages from artifact dependency
  CHANGELOG.md
  build/package/nfpm.yaml
  kong-3.5.0-0.rockspec
Labels: size/XS, changelog, build/bazel

#11424 fix(PDK): fix response body repeated when kong.response.get_raw_body() called multiple times
  CHANGELOG/unreleased/kong/11424.yaml
  kong/pdk/response.lua
  t/01-pdk/08-response/14-get_raw_body.t
Labels: core/pdk, size/M, backport release/3.4.x

#11254 feat(tracing): propagate gcp trace header in tracing plugins
  CHANGELOG.md
  kong/plugins/opentelemetry/schema.lua
  kong/plugins/zipkin/schema.lua
  kong/tracing/propagation.lua
  spec/01-unit/26-tracing/02-propagation_spec.lua
Labels: plugins/zipkin, size/L, changelog, core/tracing, plugins/opentelemetry, schema-change-noteworthy

#11430 style(router): simplify logic of getting http params
  kong/router/atc.lua
Labels: size/M

#11429 fix(doc): add missing description to proxy-cache schema field
  kong/plugins/proxy-cache/schema.lua
Labels: plugins/proxy-cache, size/XS, schema-change-noteworthy

#11431 fix(queue): add failing test for edge case max_batch_size=max_entries
  CHANGELOG.md
  kong/tools/queue.lua
  spec/01-unit/27-queue_spec.lua
Labels: size/M, changelog

#11213 fix(admin): fix admin api /tags/:tag return empty object instead of an empty array
  CHANGELOG.md
  kong/db/dao/tags.lua
  spec/02-integration/04-admin_api/14-tags_spec.lua
Labels: pr/please review, core/db, size/S, changelog, schema-change-noteworthy

#11406 fix(tracing): record http.status_code when request is not proxied
  CHANGELOG.md
  kong/runloop/handler.lua
  spec/02-integration/14-tracing/01-instrumentations_spec.lua
Labels: core/proxy, size/M, changelog

#11423 fix(queues): continue processing after hard error in handler
  CHANGELOG.md
  kong/tools/queue.lua
  spec/01-unit/27-queue_spec.lua
Labels: size/M, changelog

#11440 docs(changelog): move some entries to correct place
  CHANGELOG.md
Labels: size/M, changelog

#11426 docs(changelog): add changelog entries for some PRs
  CHANGELOG.md
Labels: size/XS, changelog

#11435 chore(deps): bump bazelisk from 1.17.0 to 1.18.0
  Makefile
Labels: pr/please review, size/XS

#11451 chore(test): fix flaky tests
  spec/02-integration/04-admin_api/08-targets_routes_spec.lua
  spec/02-integration/06-invalidations/01-cluster_events_spec.lua
Labels: size/M

#11437 fix(response): fix response status code is not real upstream status when using kong.response function
  CHANGELOG.md
  kong/init.lua
  spec/02-integration/05-proxy/07-upstream_timeouts_spec.lua
Labels: size/M, changelog

#11387 docs(kong.conf): add section for wasm nginx.conf directives
  kong.conf.default
Labels: size/M, backport release/3.4.x

#11454 [Backport release/3.4.x] fix(wasm): remove hardcoded isolation level
  CHANGELOG.md
  kong.conf.default
  kong/runloop/wasm.lua
Labels: core/proxy, size/S, changelog

#11456 fix(queues): shutdown flag needs to be checked while waiting
  kong/tools/queue.lua
Labels: size/S

#11457 feat(dist): re-enable ngx_devel_kit_module
  build/openresty/BUILD.openresty.bazel
Labels: pr/please review, size/XS, build/bazel

#11411 refactor(router): categorize router fields to simplify logic
  kong/router/atc.lua
Labels: size/M

#11465 fix(manifest): correct manifest after recent refactor
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/debian-10-amd64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
Labels: size/S

#11463 chore(test): time flakiness
  spec/02-integration/06-invalidations/01-cluster_events_spec.lua
Labels: size/XS

#11445 feat(build): check username and python sanity
  build/kong_bindings.bzl
Labels: size/S, build/bazel

#11449 style(router): minor code style clean
  kong/router/compat.lua
Labels: size/S

#11279 chore(changelog): new way to maintain the changelog
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build_and_test.yml
  .github/workflows/changelog.yaml
  CHANGELOG/Makefile
  CHANGELOG/README.md
  CHANGELOG/changelog
  CHANGELOG/changelog-md-template.lua
  CHANGELOG/changelog-template.yaml
  CHANGELOG/schema.json
  CHANGELOG/unreleased/kong/.gitkeep
Labels: pr/wip, core/docs, skip-changelog, chore, size/XL, backport release/2.8.x, backport release/3.0.x, backport release/3.1.x, backport release/3.2.x, backport release/3.3.x, backport release/3.4.x

#11466 chore(cd): skip send slack message for daily build failure
  .github/workflows/release-and-tests-fail-bot.yml
Labels: chore, size/XS

#11439 docs(kong.conf.default): ssl_ciphers description (#6035)
  kong.conf.default
Labels: size/XS

#11434 fix(dependency_services): support bash 3.x
  scripts/dependency_services/common.sh
Labels: size/M

#11355 chore(admin-gui): Admin GUI CE/EE unification
  kong-3.5.0-0.rockspec
  kong/admin_gui/init.lua
  kong/admin_gui/utils.lua
  kong/conf_loader/init.lua
  kong/init.lua
  kong/templates/kong_defaults.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/01-unit/29-admin_gui/01-admin_gui_spec.lua
  spec/01-unit/29-admin_gui/02-admin_gui_template_spec.lua
  spec/02-integration/17-admin_gui/01-admin-gui-path_spec.lua
  spec/02-integration/17-admin_gui/03-reports_spec.lua
  spec/helpers.lua
Labels: core/templates, core/configuration, size/L

#11477 fix(ci): fix syntax in release-and-tests-fail-bot
  .github/workflows/release-and-tests-fail-bot.yml
Labels: skip-changelog, chore, size/XS

#11475 chore(ci): add filter for changelog workflow
  .github/workflows/changelog.yaml
Labels: chore, size/XS

#11384 style(db/declarative): simplify the logic of `load_into_cache`
  kong/db/declarative/import.lua
Labels: core/db, skip-changelog, size/M

#11500 chore(ci): fix PR template link
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore, size/XS

#11501 chore(CI): fix incorrect logical operator of the alter bot
  .github/workflows/release-and-tests-fail-bot.yml
Labels: chore, size/XS

#11505 docs(readme) include Kong manager and decK
  README.md
Labels: core/docs, skip-changelog, size/S
