Repository Kong/kong, pull requests merged in 2023-10, with the labels that each got.

#11688 docs(COPYRIGHT): update copyright info in 3.4.1
  COPYRIGHT
Labels: core/cli, core/balancer, core/proxy, core/pdk, core/clustering, core/templates, core/admin-api, core/db, core/configuration, core/docs, chore, size/M, changelog, core/tracing, plugins/opentelemetry, schema-change-noteworthy, build/bazel

#11678 chore(requirements): bump ngx_wasm_module
  .requirements
  changelog/unreleased/kong/ngx_wasm_module_bump.yml
Labels: size/XS

#11686 fix(hybrid): opentelemetry and zipkin header_type
  kong/clustering/compat/checkers.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
Labels: core/clustering, skip-changelog, size/L

#11687 [backport #11686 to release/3.4.x] fix(hybrid): opentelemetry and zipkin header_type
  kong/clustering/compat/checkers.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
Labels: core/clustering, skip-changelog, size/M

#11692 tests(request-debug): improve integration tests
  spec/02-integration/21-request-debug/01-request-debug_spec.lua
Labels: skip-changelog, size/L

#11665 chore(ci): automatically stale and close issue/pr
  .github/workflows/community-stale.yml
Labels: chore, size/M

#11535 doc(CONTRIBUTING): mention changelog
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: core/docs, chore, size/S

#11672 refactor(runloop): use utils.get_updated_monotonic_ms()
  kong/runloop/handler.lua
Labels: core/proxy, skip-changelog, size/XS

#11691 chore(release): bump version numbers to 3.4.2
  kong-3.4.2-0.rockspec
  kong/meta.lua
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/debian-10-amd64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
Labels: skip-changelog, size/S

#11696 fix(build): fix the building failure when applying patches
  build/kong_bindings.bzl
  changelog/unreleased/kong/fix_patch_order.yml
Labels: size/S, build/bazel

#11674 feat(request-debugging): use `request_id` instead of `debug_id`
  kong/timing/init.lua
  spec/02-integration/21-request-debug/01-request-debug_spec.lua
Labels: pr/ready, skip-changelog, size/M

#11712 fix(template): fix failure of starting if `proxy_access_log` is `off`
  kong/cmd/utils/prefix_handler.lua
  kong/templates/nginx_kong.lua
  spec/01-unit/04-prefix_handler_spec.lua
Labels: core/cli, core/templates, skip-changelog, size/S

#11714 chore(ci): stale bot is deprecated; we should only apply one method to stale issues
  .github/stale.yml
  .github/workflows/community-stale.yml
Labels: chore, size/S

#11718 tests(helpers): wait_for_all_config_update support pass custom headers and https_server support disable listen ipv6
  spec/fixtures/https_server.lua
  spec/fixtures/mock_webserver_tpl.lua
  spec/helpers.lua
Labels: size/M

#11727 feat(core): add `/schemas/vaults/:name` endpoint
  changelog/unreleased/kong/11727.yml
  kong/api/routes/kong.lua
  kong/vaults/env/schema.lua
  spec/02-integration/04-admin_api/02-kong_routes_spec.lua
Labels: core/admin-api, size/M, schema-change-noteworthy

#11737 chore(deps): bump ngx_wasm_module
  .requirements
Labels: skip-changelog, size/XS

#11697 feat(wasm): combine config and json_config fields
  changelog/unreleased/kong/wasm-filter-json-config.yml
  kong/db/schema/entities/filter_chains.lua
  kong/db/schema/init.lua
  kong/db/schema/metaschema.lua
  kong/runloop/wasm.lua
  spec/02-integration/20-wasm/01-admin-api_spec.lua
  spec/02-integration/20-wasm/02-db_spec.lua
  spec/02-integration/20-wasm/09-filter-meta_spec.lua
Labels: core/proxy, core/db, size/L, schema-change-noteworthy

#11739 feat(wasm): add /schemas/filters/:name API endpoint
  kong/api/routes/kong.lua
  kong/db/schema/entities/filter_chains.lua
  kong/db/schema/json.lua
  kong/runloop/wasm.lua
  spec/02-integration/20-wasm/09-filter-meta_spec.lua
Labels: core/proxy, core/admin-api, core/db, skip-changelog, size/M, schema-change-noteworthy

#11743 fix(patches): apply Nginx patch for detecting HTTP/2 stream reset attacks early (CVE-2023-44487)
  build/openresty/patches/nginx-1.21.4_09-http2-rapid-reset-ddos-attack-cve-2023-44487.patch
  changelog/unreleased/kong/fix-cve-2023-44487.yml
Labels: size/M, build/bazel

#11017 feat(request-aware-table) add request aware table
  changelog/unreleased/kong/request-aware-table.yml
  kong-3.5.0-0.rockspec
  kong/plugins/rate-limiting/policies/init.lua
  kong/templates/nginx_kong.lua
  kong/tools/request_aware_table.lua
  spec/02-integration/05-proxy/33-request-aware-table_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/request-aware-table/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/request-aware-table/schema.lua
Labels: plugins/rate-limiting, core/templates, size/L

#11742 chore(*): Revert for http2 CVE patch
  kong/clustering/compat/checkers.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
Labels: core/clustering, skip-changelog, size/M

#11722 perf(request-debugging): improve performance
  kong/dynamic_hook/init.lua
  kong/dynamic_hook/wrap_function_gen.lua
  kong/init.lua
  kong/resty/dns/client.lua
  kong/runloop/handler.lua
  kong/templates/nginx_kong.lua
  kong/timing/init.lua
Labels: core/proxy, core/templates, skip-changelog, size/L

#11733 chore(ci): build&test should ignore lowercase changelog directory
  .github/workflows/build_and_test.yml
Labels: chore, size/XS

#11740 chore(deps): bump ngx_wasm_module (#11737)
  .requirements
Labels: skip-changelog, size/XS

#11746 fix(rate-limiting): revert request-aware-table usage
  kong/plugins/rate-limiting/policies/init.lua
Labels: plugins/rate-limiting, skip-changelog, size/M

#11749 refactor(tools): use `or` to simplify table_new()
  kong/tools/request_aware_table.lua
Labels: skip-changelog, size/S

#11738 chore(deps): bump Wasmtime to 12.0.2
  .requirements
  build/openresty/wasmx/wasmx_repositories.bzl
  changelog/unreleased/kong/wasmtime_version_bump.yml
Labels: size/S, build/bazel

#11751 release: 3.4.3
  kong-3.4.3-0.rockspec
  kong/meta.lua
Labels: skip-changelog, size/XS

#11744 [backport] fix(vault): vault try should avoid using semaphore in non-yieldable phases
  kong/concurrency.lua
  kong/tools/utils.lua
  spec/02-integration/13-vaults/03-mock_spec.lua
Labels: skip-changelog, size/M

#11707 tests(dbless): update format_version to `3.0`
  spec/02-integration/11-dbless/01-respawn_spec.lua
  spec/02-integration/11-dbless/02-workers_spec.lua
  spec/02-integration/11-dbless/03-config_persistence_spec.lua
Labels: skip-changelog, size/S

#11705 tests(rate-limiting): fix a flaky test
  spec/03-plugins/23-rate-limiting/04-access_spec.lua
Labels: pr/ready, size/XS

#11754 chore(actions): correctly check for changelog updates
  .github/workflows/changelog-requirement.yml
Labels: chore, size/XS

#11725 perf(tracing/request-id): introduce $kong_request_id
  .requirements
  changelog/unreleased/kong/lua_kong_nginx_module_bump.yml
  kong/plugins/aws-lambda/request-util.lua
  kong/templates/nginx_kong.lua
  kong/tools/request_aware_table.lua
  kong/tracing/request_id.lua
  spec/01-unit/10-log_serializer_spec.lua
  spec/01-unit/26-tracing/03-request-id_spec.lua
  spec/03-plugins/27-aws-lambda/05-aws-serializer_spec.lua
Labels: core/templates, plugins/aws-lambda, size/M, core/tracing

#11715 refactor(pdk): remove duplicated code in set_status()
  kong/pdk/response.lua
Labels: core/pdk, size/XS

#11704 style(runloop): fix incorrect error log message
  kong/runloop/events.lua
Labels: core/proxy, skip-changelog, size/XS

#11757 chore(actions): enforce new changelog format and convention
  .github/workflows/changelog-requirement.yml
  changelog/unreleased/kong/fix_patch_order.yml
  changelog/unreleased/kong/on_prem_dp_metadata.yml
  changelog/unreleased/kong/wasm-filter-config-schemas.yml
Labels: chore, size/M

#11763 fix(wasm): permit json-typed filter configuration on data plane nodes
  .ci/run_tests.sh
  kong/db/schema/entities/filter_chains.lua
  spec/02-integration/20-wasm/01-admin-api_spec.lua
  spec/02-integration/20-wasm/03-runtime_spec.lua
  spec/02-integration/20-wasm/04-proxy-wasm_spec.lua
  spec/02-integration/20-wasm/05-cache-invalidation_spec.lua
  spec/02-integration/20-wasm/06-clustering_spec.lua
  spec/02-integration/20-wasm/07-reports_spec.lua
  spec/02-integration/20-wasm/08-declarative_spec.lua
  spec/02-integration/20-wasm/09-filter-meta_spec.lua
  spec/fixtures/admin_api.lua
  spec/fixtures/blueprints.lua
  spec/fixtures/dc_blueprints.lua
Labels: core/db, skip-changelog, size/XL, schema-change-noteworthy

#11755 Revert "Revert "fix(hybrid): opentelemetry and zipkin header_type
  kong/clustering/compat/checkers.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
Labels: core/clustering, skip-changelog, size/M

#11779 docs(request-debugging): add docs to `kong.conf.default`
  .github/workflows/build_and_test.yml
  .github/workflows/release.yml
  kong.conf.default
Labels: chore, size/M

#11703 feat(runloop): plugin:configure(configs) handler
  changelog/unreleased/kong/plugin-configure-phase.yml
  kong/init.lua
  kong/plugins/acme/client.lua
  kong/plugins/acme/handler.lua
  kong/plugins/prometheus/exporter.lua
  kong/plugins/prometheus/handler.lua
  kong/runloop/handler.lua
  kong/runloop/plugins_iterator.lua
  spec/02-integration/05-proxy/21-grpc_plugins_triggering_spec.lua
  spec/02-integration/05-proxy/28-stream_plugins_triggering_spec.lua
  spec/02-integration/07-sdk/02-log_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/logger-last/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/logger/handler.lua
Labels: core/proxy, plugins/acme, plugins/prometheus, size/XL

#11790 fix(core): comparison against boolean
  kong/clustering/utils.lua
Labels: core/clustering, skip-changelog, size/XS

#11787 chore(deps): pin lua-resty-ljsonschema to 1.1.6-2
  kong-3.5.0-0.rockspec
  scripts/explain_manifest/fixtures/alpine-amd64.txt
  scripts/explain_manifest/fixtures/alpine-arm64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/debian-10-amd64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-amd64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
Labels: skip-changelog, size/M

#11788 perf(request-id): use proxy_set_header instead of lua api set_header
  kong/runloop/handler.lua
  kong/templates/nginx_kong.lua
Labels: core/performance, core/proxy, core/templates, skip-changelog, size/M

#11783 tests(ci): integrate upgrade tests into `build_and_test.yml`
  .github/workflows/upgrade-tests.yml
Labels: skip-changelog, chore, size/M

#11801 docs(3.5.0): generate 3.5.0 changelog
  changelog/3.5.0/3.5.0.md
  changelog/3.5.0/kong/.gitkeep
  changelog/3.5.0/kong/10570.yml
  changelog/3.5.0/kong/11360-1.yml
  changelog/3.5.0/kong/11360-2.yml
  changelog/3.5.0/kong/11402.yml
  changelog/3.5.0/kong/11424.yml
  changelog/3.5.0/kong/11442.yml
  changelog/3.5.0/kong/11464.yml
  changelog/3.5.0/kong/11468.yml
  changelog/3.5.0/kong/11480.yml
  changelog/3.5.0/kong/11484.yml
  changelog/3.5.0/kong/11502.yml
  changelog/3.5.0/kong/11515.yml
  changelog/3.5.0/kong/11518.yml
  changelog/3.5.0/kong/11523.yml
  changelog/3.5.0/kong/11532.yml
  changelog/3.5.0/kong/11538.yml
  changelog/3.5.0/kong/11551-1.yml
  changelog/3.5.0/kong/11551-2.yml
  changelog/3.5.0/kong/11553.yml
  changelog/3.5.0/kong/11566.yml
  changelog/3.5.0/kong/11578.yml
  changelog/3.5.0/kong/11599.yml
  changelog/3.5.0/kong/11613.yml
  changelog/3.5.0/kong/11638.yml
  changelog/3.5.0/kong/11639.yml
  changelog/3.5.0/kong/11727.yml
  changelog/3.5.0/kong/dedicated_config_processing.yml
  changelog/3.5.0/kong/fix-cve-2023-44487.yml
  changelog/3.5.0/kong/fix_patch_order.yml
  changelog/3.5.0/kong/lua_kong_nginx_module_bump.yml
  changelog/3.5.0/kong/luajit_ldp_stp_fusion.yml
  changelog/3.5.0/kong/ngx_wasm_module_bump.yml
  changelog/3.5.0/kong/on_prem_dp_metadata.yml
  changelog/3.5.0/kong/per_reqeuest_deubgging.yml
  changelog/3.5.0/kong/plugin-configure-phase.yml
  changelog/3.5.0/kong/request-aware-table.yml
  changelog/3.5.0/kong/request_id.yml
  changelog/3.5.0/kong/session_do_not_read_body_by_default.yml
  changelog/3.5.0/kong/wasm-filter-config-schemas.yml
  changelog/3.5.0/kong/wasm-filter-json-config.yml
  changelog/3.5.0/kong/wasmtime_version_bump.yml
Labels: core/docs, size/L

#11780 refactor(plugins/ldap-auth): optimize the process of parsing and handling authentication headers
  kong/plugins/ldap-auth/access.lua
Labels: plugins/ldap-auth, skip-changelog, size/M, author/community

#11771 refactor(pdk): get_raw_body with string.buffer
  kong/pdk/response.lua
Labels: core/pdk, skip-changelog, size/M

#11806 chore(*): add changlog for Kong Manager 3.5
  changelog/3.5.0/kong-manager/config_card_format.yml
  changelog/3.5.0/kong-manager/fix_port_info.yml
  changelog/3.5.0/kong-manager/fix_proxy_cache.yml
  changelog/3.5.0/kong-manager/plugin_field_descriptions.yml
  changelog/3.5.0/kong-manager/plugin_protocol.yml
  changelog/3.5.0/kong-manager/target_list_actions.yml
Labels: size/S

#11781 fix(prometheus): expose metrics in no service route
  changelog/unreleased/kong/prometheus_expose_no_service_metrics.yml
  kong/plugins/prometheus/exporter.lua
  spec/03-plugins/26-prometheus/05-metrics_spec.lua
  spec/fixtures/blueprints.lua
Labels: plugins/prometheus, size/M

#11807 refactor(clustering): use the correct param name `basic_info` for init_worker()
  kong/clustering/init.lua
Labels: core/clustering, skip-changelog, size/XS

#11799 refactor(clustering): simplify `parse_proxy_url()`
  kong/clustering/utils.lua
Labels: core/clustering, skip-changelog, size/XS

#11805 fix(aws-lambda): aws lambda service cache by service related fields
  changelog/unreleased/kong/aws_lambda_service_cache.yml
  kong/plugins/aws-lambda/handler.lua
  spec/03-plugins/27-aws-lambda/99-access_spec.lua
  spec/fixtures/custom_vaults/kong/vaults/random/init.lua
  spec/fixtures/custom_vaults/kong/vaults/random/schema.lua
Labels: plugins/aws-lambda, size/L

#11809 fix(build): correctly set manifest for multiarch images
  build/dockerfiles/apk.Dockerfile
  build/dockerfiles/deb.Dockerfile
  build/dockerfiles/rpm.Dockerfile
Labels: size/XS, build/bazel, backport release/3.4.x, backport release/3.5.x

#11814 fix(clustering): check for role->data_plane
  kong/clustering/utils.lua
Labels: core/clustering, size/XS, backport release/3.5.x

#11802 chore(release): bump version to 3.6.0 as part of the 3.5 Feature Freeze
  kong-3.6.0-0.rockspec
  kong/meta.lua
Labels: size/XS

#11821 [Backport release/3.5.x] fix(aws-lambda): aws lambda service cache by service related fields (#11805)
  changelog/unreleased/kong/aws_lambda_service_cache.yml
  kong/plugins/aws-lambda/handler.lua
  spec/03-plugins/27-aws-lambda/99-access_spec.lua
  spec/fixtures/custom_vaults/kong/vaults/random/init.lua
  spec/fixtures/custom_vaults/kong/vaults/random/schema.lua
Labels: plugins/aws-lambda, size/L

#11721 perf(router): use `resty.core.utils.str_replace_char()` for dashes
  kong-3.6.0-0.rockspec
  kong/pdk/request.lua
  kong/router/atc.lua
  kong/router/compat.lua
  kong/tools/string.lua
Labels: core/pdk, skip-changelog, size/M

#11818 chore(conf): gui #admin_listen > 0 -> #admin_listeners > 0
  kong/templates/nginx_kong.lua
Labels: size/XS, backport release/3.5.x

#11816 chore(tests): mark one mlcache renew test as flaky
  t/05-mlcache/15-renew.t
Labels: size/XS, backport release/3.5.x

#11804 chore(gui): bump kong-manager to v3.5.0.0
  .requirements
Labels: size/XS

#11793 fix(vault): properly warmups the cache on init
  changelog/unreleased/kong/vault-init-warmup.yml
  kong/pdk/vault.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
Labels: core/pdk, size/L, backport release/3.5.x

#11800 fix(core): print error message correctly when lambda plugin fails.
  changelog/unreleased/kong/fix-error-message-print.yml
  kong/plugins/aws-lambda/handler.lua
Labels: plugins/aws-lambda, size/XS

#11786 fix(tracing): set parent span correctly
  changelog/unreleased/kong/fix-opentelemetry-parent-id.yml
  kong/plugins/opentelemetry/handler.lua
  spec/03-plugins/37-opentelemetry/03-propagation_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/trace-propagator/handler.lua
Labels: size/M, plugins/opentelemetry, backport release/3.3.x, backport release/3.4.x, backport release/3.5.x

#11828 chore(vault): fix docstring of get_cache_value_and_ttl
  kong/pdk/vault.lua
Labels: core/pdk, size/XS, backport release/3.5.x

#11823 refactor(pdk): use `resty.core.utils.str_replace_char` instead of `gsub`
  kong/pdk/service/response.lua
  kong/pdk/vault.lua
Labels: core/pdk, skip-changelog, size/S

#11723 refactor(tools): separate table related functions from utils
  kong-3.6.0-0.rockspec
  kong/tools/table.lua
  kong/tools/utils.lua
Labels: skip-changelog, size/XL

#11836 fix(ci): correctly exit 1 when changelog not found
  .github/workflows/changelog-requirement.yml
Labels: chore, size/XS

#11831 [backport to release/3.4.x] fix(tracing): set parent span correctly (#11786)
  changelog/unreleased/kong/fix-opentelemetry-parent-id.yml
  kong/plugins/opentelemetry/handler.lua
  spec/03-plugins/37-opentelemetry/03-propagation_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/trace-propagator/handler.lua
Labels: size/M, plugins/opentelemetry

#11756 refactor(tools): simplify the logic of request_aware_table
  kong/tools/request_aware_table.lua
  kong/tracing/request_id.lua
Labels: skip-changelog, size/S, core/tracing

#11839 chore(deps): bump kong-lapis from 1.14.0.2 to 1.14.0.3
  changelog/unreleased/kong/lapis_version_bump.yml
  kong-3.6.0-0.rockspec
Labels: size/XS

#11838 chore(deps): Bump OpenSSL version to 3.1.4
  .github/workflows/release.yml
  .requirements
  build/openresty/openssl/openssl_repositories.bzl
  changelog/unreleased/kong/bump_openssl_3.1.4.yml
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/debian-10-amd64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-amd64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
Labels: chore, size/M, build/bazel, backport release/3.4.x, backport release/3.5.x

#11843 fix(vault): make it possible to use vault references in declarative config
  changelog/unreleased/kong/vault-declarative.yml
  kong/init.lua
  kong/pdk/vault.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
  spec/fixtures/custom_vaults/kong/vaults/mocksocket/init.lua
  spec/fixtures/custom_vaults/kong/vaults/mocksocket/schema.lua
Labels: core/pdk, size/L, backport release/3.5.x

#11847 chore(deps): Bump OpenSSL version to 3.1.4
  .github/workflows/release.yml
  .requirements
  build/openresty/openssl/openssl_repositories.bzl
  changelog/unreleased/kong/bump_openssl_3.1.4.yml
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/debian-10-amd64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-amd64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
Labels: chore, size/M, build/bazel

#11841 docs(contributing): Travis CI is long gone
  CONTRIBUTING.md
Labels: core/docs, size/XS

#11803 fix(plugin/tcp-log):repeated sslhandshake in [tcp-log] plugin
  changelog/unreleased/kong/fix-tcp-log-sslhandshake.yml
  kong/plugins/tcp-log/handler.lua
Labels: plugins/tcp-log, size/S, author/community, backport release/3.5.x

#11865 chore(doc): correct changelog grammar
  changelog/unreleased/kong/fix-tcp-log-sslhandshake.yml
Labels: size/XS

#11842 chore: disable `dedicated_config_processing by default
  changelog/unreleased/kong/dedicated_config_processing.yml
  kong.conf.default
  kong/templates/kong_defaults.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/kong_tests.conf
Labels: core/templates, size/S, backport release/3.5.x

#11837 refactor(tools): merge the implementation of `is_lapis_array`
  kong/tools/table.lua
Labels: skip-changelog, size/S

#11747 refactor(tools): separate yield functions from utils
  kong-3.6.0-0.rockspec
  kong/tools/utils.lua
  kong/tools/yield.lua
Labels: skip-changelog, size/L

#11870 docs(changelog): re generate 3.5 changelog
  changelog/3.5.0/3.5.0.md
  changelog/3.5.0/kong/aws_lambda_service_cache.yml
  changelog/3.5.0/kong/bump_openssl_3.1.4.yml
  changelog/3.5.0/kong/fix-opentelemetry-parent-id.yml
  changelog/3.5.0/kong/fix-tcp-log-sslhandshake.yml
  changelog/3.5.0/kong/lapis_version_bump.yml
  changelog/3.5.0/kong/vault-declarative.yml
  changelog/3.5.0/kong/vault-init-warmup.yml
  changelog/3.5.0/kong/vault-resurrect.yml
  changelog/unreleased/kong-manager/.gitkeep
  changelog/unreleased/kong/.gitkeep
Labels: core/docs, size/L

#11869 fix(dns): set default `dns_no_sync` to `on`
  changelog/unreleased/kong/fix_dns_enable_dns_no_sync.yml
  kong.conf.default
  kong/templates/kong_defaults.lua
Labels: core/templates, size/XS, backport release/3.5.x

#11872 docs(CHANGELOG): update 3.5.0 changelog
  changelog/3.5.0/3.5.0.md
  changelog/3.5.0/kong/fix_dns_enable_dns_no_sync.yml
Labels: core/docs, size/XS

#11834 chore(deps): bump lua-resty-healthcheck to 3.0.0
  changelog/unreleased/kong/deps_bump_lua_resty_healthcheck.yml
  kong-3.6.0-0.rockspec
Labels: dependencies, size/XS

#11878 tests(azure-functions): temporarily disable tests that use mockbin
  spec/03-plugins/35-azure-functions/01-access_spec.lua
Labels: size/XS

#11874 refactor(tools): separate sha256 functions from tools.utils
  kong-3.6.0-0.rockspec
  kong/tools/sha256.lua
  kong/tools/utils.lua
Labels: skip-changelog, size/L

#11875 refactor(tools): separate gzip functions from tools.utils
  kong-3.6.0-0.rockspec
  kong/tools/gzip.lua
  kong/tools/utils.lua
Labels: skip-changelog, size/L

#11889 chore(conf): enable `dedicated_config_processing` by default
  changelog/unreleased/kong/dedicated_config_processing.yml
  kong.conf.default
  kong/templates/kong_defaults.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/kong_tests.conf
Labels: core/templates, size/S, backport release/3.5.x

#11891 docs(changelog): update 3.5.0 changelog
  changelog/3.5.0/3.5.0.md
Labels: core/docs, size/XS

#11879 tests(*): fix azure plugin test due to mockbin sunset
  spec/03-plugins/35-azure-functions/01-access_spec.lua
Labels: size/M

#11886 chore(patches): make arm64 reg allow patches apply cleanly
  build/openresty/patches/LuaJIT-2.1-20230410_06_arm64_reg_alloc_fix.patch
Labels: pr/please review, skip-changelog, size/XS, build/bazel, backport release/3.5.x

#11888 fix(acl): Add missing descriptions to plugin schema
  kong/plugins/acl/schema.lua
Labels: plugins/acl, skip-changelog, size/XS, schema-change-noteworthy

#11873 refactor(tools): separate uuid functions from tools.utils
  kong-3.6.0-0.rockspec
  kong/tools/utils.lua
  kong/tools/uuid.lua
Labels: skip-changelog, size/M
