Repository Kong/kong, pull requests merged in 2023-07, with the labels that each got.

#11156 docs(changelog): move entry to correct section
  CHANGELOG.md
Labels: pr/ready, size/XS, changelog

#11144 refactor(plugin/prometheus): some small optimizations
  kong/plugins/prometheus/exporter.lua
  kong/plugins/prometheus/prometheus.lua
Labels: plugins/prometheus, size/S

#11157 tests(plugins/prometheus): busted unit tests for prometheus plugin
  spec/03-plugins/26-prometheus/08-unit_spec.lua
  spec/fixtures/shm-stub.lua
Labels: size/L

#11163 refactor(runloop): move log level logic into isolated module
  kong-3.4.0-0.rockspec
  kong/runloop/handler.lua
  kong/runloop/log_level.lua
Labels: core/proxy, size/L

#11082 fix(router/expressions): mapping protocols in expression
  CHANGELOG.md
  kong/router/expressions.lua
  spec/02-integration/05-proxy/19-grpc_proxy_spec.lua
  spec/02-integration/05-proxy/21-grpc_plugins_triggering_spec.lua
Labels: size/L, changelog

#11167 fix(tests): revive http 2.0 tests
  .devcontainer/Dockerfile
  .github/workflows/autodocs.yml
  .github/workflows/build.yml
  .github/workflows/perf.yml
  .github/workflows/release.yml
  DEVELOPER.md
  Makefile
  spec/02-integration/05-proxy/27-unbuffered_spec.lua
Labels: core/docs, chore, size/L

#11169 Revert "Revert "fix(ci): remove Lua cURL and CI modifications because of it (#10599)" (#11167)"
  .devcontainer/Dockerfile
  .github/workflows/autodocs.yml
  .github/workflows/build.yml
  .github/workflows/perf.yml
  .github/workflows/release.yml
  DEVELOPER.md
  Makefile
  spec/02-integration/05-proxy/27-unbuffered_spec.lua
Labels: core/docs, chore, size/L

#11138 chore(deps): unify the dependency name and pin github repo to commit
  .requirements
  build/kong_bindings.bzl
  build/luarocks/BUILD.luarocks.bazel
  build/luarocks/luarocks_repositories.bzl
  build/openresty/BUILD.kong-build-tools.bazel
  build/openresty/atc_router/atc_router_repositories.bzl
  build/openresty/openssl/openssl_repositories.bzl
  build/openresty/pcre/pcre_repositories.bzl
  build/openresty/repositories.bzl
  build/repositories.bzl
Labels: size/M, build/bazel

#11171 feat(tests): use h2client to replace lua-http in spec.helpers
  Makefile
  spec/helpers.lua
Labels: size/L

#10572 feat(rate-limiting): add support for secret rotation with redis connection
  kong/plugins/rate-limiting/policies/init.lua
Labels: plugins/rate-limiting, size/S

#11087 chore(makefile): add test-custom target to run individual test
  Makefile
Labels: size/XS

#11112 fix(cd): correct comments in matrix-full.yml
  .github/matrix-full.yml
Labels: chore, size/XS

#11166 fix(router/expressions): http redirection can't work with "expressions"
  CHANGELOG.md
  kong/router/compat.lua
  kong/router/expressions.lua
  spec/02-integration/05-proxy/06-ssl_spec.lua
  spec/02-integration/05-proxy/19-grpc_proxy_spec.lua
  spec/02-integration/05-proxy/21-grpc_plugins_triggering_spec.lua
Labels: size/L, changelog

#10649 chore(wasm): more revisions
  kong-3.4.0-0.rockspec
  kong/constants.lua
  kong/db/dao/filter_chains.lua
  kong/db/migrations/core/020_330_to_340_wasm.lua
  kong/db/schema/entities/filter_chains.lua
  kong/init.lua
  kong/runloop/events.lua
  kong/runloop/handler.lua
  kong/runloop/wasm.lua
  spec/02-integration/20-wasm/01-admin-api_spec.lua
  spec/02-integration/20-wasm/02-db_spec.lua
  spec/02-integration/20-wasm/03-runtime_spec.lua
  spec/02-integration/20-wasm/04-proxy-wasm_spec.lua
  spec/02-integration/20-wasm/05-cache-invalidation_spec.lua
  spec/05-migration/db/migrations/core/020_330_to_340_wasm_spec.lua
  spec/fixtures/blueprints.lua
Labels: core/proxy, core/db/migrations, core/db, size/L, schema-change-noteworthy

#11170 fix(tests): revive HTTP/2.0 tests
  .gitignore
  Makefile
  spec/02-integration/05-proxy/27-unbuffered_spec.lua
  spec/helpers.lua
Labels: size/L

#11181 chore(deps): use kong's fork of pgmoon that fixes an issue when using SCRAM auth with OpenSSL 3.x
  CHANGELOG.md
  kong-3.4.0-0.rockspec
Labels: size/XS, changelog

#10100 refactor(db/schema): improve expression validation
  .requirements
  CHANGELOG.md
  build/BUILD.bazel
  kong/db/schema/entities/routes.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
  spec/02-integration/05-proxy/02-router_spec.lua
Labels: core/db, size/L, version-compatibility, changelog, schema-change-noteworthy, build/bazel

#11176 chore(dev): upgrade docker base image
  build/dockerfiles/apk.Dockerfile
  build/dockerfiles/deb.Dockerfile
  build/dockerfiles/rpm.Dockerfile
Labels: size/XS, build/bazel

#11180 fix(tracing): incorrect comment and documentation
  kong/pdk/tracing.lua
Labels: core/pdk, size/XS, core/tracing

#11175 style(router): need not to localize ngx.* in cold path
  kong/router/compat.lua
  kong/router/expressions.lua
Labels: size/S

#11178 refactor(router): localize some tool functions
  kong/router/compat.lua
  kong/router/utils.lua
Labels: size/S

#11189 chore(tests): fix smoke test
  build/tests/01-base.sh
Labels: size/XS, build/bazel

#11159 [Backport release/3.3.x] fix(router): don't fail on route with multiple paths
  CHANGELOG.md
  kong/router/compat.lua
  spec/01-unit/08-router_spec.lua
Labels: size/S, changelog

#10245 feat(ip-restriction): Add TCP Support
  kong/plugins/ip-restriction/handler.lua
  kong/plugins/ip-restriction/schema.lua
  spec/03-plugins/17-ip-restriction/01-schema_spec.lua
  spec/03-plugins/17-ip-restriction/02-access_spec.lua
Labels: pending author feedback, plugins/ip-restriction, size/L, version-compatibility, schema-change-noteworthy, author/community

#11194 fix(build): add missing debug symbols in the default nginx binary for bazel output
  build/openresty/BUILD.openresty.bazel
Labels: size/XS, build/bazel

#11190 feat(cd): add rhel-9 matrix
  .github/matrix-full.yml
  .github/workflows/release.yml
  BUILD.bazel
  scripts/explain_manifest/config.py
  scripts/explain_manifest/fixtures/el9-amd64.txt
Labels: chore, size/L, build/bazel

#11199 fix(dbless): perform uniqueness checks on unique fields
  CHANGELOG.md
  kong/db/schema/others/declarative_config.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/cache-key-vs-endpoint-key/daos.lua
  spec/fixtures/custom_plugins/kong/plugins/cache-key-vs-endpoint-key/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/cache-key-vs-endpoint-key/migrations/000_base_cache_key_vs_endpoint_key.lua
  spec/fixtures/custom_plugins/kong/plugins/cache-key-vs-endpoint-key/migrations/init.lua
  spec/fixtures/custom_plugins/kong/plugins/cache-key-vs-endpoint-key/schema.lua
Labels: core/db, size/L, changelog, schema-change-noteworthy

#11100 feat(build): build wasmx as static or dynamic module
  BUILD.bazel
  build/BUILD.bazel
  build/openresty/BUILD.openresty.bazel
  kong/conf_loader/init.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx.lua
  scripts/explain_manifest/fixtures/ubuntu-18.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
  spec/fixtures/custom_nginx.template
Labels: core/templates, core/configuration, size/L, build/bazel

#11198 docs(changelog): add entry for PR #10245
  CHANGELOG.md
Labels: size/XS, changelog

#11200 perf(plugin/ip-restriction): optimize not_allowed msg
  kong/plugins/ip-restriction/handler.lua
Labels: plugins/ip-restriction, size/S

#11182 chore(http_mock): improvements & tapping
  spec/02-integration/01-helpers/03-http_mock_spec.lua
  spec/helpers/http_mock.lua
  spec/helpers/http_mock/asserts.lua
  spec/helpers/http_mock/clients.lua
  spec/helpers/http_mock/debug_port.lua
  spec/helpers/http_mock/nginx_instance.lua
  spec/helpers/http_mock/tapping.lua
  spec/helpers/http_mock/template.lua
  spec/renderdocs.sh
Labels: size/L

#11108 feat(db): add entity_checks for /schema endpoint
  CHANGELOG.md
  kong/api/api_helpers.lua
  spec/02-integration/04-admin_api/02-kong_routes_spec.lua
  spec/02-integration/04-admin_api/04-plugins_routes_spec.lua
Labels: core/admin-api, size/S, changelog

#11196 docs(*): format 3.3.1 release changelog entries
  CHANGELOG.md
Labels: size/XS, changelog

#11191 fix(luajit): fix LuaJIT arm64 SIGILL crash.
  build/openresty/patches/LuaJIT-2.1-20220411_05_arm64_sigill.patch
Labels: size/S, backport release/2.8.x, backport release/3.1.x, build/bazel, backport release/3.2.x, backport release/3.3.x

#11201 tests(integration): add cache invalidation test case
  spec/02-integration/04-admin_api/17-foreign-entity_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/foreign-entity/api.lua
  spec/fixtures/custom_plugins/kong/plugins/foreign-entity/daos.lua
Labels: size/M

#11223 chore(dev): remove h2client README.md when building kong
  Makefile
Labels: size/XS

#11230 chore(*): change amazonlinux-2 2022 to 2023
  .github/workflows/release.yml
Labels: chore, size/XS

#11227 chore(deps): bump lua-resty-lmdb to 1.3.0
  .requirements
  CHANGELOG.md
  build/openresty/lua-resty-lmdb-cross.patch
Labels: size/S, changelog, build/bazel

#11225 feat(wasm): make wasm configurable
  kong/conf_loader/init.lua
  kong/templates/nginx.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/fixtures/custom_nginx.template
Labels: core/templates, core/configuration, size/L

#11229 chore(deps): bump kong-pgmoon from 1.16.1 to 1.16.2
  CHANGELOG.md
  kong-3.4.0-0.rockspec
Labels: size/XS, changelog

#11131 feat(core): Admin GUI integration
  .github/workflows/build.yml
  .github/workflows/perf.yml
  .github/workflows/release.yml
  .requirements
  BUILD.bazel
  CHANGELOG.md
  build/BUILD.bazel
  build/repositories.bzl
  kong-3.4.0-0.rockspec
  kong.conf.default
  kong/admin_gui/init.lua
  kong/api/api_helpers.lua
  kong/api/init.lua
  kong/cmd/utils/prefix_handler.lua
  kong/conf_loader/init.lua
  kong/constants.lua
  kong/init.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
  kong/templates/nginx_kong_gui_include.lua
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/01-unit/29-admin_gui/01-admin_gui_template_spec.lua
  spec/02-integration/04-admin_api/01-admin_api_spec.lua
  spec/02-integration/04-admin_api/23-cors_spec.lua
  spec/02-integration/05-proxy/01-proxy_spec.lua
  spec/02-integration/09-hybrid_mode/04-cp_cluster_sync_spec.lua
  spec/02-integration/17-admin_gui/01-admin-gui-path_spec.lua
  spec/02-integration/17-admin_gui/02-log_spec.lua
  spec/fixtures/custom_nginx.template
  spec/fixtures/default_nginx.template
  spec/helpers.lua
  spec/kong_tests.conf
Labels: core/cli, core/templates, core/admin-api, core/configuration, chore, size/XXL, changelog, build/bazel

#11236 fix(dbless): make uniqueness checks workspace-aware
  kong/db/schema/others/declarative_config.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
Labels: core/db, size/M, schema-change-noteworthy

#11245 fix(admin-gui): invalidate cache for `kconfig.js` when reload
  kong/init.lua
  spec/02-integration/02-cmd/03-reload_spec.lua
  spec/fixtures/custom_nginx.template
  spec/fixtures/default_nginx.template
Labels: size/M

#10729 feat(tracing): add net.peer.name attribute if balancer_data.hostname is available
  CHANGELOG.md
  kong/tracing/instrumentation.lua
  spec/02-integration/14-tracing/01-instrumentations_spec.lua
Labels: size/S, changelog, core/tracing, author/community

#11246 fix(dbless): accept table form in flattened foreign keys
  kong/clustering/data_plane.lua
  kong/db/schema/others/declarative_config.lua
Labels: core/clustering, core/db, size/XS, schema-change-noteworthy

#11247 fix(luajit): Add the LuaJIT ARM64 fix for HREFK patch.
  build/openresty/patches/LuaJIT-2.1-20220411_06_arm64_fix_HREFK.patch
Labels: size/S, build/bazel

#11252 chore(ci): update build manifests
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/debian-10-amd64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
Labels: size/L

#11240 chore(ci): use public url for fetching ngx_wasm_module
  .github/workflows/build.yml
  .github/workflows/build_and_test.yml
  .github/workflows/release.yml
  build/openresty/wasmx/wasmx_repositories.bzl
Labels: chore, size/M, build/bazel

#11249 docs(wasm): expand inline kong.conf doc strings
  kong.conf.default
Labels: size/M

#11248 fix(wasm): return early on error in init_worker
  kong/init.lua
Labels: size/XS

#11214 fix(core): Add a new parameter `worker_event_max_payload` to kong.conf
  .requirements
  CHANGELOG.md
  kong.conf.default
  kong/conf_loader/init.lua
  kong/global.lua
  kong/templates/kong_defaults.lua
  spec/02-integration/07-sdk/06-worker_events_spec.lua
Labels: core/templates, core/configuration, size/L, changelog

#11220 feat(opentelemetry): make endpoint field referenceable
  CHANGELOG.md
  kong/plugins/opentelemetry/schema.lua
  spec/03-plugins/37-opentelemetry/04-exporter_spec.lua
Labels: size/XS, changelog, plugins/opentelemetry, schema-change-noteworthy, backport release/3.4.x

#11260 fix(admin-gui): add basic kong manager statistics to phone home
  kong/init.lua
  kong/reports.lua
  kong/templates/nginx_kong_gui_include.lua
  spec/01-unit/11-reports_spec.lua
  spec/02-integration/17-admin_gui/03-reports_spec.lua
  spec/fixtures/custom_nginx.template
  spec/fixtures/default_nginx.template
Labels: core/templates, size/L

#11127 fix(cmd): lack of necessary nginx directives in kong cli nginx.conf
  CHANGELOG.md
  bin/kong
  kong-3.4.0-0.rockspec
  kong/cmd/init.lua
  kong/cmd/utils/inject_confs.lua
  kong/cmd/utils/prefix_handler.lua
  kong/conf_loader/init.lua
  kong/templates/nginx.lua
  kong/templates/nginx_inject.lua
  kong/templates/nginx_kong.lua
  kong/templates/nginx_kong_inject.lua
  kong/templates/nginx_kong_stream.lua
  kong/templates/nginx_kong_stream_inject.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/01-unit/28-inject_confs_spec.lua
  spec/02-integration/02-cmd/11-config_spec.lua
  spec/02-integration/02-cmd/14-vault_spec.lua
Labels: pr/please review, core/cli, core/templates, core/configuration, size/XXL, changelog, backport release/3.4.x

#11265 chore(ci): use the new bin/kong in NEW_CONTAINER to fix upgrade tests
  .github/workflows/upgrade-tests.yml
  scripts/upgrade-tests/test-upgrade-path.sh
Labels: chore, size/XS

#11253 chore(wasm): update ffi binding module name
  kong/runloop/wasm.lua
Labels: core/proxy, size/XS

#11071 feat(router): enable flavor `expressions` in stream subsystem
  .requirements
  CHANGELOG.md
  kong/router/atc.lua
  kong/router/compat.lua
  kong/router/expressions.lua
  kong/router/init.lua
  kong/router/utils.lua
  spec/01-unit/08-router_spec.lua
  spec/02-integration/05-proxy/01-proxy_spec.lua
  spec/02-integration/05-proxy/06-ssl_spec.lua
  spec/02-integration/05-proxy/10-balancer/06-stream_spec.lua
  spec/02-integration/05-proxy/18-upstream_tls_spec.lua
  spec/02-integration/05-proxy/23-context_spec.lua
  spec/02-integration/05-proxy/26-udp_spec.lua
  spec/02-integration/05-proxy/28-stream_plugins_triggering_spec.lua
Labels: size/XL, changelog

#11268 chore(*): raise the default size limit of cosocket connection pool fr…
  kong.conf.default
  kong/templates/kong_defaults.lua
  spec/01-unit/03-conf_loader_spec.lua
Labels: core/templates, size/XS

#11192 [backport #11176] chore(build): upgrade Docker base image during build (#11176)
  build/dockerfiles/apk.Dockerfile
  build/dockerfiles/deb.Dockerfile
  build/dockerfiles/rpm.Dockerfile
Labels: size/XS, build/bazel

#11193 [backport #11176] chore(build): upgrade Docker base image during build (#11176)
  build/dockerfiles/apk.Dockerfile
  build/dockerfiles/deb.Dockerfile
  build/dockerfiles/rpm.Dockerfile
Labels: size/XS, build/bazel

#11275 fix(patches): handle if-match headers correctly
  build/openresty/patches/ngx_lua-0.10.21_09-crash-when-buffering-with-invalid-if-match-header.patch
  spec/02-integration/05-proxy/24-buffered_spec.lua
Labels: size/L, build/bazel, backport release/3.4.x

#11270 chore(wasm): update ffi binding module name
  kong/runloop/wasm.lua
Labels: core/proxy, size/XS

#11291 fix(cmd): remove the restriction that some configuration fields are not
  CHANGELOG.md
  kong/conf_loader/init.lua
  spec/01-unit/03-conf_loader_spec.lua
Labels: core/configuration, size/M, changelog, backport release/3.4.x

#11281 fix(lua-cjson): handle the large string correctly
  build/openresty/patches/lua-cjson-2.1.0.10_02-handle-large-string-correctly.patch
  spec/01-unit/29-lua_cjson_large_str_spec.lua
Labels: pr/ready, size/L, build/bazel, backport release/3.4.x

#11290 feat(build): add wasmx to arm64 build matrix
  .github/matrix-full.yml
  BUILD.bazel
  build/BUILD.bazel
  build/kong_bindings.bzl
  build/openresty/BUILD.openresty.bazel
  build/openresty/wasmx/wasmx_repositories.bzl
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
Labels: chore, size/L, build/bazel, backport release/3.4.x

#11298 fix(ci): ensure cache key is consistent across workflows
  .github/workflows/build_and_test.yml
Labels: chore, size/XS

#11300 chore(release): bump version to 3.5.0 as part of the 3.4 Feature Freeze
  kong-3.5.0-0.rockspec
  kong/meta.lua
  scripts/release-lib.sh
Labels: size/XL

#11292 tests(dbless): fix flaky test
  spec/02-integration/11-dbless/03-config_persistence_spec.lua
Labels: pr/please review, size/M, backport release/3.4.x

#11299 chore(ci): re-use cache key from build workflow
  .github/actions/build-cache-key/action.yml
  .github/workflows/build.yml
  .github/workflows/build_and_test.yml
  .github/workflows/perf.yml
  .github/workflows/release.yml
Labels: chore, size/L, backport release/3.4.x

#11310 fix(build): add default condition to platform select()
  build/openresty/BUILD.openresty.bazel
Labels: size/XS, build/bazel, backport release/3.4.x

#11311 chore(ci): re-use cache key from build workflow (#11299)
  .github/actions/build-cache-key/action.yml
  .github/workflows/build.yml
  .github/workflows/build_and_test.yml
  .github/workflows/perf.yml
  .github/workflows/release.yml
Labels: chore, size/L

#11244 feat(balancer): support upstream host_header and router preserve_host config for stream tls proxy
  CHANGELOG.md
  kong/router/atc.lua
  kong/router/traditional.lua
  kong/runloop/balancer/init.lua
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/31-stream_tls_spec.lua
  spec/fixtures/custom_nginx.template
Labels: core/balancer, core/proxy, size/L, changelog

#11314 feat(reports): add anonymous reports for Wasm filter usage
  kong/reports.lua
  kong/runloop/wasm.lua
  spec/02-integration/20-wasm/07-reports_spec.lua
Labels: core/proxy, size/L, backport release/3.4.x

#11317 docs(changelog): add 3.4.0 known issues
  CHANGELOG.md
Labels: changelog, backport release/3.4.x

#11307 tests(wasm): escape the prefix in case it contains special characters
  spec/01-unit/04-prefix_handler_spec.lua
Labels: size/XS, backport release/3.4.x

#11313 revert(api): remove /plugins/schema/:name
  kong/api/routes/plugins.lua
Labels: core/admin-api, size/S, backport release/3.4.x

#11316 chore(deps): pin kong-manager to v3.4.0.0
  .requirements
Labels: size/XS

#11288 fix(wasm): validate filters in all persistence modes
  kong-3.5.0-0.rockspec
  kong/clustering/init.lua
  kong/db/dao/filter_chains.lua
  kong/db/schema/entities/filter_chains.lua
  kong/db/schema/init.lua
  kong/db/schema/metaschema.lua
  kong/init.lua
  kong/runloop/wasm.lua
  spec/02-integration/20-wasm/01-admin-api_spec.lua
  spec/02-integration/20-wasm/02-db_spec.lua
  spec/02-integration/20-wasm/03-runtime_spec.lua
  spec/02-integration/20-wasm/04-proxy-wasm_spec.lua
  spec/02-integration/20-wasm/05-cache-invalidation_spec.lua
  spec/02-integration/20-wasm/07-reports_spec.lua
  spec/02-integration/20-wasm/08-declarative_spec.lua
Labels: core/proxy, core/clustering, core/db, size/XL, schema-change-noteworthy, backport release/3.4.x

#11277 style(router): rename `buffer_append` to `expression_append`
  kong/router/compat.lua
Labels: size/M

#11278 refactor(router): clean the logic of `get_upstream_uri_v0()`
  kong/router/utils.lua
Labels: size/M

#11332 fix(admin-gui): make admin_gui_ssl_cert_key sensitive
  kong/conf_loader/init.lua
Labels: core/configuration, size/XS

#11335 chore: add schema-change-noteworthy label to redis schema
  .github/labeler.yml
Labels: chore, size/XS

#11323 chore(deps): pin ngx_wasm_module
  .requirements
  CHANGELOG.md
  build/README.md
  build/kong_bindings.bzl
  build/openresty/wasmx/wasmx_repositories.bzl
Labels: core/docs, size/M, changelog, build/bazel, backport release/3.4.x

#11337 fix(gha): ensure proper perf suites inputs
  .github/workflows/perf.yml
Labels: chore, size/XS
