Repository Kong/kong, pull requests merged in 2023-09, with the labels that each got.

#11468 fix(tracing/propagation): set parent span correctly
  CHANGELOG/unreleased/kong/11468.yaml
  kong/plugins/opentelemetry/handler.lua
  kong/runloop/handler.lua
  kong/tracing/instrumentation.lua
  kong/tracing/propagation.lua
  spec/03-plugins/37-opentelemetry/03-propagation_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/trace-propagator/handler.lua
Labels: core/proxy, size/L, core/tracing, plugins/opentelemetry

#11507 style(db/declarative): small clean for `load_into_cache()`
  kong/db/declarative/import.lua
Labels: core/db, skip-changelog, size/S

#11514 chore(ci): update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: chore, size/XS

#11515 perf(template): use more reasonable default value for Nginx tuning
  CHANGELOG/schema.json
  CHANGELOG/unreleased/kong/11515.yaml
  kong.conf.default
  kong/templates/kong_defaults.lua
  spec/01-unit/04-prefix_handler_spec.lua
Labels: core/templates, size/M

#11464 fix(db/declarative): fix TTL not working in DB-less and Hybrid mode
  CHANGELOG/unreleased/kong/11464.yaml
  kong/db/dao/init.lua
  kong/db/declarative/export.lua
  kong/db/schema/others/declarative_config.lua
  kong/db/strategies/off/init.lua
  kong/db/strategies/postgres/init.lua
  spec/03-plugins/09-key-auth/04-hybrid_mode_spec.lua
Labels: core/db, skip-changelog, size/L, schema-change-noteworthy

#11517 docs(DEVELOPER.md): add how to set up hybrid mode
  DEVELOPER.md
Labels: core/docs, skip-changelog, size/M

#11518 chore(deps): bump resty.openssl from 0.8.23 to 0.8.25
  CHANGELOG/unreleased/kong/11518.yaml
  kong-3.5.0-0.rockspec
Labels: size/XS

#11402 fix(vault): fix several issues in vault and refactor the vault code base
  CHANGELOG/unreleased/kong/11402.yaml
  kong/concurrency.lua
  kong/db/schema/init.lua
  kong/pdk/vault.lua
  kong/runloop/handler.lua
  kong/runloop/plugins_iterator.lua
  spec/01-unit/01-db/01-schema/01-schema_spec.lua
  spec/01-unit/17-concurrency_spec.lua
  spec/01-unit/23-vaults_spec.lua
  spec/02-integration/13-vaults/01-vault_spec.lua
  spec/02-integration/13-vaults/02-env_vault_spec.lua
  spec/02-integration/13-vaults/05-ttl_spec.lua
  spec/02-integration/13-vaults/06-refresh-secrets_spec.lua
Labels: core/proxy, core/pdk, core/db, size/XXL, schema-change-noteworthy, backport release/3.4.x

#11522 tests(*): yet another compilation of flakiness fixes
  spec/02-integration/06-invalidations/01-cluster_events_spec.lua
  spec/03-plugins/25-oauth2/04-invalidations_spec.lua
Labels: size/S

#11537 chore(patches): apply the LuaJIT ARM64 LDP/STP fusion fix from LuaJIT
  CHANGELOG/unreleased/kong/luajit_ldp_stp_fusion.yaml
  build/openresty/patches/LuaJIT-2.1-20230410_05_ldp_stp_fusion.patch
Labels: size/M, build/bazel, backport release/3.2.x, backport release/3.3.x, backport release/3.4.x

#11341 chore(ci): support additional paths in the build cache key
  .github/actions/build-cache-key/action.yml
  .github/workflows/release.yml
Labels: chore, size/S

#11547 [cherry-pick] perf(template): use more reasonable default value for Nginx tuning (#…
  kong.conf.default
  kong/templates/kong_defaults.lua
  spec/01-unit/04-prefix_handler_spec.lua
Labels: core/templates, size/M

#11550 docs(changelog): fix changelog entry for #11537
  CHANGELOG/unreleased/kong/luajit_ldp_stp_fusion.yaml
Labels: size/XS

#11506 refactor(db/declarative): remove sha256 in `unique_field_key`
  kong/db/declarative/import.lua
  spec/01-unit/01-db/10-declarative_spec.lua
Labels: pr/discussion, core/db, skip-changelog, size/S

#11315 refactor(runloop/balancer): clean the code of round robin algo
  kong/runloop/balancer/round_robin.lua
Labels: core/balancer, skip-changelog, size/M

#11553 chore(deps): bump luasec from 1.3.1 to 1.3.2
  CHANGELOG/unreleased/kong/11553.yaml
  kong-3.5.0-0.rockspec
Labels: pr/please review, size/XS

#11551 fix(aws-lambda): let plugin level proxy take effect on EKS IRSA credential provider
  CHANGELOG/unreleased/kong/11551-1.yaml
  CHANGELOG/unreleased/kong/11551-2.yaml
  kong-3.5.0-0.rockspec
  kong/plugins/aws-lambda/handler.lua
Labels: plugins/aws-lambda, size/M

#11578 [KAG-911] fix(bazel): don't rm lapis/luarocks-admin bins
  CHANGELOG/unreleased/kong/11578.yaml
  build/BUILD.bazel
Labels: size/XS, build/bazel

#11538 fix(router): fix tls_passthrough in expression flavor
  CHANGELOG/unreleased/kong/11538.yaml
  kong/router/expressions.lua
  spec/01-unit/08-router_spec.lua
  spec/02-integration/05-proxy/02-router_spec.lua
Labels: size/M, backport release/3.4.x

#11580 chore(*): update Kong Manager version & changelog
  .requirements
  CHANGELOG.md
Labels: size/XS, changelog

#11480 fix(postgres): close socket actively when timeout happens during query
  CHANGELOG/unreleased/kong/11480.yaml
  kong/db/strategies/postgres/connector.lua
  spec/02-integration/03-db/01-db_spec.lua
Labels: core/db, size/M

#11589 [Backport release/2.8.x] fix(postgres): close socket actively when timeout happens during query
  CHANGELOG/unreleased/kong/11480.yaml
  kong/db/strategies/postgres/connector.lua
  spec/02-integration/03-db/01-db_spec.lua
Labels: core/db, size/M

#11567 [backport] fix(vault): vault references may be dropped from rotation
  kong/pdk/vault.lua
Labels: pr/please review, core/pdk, skip-changelog, size/S

#11569 refactor(plugins/jwt): use encode_base64url in resty.core
  kong/plugins/jwt/jwt_parser.lua
Labels: plugins/jwt, skip-changelog, size/S

#11562 refactor(plugins/grpc-web): use string buffer to concat strings
  kong/plugins/grpc-web/deco.lua
  kong/plugins/grpc-web/handler.lua
Labels: plugins/grpc-web, skip-changelog, size/S

#11502 fix(runloop): upstream ssl failure when plugins use response handler
  CHANGELOG/unreleased/kong/11502.yaml
  kong-3.5.0-0.rockspec
  kong/runloop/balancer/init.lua
  kong/runloop/handler.lua
  kong/runloop/upstream_ssl.lua
  kong/templates/nginx_kong.lua
  spec/02-integration/05-proxy/18-upstream_tls_spec.lua
Labels: core/balancer, core/proxy, core/templates, size/XL, backport release/3.4.x

#11591 chore(build): add openresty tarball mirror
  build/openresty/repositories.bzl
Labels: size/XS, build/bazel

#11561 docs(DEVELOPER): clarify permission for Github Access Token
  DEVELOPER.md
Labels: core/docs, skip-changelog, size/XS

#11516 Update kong.conf.default
  kong.conf.default
Labels: skip-changelog, size/XS

#11474 docs(CONTRIBUTING): add link to the changelog readme and reformatted
  CONTRIBUTING.md
Labels: core/docs, size/M

#11536 refactor(core): wrapper of now_ms and start_time_ms
  kong/init.lua
  kong/tools/utils.lua
Labels: skip-changelog, size/M

#11442 refactor(statsd): refactor workspace id and name retrieval
  CHANGELOG/unreleased/kong/11442.yaml
  kong/plugins/statsd/log.lua
  kong/workspaces/init.lua
Labels: plugins/statsd, size/S

#11606 fix(test): don't expect specific status code in queue shutdown test
  spec/02-integration/16-queues/01-shutdown_spec.lua
Labels: skip-changelog, size/XS

#11604 chore(ci): automatically label community PRs with author/community
  .github/workflows/label-community-pr.yml
Labels: chore, size/S

#11613 chore(deps): bump resty.aws from 1.3.2 to 1.3.5
  CHANGELOG/unreleased/kong/11613.yaml
  kong-3.5.0-0.rockspec
Labels: size/XS

#11614 fix(aws-lambda): lazily initialize aws library
  kong/db/dao/plugins.lua
  kong/init.lua
  kong/plugins/aws-lambda/handler.lua
Labels: plugins/aws-lambda, core/db, skip-changelog, size/M, schema-change-noteworthy

#11549 chore(ci): reuse changelog workflow
  .github/workflows/changelog-requirement.yml
  .github/workflows/changelog-validation.yml
  .github/workflows/changelog.yaml
  CHANGELOG/Makefile
  CHANGELOG/README.md
  CHANGELOG/changelog
  CHANGELOG/changelog-md-template.lua
  CHANGELOG/changelog-template.yaml
  CHANGELOG/schema.json
Labels: core/docs, skip-changelog, chore, size/XL

#11382 refactor(cmd): use resty.signal for process signaling
  bin/kong-health
  kong-3.5.0-0.rockspec
  kong/cmd/health.lua
  kong/cmd/quit.lua
  kong/cmd/restart.lua
  kong/cmd/start.lua
  kong/cmd/utils/kill.lua
  kong/cmd/utils/nginx_signals.lua
  kong/cmd/utils/process.lua
  spec/02-integration/01-helpers/03-http_mock_spec.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
  spec/02-integration/02-cmd/13-signals_spec.lua
  spec/02-integration/02-cmd/15-utils_spec.lua
  spec/helpers.lua
Labels: core/cli, skip-changelog, size/XL, author/community

#11566 fix(pdk): use deep copies of Route, Service, and Consumer objects when log serialize
  CHANGELOG/unreleased/kong/11566.yaml
  kong/pdk/log.lua
  spec/01-unit/10-log_serializer_spec.lua
  spec/02-integration/07-sdk/02-log_spec.lua
Labels: core/logs, size/L

#11620 Revert "refactor(cmd): use resty.signal for process signaling"
  bin/kong-health
  kong-3.5.0-0.rockspec
  kong/cmd/health.lua
  kong/cmd/quit.lua
  kong/cmd/restart.lua
  kong/cmd/start.lua
  kong/cmd/utils/kill.lua
  kong/cmd/utils/nginx_signals.lua
  kong/cmd/utils/process.lua
  spec/02-integration/01-helpers/03-http_mock_spec.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
  spec/02-integration/02-cmd/13-signals_spec.lua
  spec/02-integration/02-cmd/15-utils_spec.lua
  spec/helpers.lua
Labels: core/cli, skip-changelog, size/XL

#11544 chore(docs): update contributor wording and support channel info
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  COMMUNITY_PLEDGE.md
  CONTRIBUTING.md
  README.md
Labels: core/docs, chore, size/L, author/community

#10570 feat(response-ratelimiting): add support for secret rotation with redis connection
  CHANGELOG/unreleased/kong/10570.yaml
  kong/plugins/response-ratelimiting/policies/init.lua
Labels: plugins/response-ratelimiting, size/S

#11602 refactor(plugins/grpc-gateway): use string buffer to concat strings
  kong/plugins/grpc-gateway/deco.lua
Labels: plugins/grpc-gateway, skip-changelog, size/S, author/community

#11601 style(runloop): style clean for upstream_ssl
  kong/runloop/upstream_ssl.lua
Labels: core/proxy, skip-changelog, size/L, author/community

#11628 Revert "chore(deps): bump actions/checkout from 3 to 4"
  .github/workflows/autodocs.yml
  .github/workflows/build.yml
  .github/workflows/build_and_test.yml
  .github/workflows/buildifier.yml
  .github/workflows/perf.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-tests.yml
Labels: chore, size/M

#11637 chore(gha): non-default token for PRs ID
  .github/workflows/label-community-pr.yml
Labels: chore, size/XS

#11636 docs(changelog): reword changelog message
  CHANGELOG/unreleased/kong/11566.yaml
Labels: size/XS

#11631 chore(helpers): do not display debug log when test errors with status code 500
  spec/helpers.lua
Labels: size/S

#11629 fix(build):add openresty/lualib into rpath
  build/openresty/BUILD.openresty.bazel
  scripts/explain_manifest/config.py
  scripts/explain_manifest/fixtures/alpine-amd64.txt
  scripts/explain_manifest/fixtures/alpine-arm64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/debian-10-amd64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-amd64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
  scripts/explain_manifest/suites.py
Labels: size/M, build/bazel

#11617 fix(vault): vault try should avoid using semaphore in non-yieldable phases
  kong/concurrency.lua
  kong/tools/utils.lua
  spec/02-integration/13-vaults/03-mock_spec.lua
Labels: skip-changelog, size/M

#11642 fix(test): change test to not depend on server to be present
  spec/02-integration/16-queues/01-shutdown_spec.lua
Labels: size/XS

#11643 fix(upgrade-tests): redirect stdout of docker pull in upgrade tests
  scripts/upgrade-tests/test-upgrade-path.sh
Labels: size/XS

#11639 chore(patches): apply the LuaJIT ARM64 LDP/STP fix for unaligned accesses.
  CHANGELOG/unreleased/kong/11639.yaml
  build/openresty/patches/LuaJIT-2.1-20230410_07_ldp_stp_unaligned.patch
Labels: size/M, build/bazel

#11638 chore(patches): fix incorrect LuaJIT register allocation for IR_*LOAD on ARM64
  CHANGELOG/unreleased/kong/11638.yaml
  build/openresty/patches/LuaJIT-2.1-20230410_06_arm64_reg_alloc_fix.patch
Labels: size/M, build/bazel

#11640 docs(changelog): generate 3.4.1 changelog
  CHANGELOG/3.4.1/3.4.1.md
  CHANGELOG/3.4.1/kong/11348.yaml
  CHANGELOG/3.4.1/kong/11402.yaml
  CHANGELOG/3.4.1/kong/11480.yaml
  CHANGELOG/3.4.1/kong/11484.yaml
  CHANGELOG/3.4.1/kong/11502.yaml
  CHANGELOG/3.4.1/kong/11538.yaml
  CHANGELOG/3.4.1/kong/luajit_ldp_stp_fusion.yaml
Labels: core/docs, size/M

#11532 feat(acme): add scan_count to redis storage schema
  CHANGELOG/unreleased/kong/11532.yaml
  kong-3.5.0-0.rockspec
  kong/clustering/compat/removed_fields.lua
  kong/plugins/acme/schema.lua
  spec/03-plugins/29-acme/05-redis_storage_spec.lua
Labels: pending author feedback, core/clustering, plugins/acme, size/M, schema-change-noteworthy, author/community

#11652 chore(changelog): use simpler format for changelog files with the new changelog generator
  .github/workflows/changelog-requirement.yml
  .github/workflows/changelog-validation.yml
  CHANGELOG/unreleased/kong/11402.yaml
  changelog/changelog-template.yaml
  changelog/unreleased/kong/.gitkeep
  changelog/unreleased/kong/10570.yml
  changelog/unreleased/kong/11360-1.yml
  changelog/unreleased/kong/11360-2.yml
  changelog/unreleased/kong/11402.yml
  changelog/unreleased/kong/11424.yml
  changelog/unreleased/kong/11442.yml
  changelog/unreleased/kong/11464.yml
  changelog/unreleased/kong/11468.yml
  changelog/unreleased/kong/11480.yml
  changelog/unreleased/kong/11484.yml
  changelog/unreleased/kong/11502.yml
  changelog/unreleased/kong/11515.yml
  changelog/unreleased/kong/11518.yml
  changelog/unreleased/kong/11523.yml
  changelog/unreleased/kong/11532.yml
  changelog/unreleased/kong/11538.yml
  changelog/unreleased/kong/11551-1.yml
  changelog/unreleased/kong/11551-2.yml
  changelog/unreleased/kong/11553.yml
  changelog/unreleased/kong/11566.yml
  changelog/unreleased/kong/11578.yml
  changelog/unreleased/kong/11599.yml
  changelog/unreleased/kong/11613.yml
  changelog/unreleased/kong/11638.yml
  changelog/unreleased/kong/11639.yml
  changelog/unreleased/kong/luajit_ldp_stp_fusion.yml
Labels: chore, size/L

#11641 chore(ci): automatically label community PRs with author/community
  .github/workflows/label-community-pr.yml
Labels: chore, size/S

#11625 feat(cp): add dp metadata on prem (KAG-2444)
  changelog/unreleased/kong/11625.yml
  kong-3.5.0-0.rockspec
  kong/clustering/control_plane.lua
  kong/db/migrations/core/021_340_to_350.lua
  kong/db/migrations/core/init.lua
  kong/db/schema/entities/clustering_data_planes.lua
  spec/01-unit/01-db/01-schema/13-cluster_status_spec.lua
  spec/02-integration/03-db/13-cluster_status_spec.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/05-migration/db/migrations/core/021_340_to_350_spec.lua
Labels: core/db/migrations, core/clustering, core/db, size/L, schema-change-noteworthy

#11656 chore(changelog): use new style for changelog files
  changelog/unreleased/kong/11480.yml
  changelog/unreleased/kong/luajit_ldp_stp_fusion.yml
Labels: size/XS, author/community

#11624 feat(request-id): introduce Request ID
  .requirements
  changelog/unreleased/kong/11624-2.yml
  changelog/unreleased/kong/11624.yml
  kong-3.5.0-0.rockspec
  kong.conf.default
  kong/conf_loader/init.lua
  kong/constants.lua
  kong/error_handlers.lua
  kong/pdk/log.lua
  kong/pdk/response.lua
  kong/plugins/correlation-id/handler.lua
  kong/runloop/handler.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
  kong/tools/utils.lua
  kong/tracing/instrumentation.lua
  kong/tracing/propagation.lua
  kong/tracing/request_id.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/01-unit/10-log_serializer_spec.lua
  spec/01-unit/26-tracing/02-propagation_spec.lua
  spec/01-unit/26-tracing/03-request-id_spec.lua
  spec/02-integration/04-admin_api/22-debug_spec.lua
  spec/02-integration/05-proxy/06-ssl_spec.lua
  spec/02-integration/05-proxy/12-error_default_type_spec.lua
  spec/02-integration/05-proxy/13-error_handlers_spec.lua
  spec/02-integration/05-proxy/18-upstream_tls_spec.lua
  spec/02-integration/05-proxy/29-collect-plugin-errors_spec.lua
  spec/02-integration/05-proxy/30-max-args_spec.lua
  spec/02-integration/05-proxy/33-request-id-header_spec.lua
  spec/02-integration/10-go_plugins/01-reports_spec.lua
  spec/02-integration/14-tracing/01-instrumentations_spec.lua
  spec/02-integration/14-tracing/04-trace-ids-log_spec.lua
  spec/03-plugins/04-file-log/01-log_spec.lua
  spec/03-plugins/09-key-auth/02-access_spec.lua
  spec/03-plugins/10-basic-auth/03-access_spec.lua
  spec/03-plugins/10-basic-auth/05-declarative_spec.lua
  spec/03-plugins/11-correlation-id/01-access_spec.lua
  spec/03-plugins/12-request-size-limiting/01-access_spec.lua
  spec/03-plugins/14-request-termination/02-access_spec.lua
  spec/03-plugins/17-ip-restriction/02-access_spec.lua
  spec/03-plugins/18-acl/02-access_spec.lua
  spec/03-plugins/19-hmac-auth/03-access_spec.lua
  spec/03-plugins/23-rate-limiting/04-access_spec.lua
  spec/03-plugins/33-serverless-functions/02-access_spec.lua
  spec/03-plugins/37-opentelemetry/04-exporter_spec.lua
  spec/fixtures/error_templates/error_template.html
  spec/fixtures/error_templates/error_template.json
  spec/fixtures/error_templates/error_template.plain
  spec/fixtures/error_templates/error_template.xml
  t/01-pdk/08-response/13-error.t
Labels: core/proxy, core/pdk, core/templates, core/configuration, plugins/correlation-id, core/logs, size/XXL, core/tracing

#11653 fix(upgrade-tests): redirect stdout of docker pull in upgrade tests (#11643)
  scripts/upgrade-tests/test-upgrade-path.sh
Labels: size/XS, backport release/3.2.x, author/community, backport release/3.4.x

#11659 chore(ci): automatically label community PRs with author/community
  .github/workflows/label-community-pr.yml
Labels: chore, size/XS

#11533 add description field for pre-function plugin
  kong/plugins/pre-function/_schema.lua
Labels: plugins/serverless-functions, skip-changelog, size/XS

#11662 Revert "feat(request-id): introduce Request ID"
  .requirements
  changelog/unreleased/kong/11624-2.yml
  changelog/unreleased/kong/11624.yml
  kong-3.5.0-0.rockspec
  kong.conf.default
  kong/conf_loader/init.lua
  kong/constants.lua
  kong/error_handlers.lua
  kong/pdk/log.lua
  kong/pdk/response.lua
  kong/plugins/correlation-id/handler.lua
  kong/runloop/handler.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
  kong/tools/utils.lua
  kong/tracing/instrumentation.lua
  kong/tracing/propagation.lua
  kong/tracing/request_id.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/01-unit/10-log_serializer_spec.lua
  spec/01-unit/26-tracing/02-propagation_spec.lua
  spec/01-unit/26-tracing/03-request-id_spec.lua
  spec/02-integration/04-admin_api/22-debug_spec.lua
  spec/02-integration/05-proxy/06-ssl_spec.lua
  spec/02-integration/05-proxy/12-error_default_type_spec.lua
  spec/02-integration/05-proxy/13-error_handlers_spec.lua
  spec/02-integration/05-proxy/18-upstream_tls_spec.lua
  spec/02-integration/05-proxy/29-collect-plugin-errors_spec.lua
  spec/02-integration/05-proxy/30-max-args_spec.lua
  spec/02-integration/05-proxy/33-request-id-header_spec.lua
  spec/02-integration/10-go_plugins/01-reports_spec.lua
  spec/02-integration/14-tracing/01-instrumentations_spec.lua
  spec/02-integration/14-tracing/04-trace-ids-log_spec.lua
  spec/03-plugins/04-file-log/01-log_spec.lua
  spec/03-plugins/09-key-auth/02-access_spec.lua
  spec/03-plugins/10-basic-auth/03-access_spec.lua
  spec/03-plugins/10-basic-auth/05-declarative_spec.lua
  spec/03-plugins/11-correlation-id/01-access_spec.lua
  spec/03-plugins/12-request-size-limiting/01-access_spec.lua
  spec/03-plugins/14-request-termination/02-access_spec.lua
  spec/03-plugins/17-ip-restriction/02-access_spec.lua
  spec/03-plugins/18-acl/02-access_spec.lua
  spec/03-plugins/19-hmac-auth/03-access_spec.lua
  spec/03-plugins/23-rate-limiting/04-access_spec.lua
  spec/03-plugins/33-serverless-functions/02-access_spec.lua
  spec/03-plugins/37-opentelemetry/04-exporter_spec.lua
  spec/fixtures/error_templates/error_template.html
  spec/fixtures/error_templates/error_template.json
  spec/fixtures/error_templates/error_template.plain
  spec/fixtures/error_templates/error_template.xml
  t/01-pdk/08-response/13-error.t
Labels: core/proxy, core/pdk, core/templates, core/configuration, plugins/correlation-id, core/logs, skip-changelog, size/XXL, core/tracing

#11664 chore(changelog): remove `prs` key from changelog-template.yaml, it i…
  changelog/changelog-template.yaml
Labels: size/XS

#11666 chore(tests): remove unwanted license headers
  spec/02-integration/03-db/18-keys_spec.lua
  spec/02-integration/03-db/19-key-sets_spec.lua
  spec/02-integration/04-admin_api/21-admin-api-keys_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/dummy/schema.lua
Labels: size/S

#11667 chore(changelog): make the template more useful
  changelog/changelog-template.yaml
Labels: size/XS

#11668 [Backport release/3.4.x] chore(changelog): reusable workflow / simpler changelog file format
  .github/workflows/changelog-requirement.yml
  .github/workflows/changelog-validation.yml
  changelog/3.4.1/3.4.1.md
  changelog/3.4.1/kong/11348.yaml
  changelog/3.4.1/kong/11402.yaml
  changelog/3.4.1/kong/11480.yaml
  changelog/3.4.1/kong/11484.yaml
  changelog/3.4.1/kong/11502.yaml
  changelog/3.4.1/kong/11538.yaml
  changelog/3.4.1/kong/luajit_ldp_stp_fusion.yaml
  changelog/changelog-template.yaml
  changelog/unreleased/kong/.gitkeep
  changelog/unreleased/kong/11468.yml
Labels: core/docs, chore, size/M

#11655 chore(changelog): use new style for changelog files
  changelog/unreleased/kong/11480.yml
  changelog/unreleased/kong/luajit_ldp_stp_fusion.yml
Labels: size/XS

#11627 feat(tracing): per request debugging
  changelog/unreleased/kong/per_reqeuest_deubgging.yml
  kong-3.5.0-0.rockspec
  kong/conf_loader/init.lua
  kong/constants.lua
  kong/dynamic_hook/init.lua
  kong/dynamic_hook/wrap_function_gen.lua
  kong/global.lua
  kong/globalpatches.lua
  kong/hooks.lua
  kong/init.lua
  kong/resty/dns/client.lua
  kong/runloop/handler.lua
  kong/templates/kong_defaults.lua
  kong/timing/context.lua
  kong/timing/hooks/dns.lua
  kong/timing/hooks/http.lua
  kong/timing/hooks/init.lua
  kong/timing/hooks/redis.lua
  kong/timing/hooks/socket.lua
  kong/timing/init.lua
  kong/tools/utils.lua
  spec/02-integration/21-request-debug/01-request-debug_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/muti-external-http-calls/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/muti-external-http-calls/schema.lua
Labels: core/proxy, core/templates, core/configuration, size/XXL

#11663 [reopened] feat(request-id): introduce Request ID
  .requirements
  changelog/unreleased/kong/lua_kong_nginx_module_bump.yml
  changelog/unreleased/kong/request_id.yml
  kong-3.5.0-0.rockspec
  kong.conf.default
  kong/conf_loader/init.lua
  kong/constants.lua
  kong/error_handlers.lua
  kong/pdk/log.lua
  kong/pdk/response.lua
  kong/plugins/correlation-id/handler.lua
  kong/runloop/handler.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
  kong/tools/utils.lua
  kong/tracing/instrumentation.lua
  kong/tracing/propagation.lua
  kong/tracing/request_id.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/01-unit/10-log_serializer_spec.lua
  spec/01-unit/26-tracing/02-propagation_spec.lua
  spec/01-unit/26-tracing/03-request-id_spec.lua
  spec/02-integration/04-admin_api/22-debug_spec.lua
  spec/02-integration/05-proxy/06-ssl_spec.lua
  spec/02-integration/05-proxy/12-error_default_type_spec.lua
  spec/02-integration/05-proxy/13-error_handlers_spec.lua
  spec/02-integration/05-proxy/18-upstream_tls_spec.lua
  spec/02-integration/05-proxy/29-collect-plugin-errors_spec.lua
  spec/02-integration/05-proxy/30-max-args_spec.lua
  spec/02-integration/05-proxy/33-request-id-header_spec.lua
  spec/02-integration/10-go_plugins/01-reports_spec.lua
  spec/02-integration/14-tracing/01-instrumentations_spec.lua
  spec/02-integration/14-tracing/04-trace-ids-log_spec.lua
  spec/03-plugins/04-file-log/01-log_spec.lua
  spec/03-plugins/09-key-auth/02-access_spec.lua
  spec/03-plugins/10-basic-auth/03-access_spec.lua
  spec/03-plugins/10-basic-auth/05-declarative_spec.lua
  spec/03-plugins/11-correlation-id/01-access_spec.lua
  spec/03-plugins/12-request-size-limiting/01-access_spec.lua
  spec/03-plugins/14-request-termination/02-access_spec.lua
  spec/03-plugins/17-ip-restriction/02-access_spec.lua
  spec/03-plugins/18-acl/02-access_spec.lua
  spec/03-plugins/19-hmac-auth/03-access_spec.lua
  spec/03-plugins/23-rate-limiting/04-access_spec.lua
  spec/03-plugins/33-serverless-functions/02-access_spec.lua
  spec/03-plugins/37-opentelemetry/04-exporter_spec.lua
  spec/fixtures/error_templates/error_template.html
  spec/fixtures/error_templates/error_template.json
  spec/fixtures/error_templates/error_template.plain
  spec/fixtures/error_templates/error_template.xml
  t/01-pdk/08-response/13-error.t
Labels: core/proxy, core/pdk, core/templates, core/configuration, plugins/correlation-id, core/logs, size/XXL, core/tracing

#11673 docs(README.md): add link for Kong Manager
  README.md
Labels: core/docs, size/XS
