Repository Kong/kong, pull requests merged in 2023-05, with the labels that each got.

#10773 tests(*): fix ssl upstream cert verify depth for mockbin.com
  spec/02-integration/04-admin_api/22-debug_spec.lua
  spec/02-integration/05-proxy/06-ssl_spec.lua
Labels: size/XS

#10775 fix(cmd): do not error when kong is stopping on secret resolving errors
  CHANGELOG.md
  kong/conf_loader/init.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
Labels: pr/ready, core/configuration, size/S, changelog

#10777 chore(vault): use name instead of prefix to cache vault strategies and schemas
  kong/pdk/vault.lua
Labels: core/pdk, size/XS

#10778 [revert kong/#10646] fix(plugins): change opentelemetry plugin version to match core
  CHANGELOG.md
  kong/plugins/opentelemetry/handler.lua
  spec/01-unit/01-db/01-schema/07-plugins_spec.lua
Labels: size/S, changelog, plugins/opentelemetry

#10770 chore: set PostgreSQL application_name=kong
  kong/db/strategies/postgres/connector.lua
  spec/02-integration/03-db/01-db_spec.lua
Labels: core/db, size/S

#10764 chore(dev): silent error if stop_services does not exist
  build/templates/venv.sh
Labels: size/XS, build/bazel

#10784 docs(build): minor style fix
  build/README.md
Labels: core/docs, size/XS, build/bazel

#10737 chore(ci): bump bot payload to new output way
  .github/workflows/release-fail-bot.yml
Labels: chore, size/XS

#10615 fix(router): fix incorrectly calculated priorities in traditional_compat
  CHANGELOG.md
  kong/router/atc.lua
  kong/router/compat.lua
  spec/01-unit/08-router_spec.lua
Labels: size/L, changelog, backport release/3.3.x

#10787 fix(status): CP /status/ready return 503 when DB is off
  CHANGELOG.md
  kong/status/ready.lua
  spec/02-integration/09-hybrid_mode/11-status_spec.lua
Labels: size/S, changelog, backport release/3.3.x

#10796 docs(changelog): fix some mistakes
  CHANGELOG.md
Labels: size/XS, changelog

#10794 tests(coverage): simplify aggregation
  .ci/luacov-stats-aggregator.lua
  .github/workflows/build_and_coverage.yml
Labels: chore, size/M

#10011 fix(oauth2): prevent an authorization code created by one plugin instance to be exchanged for an access token by a different plugin instance
  CHANGELOG.md
  kong-3.3.0-0.rockspec
  kong/plugins/oauth2/access.lua
  kong/plugins/oauth2/daos.lua
  kong/plugins/oauth2/migrations/007_320_to_330.lua
  kong/plugins/oauth2/migrations/init.lua
  spec/03-plugins/25-oauth2/03-access_spec.lua
Labels: pr/please review, plugins/oauth2, size/L, changelog, schema-change-noteworthy, backport release/3.3.x

#10791 fix(build): remove PATH from env var and hardcode `ar` for macOS
  .bazelrc
  build/BUILD.bazel
  build/kong_bindings.bzl
  build/openresty/BUILD.openresty.bazel
  build/openresty/openssl/BUILD.openssl.bazel
  build/openresty/patches/LuaJIT-2.1-20220411_03_pass_cc_env.patch
Labels: size/S, build/bazel

#10781 chore(release): bump master to 3.4 after Feature Freeze
  CHANGELOG.md
  kong-3.4.0-0.rockspec
  kong/meta.lua
Labels: size/S, changelog

#10799 fix(queues): display plugin name in queue log entries
  kong/plugins/datadog/handler.lua
  kong/plugins/http-log/handler.lua
  kong/plugins/opentelemetry/handler.lua
  kong/plugins/statsd/log.lua
  kong/plugins/zipkin/reporter.lua
  kong/tools/queue.lua
  spec/01-unit/27-queue_spec.lua
  spec/03-plugins/03-http-log/01-log_spec.lua
  spec/03-plugins/03-http-log/02-schema_spec.lua
Labels: plugins/datadog, plugins/statsd, plugins/http-log, plugins/zipkin, size/L, plugins/opentelemetry

#10808 tests(integration): fix flaky vault sticky configuration test
  spec/02-integration/13-vaults/04-echo_spec.lua
Labels: size/XS, backport release/3.3.x

#10790 fix(*): gRPC and cJSON's behavior to empty array
  CHANGELOG.md
  kong-3.4.0-0.rockspec
  kong/globalpatches.lua
  spec/03-plugins/28-grpc-gateway/01-proxy_spec.lua
  spec/fixtures/grpc/target/grpc-target.go
  spec/fixtures/grpc/target/targetservice/targetservice.pb.go
  spec/fixtures/grpc/target/targetservice/targetservice_grpc.pb.go
  spec/fixtures/grpc/targetservice.proto
Labels: size/M, changelog

#10813 chore(ci): fix paths in upgrade tests
  .github/workflows/upgrade-tests.yml
Labels: chore, size/XS

#10805 refactor(tests): make sure status api test sync on CE and EE
  spec/02-integration/08-status_api/01-core_routes_spec.lua
Labels: size/L

#10815 tests(helpers): make wait_for_file_contents less flaky
  spec/02-integration/01-helpers/01-helpers_spec.lua
Labels: size/S, backport release/3.1.x, backport release/3.2.x, backport release/3.3.x

#10816 fix(build): patch ngx_lua-1.21.4_07-print-body-double-free bug fix
  build/openresty/patches/ngx_lua-0.10.21_08-print-body-double-free.patch
  t/04-patch/01-ngx-buf-double-free.t
Labels: size/M, backport release/3.1.x, build/bazel, backport release/3.2.x, backport release/3.3.x

#10800 docs(changelog): remove duplicated sections
  CHANGELOG.md
Labels: size/S, changelog, backport release/3.3.x

#10797 style(router/compat): small style clean
  kong/router/compat.lua
Labels: size/M

#10837 chore(deps): bump resty.openssl from 0.8.20 to 0.8.22
  CHANGELOG.md
  kong-3.4.0-0.rockspec
Labels: pr/please review, size/XS, changelog

#10839 docs(changelog): fix resty.openssl 0.8.22 bump link
  CHANGELOG.md
Labels: size/XS, changelog

#10834 docs(tests): fix deprecation warning http_server
  spec/helpers.lua
Labels: size/XS

#10835 docs(changelog): move ngx_lua patch entry to correct Fix section
  CHANGELOG.md
Labels: size/XS, changelog

#10843 tests(integration): disable vault sticky test on cassandra because of flakiness
  spec/02-integration/13-vaults/04-echo_spec.lua
Labels: pr/please review, size/XS

#10845 chore(acme): fix typo in admin api uri
  kong/plugins/acme/api.lua
Labels: pr/please review, plugins/acme, size/XS

#10847 tests(http-log): address flakiness
  spec/03-plugins/03-http-log/01-log_spec.lua
Labels: size/XS

#10846 chore(admin): remove /plugins/schema/:name
  autodoc/admin-api/data/admin-api.lua
  kong-admin-api.yml
  kong/api/routes/plugins.lua
  spec/02-integration/04-admin_api/04-plugins_routes_spec.lua
Labels: pr/please review, core/admin-api, size/XXL, autodoc

#10832 chore(ci) stop testing against Cassandra
  .github/workflows/build_and_test.yml
Labels: chore, size/L

#10854 fix(scripts): use docker-compose wisely
  scripts/dependency_services/common.sh
  scripts/dependency_services/up.fish
  scripts/dependency_services/up.sh
Labels: size/S

#10841 chore(deps): bump kong-lapis from 1.8.3.1 to 1.14.0.2
  CHANGELOG.md
  kong-3.4.0-0.rockspec
  kong/api/routes/kong.lua
Labels: pr/please review, core/admin-api, size/S, changelog

#10852 fix(acme): sanity test can work with "kong" storage in Hybrid mode
  CHANGELOG.md
  kong/plugins/acme/handler.lua
  spec/03-plugins/29-acme/06-hybrid_mode_spec.lua
Labels: plugins/acme, size/L, changelog

#10842 tests(coverage): merge coverage + tests workflows
  .github/workflows/build_and_coverage.yml
  .github/workflows/build_and_test.yml
Labels: chore, size/L

#10840 fix(queues): validate queue parameters more strictly
  CHANGELOG.md
  kong/db/schema/metaschema.lua
  kong/tools/queue_schema.lua
  spec/01-unit/01-db/01-schema/01-schema_spec.lua
Labels: core/db, size/S, changelog

#10853 chore(scripts): remove cassandra service
  scripts/dependency_services/docker-compose-test-services.yml
Labels: size/S

#10836 fix(grpc): empty message cannot be unframed
  CHANGELOG.md
  kong/tools/grpc.lua
  spec/03-plugins/28-grpc-gateway/01-proxy_spec.lua
Labels: size/S, changelog

#10855 chore(dev): use 'exit' instead of 'return' upon shell error
  scripts/dependency_services/common.sh
  scripts/dependency_services/up.fish
  scripts/dependency_services/up.sh
Labels: size/XS

#10783 fix(loggly&tcp-log&udp-log&reports): close sockets explicitly when necessary
  CHANGELOG.md
  kong/plugins/loggly/handler.lua
  kong/plugins/tcp-log/handler.lua
  kong/plugins/udp-log/handler.lua
  kong/reports.lua
Labels: plugins/udp-log, plugins/loggly, plugins/tcp-log, size/S, changelog

#10883 chore(deps): bump lua-resty-events to 0.1.5
  .requirements
  CHANGELOG.md
Labels: size/XS, changelog

#10886 fix(ci): add new path to schema change bot
  .github/labeler.yml
Labels: chore, size/XS

#10833 refactor: drop Cassandra specifics from plugins
  kong/db/migrations/core/010_210_to_211.lua
  kong/db/schema/others/migrations.lua
  kong/plugins/acl/migrations/000_base_acl.lua
  kong/plugins/acl/migrations/002_130_to_140.lua
  kong/plugins/acl/migrations/003_200_to_210.lua
  kong/plugins/acl/migrations/004_212_to_213.lua
  kong/plugins/acme/migrations/000_base_acme.lua
  kong/plugins/acme/migrations/001_280_to_300.lua
  kong/plugins/acme/migrations/002_320_to_330.lua
  kong/plugins/basic-auth/migrations/000_base_basic_auth.lua
  kong/plugins/basic-auth/migrations/002_130_to_140.lua
  kong/plugins/bot-detection/migrations/001_200_to_210.lua
  kong/plugins/hmac-auth/migrations/000_base_hmac_auth.lua
  kong/plugins/hmac-auth/migrations/002_130_to_140.lua
  kong/plugins/http-log/migrations/001_280_to_300.lua
  kong/plugins/ip-restriction/migrations/001_200_to_210.lua
  kong/plugins/jwt/migrations/000_base_jwt.lua
  kong/plugins/jwt/migrations/002_130_to_140.lua
  kong/plugins/key-auth/migrations/000_base_key_auth.lua
  kong/plugins/key-auth/migrations/002_130_to_140.lua
  kong/plugins/key-auth/migrations/004_320_to_330.lua
  kong/plugins/oauth2/migrations/000_base_oauth2.lua
  kong/plugins/oauth2/migrations/003_130_to_140.lua
  kong/plugins/oauth2/migrations/004_200_to_210.lua
  kong/plugins/oauth2/migrations/005_210_to_211.lua
  kong/plugins/oauth2/migrations/006_320_to_330.lua
  kong/plugins/oauth2/migrations/007_320_to_330.lua
  kong/plugins/pre-function/migrations/_001_280_to_300.lua
  kong/plugins/rate-limiting/migrations/000_base_rate_limiting.lua
  kong/plugins/rate-limiting/migrations/003_10_to_112.lua
  kong/plugins/rate-limiting/migrations/004_200_to_210.lua
  kong/plugins/rate-limiting/migrations/005_320_to_330.lua
  kong/plugins/rate-limiting/policies/cluster.lua
  kong/plugins/response-ratelimiting/migrations/000_base_response_rate_limiting.lua
  kong/plugins/response-ratelimiting/policies/cluster.lua
  kong/plugins/session/migrations/000_base_session.lua
  kong/plugins/session/migrations/001_add_ttl_index.lua
  kong/plugins/session/migrations/002_320_to_330.lua
  kong/plugins/zipkin/README.md
  spec/01-unit/01-db/01-schema/10-migrations_spec.lua
  spec/03-plugins/09-key-auth/01-api_spec.lua
  spec/03-plugins/10-basic-auth/02-api_spec.lua
  spec/03-plugins/16-jwt/02-api_spec.lua
  spec/03-plugins/18-acl/01-api_spec.lua
  spec/03-plugins/19-hmac-auth/02-api_spec.lua
  spec/03-plugins/26-prometheus/07-optional_fields_spec.lua
  spec/03-plugins/29-acme/05-redis_storage_spec.lua
  spec/03-plugins/31-proxy-cache/04-invalidations_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/foreign-entity/migrations/000_base_foreign_entity.lua
  spec/fixtures/custom_plugins/kong/plugins/plugin-with-custom-dao/strategies/cassandra/custom_dao.lua
  spec/fixtures/custom_plugins/kong/plugins/transformations/migrations/000_base_transformations.lua
  spec/fixtures/custom_plugins/kong/plugins/unique-foreign/migrations/000_base_unique_foreign.lua
  spec/fixtures/custom_plugins/kong/plugins/with-migrations/migrations/000_base_with_migrations.lua
  spec/fixtures/custom_plugins/kong/plugins/with-migrations/migrations/001_14_to_15.lua
Labels: plugins/jwt, plugins/oauth2, core/db/migrations, plugins/rate-limiting, plugins/hmac-auth, plugins/bot-detection, plugins/key-auth, plugins/basic-auth, plugins/http-log, plugins/acme, core/db, plugins/response-ratelimiting, plugins/serverless-functions, core/docs, plugins/ip-restriction, plugins/session, plugins/acl, plugins/zipkin, size/XL

#10759 tests(compatibility): add a test case for config compatibility between dp and cp
  spec/01-unit/19-hybrid/03-compat_spec.lua
  spec/fixtures/blueprints.lua
Labels: size/L

#10895 docs(changelog): remove 'unreleased' from 3.3
  CHANGELOG.md
Labels: size/XS, changelog

#10897 fix(*): fix worker notice logging when setting dynamic log level
  CHANGELOG.md
  kong/runloop/handler.lua
  spec/02-integration/04-admin_api/22-debug_spec.lua
Labels: core/proxy, size/S, changelog

#10902 chore(build): keep debuginfo for non-release build as well
  .bazelrc
Labels: size/XS, build/bazel

#10881 tests(integration): avoid passive health check flakiness
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
Labels: size/M

#10901 test(cmd): fix flaky `can receive USR1` test
  spec/02-integration/02-cmd/13-signals_spec.lua
Labels: size/S, backport release/2.8.x, backport release/3.1.x, backport release/3.2.x, backport release/3.3.x

#10893 tests(*): modify tests that need to access mockbin.com from integration test
  spec/02-integration/04-admin_api/22-debug_spec.lua
  spec/02-integration/05-proxy/06-ssl_spec.lua
Labels: size/M

#10909 docs(changelog): update changelog for 3.3.0 with the released one
  CHANGELOG.md
Labels: size/S, changelog

#10908 chore(release): release 3.3.0
  CHANGELOG.md
  COPYRIGHT
  kong-3.3.1-0.rockspec
  kong-admin-api.yml
  kong/meta.lua
  scripts/release-lib.sh
Labels: size/XXL, changelog

#10899 docs(kong.conf.default): better documentation for `lmdb_map_size` and…
  kong.conf.default
Labels: size/M

#10914 [cherry-pick release/2.8.x] tests(*): modify tests that need to access mockbin.com from integration test (#10893)
  spec/02-integration/05-proxy/06-ssl_spec.lua
Labels: size/M

#10915 [cherry-pick release/3.1.x] tests(*): modify tests that need to access mockbin.com from integration test (#10893)
  spec/02-integration/04-admin_api/22-debug_spec.lua
  spec/02-integration/05-proxy/06-ssl_spec.lua
Labels: size/M

#10916 [cherry-pick release/3.2.x] tests(*): modify tests that need to access mockbin.com from integration test (#10893)
  spec/02-integration/04-admin_api/22-debug_spec.lua
  spec/02-integration/05-proxy/06-ssl_spec.lua
Labels: size/M

#10888 tests(opentelemetry): improve performance
  spec/03-plugins/37-opentelemetry/04-exporter_spec.lua
Labels: size/M, backport release/3.3.x

#10918 chore(*): remove unreachable code and files
  spec/fixtures/deprecated_custom_plugin.conf
  spec/fixtures/shm-stub.lua
Labels: size/L

#10910 docs(CHANGELOG.md) update #10723 entry
  CHANGELOG.md
Labels: size/XS, backport release/3.3.x

#10892 tests(cmd): stop/start test improvements
  spec/02-integration/02-cmd/02-start_stop_spec.lua
  spec/helpers.lua
Labels: size/XL

#10911 docs(changelog): move #10836's entry to the correct Fix section
  CHANGELOG.md
Labels: size/XS, changelog

#10925 [backport to release/3.2.x] tests(connection-pool): address flakiness (#10698)
  spec/02-integration/03-db/15-connection_pool_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/slow-query/api.lua
Labels: size/L

#10879 fix(makefile): fix grpcurl v1.8.5 osx arm64 asset 404 issue
  Makefile
Labels: size/XS

#10927 chore(venv): set BUILD_NAME in venv so that `make dev` can pick up
  build/templates/venv.fish
  build/templates/venv.sh
Labels: size/XS, build/bazel

#10885 test(*): implement new HTTP mocking
  .gitignore
  spec/02-integration/01-helpers/03-http_mock_spec.lua
  spec/02-integration/05-proxy/03-upstream_headers_spec.lua
  spec/fixtures/https_server.lua
  spec/helpers.lua
  spec/helpers/http_mock.lua
  spec/helpers/http_mock/asserts.lua
  spec/helpers/http_mock/clients.lua
  spec/helpers/http_mock/debug_port.lua
  spec/helpers/http_mock/nginx_instance.lua
  spec/helpers/http_mock/template.lua
Labels: size/XXL

#10731 [backport 3.1.x] fix(package): correct license metadata to be `Apache-2.0` (#10697)
  .requirements
Labels: size/XS

#10926 chore(cd): remove alpine from CD pipeline
  .github/matrix-full.yml
  CHANGELOG.md
Labels: chore, size/M, changelog

#10891 chore: drop Cassandra related code in integration test
  spec/02-integration/01-helpers/02-blueprints_spec.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
  spec/02-integration/02-cmd/03-reload_spec.lua
  spec/02-integration/02-cmd/05-check_spec.lua
  spec/02-integration/02-cmd/06-restart_spec.lua
  spec/02-integration/02-cmd/10-migrations_spec.lua
  spec/02-integration/02-cmd/14-vault_spec.lua
  spec/02-integration/03-db/01-db_spec.lua
  spec/02-integration/03-db/02-db_core_entities_spec.lua
  spec/02-integration/03-db/07-tags_spec.lua
  spec/02-integration/04-admin_api/09-routes_routes_spec.lua
  spec/02-integration/04-admin_api/10-services_routes_spec.lua
  spec/02-integration/04-admin_api/19-vaults_spec.lua
  spec/02-integration/04-admin_api/22-debug_spec.lua
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
  spec/02-integration/06-invalidations/02-core_entities_invalidations_spec.lua
  spec/02-integration/06-invalidations/03-plugins_iterator_invalidation_spec.lua
  spec/02-integration/06-invalidations/04-balancer_cache_correctness_spec.lua
  spec/02-integration/08-status_api/01-core_routes_spec.lua
  spec/02-integration/13-vaults/03-mock_spec.lua
  spec/02-integration/14-tracing/01-instrumentations_spec.lua
  spec/fixtures/invalid.conf
Labels: size/XL

#10884 docs(changelog): fix name of renamed queue module
  CHANGELOG.md
Labels: size/XS, changelog

#10928 chore(dependency_services): drop cassandra
  scripts/dependency_services/common.sh
Labels: size/XS

#10877 fix(tracing): address flakiness and resolve approximation bug
  kong/init.lua
  kong/tracing/instrumentation.lua
  spec/fixtures/custom_plugins/kong/plugins/tcp-trace-exporter/handler.lua
Labels: size/XS, core/tracing, backport release/3.3.x

#10656 fix(plugins/response-transformer): support mime type structured syntax suffix
  CHANGELOG.md
  kong/plugins/response-transformer/header_transformer.lua
  kong/tools/mime_type.lua
  spec/01-unit/26-mime-type_spec.lua
  spec/03-plugins/15-response-transformer/01-header_transformer_spec.lua
Labels: plugins/response-transformer, size/L, changelog

#10917 tests(statsd): fix statsd grpc flaky test
  spec/03-plugins/06-statsd/01-log_spec.lua
Labels: size/L

#10934 tests(proxy/ssl): add mocks_only to avoid dns querying
  spec/02-integration/05-proxy/06-ssl_spec.lua
Labels: size/XS

#10933 tests(queues): re-number integration test files
  spec/02-integration/16-queues/01-shutdown_spec.lua
Labels: size/XS

#10860 style(clustering): rename fields `json_handler` and `child`
  kong/clustering/init.lua
Labels: core/clustering, size/S

#10724 chore(test): deprecate http_server
  spec/helpers.lua
Labels: size/XS

#10828 tests(helpers): make wait_for_file_contents less flaky (#10815)
  spec/02-integration/01-helpers/01-helpers_spec.lua
Labels: size/S

#10829 tests(helpers): make wait_for_file_contents less flaky (#10815)
  spec/02-integration/01-helpers/01-helpers_spec.lua
Labels: size/S

#10936 [backport release/3.2.x] tests(zipkin): addressing flakiness
  spec/03-plugins/34-zipkin/zipkin_spec.lua
Labels: size/L

#10887 tests(queue): verify that capacity warning is produced
  kong/tools/queue.lua
  spec/01-unit/27-queue_spec.lua
Labels: size/M

#10932 perf(dbless): load declarative schema during init()
  CHANGELOG.md
  kong/api/routes/config.lua
  kong/clustering/data_plane.lua
  kong/init.lua
Labels: core/clustering, core/admin-api, size/M, changelog, backport release/3.3.x

#10939 tests(rate-limiting): improve flaky test
  spec/03-plugins/23-rate-limiting/04-access_spec.lua
  spec/fixtures/redis/docker-entrypoint.sh
Labels: pr/please review, size/M

#10940 tests(api/status): improve test performance of status/ready
  spec/02-integration/09-hybrid_mode/11-status_spec.lua
Labels: size/XS

#10950 docs(changelog): move #10656 to fixes section
  CHANGELOG.md
Labels: size/XS, changelog

#10945 perf(dbless): load declarative schema during init() (#10932) [backport]
  CHANGELOG.md
  kong/api/routes/config.lua
  kong/clustering/data_plane.lua
  kong/init.lua
Labels: core/clustering, core/admin-api, size/M, changelog

#10955 docs(upgrade.md): fix a typo in UPGRADE.md
  UPGRADE.md
Labels: core/docs, size/XS

#10954 docs(changelog): move #10896 to fixes-core
  CHANGELOG.md
Labels: size/XS, changelog

#10948 fix(venv): fix cwd var not persist to child process
  scripts/dependency_services/up.fish
Labels: size/XS

#10941 fix(tests): add assertion to help diagnose flakiness
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
Labels: size/XS

#10957 docs(developer): remove the manual database startup step
  DEVELOPER.md
Labels: core/docs, size/S

#10960 chore(db): remove connector:wait_for_schema_consensus
  kong/db/init.lua
  kong/db/strategies/connector.lua
Labels: pr/please review, core/db, size/M

#10959 chore(build): write copyright header in correct encoding
  build/repositories.bzl
Labels: size/XS, build/bazel

#10962 chore(db): tablex.deepcopy is cycle aware, no need to re-implement copy
  kong/db/schema/init.lua
Labels: core/db, size/S, schema-change-noteworthy

#10963 chore(runloop): remove unused handler functions
  kong/init.lua
  kong/runloop/handler.lua
Labels: pr/please review, core/proxy, size/S

#10711 test(vaults): ttl integration tests WIP
  kong/pdk/vault.lua
  spec/02-integration/13-vaults/04-ttl_spec.lua
  spec/fixtures/blueprints.lua
  spec/fixtures/custom_plugins/kong/plugins/dummy/schema.lua
  spec/fixtures/custom_vaults/kong/vaults/test/init.lua
  spec/fixtures/custom_vaults/kong/vaults/test/schema.lua
Labels: core/pdk, size/L

#10559 fix(plugin/rate-limiting): use `redis:eval()` to improve rate-limiting accuracy
  CHANGELOG.md
  kong/plugins/rate-limiting/policies/init.lua
  spec/03-plugins/23-rate-limiting/02-policies_spec.lua
  spec/03-plugins/23-rate-limiting/05-integration_spec.lua
Labels: plugins/rate-limiting, size/L, changelog, author/community

#10967 [KAG-1361] chore(jenkins): Remove Jenkins (release/3.1.x)
  Jenkinsfile
Labels: size/L

#10971 fix(venv): correct fish syntax for fish < 3.6
  build/templates/venv.fish
Labels: size/XS, build/bazel

#10975 docs(changelog): add thanks for community in #10559
  CHANGELOG.md
Labels: size/XS, changelog

#10180 feat(*): bump OpenSSL to 3.0.8
  .github/workflows/release.yml
  .requirements
  build/openresty/openssl/BUILD.openssl.bazel
  build/openresty/openssl/openssl_repositories.bzl
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-18.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
  scripts/explain_manifest/suites.py
  spec/02-integration/04-admin_api/15-off_spec.lua
  spec/03-plugins/29-acme/03-access_spec.lua
  t/01-pdk/14-client-tls/01-request_client_certificate.t
Labels: pr/wip, chore, size/L, build/bazel

#10979 refactor(build): make openssl build target reusable
  build/openresty/openssl/BUILD.bazel
  build/openresty/openssl/BUILD.openssl.bazel
  build/openresty/openssl/README.md
  build/openresty/openssl/openssl.bzl
  build/openresty/openssl/openssl_repositories.bzl
  build/openresty/openssl/openssl_test.cc
  build/openresty/openssl/openssl_test.sh
Labels: core/docs, size/L, build/bazel

#10976 chore(ci): fix step summary
  .github/workflows/release.yml
Labels: chore, size/S

#10982 tests(dbless): wait until respawn is complete to make requests
  spec/02-integration/11-dbless/01-respawn_spec.lua
Labels: size/M
