Repository Kong/kong, pull requests merged in 2023-02, with the labels that each got.

#10192 fix(clustering): fix 3.2 upstream compact problem
  kong/clustering/compat/init.lua
  spec/01-unit/19-hybrid/03-compat_spec.lua
Labels: core/clustering, size/L

#10030 feat(utils): add mime-type parsing utils
  kong-3.2.0-0.rockspec
  kong/tools/mime_type.lua
  spec/01-unit/26-mime-type_spec.lua
Labels: pr/please review, size/L

#10202 fix(build/docker): add -n option to avoid ln failing to overwrite the existing symbolic link file
  build/dockerfiles/entrypoint.sh
Labels: size/XS, build/bazel

#10208 chore(deps): bump Kong/atc-router version to 1.0.4
  .requirements
  CHANGELOG.md
Labels: size/XS, changelog

#10199 chore(deps) bump resty.session from 3.10 to 4.0.0
  CHANGELOG.md
  kong-3.2.0-0.rockspec
  kong/clustering/compat/init.lua
  kong/clustering/compat/removed_fields.lua
  kong/plugins/session/access.lua
  kong/plugins/session/daos.lua
  kong/plugins/session/handler.lua
  kong/plugins/session/header_filter.lua
  kong/plugins/session/schema.lua
  kong/plugins/session/session.lua
  kong/plugins/session/storage/kong.lua
  spec/03-plugins/30-session/01-access_spec.lua
  spec/03-plugins/30-session/02-kong_storage_adapter_spec.lua
Labels: pr/please review, core/clustering, plugins/session, size/XL, changelog

#10215 Revert "feat(utils): add mime-type parsing utils (#10030)"
  kong-3.2.0-0.rockspec
  kong/tools/mime_type.lua
  spec/01-unit/26-mime-type_spec.lua
Labels: size/L

#10220 fix(conf_loader): deprecate and alias otel properties
  kong.conf.default
  kong/conf_loader/init.lua
  spec/01-unit/03-conf_loader_spec.lua
Labels: core/configuration, size/M, backport release/3.2.x

#10212 fix(core): disable C assert in upstream keepalive patch
  build/openresty/patches/ngx_lua-0.10.21_02-dyn_upstream_keepalive.patch
Labels: size/XS, build/bazel

#10230 chore(deps): bump resty.session from 4.0.0 to 4.0.1
  CHANGELOG.md
  kong-3.2.0-0.rockspec
Labels: pr/please review, size/XS, changelog

#10231 chore(deps): bump resty.session from 4.0.0 to 4.0.1
  CHANGELOG.md
  kong-3.2.0-0.rockspec
Labels: pr/please review, size/XS, changelog

#10232 fix(ci): include build directory as build key
  .github/workflows/build_and_test.yml
Labels: chore, size/XS

#10233 fix(ci): include build directory as build key
  .github/workflows/build_and_test.yml
Labels: chore, size/S, build/bazel

#10222 fix(patches): disable unneeded pointer alignment assertion in dynamic upstream keepalive patch (#10212)
  build/openresty/patches/ngx_lua-0.10.21_02-dyn_upstream_keepalive.patch
Labels: size/XS, build/bazel

#10200 docs(changelog): add missing PR link for #9904
  CHANGELOG.md
Labels: size/XS, changelog

#10234 docs(changelog): add missing PR link for #9904
  CHANGELOG.md
Labels: size/XS, changelog

#10223 docs(developer): update build dependency packages requirements
  DEVELOPER.md
Labels: core/docs, size/S

#10247 fix(*): prevent queues from growing without bounds
  CHANGELOG.md
  kong.conf.default
  kong/conf_loader/init.lua
  kong/plugins/datadog/handler.lua
  kong/plugins/http-log/handler.lua
  kong/plugins/opentelemetry/handler.lua
  kong/plugins/statsd/log.lua
  kong/templates/kong_defaults.lua
  kong/tools/batch_queue.lua
  spec/01-unit/27-batch_queue_spec.lua
Labels: plugins/datadog, plugins/statsd, core/templates, plugins/http-log, core/configuration, size/L, changelog, plugins/opentelemetry, backport release/2.8.x, backport release/3.0.x, backport release/3.1.x, backport release/3.2.x

#10254 fix(*): prevent queues from growing without bounds (#10046)
  CHANGELOG.md
  kong.conf.default
  kong/conf_loader/init.lua
  kong/plugins/http-log/handler.lua
  kong/templates/kong_defaults.lua
  kong/tools/batch_queue.lua
  spec/01-unit/27-batch_queue_spec.lua
Labels: core/templates, plugins/http-log, core/configuration, size/L

#10253 fix(*): prevent queues from growing without bounds (#10046)
  CHANGELOG.md
  kong.conf.default
  kong/conf_loader/init.lua
  kong/plugins/datadog/handler.lua
  kong/plugins/http-log/handler.lua
  kong/plugins/opentelemetry/handler.lua
  kong/plugins/statsd/log.lua
  kong/templates/kong_defaults.lua
  kong/tools/batch_queue.lua
  spec/01-unit/27-batch_queue_spec.lua
Labels: plugins/datadog, plugins/statsd, core/templates, plugins/http-log, core/configuration, size/L, changelog, plugins/opentelemetry

#10252 fix(*): prevent queues from growing without bounds (#10046)
  CHANGELOG.md
  kong.conf.default
  kong/conf_loader/init.lua
  kong/plugins/datadog/handler.lua
  kong/plugins/http-log/handler.lua
  kong/plugins/opentelemetry/handler.lua
  kong/plugins/statsd/log.lua
  kong/templates/kong_defaults.lua
  kong/tools/batch_queue.lua
  spec/01-unit/27-batch_queue_spec.lua
Labels: plugins/datadog, plugins/statsd, core/templates, plugins/http-log, core/configuration, size/L, changelog, plugins/opentelemetry

#10251 fix(*): prevent queues from growing without bounds (#10046)
  CHANGELOG.md
  kong.conf.default
  kong/conf_loader/init.lua
  kong/plugins/http-log/handler.lua
  kong/templates/kong_defaults.lua
  kong/tools/batch_queue.lua
  spec/01-unit/27-batch_queue_spec.lua
Labels: core/templates, plugins/http-log, core/configuration, size/L, changelog

#10255 [Backport release/3.2.x] fix(*): prevent queues from growing without bounds
  CHANGELOG.md
  kong.conf.default
  kong/conf_loader/init.lua
  kong/plugins/datadog/handler.lua
  kong/plugins/http-log/handler.lua
  kong/plugins/opentelemetry/handler.lua
  kong/plugins/statsd/log.lua
  kong/templates/kong_defaults.lua
  kong/tools/batch_queue.lua
  spec/01-unit/27-batch_queue_spec.lua
Labels: plugins/datadog, plugins/statsd, core/templates, plugins/http-log, core/configuration, size/L, changelog, plugins/opentelemetry

#10221 [Backport release/3.2.x] fix(conf_loader): deprecate and alias otel properties
  kong.conf.default
  kong/conf_loader/init.lua
  spec/01-unit/03-conf_loader_spec.lua
Labels: core/configuration, size/M

#10198 fix(build): set OPENSSL_DIR for installing dev dependencies
  .github/workflows/build_and_test.yml
  build/BUILD.bazel
Labels: chore, size/XS, build/bazel

#10258 docs(changelog): move some entries to the right place
  CHANGELOG.md
Labels: size/S, changelog

#10264 docs(changelog): resty.session now is 4.0.1
  CHANGELOG.md
Labels: size/XS, changelog

#10265 chore(deps): bump resty.timerng from 0.2.0 to 0.2.3
  CHANGELOG.md
  kong-3.2.0-0.rockspec
Labels: size/XS, changelog, backport release/3.2.x

#10268 [Backport release/3.2.x] chore(deps): bump resty.timerng from 0.2.0 to 0.2.3
  CHANGELOG.md
  kong-3.2.0-0.rockspec
Labels: size/XS, changelog

#10274 fix(gha): align docker platform output name
  .github/workflows/release.yml
Labels: chore, size/S

#10272 (feat/container-scanning): Integrate container and cve scanning post …
  .github/matrix-commitly.yml
  .github/matrix-full.yml
  .github/workflows/release.yml
Labels: chore, size/L, backport release/2.8.x, backport release/3.1.x, backport release/3.2.x

#10259 refactor(pdk/log): removal and extraction of redundant code
  kong/pdk/log.lua
Labels: core/logs, size/L

#10271 Increase maximum queue size and remove global configuration parameter
  kong.conf.default
  kong/conf_loader/init.lua
  kong/templates/kong_defaults.lua
  kong/tools/batch_queue.lua
Labels: core/templates, core/configuration, size/M, backport release/3.2.x

#10276 docs(DEVELOPER): add rust dependencies for build atc-router
  DEVELOPER.md
Labels: core/docs, size/XS

#10280 [Backport release/3.2.x] Increase maximum queue size and remove global configuration parameter
  kong.conf.default
  kong/conf_loader/init.lua
  kong/templates/kong_defaults.lua
  kong/tools/batch_queue.lua
Labels: core/templates, core/configuration, size/M

#10282 fix(gha): ensure zlib installed for centos/rhel-7
  .github/workflows/release.yml
Labels: chore, size/XS, backport master

#10284 refactor(pdk/log): wrap function `to_decimal`
  kong/pdk/log.lua
Labels: core/logs, size/M

#10290 chore(build): add -c opt flag for release profile
  .bazelrc
  scripts/explain_manifest/fixtures/debian-10-amd64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-18.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
Labels: size/L, build/bazel

#10297 chore(release): try to re-pin actions that keeps getting updated by D…
  .github/workflows/release.yml
Labels: chore, size/XS

#10287 fix(gha): ensure zlib installed for centos/rhel-7
  .github/workflows/release.yml
Labels: chore, size/XS

#10285 docs(changelog): fix otle PR link
  CHANGELOG.md
Labels: size/XS, changelog

#10286 refactor(clustering): simplify dp init_worker logic
  kong/clustering/data_plane.lua
  kong/clustering/init.lua
Labels: core/clustering, size/S

#10295 fix(cd): remove container scan dependency
  .github/matrix-commitly.yml
  .github/matrix-full.yml
  .github/workflows/release.yml
Labels: chore, size/S

#10299 fix(cmd): log format errors
  kong/cmd/utils/prefix_handler.lua
Labels: core/cli, size/XS

#10308 chore(deps) bump resty.session from 4.0.1 to 4.0.2
  CHANGELOG.md
  kong-3.2.0-0.rockspec
Labels: pr/please review, size/XS, changelog

#10309 chore(deps) bump resty.session from 4.0.1 to 4.0.2 (#10308)
  CHANGELOG.md
  kong-3.2.0-0.rockspec
Labels: size/XS, changelog

#10269 chore(ci): add test to check test-helper doc generation
  .github/workflows/build_and_test.yml
  spec/helpers.lua
Labels: chore, size/M

#10311 chore(build): install wasmx lua libs
  BUILD.bazel
  WORKSPACE
  build/BUILD.bazel
  build/openresty/BUILD.openresty.bazel
  build/openresty/repositories.bzl
  build/openresty/wasmx/wasmx_repositories.bzl
  build/wasmx/BUILD.bazel
Labels: size/M, build/bazel

#10310 docs(changelog): add entry for renamed kong.conf properties
  CHANGELOG.md
Labels: size/XS, changelog, backport release/3.2.x

#10313 chore(changelog): session breaking changes
  CHANGELOG.md
Labels: size/XS, changelog

#10298 [KAG-617] feat(*): Port kong-build-tools Package Smoke Tests
  .github/workflows/release.yml
  build/tests/01-admin-api.sh
  build/tests/01-base.sh
  build/tests/02-admin-api.sh
  build/tests/util.sh
Labels: chore, size/L, build/bazel, backport release/3.2.x

#10323 docs: change inc year
  README.md
Labels: core/docs, size/XS

#10316 docs(changelog): add entry for renamed kong.conf properties (#10310)
  CHANGELOG.md
Labels: size/S, changelog

#10312 chore(changelog): session breaking changes
  CHANGELOG.md
Labels: size/XS, changelog, backport release/3.2.x

#10224 chore(*): extend fixture `mock_upstream` to data plane (FTI-4782)
  spec/fixtures/custom_nginx.template
  spec/helpers.lua
Labels: size/M

#10318 fix(cmd): log format error
  kong/cmd/utils/prefix_handler.lua
Labels: core/cli, size/XS

#10153 chore(core): remove unused tools.channel
  kong-3.2.0-0.rockspec
  kong/tools/channel.lua
Labels: size/L

#10337 docs(changelog) update changelog for 3.2.0 release
  CHANGELOG.md
Labels: size/XS, changelog

#10335 fix(gha): use regctl for (multiarch) image copy
  .github/workflows/release.yml
Labels: chore, size/XS, backport release/3.2.x

#10338 chore(deps) bump resty.session to 4.0.3
  CHANGELOG.md
  kong-3.2.0-0.rockspec
Labels: pr/please review, size/XS, changelog

#10340 chore(deps): bump resty.session from 4.0.2 to 4.0.3(back-port)
  CHANGELOG.md
  kong-3.2.0-0.rockspec
Labels: pr/please review, size/S, changelog

#10346 fix(plugin): compat issue for config sync
  CHANGELOG.md
  kong/clustering/compat/removed_fields.lua
Labels: core/clustering, size/S, changelog

#10347 [Backport release/3.2.x] fix(plugin): compat issue for config sync
  CHANGELOG.md
  kong/clustering/compat/removed_fields.lua
Labels: core/clustering, size/S, changelog

#10344 fix(actions): use `regctl` for (multiarch) image copy (#10335)
  .github/workflows/release.yml
Labels: chore, size/XS

#10352 fix(clustering): session renamed fields
  CHANGELOG.md
  kong/clustering/compat/init.lua
  spec/01-unit/19-hybrid/03-compat_spec.lua
Labels: core/clustering, size/M, changelog, backport release/3.2.x

#10275 feat(cd): Integrate container and cve scanning post publishing
  .github/matrix-commitly.yml
  .github/workflows/release.yml
Labels: chore, size/M

#10171 fix(key-auth): return unauthorized if api key includes symbols that are not allowed
  kong/plugins/key-auth/handler.lua
  spec/03-plugins/09-key-auth/02-access_spec.lua
Labels: plugins/key-auth, size/S

#10342 chore(ci) add schema-change-noteworthy label for any schema.lua file change
  .github/labeler.yml
Labels: chore, size/XS

#10354 fix(clustering): session renamed fields
  CHANGELOG.md
  kong/clustering/compat/init.lua
  spec/01-unit/19-hybrid/03-compat_spec.lua
Labels: core/clustering, size/M, changelog

#10332 fix(plugin): OTEL exporting with translate
  CHANGELOG.md
  kong/plugins/opentelemetry/handler.lua
  kong/plugins/opentelemetry/otlp.lua
  spec/03-plugins/37-opentelemetry/03-propagation_spec.lua
Labels: size/M, changelog, plugins/opentelemetry, backport release/3.2.x

#10348 fix(db/migration): do migration before validation
  CHANGELOG.md
  kong/db/declarative/init.lua
  kong/db/declarative/migrations/route_path.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/04-on-the-fly-migration_spec.lua
  spec/02-integration/02-cmd/11-config_spec.lua
Labels: core/db, size/M, changelog

#10351 feat(meta): bump to 3.2.1
  kong-3.2.1-0.rockspec
  kong/meta.lua
Labels: size/XS

#10343 chore(release): Boolean variables are passed as strings by Github Actions
  .github/workflows/release.yml
Labels: chore, size/XS, backport release/3.2.x

#10361 [Backport release/3.2.x] chore(release): Boolean variables are passed as strings by Github Actions
  .github/workflows/release.yml
Labels: chore, size/XS

#10358 [Backport release/3.2.x] fix(plugin): OTEL exporting with translate
  CHANGELOG.md
  kong/plugins/opentelemetry/handler.lua
  kong/plugins/opentelemetry/otlp.lua
  spec/03-plugins/37-opentelemetry/03-propagation_spec.lua
Labels: size/M, changelog, plugins/opentelemetry

#10322 fix(bazel): fix intel detection
  build/repositories.bzl
Labels: size/XS, build/bazel, backport release/3.2.x

#10339 fix(gha): Set Package Architecture when Uploading to Pulp
  .github/workflows/release.yml
Labels: chore, size/S, backport release/3.2.x

#10369 fix(gha): Set Package Architecture when Uploading to Pulp (#10339)
  .github/workflows/release.yml
Labels: chore, size/S

#10372 Revert "fix(key-auth): return unauthorized if api key includes non-ascii symbols (#10171)"
  kong/plugins/key-auth/handler.lua
  spec/03-plugins/09-key-auth/02-access_spec.lua
Labels: plugins/key-auth, size/S

#10376 fix(build): add rpm signing related env var into repository rule environ list (#4647)
  build/kong_bindings.bzl
Labels: size/XS, build/bazel

#10377 fix(build): cherry-pick adding rpm signing related env var into repository rule environ list (#4647) (#10376)
  build/kong_bindings.bzl
Labels: size/XS, build/bazel

#10378 fix(build): fix intel detection with elif
  build/repositories.bzl
Labels: size/XS, build/bazel

#10368 tests(helpers) fix flaky hybrid mode test
  kong/cmd/utils/kill.lua
  spec/02-integration/02-cmd/12-hybrid_spec.lua
Labels: core/cli, size/XS

#9746 feat(acme): make account_key configurable
  kong/clustering/compat/removed_fields.lua
  kong/plugins/acme/client.lua
  kong/plugins/acme/schema.lua
  spec/03-plugins/29-acme/01-client_spec.lua
  spec/03-plugins/29-acme/04-schema_spec.lua
Labels: core/clustering, plugins/acme, size/L

#10386 chore(cd): output summary on workflow view
  .github/workflows/release.yml
Labels: chore, size/S

#10363 [Backport release/3.2.x] fix(db/migration): do migration before validation
  CHANGELOG.md
  kong/db/declarative/init.lua
  kong/db/declarative/migrations/route_path.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/04-on-the-fly-migration_spec.lua
  spec/02-integration/02-cmd/11-config_spec.lua
Labels: core/db, size/M, changelog

#10397 chore(ci) track enterprise schema changes
  .github/labeler.yml
Labels: chore, size/XS

#10384 fix(balancer) use local target cache
  kong/runloop/balancer/balancers.lua
  kong/runloop/balancer/targets.lua
  kong/runloop/balancer/upstreams.lua
Labels: core/balancer, size/M, backport release/2.8.x
