Repository Kong/kong, pull requests merged in 2023-01, with the labels that each got.

#10038 chore(requirements) bump lua-kong-nginx-module version to 0.5.0
  .requirements
Labels: size/XS

#10034 style(plugins/acme):localize more vars
  kong/plugins/acme/api.lua
  kong/plugins/acme/client.lua
  kong/plugins/acme/handler.lua
Labels: plugins/acme, size/L

#10048 style(core/balancer): localize vars in balancer()
  kong/init.lua
Labels: size/S

#9905 fix(templates): not add default charset when upstream response doesn't contain it
  CHANGELOG.md
  kong/templates/nginx_kong.lua
  spec/02-integration/05-proxy/03-upstream_headers_spec.lua
  spec/fixtures/custom_nginx.template
Labels: core/templates, size/M, changelog

#10049 style(core/balancer): use `table.new` to pre-create try table
  kong/init.lua
Labels: size/XS

#10037 style(pdk): optimize error message and other code clean
  kong/pdk/response.lua
Labels: core/pdk, size/L

#9993 [Backport]refactor(handler): trying to make reconfigure more atomic
  kong/runloop/handler.lua
  kong/runloop/plugins_iterator.lua
Labels: core/proxy, size/L

#10047 style(core/init): optimize parse declarative config
  kong/init.lua
Labels: size/M

#10050 tests(redis): upgrade certificate signing algorithm
  spec/fixtures/redis/ca.crt
  spec/fixtures/redis/ca.key
  spec/fixtures/redis/server.crt
  spec/fixtures/redis/server.key
Labels: size/L

#10057 backport(*): bazel ee -> ce
  .github/workflows/release.yml
Labels: chore, size/M

#10059 fix(*): prevent queues from growing without bounds (#10046)
  CHANGELOG.md
  kong/conf_loader/init.lua
  kong/plugins/datadog/handler.lua
  kong/plugins/http-log/handler.lua
  kong/plugins/opentelemetry/handler.lua
  kong/plugins/statsd/log.lua
  kong/tools/batch_queue.lua
  spec/01-unit/27-batch_queue_spec.lua
Labels: plugins/datadog, plugins/statsd, plugins/http-log, core/configuration, size/L, changelog, plugins/opentelemetry

#10058 fix(*): prevent queues from growing without bounds (#10046)
  CHANGELOG.md
  kong/conf_loader/init.lua
  kong/plugins/http-log/handler.lua
  kong/tools/batch_queue.lua
  spec/01-unit/27-batch_queue_spec.lua
Labels: plugins/http-log, core/configuration, size/L

#10066 chore(release): skip login to docker if no access to github token
  .github/workflows/release.yml
Labels: chore, size/XS

#10065 fix(clustering): `upstream.use_srv_name` should be removed for DPs older than `3.1.0` (#9972)
  kong/clustering/compat/init.lua
  spec/01-unit/19-hybrid/03-compat_spec.lua
Labels: core/clustering, size/M

#9970 refactor(core/runloop): separate runloop events
  kong-3.2.0-0.rockspec
  kong/runloop/events.lua
  kong/runloop/handler.lua
  spec/01-unit/16-runloop_handler_spec.lua
Labels: core/proxy, size/XL

#10072 docs(*): document new max_queued_batches parameter
  kong.conf.default
  kong/templates/kong_defaults.lua
Labels: core/templates, size/S, backport release/3.0.x

#10073 docs(*): document new max_queued_batches parameter
  kong.conf.default
  kong/templates/kong_defaults.lua
Labels: core/templates, size/S, backport release/3.1.x

#10071 docs(*): document new max_queued_batches parameter
  kong.conf.default
  kong/templates/kong_defaults.lua
Labels: core/templates, size/S, backport release/2.8.x

#10070 docs(*): document new max_queued_batches parameter
  kong.conf.default
  kong/templates/kong_defaults.lua
Labels: core/templates, size/S

#9921 feat(clustering): revert removal of JSON-websocket support for config sync
  CHANGELOG.md
  kong-3.2.0-0.rockspec
  kong/clustering/compat/init.lua
  kong/clustering/compat/version.lua
  kong/clustering/control_plane.lua
  kong/clustering/data_plane.lua
  kong/clustering/init.lua
  kong/clustering/services/negotiation.lua
  kong/clustering/services/supported.lua
  kong/clustering/wrpc_control_plane.lua
  kong/clustering/wrpc_data_plane.lua
  kong/include/kong/services/config/v1/config.proto
  kong/include/kong/services/negotiation/v1/negotiation.proto
  kong/include/wrpc/wrpc.proto
  kong/init.lua
  kong/templates/nginx_kong.lua
  kong/tools/wrpc/future.lua
  kong/tools/wrpc/init.lua
  kong/tools/wrpc/message.lua
  kong/tools/wrpc/proto.lua
  kong/tools/wrpc/queue.lua
  kong/tools/wrpc/threads.lua
  spec/01-unit/19-hybrid/03-compat_spec.lua
  spec/01-unit/19-hybrid/04-negotiation_spec.lua
  spec/01-unit/19-hybrid/05-wrpc/future_spec.lua
  spec/01-unit/19-hybrid/05-wrpc/proto_spec.lua
  spec/01-unit/19-hybrid/05-wrpc/queue_spec.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/02-integration/09-hybrid_mode/07-wrpc_spec.lua
  spec/02-integration/09-hybrid_mode/08-lazy_export_spec.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/fixtures/custom_nginx.template
  spec/fixtures/wrpc/test.proto
  spec/helpers.lua
Labels: pr/discussion, core/clustering, core/templates, size/XXL, changelog

#10078 fix(test): mock test for runloop events
  spec/01-unit/16-runloop_handler_spec.lua
Labels: size/XS

#10044 fix(plugins/datadog): add return value for log function in batch queue
  CHANGELOG.md
  kong/plugins/datadog/handler.lua
  spec/03-plugins/08-datadog/01-log_spec.lua
Labels: pr/please review, plugins/datadog, size/S, changelog

#10061 style(tools/utils): move localized vars into `do end` block
  kong/tools/utils.lua
Labels: size/S

#10069 fix(opentelemetry): http.uri should be full path
  CHANGELOG.md
  kong/tracing/instrumentation.lua
  spec/03-plugins/37-opentelemetry/04-exporter_spec.lua
Labels: size/M, changelog, core/tracing

#10067 fix(clustering): restore json websocket protocol (#9921)
  CHANGELOG.md
  kong-3.1.1-0.rockspec
  kong/clustering/compat/init.lua
  kong/clustering/compat/version.lua
  kong/clustering/control_plane.lua
  kong/clustering/data_plane.lua
  kong/clustering/init.lua
  kong/clustering/wrpc_control_plane.lua
  kong/conf_loader/init.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
  spec/01-unit/19-hybrid/03-compat_spec.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/02-integration/09-hybrid_mode/02-start_stop_spec.lua
  spec/02-integration/09-hybrid_mode/03-pki_spec.lua
  spec/02-integration/09-hybrid_mode/05-ocsp_spec.lua
  spec/02-integration/09-hybrid_mode/08-lazy_export.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/fixtures/custom_nginx.template
  spec/helpers.lua
Labels: core/clustering, core/templates, core/configuration, size/XXL, changelog

#10081 doc(changelog): bump atc-router to 1.0.2
  CHANGELOG.md
Labels: size/XS, changelog

#10079 chore(dependabot): decrease check interval to weekly
  .github/dependabot.yml
Labels: chore, size/XS

#10084 chore(ci): add tag comment on actions that are pinned to hash
  .github/workflows/backport.yml
  .github/workflows/perf.yml
  .github/workflows/release.yml
Labels: chore, size/S

#10068 fix(oauth2): validation on ttl
  CHANGELOG.md
  kong/constants.lua
  kong/db/dao/init.lua
  kong/db/schema/typedefs.lua
  kong/plugins/oauth2/schema.lua
  spec/03-plugins/25-oauth2/01-schema_spec.lua
Labels: plugins/oauth2, core/db, size/M, changelog

#10052 fix(plugins/statsd & opentelemetry): add return values for funcs called in batch queue
  CHANGELOG.md
  kong/plugins/opentelemetry/handler.lua
  kong/plugins/statsd/log.lua
  spec/03-plugins/06-statsd/01-log_spec.lua
Labels: plugins/statsd, size/L, changelog, plugins/opentelemetry

#10087 doc(changelog): restore pr link of #9921
  CHANGELOG.md
Labels: size/XS, changelog

#10088 fix(db): use ATC router for route validation when `router_flavor = traditional_compatible`
  CHANGELOG.md
  kong/db/schema/entities/routes.lua
  kong/db/schema/init.lua
  kong/db/schema/metaschema.lua
  kong/router/compat.lua
  spec/01-unit/01-db/01-schema/01-schema_spec.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
  spec/01-unit/08-router_spec.lua
  spec/02-integration/05-proxy/02-router_spec.lua
Labels: core/db, size/L, changelog, schema-change-noteworthy

#10074 docs(autodocs) Fix db-less badges on log level PUT endpoints
  autodoc/admin-api/data/admin-api.lua
Labels: size/S, autodoc

#10092 chore(db/migration): check migration regex path before db changes
  CHANGELOG.md
  kong-3.1.1-0.rockspec
  kong/cmd/migrations.lua
  kong/cmd/utils/migrations.lua
  kong/db/migrations/validate_path_280_300.lua
Labels: core/cli, core/db/migrations, size/L, changelog

#10101 fix(db/migration): validate c* return correct value
  CHANGELOG.md
  kong/db/migrations/validate_path_280_300.lua
Labels: core/db/migrations, size/XS, changelog

#10112 chore(tests): fix a typo in comment
  spec/02-integration/05-proxy/02-router_spec.lua
Labels: size/XS

#10104 style(core): refactor concurrency code with some localization
  kong/concurrency.lua
Labels: size/M

#10095 chore(git): add vscode related ignored folders
  .gitignore
Labels: size/XS

#10108 tests(tracing): add test groups for propagation.set test
  spec/01-unit/26-tracing/02-propagation_spec.lua
Labels: size/L

#10115 chore(cd): enable ubuntu-22.04-arm64 and alpine-x86_64 cross build
  .github/matrix-commitly.yml
  .github/matrix-full.yml
  .github/workflows/release.yml
  BUILD.bazel
  build/README.md
  build/dockerfiles/apk.Dockerfile
  build/dockerfiles/deb.Dockerfile
  build/dockerfiles/rpm.Dockerfile
  build/nfpm/rules.bzl
Labels: core/docs, chore, size/L, build/bazel

#10096 feat(tracing): route/service scoping
  CHANGELOG.md
  kong/plugins/opentelemetry/handler.lua
  kong/plugins/opentelemetry/schema.lua
  spec/03-plugins/37-opentelemetry/04-exporter_spec.lua
Labels: size/M, changelog, plugins/opentelemetry

#10111 fix(template) keep UTF-8 as default for charset directive but make it configurable
  CHANGELOG.md
  kong.conf.default
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
  spec/02-integration/05-proxy/03-upstream_headers_spec.lua
  spec/fixtures/1.2_custom_nginx.template
  spec/fixtures/custom_nginx.template
Labels: pr/discussion, core/templates, size/M, changelog

#10124 fix(build): fix condition on ubuntu 18.04 and EL family
  .github/workflows/release.yml
  build/BUILD.bazel
  build/luarocks/BUILD.luarocks.bazel
  build/openresty/pcre/BUILD.pcre.bazel
Labels: chore, size/XS, build/bazel

#10119 style(core/runloop): style clean for certificate.lua
  kong/runloop/certificate.lua
Labels: core/proxy, size/M

#10126 chore(plugins): cherry pick batch queue return value fix to 3.1.x
  CHANGELOG.md
  kong/plugins/datadog/handler.lua
  kong/plugins/opentelemetry/handler.lua
  kong/plugins/statsd/log.lua
  spec/03-plugins/06-statsd/01-log_spec.lua
  spec/03-plugins/08-datadog/01-log_spec.lua
Labels: plugins/datadog, plugins/statsd, size/L, changelog, plugins/opentelemetry

#9800 fix(router): emit error for route flavor misconfig
  kong/router/compat.lua
  kong/router/expressions.lua
  kong/router/traditional.lua
Labels: size/S

#10130 fix(build): fix macOS compatibility without coreutils and genrule missing xcode env vars
  build/BUILD.bazel
  build/luarocks/BUILD.luarocks.bazel
Labels: size/M, build/bazel

#10131 docs(changelog): move upstream tls changelog to feature
  CHANGELOG.md
Labels: size/XS, changelog

#9808 feat(cmd): stand-alone script to check kong health
  Makefile
  bin/kong-health
  spec/02-integration/02-cmd/07-health_spec.lua
Labels: size/L

#10136 chore(build): package kong-health script
  build/package/nfpm.yaml
Labels: size/XS, build/bazel

#10139 chore(deps) bump dev dependency of luacheck from 1.0.0 to 1.1.0
  Makefile
Labels: pr/please review

#10132 fix(core): sanitize config comments processing and hashmark quoting
  bin/busted
  kong/cmd/utils/prefix_handler.lua
  kong/conf_loader/init.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/kong_tests.conf
Labels: core/cli, core/configuration, size/L

#10143 fix(router): Use atc-router release 1.0.4 (KAG-458)
  .requirements
Labels: size/XS

#10145 fix(cli) use proper command name for health
  bin/kong-health
Labels: size/XS

#10146 docs(changelog): add changelog entry for atc-router 1.04
  CHANGELOG.md
Labels: size/XS, changelog

#10144 chore(requirements): bump lua-resty-openssl
  CHANGELOG.md
  kong-3.2.0-0.rockspec
Labels: size/XS, changelog

#10077 feat(plugin): add an optional instance_name field for plugin entity
  CHANGELOG.md
  autodoc/admin-api/data/admin-api.lua
  kong-3.2.0-0.rockspec
  kong/clustering/compat/init.lua
  kong/db/migrations/core/018_310_to_320.lua
  kong/db/migrations/core/init.lua
  kong/db/schema/entities/plugins.lua
  kong/db/strategies/postgres/init.lua
  kong/runloop/plugins_iterator.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/03-flatten_spec.lua
  spec/01-unit/19-hybrid/03-compat_spec.lua
  spec/02-integration/02-cmd/11-config_spec.lua
  spec/02-integration/04-admin_api/04-plugins_routes_spec.lua
  spec/02-integration/04-admin_api/09-routes_routes_spec.lua
  spec/02-integration/04-admin_api/10-services_routes_spec.lua
  spec/02-integration/07-sdk/04-plugin-config_spec.lua
  spec/05-migration/db/migrations/core/018_310_to_320_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/plugin-config-dump/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/plugin-config-dump/schema.lua
Labels: pr/please review, core/proxy, core/db/migrations, core/clustering, core/db, size/L, changelog, autodoc, schema-change-noteworthy

#10149 fix(build): fix syntax when deduplicating libraries and venv resty cli
  build/BUILD.bazel
Labels: size/XS, build/bazel

#10147 chore(router/atc): pass routes count to `router.new()`
  kong/router/atc.lua
Labels: size/XS

#10123 doc(developer): remove pcre requirements from developer doc
  DEVELOPER.md
Labels: core/docs, size/XS

#10097 fix(admin-api): update plugin.protocols document
  autodoc/admin-api/data/admin-api.lua
Labels: size/XS, autodoc

#10125 fix(conf): rename debug_header to allow_debug_header
  CHANGELOG.md
  kong.conf.default
  kong/conf_loader/init.lua
  kong/router/utils.lua
  kong/templates/kong_defaults.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/02-integration/05-proxy/02-router_spec.lua
Labels: core/templates, core/configuration, size/M, changelog

#10056 fix(core): response phase skips header.before
  CHANGELOG.md
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/15-upstream-status-header_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/response-phase/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/response-phase/schema.lua
Labels: core/proxy, size/M, changelog

#10021 feat(templates): makes ssl_session_cache configurable
  CHANGELOG.md
  kong.conf.default
  kong/conf_loader/init.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
  kong/templates/nginx_kong_stream.lua
  spec/fixtures/custom_nginx.template
Labels: core/templates, core/configuration, size/S, changelog

#10155 docs(changelog): remove duplicated entry
  CHANGELOG.md
Labels: size/XS, changelog

#10159 refactor(clustering): reorganize cert validation code
  kong-3.2.0-0.rockspec
  kong/clustering/control_plane.lua
  kong/clustering/data_plane.lua
  kong/clustering/init.lua
  kong/clustering/tls.lua
  kong/clustering/utils.lua
  kong/conf_loader/init.lua
  spec/02-integration/09-hybrid_mode/03-pki_spec.lua
  spec/helpers.lua
Labels: core/clustering, core/configuration, size/L

#10160 fix(tracing) add http.status_code, fix http.flavor
  CHANGELOG.md
  kong/plugins/opentelemetry/otlp.lua
  kong/runloop/handler.lua
  kong/tracing/instrumentation.lua
  spec/03-plugins/37-opentelemetry/04-exporter_spec.lua
Labels: core/proxy, size/M, changelog, core/tracing, plugins/opentelemetry

#9787 feat(balancer): add latency balancer algorithm
  kong-3.2.0-0.rockspec
  kong/db/schema/entities/upstreams.lua
  kong/runloop/balancer/balancers.lua
  kong/runloop/balancer/init.lua
  kong/runloop/balancer/latency.lua
  kong/runloop/handler.lua
  spec/01-unit/09-balancer/06-latency_spec.lua
  spec/02-integration/05-proxy/10-balancer/07-latency_spec.lua
Labels: core/balancer, core/proxy, core/db, size/XXL, schema-change-noteworthy

#10168 style(bug_report): Allow reproduce formatting
  .github/ISSUE_TEMPLATE/bug_report.yaml
Labels: chore, size/XS

#9870 docs(conf): link Securing the Admin API from admin_listen
  kong.conf.default
Labels: size/XS

#10181 chore(requirements): bump lua-kong-nginx-module
  .requirements
  CHANGELOG.md
Labels: dependencies, size/XS, changelog

#10127 chore(*): lmdb config options in kong.conf.default
  kong.conf.default
Labels: size/S

#10188 docs(changelog): add changelog for #9787
  CHANGELOG.md
Labels: size/XS, changelog

#10122 chore(tracing): add alias to global config
  kong.conf.default
  kong/conf_loader/init.lua
  kong/globalpatches.lua
  kong/templates/kong_defaults.lua
  kong/tracing/instrumentation.lua
  spec/02-integration/14-tracing/01-instrumentations_spec.lua
  spec/03-plugins/37-opentelemetry/04-exporter_spec.lua
  spec/03-plugins/37-opentelemetry/05-otelcol_spec.lua
Labels: core/templates, core/configuration, size/M, core/tracing

#10118 feat(statsd): statsd tag support
  CHANGELOG.md
  kong/clustering/compat/removed_fields.lua
  kong/plugins/statsd/log.lua
  kong/plugins/statsd/schema.lua
  kong/plugins/statsd/statsd_logger.lua
  spec/03-plugins/06-statsd/01-log_spec.lua
  spec/03-plugins/06-statsd/02-schema_spec.lua
Labels: pr/wip, core/clustering, plugins/statsd, size/XXL, changelog

#10195 feat(build): add script and step to verify artifact upon given manifest
  .github/matrix-commitly.yml
  .github/matrix-full.yml
  .github/workflows/release.yml
  build/BUILD.bazel
  scripts/explain_manifest/.gitignore
  scripts/explain_manifest/config.py
  scripts/explain_manifest/filelist.txt
  scripts/explain_manifest/fixtures/alpine-amd64.txt
  scripts/explain_manifest/fixtures/debian-10-amd64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-18.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
  scripts/explain_manifest/main.py
  scripts/explain_manifest/requirements.txt
Labels: chore, size/XXL, build/bazel
