Repository Kong/kong, pull requests merged in 2023-06, with the labels that each got.

#10968 [KAG-1361] chore(jenkins): Remove Jenkins (release/3.0.x)
  Jenkinsfile
Labels: size/L

#10983 fix(zipkin): do not reuse `propagated_span` by default
  CHANGELOG.md
  kong/tracing/propagation.lua
  spec/03-plugins/34-zipkin/zipkin_spec.lua
Labels: size/M, changelog, core/tracing

#10990 tests(ci): enable all tests in t folder, not only the pdk ones
  .ci/run_tests.sh
Labels: size/XS

#10964 perf(utils): faster deflate_gzip / inflate_gzip using string.buffer
  kong/tools/utils.lua
Labels: pr/please review, size/M

#10991 tests(dbless): harden test against eventual consistency
  spec/02-integration/11-dbless/01-respawn_spec.lua
  spec/helpers.lua
Labels: size/L

#11008 fix(venv): pickup bash from env (#5595)
  scripts/dependency_services/common.sh
  scripts/dependency_services/up.sh
Labels: size/XS

#11007 chore(build): bump Bazel from 6.0.0 to 6.1.0
  .bazelversion
Labels: size/XS, build/bazel

#11013 tests(integration): avoid passive health check flakiness (#10881)
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
Labels: size/M

#11014 tests(integration): avoid passive health check flakiness (#10881)
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
Labels: size/M

#11011 chore(deps): bump resty.session from 4.0.3 to 4.0.4
  CHANGELOG.md
  kong-3.4.0-0.rockspec
Labels: pr/please review, size/XS, changelog

#10993 fix(balancer): fix balancer error thread abort code
  kong/runloop/balancer/balancers.lua
Labels: core/balancer, size/XS

#10992 fix(prometheus): fix upstream_health_metrics config true->false change not working issues
  kong/plugins/prometheus/handler.lua
Labels: plugins/prometheus, size/XS

#10974 style(clustering): code clean for tls logic
  kong/clustering/tls.lua
Labels: core/clustering, size/S

#11010 refactor(clustering): clean the code of config thread
  kong/clustering/data_plane.lua
Labels: core/clustering, size/M

#11019 tests(rate-limiting): explicitly set timeout to 15
  spec/03-plugins/23-rate-limiting/04-access_spec.lua
Labels: pr/please review, size/XS

#11021 style(clustering): clean the code of read_thread
  kong/clustering/data_plane.lua
Labels: core/clustering, size/M

#11018 tests(integration): avoid passive health check flakiness
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
Labels: size/M

#10949 perf(prometheus): fix upstream health expensive iterate latency spike issue
  CHANGELOG.md
  kong/plugins/prometheus/exporter.lua
  kong/plugins/prometheus/prometheus.lua
Labels: plugins/prometheus, size/M, changelog

#11033 tests(rate-limiting): order two request lines
  spec/03-plugins/23-rate-limiting/04-access_spec.lua
Labels: size/XS

#10995 fix(api/status): remove the database status in dbless mode and data-plane
  CHANGELOG.md
  kong/api/routes/health.lua
  spec/02-integration/04-admin_api/02-kong_routes_spec.lua
  spec/02-integration/08-status_api/01-core_routes_spec.lua
Labels: core/admin-api, size/M, changelog

#11028 perf: load migration state only when connected to a database
  kong/init.lua
Labels: size/M

#10997 fix(migration): migrate queue parameters
  kong-3.4.0-0.rockspec
  kong/db/migrations/core/020_330_to_340.lua
  kong/db/migrations/core/init.lua
  kong/db/migrations/core/queue_parameter_migration_340.lua
  spec/03-plugins/02-queue_parameter_migration_340_spec.lua
  spec/05-migration/db/migrations/core/020_330_to_340_spec.lua
Labels: core/db/migrations, size/L

#11027 refactor(clustering): clean the code of write_thread
  kong/clustering/data_plane.lua
Labels: pr/ready, core/clustering, size/S

#10986 chore(mime_type): cleanup unused code
  kong/tools/mime_type.lua
  spec/01-unit/26-mime-type_spec.lua
Labels: size/M

#11049 chore(gha): set build temporary artifact retation period to 3 days
  .github/workflows/build.yml
  .github/workflows/perf.yml
  .github/workflows/release.yml
Labels: chore, size/XS

#11047 feat(templates): bump default `lmdb_map_size` to 2GB
  CHANGELOG.md
  kong.conf.default
  kong/templates/kong_defaults.lua
Labels: core/templates, size/S, changelog

#11050 chore(dev): remove downloaded binaries after bazel clean
  Makefile
Labels: pr/please review, size/XS

#11041 chore(test): default output format for more info
  .github/workflows/perf.yml
  kong/plugins/zipkin/README.md
  scripts/upgrade-tests/test-upgrade-path.sh
Labels: core/docs, chore, plugins/zipkin, size/XS

#11002 fix: remove sensitive kong.conf fields
  kong/conf_loader/init.lua
Labels: core/configuration, size/XS

#11045 perf(router/atc): generate expressions with string.buffer
  kong/router/atc.lua
Labels: size/M

#11040 perf(plugin/prometheus): generate metrics string with string.buffer
  CHANGELOG.md
  kong/plugins/prometheus/prometheus.lua
Labels: plugins/prometheus, size/M, changelog

#11053 chore(build): bump GitHub cli to v2.30.0
  build/repositories.bzl
Labels: size/S, build/bazel

#11056 tests(cmd): fix flakiness in cmd start/stop
  spec/helpers.lua
Labels: size/XS

#11061 Revert "fix(migration): migrate queue parameters"
  kong-3.4.0-0.rockspec
  kong/db/migrations/core/020_330_to_340.lua
  kong/db/migrations/core/init.lua
  kong/db/migrations/core/queue_parameter_migration_340.lua
  spec/03-plugins/02-queue_parameter_migration_340_spec.lua
  spec/05-migration/db/migrations/core/020_330_to_340_spec.lua
Labels: pr/ready, core/db/migrations, size/L

#10966 chore(migrations): do not create ttls table anymore and remove it
  kong-3.4.0-0.rockspec
  kong/db/migrations/core/000_base.lua
  kong/db/migrations/core/020_330_to_340.lua
  spec/05-migration/db/migrations/core/020_330_to_340_spec.lua
  spec/upgrade_helpers.lua
Labels: pr/please review, core/db/migrations, size/M

#11064 perf(router/atc): generate headers_key with `string.buffer`
  kong/router/atc.lua
Labels: size/S

#11067 fix(makefile): fix bazel clean command
  Makefile
Labels: size/XS, build/bazel

#11069 Fix spelling in `build/kong_bindings.bzl`
  build/kong_bindings.bzl
Labels: size/XS, build/bazel

#11059 perf(router/compat): using string buffer to generate expressions
  kong/router/compat.lua
Labels: size/M

#11073 fix(build): port amazonlinux 2022 fixes from EE
  .github/workflows/release.yml
Labels: chore, size/XS

#11079 style(clustering): remove `else` by `goto continue` in read_thread
  kong/clustering/data_plane.lua
Labels: core/clustering, size/S

#10970 perf(*): use cycle aware deep copy instead
  kong/api/routes/plugins.lua
  kong/clustering/compat/init.lua
  kong/conf_loader/init.lua
  kong/db/dao/init.lua
  kong/db/declarative/import.lua
  kong/db/schema/init.lua
  kong/db/schema/others/declarative_config.lua
  kong/db/strategies/postgres/init.lua
  kong/plugins/opentelemetry/otlp.lua
  kong/plugins/request-transformer/access.lua
  kong/plugins/request-transformer/migrations/common.lua
  kong/plugins/request-transformer/schema.lua
  kong/resty/dns/client.lua
  kong/runloop/balancer/healthcheckers.lua
  kong/tools/utils.lua
  spec/01-unit/01-db/04-dao_spec.lua
  spec/01-unit/01-db/09-no_broadcast_crud_event_spec.lua
  spec/01-unit/05-utils_spec.lua
  spec/01-unit/09-balancer/05-worker_consistency_spec.lua
  spec/01-unit/20-sandbox_spec.lua
  spec/01-unit/21-dns-client/03-client_cache_spec.lua
  spec/01-unit/27-queue_spec.lua
  spec/02-integration/03-db/01-db_spec.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/03-plugins/27-aws-lambda/05-aws-serializer_spec.lua
  spec/03-plugins/29-acme/01-client_spec.lua
  spec/fixtures/balancer_utils.lua
  spec/fixtures/blueprints.lua
  spec/fixtures/dc_blueprints.lua
  spec/fixtures/router_path_handling_tests.lua
  spec/helpers.lua
  spec/helpers/perf/charts.lua
Labels: pr/please review, core/balancer, core/clustering, plugins/request-transformer, core/admin-api, core/db, core/configuration, size/XXL, plugins/opentelemetry, schema-change-noteworthy

#11015 chore(scripts): remove unused autodoc scripts
  .github/workflows/build_and_test.yml
  autodoc/README.md
  autodoc/admin-api/data/admin-api.lua
  autodoc/admin-api/general.lua
  autodoc/admin-api/generate.lua
  autodoc/admin-api/openapi-gen.lua
  autodoc/upgrading/generate.lua
  scripts/autodoc
  scripts/gen-admin-api-def.sh
Labels: core/docs, chore, size/XXL, autodoc

#11092 perf(tracing): use string.buffer instead of table.concat
  kong/tracing/instrumentation.lua
Labels: size/S, core/tracing

#9538 perf(rate-limiting): sync to redis periodically
  CHANGELOG.md
  kong/clustering/compat/removed_fields.lua
  kong/plugins/rate-limiting/handler.lua
  kong/plugins/rate-limiting/policies/init.lua
  kong/plugins/rate-limiting/schema.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/03-plugins/23-rate-limiting/02-policies_spec.lua
  spec/03-plugins/23-rate-limiting/04-access_spec.lua
Labels: pr/please review, plugins/rate-limiting, core/clustering, size/L, changelog, schema-change-noteworthy

#11093 refactor(router): remove unnecessary sort of paths and code clean
  kong/router/atc.lua
  kong/router/compat.lua
Labels: size/S

#11099 chore(deps): bump resty.openssl from 0.8.22 to 0.8.23
  CHANGELOG.md
  kong-3.4.0-0.rockspec
Labels: pr/please review, size/XS, changelog

#11098 chore(deps): bump bazelisk from 1.16.0 to 1.17.0
  Makefile
Labels: pr/please review, size/XS

#11097 chore(deps): bump ldoc from 1.4.6 to 1.5.0
  Makefile
Labels: pr/please review, size/XS

#11096 chore(deps): bump luacheck from 1.1.0 to 1.1.1
  Makefile
Labels: pr/please review, size/XS

#11095 tests(ci): enable all tests in t folder, not only the pdk ones (EE changes)
  t/03-dns-client/02-timer-usage.t
Labels: pr/please review

#11090 feat(templates): bump `cluster_max_payload` default to 16MB
  CHANGELOG.md
  kong.conf.default
  kong/templates/kong_defaults.lua
Labels: pr/ready, core/templates, size/S, changelog

#11105 refactor(core): plugins iterator state-building & lookup algorithm
  kong/runloop/plugins_iterator.lua
  spec/01-unit/28-plugins-iterator/01-compound_key_spec.lua
  spec/01-unit/28-plugins-iterator/02-lookup_cfg_spec.lua
Labels: core/proxy, size/XL

#11065 perf(plugin/prometheus): generate metrics output data with string.buffer
  CHANGELOG.md
  kong/plugins/prometheus/api.lua
  kong/plugins/prometheus/exporter.lua
  kong/plugins/prometheus/prometheus.lua
Labels: plugins/prometheus, size/M, changelog

#11094 fix(clustering): move `remove_fields` of `sync_rate` to the right version
  kong/clustering/compat/removed_fields.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
Labels: core/clustering, size/M

#11091 fix(api): schema violation when validating valid plugin configuration
  CHANGELOG.md
  kong/api/api_helpers.lua
  spec/02-integration/04-admin_api/02-kong_routes_spec.lua
Labels: pr/please review, core/admin-api, size/M, changelog

#10715 tests(db): re-enable and fix flaky tests in spec/02-integration/03-db/07-tags_spec.lua
  spec/02-integration/03-db/07-tags_spec.lua
Labels: size/M, backport release/2.8.x, backport release/3.1.x, backport release/3.2.x

#11066 fix(service): explicitly set user in systemd definition
  CHANGELOG.md
  build/package/kong.service
Labels: size/XS, changelog, build/bazel

#11116 docs(developer): correct the plugin development guide url
  DEVELOPER.md
Labels: core/docs, size/XS

#10996 chore(labeler): add new schema noteworthy path
  .github/labeler.yml
Labels: chore, size/XS, backport release/2.8.x, backport release/3.1.x, backport release/3.2.x, backport release/3.3.x

#11122 [Backport release/3.2.x] chore(labeler): add new schema noteworthy path
  .github/labeler.yml
Labels: chore, size/XS

#11115 fix(plugin/prometheus): fix an error of ngx.re.gsub
  kong/plugins/prometheus/prometheus.lua
Labels: plugins/prometheus, size/S

#11113 perf(plugin/prometheus): remove the usage of `string.gsub` and `ipairs`
  kong/plugins/prometheus/prometheus.lua
Labels: plugins/prometheus, size/M

#11124 chore(clustering/db): reduce log flooding on clustering and schema validation
  kong/clustering/control_plane.lua
  kong/db/schema/init.lua
Labels: core/clustering, core/db, size/S, schema-change-noteworthy

#11106 style(router/compat): add bracket for sni expression
  kong/router/compat.lua
Labels: size/XS

#11129 chore(build): fix typo in patch name
  build/openresty/patches/lua-resty-dns-0.22_01-destroy_resolver.patch
  kong/resty/dns/client.lua
  spec/02-integration/05-proxy/05-dns_spec.lua
Labels: pr/please review, size/XS, build/bazel

#10981 tracing(instrumentation): add http.route span attribute
  CHANGELOG.md
  kong/tracing/instrumentation.lua
  spec/02-integration/14-tracing/01-instrumentations_spec.lua
  spec/03-plugins/37-opentelemetry/04-exporter_spec.lua
Labels: pr/please review, size/L, changelog, core/tracing

#11140 chore(deps): bump OpenSSL to 3.1.1 (#5676)
  .requirements
  CHANGELOG.md
  build/openresty/openssl/openssl_repositories.bzl
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-18.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
  scripts/explain_manifest/suites.py
Labels: size/M, changelog, build/bazel

#11142 [KAG-1627] Feat: Incorporate Cloudsmith
  .github/workflows/release.yml
  scripts/release-kong.sh
Labels: chore, size/S, backport release/2.8.x, backport release/3.0.x, backport release/3.1.x, backport release/3.2.x, backport release/3.3.x

#11126 perf(plugin/prometheus): use ngx.re.match to replace string.match
  kong/plugins/prometheus/prometheus.lua
Labels: plugins/prometheus, size/XS

#11150 fix(proxy): remove kong branding from kong HTML error template
  CHANGELOG.md
  kong/tools/utils.lua
  spec/02-integration/05-proxy/12-error_default_type_spec.lua
  t/01-pdk/08-response/13-error.t
Labels: size/S, changelog

#11135 fix(tracing): ensure sampling rate applies to whole trace
  CHANGELOG.md
  kong/pdk/tracing.lua
  spec/02-integration/14-tracing/02-propagation_spec.lua
  spec/02-integration/14-tracing/03-tracer-pdk_spec.lua
Labels: core/pdk, size/M, changelog, core/tracing

#11009 test(*): remove http_server
  scripts/upgrade-tests/test-upgrade-path.sh
  spec/02-integration/16-queues/01-shutdown_spec.lua
  spec/03-plugins/37-opentelemetry/04-exporter_spec.lua
  spec/05-migration/plugins/http-log/migrations/001_280_to_300_spec.lua
  spec/helpers.lua
  spec/helpers/http_mock/asserts.lua
Labels: size/L

#11155 tests(plugin): remove ee license
  spec/01-unit/28-plugins-iterator/01-compound_key_spec.lua
  spec/01-unit/28-plugins-iterator/02-lookup_cfg_spec.lua
Labels: size/S

#11158 fix(router): don't fail on route with multiple paths
  CHANGELOG.md
  kong/router/compat.lua
  spec/01-unit/08-router_spec.lua
Labels: size/S, changelog, backport release/3.3.x

#11039 chore(ci): add wasm to release builds
  .github/matrix-full.yml
  BUILD.bazel
  build/BUILD.bazel
  build/openresty/BUILD.openresty.bazel
  build/openresty/wasmx/wasmx_repositories.bzl
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-18.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
Labels: chore, size/L, build/bazel
