Repository Kong/kong, pull requests merged in 2023-03, with the labels that each got.

#10399 docs(changelog): move `dependencies` section to the correct place
  CHANGELOG.md
Labels: size/S, changelog

#10325 fix(runloop): use upstream status code in passive health check
  CHANGELOG.md
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
Labels: core/proxy, size/M, changelog

#10403 docs(changelog) update changelog for 3.2.1
  CHANGELOG.md
Labels: size/XS, changelog

#10405 chore(db): only enable posgres cleanup timer on nodes that have admin listeners
  CHANGELOG.md
  kong/db/strategies/postgres/connector.lua
Labels: pr/please review, core/db, size/XS, changelog

#10395 chore(ci) notify slack on PRs performing schema changes
  .github/workflows/label-check.yml
Labels: chore, size/XS

#10408 chore: split schema change job
  .github/workflows/label-check.yml
  .github/workflows/label-schema.yml
Labels: chore, size/S

#10414 fix(cd): remove detection of unused tools
  .github/workflows/release.yml
Labels: chore, size/XS

#8745 Replace graph with timeseries, Kong3 Upgrade
  kong/plugins/prometheus/grafana/kong-official.json
Labels: pr/please review, plugins/prometheus, size/XXL

#10367 [Backport release/3.2.x] fix(bazel): fix intel detection
  build/repositories.bzl
Labels: size/XS, build/bazel

#10413 chore(deps): bump lua-protobuf to 0.4.2
  CHANGELOG.md
  kong-3.2.1-0.rockspec
  kong/plugins/grpc-gateway/deco.lua
  kong/runloop/plugin_servers/pb_rpc.lua
  kong/tools/grpc.lua
  spec/03-plugins/37-opentelemetry/04-exporter_spec.lua
Labels: core/language/go, core/language/python, plugins/grpc-gateway, core/language/js, size/M, changelog

#10317 feat(wasmx): DB entities and admin API
  kong/constants.lua
  kong/db/migrations/core/019_320_to_330.lua
  kong/db/migrations/core/init.lua
  kong/db/schema/entities/wasm_filter_chains.lua
  spec/02-integration/15-wasm/01-admin-api_spec.lua
  spec/02-integration/15-wasm/02-db_spec.lua
Labels: core/db/migrations, core/db, size/XL, version-compatibility, schema-change-noteworthy

#10177 chore(deps): bump bazel to 6.0.0
  .bazelrc
  .bazelversion
Labels: size/XS, build/bazel

#10419 chore(rockspec): bump `lua-resty-timer-ng` from 0.2.3 to 0.2.4
  kong-3.2.1-0.rockspec
Labels: size/XS

#10374 feat(proxy): error templates customization
  CHANGELOG.md
  kong.conf.default
  kong/conf_loader/init.lua
  kong/error_handlers.lua
  kong/pdk/response.lua
  kong/templates/kong_defaults.lua
  kong/tools/utils.lua
  spec/02-integration/05-proxy/12-error_default_type_spec.lua
  spec/fixtures/error_templates/error_template.html
  spec/fixtures/error_templates/error_template.json
  spec/fixtures/error_templates/error_template.plain
  spec/fixtures/error_templates/error_template.xml
  t/01-pdk/08-response/13-error.t
Labels: core/pdk, core/templates, core/configuration, size/L, changelog

#10407 feat(db): batch cleanup expired rows from postgres
  CHANGELOG.md
  kong/db/strategies/postgres/connector.lua
  spec/02-integration/03-db/20-ttl-cleanup_spec.lua
Labels: core/db, size/L, changelog

#10423 feat(*): Port kong-build-tools Package Smoke Tests [KAG-617]
  .github/workflows/release.yml
  build/tests/01-admin-api.sh
  build/tests/01-base.sh
  build/tests/02-admin-api.sh
  build/tests/util.sh
Labels: chore, size/L, build/bazel

#10421 fix(bazel): add alt url for older zlib releases
  build/cross_deps/zlib/repositories.bzl
Labels: size/XS, build/bazel, backport release/3.2.x

#10420 chore(*): fix a typo
  kong.conf.default
Labels: size/XS

#10427 fix(build): add the missing endianness cross build patch
  build/openresty/BUILD.openresty.bazel
  build/openresty/patches/nginx-cross-endianness-fix.patch
Labels: size/M, backport master, build/bazel

#10432 docs(conf): improved error_template fields documentation
  kong.conf.default
Labels: size/S

#10430 chore(actions): do not allow "backport master" labels
  .github/workflows/label-check.yml
Labels: chore, size/XS

#10393 docs(changelog) acme plugin account_key addition
  CHANGELOG.md
Labels: size/S, changelog

#10183 chore(development): add vim modelines to bin/*
  .editorconfig
  bin/busted
  bin/kong
  bin/kong-health
Labels: size/S

#10412 feat(wasm): attach filters from the wasm_filter_chains model
  kong-3.2.1-0.rockspec
  kong/conf_loader/init.lua
  kong/constants.lua
  kong/db/dao/wasm_filter_chains.lua
  kong/db/schema/entities/wasm_filter_chains.lua
  kong/init.lua
  kong/plugins/proxy-wasm/handler.lua
  kong/plugins/proxy-wasm/schema.lua
  kong/runloop/wasm.lua
  spec/02-integration/15-wasm/01-admin-api_spec.lua
  spec/02-integration/15-wasm/02-db_spec.lua
  spec/02-integration/15-wasm/03-runtime_spec.lua
  spec/02-integration/15-wasm/04-proxy-wasm_spec.lua
  spec/03-plugins/38-proxy-wasm/01-schema_spec.lua
  spec/fixtures/proxy_wasm_filters/tests/src/filter.rs
  spec/fixtures/proxy_wasm_filters/tests/src/routines.rs
Labels: core/proxy, core/db, core/configuration, size/XL, schema-change-noteworthy

#10436 fix(wasm): include configuration in initial load
  kong/runloop/wasm.lua
Labels: core/proxy, size/S

#10437 chore: run label based jobs on other events
  .github/workflows/label-check.yml
  .github/workflows/label-schema.yml
Labels: chore, size/XS

#10055 feat(plugins/proxy-cache): add wildcard and parameter match support for content_type
  CHANGELOG.md
  kong-3.2.1-0.rockspec
  kong/plugins/proxy-cache/handler.lua
  kong/tools/mime_type.lua
  spec/01-unit/26-mime-type_spec.lua
  spec/03-plugins/31-proxy-cache/01-schema_spec.lua
  spec/03-plugins/31-proxy-cache/02-access_spec.lua
Labels: plugins/proxy-cache, size/L, changelog

#9856 fix(core): dyn upstream keepalive
  CHANGELOG.md
  build/openresty/patches/lua-resty-core-0.1.23_02-dyn_upstream_keepalive.patch
  build/openresty/patches/ngx_lua-0.10.21_02-dyn_upstream_keepalive.patch
  spec/02-integration/05-proxy/25-upstream_keepalive_spec.lua
Labels: size/XXL, changelog, build/bazel

#7829 Feat/proxy cache debug
  kong/plugins/proxy-cache/handler.lua
  spec/03-plugins/31-proxy-cache/02-access_spec.lua
  spec/03-plugins/31-proxy-cache/03-api_spec.lua
  spec/03-plugins/31-proxy-cache/04-invalidations_spec.lua
Labels: pending author feedback, plugins/proxy-cache

#10154 refactor(db/schema): optimize ca cert validation
  kong/db/schema/entities/ca_certificates.lua
Labels: core/db, size/S, version-compatibility, schema-change-noteworthy

#10390 fix(request-terminator): add the missing captures in the echo
  CHANGELOG.md
  kong/pdk/request.lua
  kong/plugins/request-termination/handler.lua
  spec/03-plugins/14-request-termination/02-access_spec.lua
  t/01-pdk/04-request/21-get_uri_captures.t
Labels: core/pdk, size/M, changelog, plugins/request-termination

#9857 refactor(utils): use kong.utils.table_merge implementation to replace kong.table.merge
  kong/db/dao/init.lua
  kong/db/dao/targets.lua
  kong/db/strategies/postgres/connector.lua
  kong/pdk/table.lua
  kong/plugins/opentelemetry/otlp.lua
  kong/tools/utils.lua
Labels: core/pdk, core/db, size/M, plugins/opentelemetry

#10444 Revert "Feat/proxy cache debug (#7829)"
  kong/plugins/proxy-cache/handler.lua
  spec/03-plugins/31-proxy-cache/02-access_spec.lua
  spec/03-plugins/31-proxy-cache/03-api_spec.lua
  spec/03-plugins/31-proxy-cache/04-invalidations_spec.lua
Labels: plugins/proxy-cache, size/XL

#10304 fix broken link
  README.md
Labels: core/docs, size/XS

#10315 chore(bazel) remove unneeded nginx modules
  build/openresty/BUILD.openresty.bazel
Labels: pr/discussion, size/S, build/bazel

#10438 docs(changlog): fix unreleased changelog
  CHANGELOG.md
Labels: size/S, changelog

#10450 chore(test): prevent potential sni names collision across different test files
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
Labels: size/XS

#10449 fix(schema): nested record shorthand type check
  kong/db/schema/init.lua
  spec/01-unit/01-db/01-schema/01-schema_spec.lua
Labels: core/db, size/M

#10457 chore(*): changelog for #10449
  CHANGELOG.md
Labels: size/XS, changelog

#10454 chore(tests): add http2 smoke test
  .github/workflows/release.yml
  build/tests/03-http2-admin-api.sh
  build/tests/util.sh
Labels: chore, size/M, build/bazel

#10460 chore(package): correctly set the cache key
  .github/workflows/release.yml
Labels: chore, size/XS

#10364 fix(tracing): trace hook error out when see nil
  CHANGELOG.md
  kong/pdk/tracing.lua
  spec/01-unit/26-tracing/01-tracer_pdk_spec.lua
Labels: pr/ready, core/pdk, size/M, changelog, core/tracing

#10371 fix(build): build wasmx support on macos
  build/kong_bindings.bzl
  build/openresty/wasmx/wasmx_repositories.bzl
  kong/templates/nginx.lua
  spec/fixtures/custom_nginx.template
Labels: core/templates, size/M, build/bazel

#10463 fix(jwt): offload ECDSA signature format conversion
  kong-3.2.1-0.rockspec
  kong/plugins/jwt/asn_sequence.lua
  kong/plugins/jwt/jwt_parser.lua
  spec/03-plugins/16-jwt/05-asn_sequence_spec.lua
Labels: plugins/jwt, size/L

#10467 docs(changelog): bumped lua-resty-openssl to 0.8.18
  CHANGELOG.md
Labels: size/XS, changelog

#10464 tests(connection_pool): remove some flakiness
  spec/02-integration/03-db/15-connection_pool_spec.lua
Labels: size/M

#10473 fix(tests): use openssl API version instead of BoringSSL git sha in tests
  build/tests/01-base.sh
Labels: size/XS, build/bazel

#10468 fix(dockerfiles): clean up dangling sockets
  CHANGELOG.md
  build/dockerfiles/entrypoint.sh
Labels: size/S, changelog, build/bazel, backport release/3.2.x

#10302 Fix return value description of get_body
  kong/pdk/service/response.lua
Labels: core/pdk, size/XS

#10479 chore(workflows): allow errors in schema-change-labels job
  .github/workflows/label-schema.yml
Labels: chore, size/XS

#10469 Summary: chore(*): reconfigure automatic closing of issues and PRs
  .github/stale.yml
Labels: chore, size/S

#10488 fix(ci): fix lua package path and move env var to the step it belongs
  .github/workflows/build_and_test.yml
Labels: chore, size/L

#10453 feat(proxy-cache): add ignore_uri_case to configuring cache-key uri to be handled as lowercase
  CHANGELOG.md
  kong/clustering/compat/removed_fields.lua
  kong/plugins/proxy-cache/handler.lua
  kong/plugins/proxy-cache/schema.lua
  spec/03-plugins/31-proxy-cache/02-access_spec.lua
Labels: core/clustering, plugins/proxy-cache, size/L, changelog, schema-change-noteworthy

#10492 Revert "Summary: chore(*): reconfigure automatic closing of issues and PRs (#10469)"
  .github/stale.yml
Labels: chore, size/S

#10491 chore(tests): fix ttl cleanup flakiness
  spec/02-integration/03-db/20-ttl-cleanup_spec.lua
Labels: size/M

#10490 chore(makefile): split dependency and preserve install-legacy in Makefile
  Makefile
Labels: size/XS

#10482 docs(changelog): small typo fix for #10468
  CHANGELOG.md
Labels: size/XS, changelog

#10486 fix(*): move previous `dev` targets to `dev-legacy`
  .devcontainer/devcontainer.json
  scripts/test-upgrade-path.sh
Labels: chore, size/XS

#10431 chore(schema): bundled plugin schema must have protocols field
  kong/db/dao/plugins.lua
  spec/01-unit/01-db/01-schema/07-plugins_spec.lua
Labels: core/db, size/M

#10400 feat(entities): add `updated_at` column for entities
  CHANGELOG.md
  autodoc/admin-api/data/admin-api.lua
  kong-3.2.1-0.rockspec
  kong/clustering/compat/init.lua
  kong/db/migrations/core/019_320_to_330.lua
  kong/db/migrations/core/init.lua
  kong/db/schema/entities/ca_certificates.lua
  kong/db/schema/entities/certificates.lua
  kong/db/schema/entities/clustering_data_planes.lua
  kong/db/schema/entities/consumers.lua
  kong/db/schema/entities/plugins.lua
  kong/db/schema/entities/snis.lua
  kong/db/schema/entities/targets.lua
  kong/db/schema/entities/upstreams.lua
  kong/db/schema/entities/workspaces.lua
  kong/db/schema/init.lua
  spec/01-unit/01-db/01-schema/05-services_spec.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
  spec/01-unit/01-db/01-schema/08-targets_spec.lua
  spec/01-unit/01-db/01-schema/09-upstreams_spec.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/03-flatten_spec.lua
  spec/01-unit/01-db/01-schema/11-snis_spec.lua
  spec/02-integration/02-cmd/11-config_spec.lua
  spec/02-integration/03-db/03-plugins_spec.lua
  spec/02-integration/04-admin_api/03-consumers_routes_spec.lua
  spec/02-integration/04-admin_api/04-plugins_routes_spec.lua
  spec/02-integration/04-admin_api/06-certificates_routes_spec.lua
  spec/02-integration/04-admin_api/08-targets_routes_spec.lua
  spec/02-integration/04-admin_api/10-services_routes_spec.lua
  spec/02-integration/04-admin_api/12-plugins-conf_spec.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
  spec/02-integration/04-admin_api/16-ca_certificates_routes_spec.lua
  spec/05-migration/db/migrations/core/019_320_to_330_spec.lua
Labels: core/db/migrations, core/clustering, core/db, size/L, version-compatibility, changelog, autodoc, schema-change-noteworthy

#10481 fix(dockerfiles): clean up dangling sockets on startup (#10468)
  CHANGELOG.md
  build/dockerfiles/entrypoint.sh
Labels: size/S, changelog, build/bazel

#10494 fix(makefile): remove `remove` target dependency to `dependencies` target
  Makefile
Labels: size/XS

#10498 tests(*): fix db ttl cleanup flaky test
  spec/02-integration/03-db/20-ttl-cleanup_spec.lua
Labels: size/XS

#10497 feat(build): support fish, add PS1, move venv scripts to template
  DEVELOPER.md
  build/BUILD.bazel
  build/build_system.bzl
  build/templates/venv-commons
  build/templates/venv.fish
  build/templates/venv.sh
Labels: core/docs, size/L, build/bazel

#10500 fix(makefile): remove extra @ symbols
  Makefile
Labels: size/XS

#5885 feat(balancer): expose balancer_health even when healthchecks are off
  CHANGELOG.md
  kong/runloop/balancer/healthcheckers.lua
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
Labels: pr/please review, core/balancer, size/M, changelog

#10502 release/3.2.2
  CHANGELOG.md
  kong-3.2.2-0.rockspec
  kong/meta.lua
Labels: size/S, changelog

#10404 fix(runloop): ssl request with invalid sni should not be logged as error
  kong/db/schema/typedefs.lua
  kong/runloop/certificate.lua
  spec/02-integration/05-proxy/06-ssl_spec.lua
Labels: core/proxy, core/db, size/L

#10379 feat(otel): add http_response_header_for_traceid config to add trace_id for downstream header
  CHANGELOG.md
  kong/clustering/compat/removed_fields.lua
  kong/plugins/opentelemetry/handler.lua
  kong/plugins/opentelemetry/schema.lua
  spec/03-plugins/37-opentelemetry/05-otelcol_spec.lua
Labels: core/clustering, size/M, version-compatibility, changelog, plugins/opentelemetry, schema-change-noteworthy

#10512 tests(certificates): reduce cert PATCH test flakiness
  spec/02-integration/04-admin_api/06-certificates_routes_spec.lua
Labels: size/XS

#10475 fix(admin): custom id empty value cause crash
  CHANGELOG.md
  kong/api/routes/consumers.lua
  spec/02-integration/04-admin_api/03-consumers_routes_spec.lua
Labels: core/admin-api, size/S, changelog

#10511 chore(gha): rename job name of label-schema.yml to different as label-check.yml
  .github/workflows/label-schema.yml
Labels: chore, size/XS

#10527 chore(ci): check labeler configuration for completeness
  .github/labeler.yml
  .github/workflows/build_and_test.yml
  scripts/check-labeler.pl
Labels: chore, size/M

#10529 chore(deps) bump busted from 2.1.1 to 2.1.2
  Makefile
Labels: pr/please review, size/XS

#10530 Update README.md
  README.md
Labels: core/docs, size/XS

#9903 feat(pdk): allow plugin to fetch its id
  CHANGELOG.md
  kong-3.2.1-0.rockspec
  kong/init.lua
  kong/pdk/init.lua
  kong/pdk/plugin.lua
  kong/plugins/datadog/handler.lua
  kong/plugins/opentelemetry/handler.lua
  kong/plugins/statsd/log.lua
  kong/runloop/plugin_servers/init.lua
  kong/runloop/plugins_iterator.lua
  spec/02-integration/07-sdk/05-pdk_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/get-plugin-id/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/get-plugin-id/schema.lua
Labels: core/language/go, core/proxy, core/pdk, plugins/datadog, plugins/statsd, core/language/python, core/language/js, size/L, changelog, plugins/opentelemetry

#10517 fix(runloop): use upstream status code in passive health check (#10325)
  CHANGELOG.md
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
Labels: core/proxy, size/M, changelog

#10518 fix(runloop): use upstream status code in passive health check (#10325)
  CHANGELOG.md
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
Labels: core/proxy, size/M, changelog

#10519 fix(runloop): use upstream status code in passive health check (#10325)
  CHANGELOG.md
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
Labels: core/proxy, size/M, changelog

#10528 chore(deps) bump luasec from 1.2.0 to 1.3.1
  CHANGELOG.md
  kong-3.2.1-0.rockspec
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
Labels: pr/please review, size/XS, changelog

#10514 fix(router): traditional router could error with "invalid order function for sorting"
  CHANGELOG.md
  kong/router/traditional.lua
  spec/02-integration/05-proxy/01-proxy_spec.lua
Labels: pr/please review, size/L, changelog

#10533 feat(http-log): support charset in content-type header
  CHANGELOG.md
  kong/plugins/http-log/schema.lua
  spec/03-plugins/03-http-log/01-log_spec.lua
Labels: plugins/http-log, size/L, changelog, schema-change-noteworthy

#10524 fix(ldap-auth): to avoid potential index-nil-error
  kong/plugins/ldap-auth/asn1.lua
  spec/03-plugins/20-ldap-auth/03-decode_spec.lua
Labels: plugins/ldap-auth, size/L

#10542 tests(postgres): reduce ttl cleanup test time usage
  kong/conf_loader/init.lua
  kong/db/strategies/postgres/connector.lua
  kong/templates/kong_defaults.lua
  spec/02-integration/03-db/20-ttl-cleanup_spec.lua
Labels: core/templates, core/db, core/configuration, size/XS

#10547 chore(deps): pin to latest resty-http 0.17.1
  CHANGELOG.md
  kong-3.2.1-0.rockspec
Labels: pr/please review, size/XS, changelog

#10548 fix(build): force the interpreter instead of relying on shebang
  build/luarocks/BUILD.luarocks.bazel
Labels: size/S, build/bazel

#10546 feat(build): use managed cmake and system-wide make
  .github/workflows/release.yml
  DEVELOPER.md
  WORKSPACE
Labels: core/docs, chore, size/S, build/bazel

#10539 fix(request-transformer): thread safety
  CHANGELOG.md
  kong/plugins/request-transformer/access.lua
  spec/03-plugins/36-request-transformer/02-access_spec.lua
Labels: plugins/request-transformer, size/L, changelog

#10550 tests(healthcheck): fix passive healthcheck flaky test
  spec/02-integration/05-proxy/10-balancer/03-consistent-hashing_spec.lua
  spec/fixtures/balancer_utils.lua
Labels: size/M

#10534 chore(plugin): convert traceid in http response headers to hex format
  CHANGELOG.md
  kong/plugins/opentelemetry/handler.lua
  kong/plugins/zipkin/handler.lua
  spec/03-plugins/34-zipkin/zipkin_spec.lua
  spec/03-plugins/37-opentelemetry/05-otelcol_spec.lua
Labels: plugins/zipkin, size/S, changelog, plugins/opentelemetry

#10556 chore: auto-assign PR author as assignee
  .github/workflows/auto-assignee.yml
Labels: chore, size/S

#10535 tests(wasm): add response-transformer fixture and helpers
  spec/02-integration/15-wasm/01-admin-api_spec.lua
  spec/02-integration/15-wasm/03-runtime_spec.lua
  spec/02-integration/15-wasm/04-proxy-wasm_spec.lua
  spec/fixtures/proxy_wasm_filters/Cargo.lock
  spec/fixtures/proxy_wasm_filters/Cargo.toml
  spec/fixtures/proxy_wasm_filters/response_transformer/Cargo.toml
  spec/fixtures/proxy_wasm_filters/response_transformer/src/filter.rs
  spec/fixtures/proxy_wasm_filters/response_transformer/src/types.rs
  spec/fixtures/proxy_wasm_filters/tests/Cargo.lock
  spec/fixtures/wasm.lua
Labels: size/L

#10541 chore(dev): add a reference docker-compose file to bring up services
  DEVELOPER.md
  build/templates/venv.fish
  build/templates/venv.sh
  scripts/dependency_services/docker-compose-test-services.yml
  scripts/dependency_services/up.fish
  scripts/dependency_services/up.sh
Labels: core/docs, size/L, build/bazel

#10543 chore(pdk): add comment so docs can be generated
  kong/pdk/plugin.lua
Labels: core/pdk, size/XS

#10485 fix(tracing): sample rate not working
  CHANGELOG.md
  kong/pdk/tracing.lua
  spec/01-unit/26-tracing/01-tracer_pdk_spec.lua
Labels: core/pdk, size/L, changelog, core/tracing

#10567 chore: rewrite database upgrade tests without gojira
  .github/workflows/upgrade-tests.yml
  .gitignore
  scripts/test-upgrade-path.sh
  scripts/upgrade-tests/docker-compose.yml
  scripts/upgrade-tests/test-upgrade-path.sh
Labels: chore, size/L

#10563 chore(deps) bump pgmoon from 1.13.0 to 1.16.0
  kong-2.8.3-0.rockspec
  spec/02-integration/03-db/01-db_spec.lua
Labels: size/L

#10256 fix(dbless): drain error table when flattening errors
  CHANGELOG.md
  kong/db/errors.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
Labels: core/db, size/L, changelog, backport release/3.2.x

#10580 docs(CONTRIBUTING): Fix the broken link on numerical computations tuning
  CONTRIBUTING.md
Labels: core/docs, size/XS

#10569 feat(vault): allow stale value returned from vault in case of an error
  kong/pdk/vault.lua
Labels: pr/please review, core/pdk, size/XS

#10565 refactor(azure-functions): remove config cache
  kong/plugins/azure-functions/handler.lua
Labels: pr/please review, plugins/azure-functions, size/L

#10562 feat(acme): support redis namespace
  CHANGELOG.md
  kong-3.2.1-0.rockspec
  kong/plugins/acme/client.lua
  kong/plugins/acme/reserved_words.lua
  kong/plugins/acme/schema.lua
  spec/03-plugins/29-acme/05-redis_storage_spec.lua
Labels: plugins/acme, size/L, changelog, schema-change-noteworthy

#10552 chore(ci): Replace deprecated command with environment file
  .github/workflows/autodocs.yml
Labels: chore, size/XS

#10501 fix(clustering): fix the bug in compatible logic
  kong/clustering/compat/init.lua
Labels: pr/discussion, core/clustering, size/S

#10484 feat(plugin): datadog host/port referenceable
  CHANGELOG.md
  kong/plugins/datadog/schema.lua
  spec/03-plugins/08-datadog/01-log_spec.lua
Labels: plugins/datadog, size/XL, changelog, schema-change-noteworthy

#10385 feat(conf) implement 'node_id' for configurable node ID
  CHANGELOG.md
  kong.conf.default
  kong/conf_loader/init.lua
  kong/pdk/node.lua
  kong/templates/kong_defaults.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/02-integration/04-admin_api/02-kong_routes_spec.lua
Labels: core/pdk, core/templates, core/configuration, size/M, changelog

#10587 chore(actions): use release tag for `scan-docker-image`
  .github/workflows/release.yml
Labels: chore, size/XS, backport release/3.2.x

#10327 feat(request-transformer): honor untrusted_lua configuration values
  CHANGELOG.md
  kong/plugins/request-transformer/access.lua
  spec/03-plugins/36-request-transformer/02-access_spec.lua
Labels: plugins/request-transformer, size/L, changelog

#10204 Fix request buffering for HTTP/2.0
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .github/workflows/build_and_test.yml
  Makefile
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/27-unbuffered_spec.lua
Labels: pending author feedback, core/proxy, chore, size/L

#10596 Revert "Fix request buffering for HTTP/2.0"
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .github/workflows/build_and_test.yml
  Makefile
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/27-unbuffered_spec.lua
Labels: core/proxy, chore, size/L

#10417 feat(serverless-functions): isolate sandbox cache
  CHANGELOG.md
  kong/plugins/pre-function/_handler.lua
  spec/03-plugins/33-serverless-functions/02-access_spec.lua
Labels: plugins/serverless-functions, size/L, changelog

#10595 fix(proxy): fix request buffering for HTTP/2.0
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .github/workflows/build_and_test.yml
  CHANGELOG.md
  Makefile
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/27-unbuffered_spec.lua
Labels: pr/please review, core/proxy, chore, size/L, changelog

#10597 fix(ci): fix makefile to include CURL_INCDIR
  Makefile
Labels: size/XS

#10598 fix(ci): fix ci to install curl headers files
  .github/workflows/autodocs.yml
  .github/workflows/perf.yml
  .github/workflows/release.yml
  DEVELOPER.md
Labels: core/docs, chore, size/XS
