Repository Kong/kong, pull requests merged in 2023-04, with the labels that each got.

#10604 docs(changelog): add missing PR link for #10417
  CHANGELOG.md
Labels: size/XS, changelog

#10592 fix(healthchecker): fix passive healthchecker in subrequest
  CHANGELOG.md
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
Labels: core/proxy, size/M, changelog

#10590 [KAG-1076] fix(gha): add container version sanity test
  .github/workflows/release.yml
Labels: chore, size/S, backport release/2.8.x, backport release/3.0.x, backport release/3.1.x, backport release/3.2.x

#10609 fix(cd): also move debian-10 inside docker container
  .github/matrix-full.yml
  .github/workflows/release.yml
  build/bootstrap.sh
Labels: chore, size/L, build/bazel

#10606 chore(*): cleanup some unused scripts
  scripts/backoff.sh
  scripts/build-kong.sh
  scripts/release-lib.sh
  scripts/send-slack-message.sh
  scripts/setup-ci.sh
Labels: size/XL, build/bazel

#10566 refactor(opentelemetry): remove headers config cache
  kong/plugins/opentelemetry/handler.lua
Labels: pr/please review, size/M, plugins/opentelemetry

#10614 chore(*): re-instantiate script that is in use
  scripts/backoff.sh
Labels: size/M

#10583 fix(instrumentation): span hierarchy
  kong/pdk/tracing.lua
  kong/tracing/instrumentation.lua
Labels: core/pdk, size/L, core/tracing

#9698 test(healthcheck): add test cases for healthcheck status reported by admin api
  spec/02-integration/04-admin_api/08-targets_routes_spec.lua
Labels: size/M

#10625 fix(cd): install wget on centos7 and rhel7
  .github/workflows/release.yml
Labels: chore, size/XS

#10628 fix(cd): fix git dependency for ubuntu 18.04 and restore cache for centos
  .github/workflows/release.yml
Labels: chore, size/S

#10623 tests(tracing): add propagation integration test
  spec/02-integration/14-tracing/02-propagation_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/trace-propagator/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/trace-propagator/schema.lua
Labels: size/L

#10152 refactor(clustering/compat): using array to store compatible checker functions
  kong-3.2.1-0.rockspec
  kong/clustering/compat/checkers.lua
  kong/clustering/compat/init.lua
Labels: core/clustering, size/L, version-compatibility

#10591 chore(ci/perf): fix build procress of performance workflow
  .github/workflows/perf.yml
Labels: chore, size/M

#10631 docs(tests): fix the helper docs to render test helpers
  spec/config.ld
  spec/helpers/dns.lua
  spec/helpers/perf.lua
Labels: size/L

#10630 chore(release): bump version number to 3.3.0
  kong-3.3.0-0.rockspec
  kong/meta.lua
Labels: size/XS

#10634 chore(deps): bump resty events from 0.1.3 to 0.1.4
  .requirements
  CHANGELOG.md
Labels: pr/please review, size/XS, changelog

#10632 test(acme): add test to ensure that the namespace parameter takes effect
  spec/03-plugins/29-acme/05-redis_storage_spec.lua
Labels: size/L

#9913 test(bundled-plugin): test all plugin sub-modules installed in luarocks kong module are in bundle list
  spec/02-integration/04-admin_api/12-plugins-conf_spec.lua
Labels: pr/please review, size/S

#10624 revert "tests(templates): add `mock_upstream` fixture to data plane f…
  spec/fixtures/custom_nginx.template
  spec/helpers.lua
Labels: size/M

#10522 fix(plugins/oauth2): OAuth2 token was being cached to nil while access to the wrong service first
  CHANGELOG.md
  kong/plugins/oauth2/access.lua
  spec/03-plugins/25-oauth2/03-access_spec.lua
Labels: plugins/oauth2, size/M, changelog

#10589 chore(wasmx): revise data and execution models
  kong/db/migrations/core/019_320_to_330.lua
  kong/db/schema/entities/wasm_filter_chains.lua
  kong/init.lua
  kong/runloop/events.lua
  kong/runloop/handler.lua
  kong/runloop/wasm.lua
  spec/02-integration/15-wasm/01-admin-api_spec.lua
  spec/02-integration/15-wasm/02-db_spec.lua
  spec/02-integration/15-wasm/03-runtime_spec.lua
  spec/02-integration/15-wasm/04-proxy-wasm_spec.lua
  spec/02-integration/15-wasm/05-cache-invalidation_spec.lua
  spec/fixtures/blueprints.lua
Labels: core/proxy, core/db/migrations, core/db, size/XXL, schema-change-noteworthy

#10603 fix(tests): fix admin-api dbless test typo of matching timers count
  spec/02-integration/04-admin_api/15-off_spec.lua
Labels: size/XS

#10653 refactor(migrations): makes kong 3.3 migrations more resilient on partial migrations
  kong/db/migrations/core/019_320_to_330.lua
Labels: pr/please review, core/db/migrations, size/M

#10627 chore(*): merge backoff.sh into release-kong.sh
  scripts/backoff.sh
  scripts/release-kong.sh
Labels: size/M

#10612 docs: split the large changelog file into two
  CHANGELOG-OLD.md
  CHANGELOG.md
Labels: core/docs, size/XXL, changelog

#10637 tests(plugins-iterator): precedence tests
  spec/02-integration/15-plugins-iterator/01-precedence_spec.lua
  spec/fixtures/factories/plugins.lua
Labels: size/XL

#10657 chore(*): fix typos
  DEVELOPER.md
  build/README.md
  kong.conf.default
  kong/tools/utils.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
  spec/01-unit/01-db/01-schema/09-upstreams_spec.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/04-on-the-fly-migration_spec.lua
  spec/01-unit/01-db/03-arguments_spec.lua
  spec/01-unit/01-db/08-cache_warmup_spec.lua
  spec/01-unit/09-balancer/01-generic_spec.lua
  spec/01-unit/09-balancer/02-least_connections_spec.lua
  spec/01-unit/09-balancer/04-round_robin_spec.lua
  spec/01-unit/09-balancer/06-latency_spec.lua
  spec/01-unit/21-dns-client/03-client_cache_spec.lua
  spec/02-integration/03-db/02-db_core_entities_spec.lua
  spec/02-integration/03-db/07-tags_spec.lua
  spec/02-integration/04-admin_api/03-consumers_routes_spec.lua
  spec/02-integration/04-admin_api/08-targets_routes_spec.lua
  spec/02-integration/04-admin_api/21-admin-api-keys_spec.lua
  spec/02-integration/05-proxy/08-uri_encoding_spec.lua
  spec/02-integration/05-proxy/14-server_tokens_spec.lua
  spec/02-integration/08-status_api/02-targets_routes_spec.lua
  spec/03-plugins/23-rate-limiting/04-access_spec.lua
  spec/03-plugins/24-response-rate-limiting/04-access_spec.lua
  spec/03-plugins/34-zipkin/zipkin_no_endpoint_spec.lua
  spec/04-perf/01-rps/06-core_entities_crud_spec.lua
  spec/fixtures/grpc/google/api/http.proto
  spec/fixtures/grpc/google/protobuf/descriptor.proto
Labels: core/docs, size/L, build/bazel

#10439 fix(reports): always honor anonymous report toggle
  kong/cmd/config.lua
  kong/reports.lua
  kong/runloop/handler.lua
  spec/01-unit/11-reports_spec.lua
  spec/02-integration/02-cmd/11-config_spec.lua
Labels: core/cli, core/proxy, size/L

#10660 chore(deps): bump github cli to 2.27.0
  build/repositories.bzl
Labels: size/S, build/bazel

#10172 feat(pdk): reimplement plugin queues
  CHANGELOG.md
  kong-3.3.0-0.rockspec
  kong/clustering/compat/removed_fields.lua
  kong/db/schema/typedefs.lua
  kong/plugins/datadog/handler.lua
  kong/plugins/datadog/schema.lua
  kong/plugins/http-log/handler.lua
  kong/plugins/http-log/schema.lua
  kong/plugins/opentelemetry/handler.lua
  kong/plugins/opentelemetry/schema.lua
  kong/plugins/statsd/log.lua
  kong/plugins/statsd/schema.lua
  kong/resty/dns/client.lua
  kong/tools/batch_queue.lua
  kong/tools/queue.lua
  kong/tools/queue_schema.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/02-process_auto_fields_spec.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/03-flatten_spec.lua
  spec/01-unit/27-batch_queue_spec.lua
  spec/01-unit/27-queue_spec.lua
  spec/02-integration/15-queues/01-shutdown_spec.lua
  spec/02-integration/15-queues/02-share_queue_spec.lua
  spec/03-plugins/03-http-log/01-log_spec.lua
  spec/03-plugins/03-http-log/02-schema_spec.lua
  spec/03-plugins/03-http-log/03-queue_spec.lua
  spec/03-plugins/03-http-log/04-legacy_queue_sharing_spec.lua
  spec/03-plugins/06-statsd/01-log_spec.lua
  spec/03-plugins/08-datadog/01-log_spec.lua
  spec/helpers.lua
Labels: core/clustering, plugins/datadog, plugins/statsd, plugins/http-log, core/db, size/XXL, version-compatibility, changelog, plugins/opentelemetry, schema-change-noteworthy

#10531 fix(plugin): do not shorten id when not w3c
  CHANGELOG.md
  kong/plugins/opentelemetry/handler.lua
  kong/plugins/opentelemetry/otlp.lua
  kong/tracing/propagation.lua
  spec/01-unit/26-tracing/02-propagation_spec.lua
  spec/03-plugins/34-zipkin/zipkin_no_endpoint_spec.lua
  spec/03-plugins/34-zipkin/zipkin_spec.lua
  spec/03-plugins/37-opentelemetry/03-propagation_spec.lua
Labels: size/L, changelog, core/tracing, plugins/opentelemetry

#10655 fix(tracing/core): sampled flags and propagation
  kong/pdk/tracing.lua
  kong/tracing/propagation.lua
  spec/02-integration/14-tracing/02-propagation_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/tcp-trace-exporter/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/trace-propagator/handler.lua
Labels: core/pdk, size/L, core/tracing

#10578 docs(contribute): try to add more useful code style guide
  CONTRIBUTING.md
Labels: core/docs, size/S

#10620 feat(opentelemetry): Allow header_type to be set
  CHANGELOG.md
  kong/clustering/compat/removed_fields.lua
  kong/plugins/opentelemetry/handler.lua
  kong/plugins/opentelemetry/schema.lua
  spec/03-plugins/37-opentelemetry/03-propagation_spec.lua
Labels: core/clustering, size/M, changelog, plugins/opentelemetry, schema-change-noteworthy, author/community

#10647 chore(ci): build test filters w/ github actions
  .github/actions/build-wasm-test-filters/action.yml
  .github/workflows/build_and_test.yml
  .gitignore
  Makefile
  scripts/build-wasm-test-filters.sh
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/02-integration/15-wasm/01-admin-api_spec.lua
  spec/02-integration/15-wasm/03-runtime_spec.lua
  spec/02-integration/15-wasm/04-proxy-wasm_spec.lua
  spec/02-integration/15-wasm/05-cache-invalidation_spec.lua
  spec/fixtures/wasm.lua
  spec/helpers.lua
  spec/kong_tests.conf
Labels: chore, size/L, build/bazel

#10664 chore(dep): bump `lua-resty-timer-ng` from `0.2.4` to `0.2.5`
  CHANGELOG.md
  kong-3.3.0-0.rockspec
Labels: pr/ready, size/XS, changelog, backport release/3.2.x

#10652 fix(build): misc fixes for macos
  .bazelrc
  DEVELOPER.md
  Makefile
  build/kong_bindings.bzl
  build/openresty/BUILD.openresty.bazel
Labels: core/docs, size/M, build/bazel

#10670 tests(integration): reduce targets admin API tests flakiness
  spec/02-integration/04-admin_api/08-targets_routes_spec.lua
Labels: size/S

#10683 chore(perf): fixed systemtap url
  spec/helpers/perf/drivers/terraform.lua
Labels: size/XS

#10663 fix(otel): spans hierarchy + sampled flags and propagation
  kong/pdk/tracing.lua
  kong/plugins/opentelemetry/handler.lua
  kong/tracing/instrumentation.lua
  kong/tracing/propagation.lua
  spec/01-unit/26-tracing/01-tracer_pdk_spec.lua
  spec/03-plugins/37-opentelemetry/03-propagation_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/trace-propagator/handler.lua
Labels: core/pdk, size/L, core/tracing, plugins/opentelemetry

#10673 chore(dep): bump lua-resty-timer-ng from 0.2.3 to 0.2.5
  CHANGELOG.md
  kong-3.2.2-0.rockspec
Labels: size/XS, changelog, backport

#10684 chore(auto-assignee): exclude PR opened from fork
  .github/workflows/auto-assignee.yml
Labels: chore, size/XS

#10681 fix(tracing): balancer span precision
  kong/init.lua
  kong/tracing/instrumentation.lua
Labels: size/S, core/tracing

#10680 fix(tracing): http_client span
  kong/globalpatches.lua
  spec/02-integration/14-tracing/01-instrumentations_spec.lua
Labels: size/XS

#10577 feat(instrumentation): fix high cardinality span name
  kong/pdk/tracing.lua
  kong/tracing/instrumentation.lua
  spec/02-integration/14-tracing/01-instrumentations_spec.lua
  spec/02-integration/14-tracing/02-propagation_spec.lua
Labels: core/pdk, size/M, core/tracing

#10668 fix(utils): fix nginx binary path search sequence under the "venv" environment
  kong/cmd/utils/nginx_signals.lua
Labels: core/cli, size/XS

#10629 tests(integration): add missing /status api tests
  .ci/run_tests.sh
  spec/02-integration/08-status_api/01-core_routes_spec.lua
  spec/02-integration/11-dbless/03-config_persistence_spec.lua
Labels: size/L

#10667 fix(dev): fix venv script run error in zsh env
  build/templates/venv.sh
  scripts/dependency_services/common.sh
  scripts/dependency_services/up.fish
  scripts/dependency_services/up.sh
Labels: size/L, build/bazel

#10689 fix(clustering): version compatibility for acme
  kong/clustering/compat/removed_fields.lua
Labels: core/clustering, size/XS

#10679 Queue bug fixes and improvements
  kong/plugins/datadog/schema.lua
  kong/plugins/http-log/handler.lua
  kong/plugins/http-log/schema.lua
  kong/plugins/opentelemetry/schema.lua
  kong/plugins/statsd/schema.lua
  kong/tools/queue.lua
  kong/tools/queue_schema.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/03-flatten_spec.lua
  spec/01-unit/27-queue_spec.lua
  spec/02-integration/15-queues/01-shutdown_spec.lua
  spec/02-integration/15-queues/02-share_queue_spec.lua
  spec/03-plugins/01-legacy_queue_parameter_warning_spec.lua
Labels: plugins/datadog, plugins/statsd, plugins/http-log, size/L, plugins/opentelemetry, schema-change-noteworthy

#10692 fix(statsd): call the right log function
  kong/plugins/statsd/log.lua
Labels: pr/please review, plugins/statsd, size/XS

#10690 chore(dev): initialize databases kong and kong_tests
  build/templates/venv-commons
  scripts/dependency_services/00-create-pg-db.sh
  scripts/dependency_services/docker-compose-test-services.yml
  scripts/dependency_services/up.sh
Labels: size/M, build/bazel

#10687 fix(grpc-gateway): handle null values in payload
  CHANGELOG.md
  kong/plugins/grpc-gateway/deco.lua
  spec/03-plugins/28-grpc-gateway/01-proxy_spec.lua
Labels: plugins/grpc-gateway, size/M, changelog

#10646 fix: change opentelemetry plugin version to match core
  CHANGELOG.md
  kong/plugins/opentelemetry/handler.lua
  spec/01-unit/01-db/01-schema/07-plugins_spec.lua
Labels: size/S, changelog, plugins/opentelemetry

#10697 fix(build): correct license metadata
  .requirements
  build/package/nfpm.yaml
Labels: size/XS, backport release/2.8.x, backport release/3.0.x, backport release/3.1.x, build/bazel, backport release/3.2.x

#10666 test(plugin): test for fix of otel reconfigure issue #KAG-1061
  CHANGELOG.md
  spec/03-plugins/37-opentelemetry/06-regression_spec.lua
  spec/helpers.lua
Labels: size/L, changelog

#10702 docs(contribute): rules for localized name
  CONTRIBUTING.md
Labels: core/docs, size/S

#10677 chore(ci): notify slack user on “Package & Release” failure
  .github/workflows/release-fail-bot.yml
Labels: chore, size/M

#10698 tests(connection-pool): address flakiness
  spec/02-integration/03-db/15-connection_pool_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/slow-query/api.lua
Labels: size/L

#10693 chore(dev): prioritize .lua over .ljbc in LUA_PATH
  build/templates/venv-commons
Labels: size/XS, backport, build/bazel

#9799 feat(aws-lambda): support scheme config on lambda service api endpoint
  .github/workflows/build_and_test.yml
  CHANGELOG.md
  kong/plugins/aws-lambda/handler.lua
  kong/plugins/aws-lambda/schema.lua
  spec/03-plugins/27-aws-lambda/08-sam-integration_spec.lua
  spec/fixtures/aws-sam.lua
  spec/fixtures/sam-app/.gitignore
  spec/fixtures/sam-app/README.md
  spec/fixtures/sam-app/__init__.py
  spec/fixtures/sam-app/events/event.json
  spec/fixtures/sam-app/hello_world/__init__.py
  spec/fixtures/sam-app/hello_world/app.py
  spec/fixtures/sam-app/hello_world/requirements.txt
  spec/fixtures/sam-app/template.yaml
  spec/fixtures/sam-app/tests/__init__.py
  spec/fixtures/sam-app/tests/integration/__init__.py
  spec/fixtures/sam-app/tests/integration/test_api_gateway.py
  spec/fixtures/sam-app/tests/requirements.txt
  spec/fixtures/sam-app/tests/unit/__init__.py
  spec/fixtures/sam-app/tests/unit/test_handler.py
Labels: pr/please review, pending author feedback, plugins/aws-lambda, core/docs, chore, size/XL, changelog, schema-change-noteworthy

#10707 refactor(ci): use new webhook api
  .github/workflows/release-fail-bot.yml
Labels: chore, size/XS

#10708 style(balancer): remove not needed variable
  kong/init.lua
Labels: size/XS

#10705 fix(queues): Remove deprecation warnings when determining queue parameters
  kong/tools/queue.lua
  spec/01-unit/27-queue_spec.lua
  spec/03-plugins/03-http-log/02-schema_spec.lua
Labels: size/M

#10713 chore: add branch constrains on Workflow “Package & Release” Notifier
  .github/workflows/release-fail-bot.yml
Labels: chore, size/XS

#10712 fix(cache): a typo of mlcache option `shm_set_tries`
  CHANGELOG.md
  kong/cache/init.lua
Labels: size/XS, changelog

#10714 chore(ci): add branch name in“Package & Release” notification message
  .github/workflows/release-fail-bot.yml
Labels: chore, size/XS

#10717 fix(clustering): add missing aws-lambda plugin new option in removed fields
  kong/clustering/compat/removed_fields.lua
Labels: core/clustering, size/XS

#10716 chore(dev): prioritize EE plugins .lua over .ljbc
  build/templates/venv-commons
Labels: size/S, build/bazel

#10725 chore(dev): fix a shell issue
  build/templates/venv-commons
Labels: size/XS, build/bazel

#10727 tests: fix spelling `ngx.ctx.rewite` -> `ngx.ctx.rewrite`
  t/01-pdk/08-response/11-exit.t
Labels: size/XS

#10718 style(queue): localize hot path variables and minor style fixes
  kong/tools/queue.lua
Labels: size/M

#10721 fix(queues): use explicit workspace in registry key
  kong/tools/queue.lua
  spec/01-unit/27-queue_spec.lua
Labels: size/S, bug

#10733 style(queue): remove unused upvalues
  kong/tools/queue.lua
Labels: pr/ready, size/XS

#10691 fix(resty.dns.client): fix the UDP sockets leak
  CHANGELOG.md
  build/openresty/patches/lua-resty-dns-0.22_01-destory_resolver.patch
  kong/resty/dns/client.lua
  spec/02-integration/05-proxy/05-dns_spec.lua
Labels: pr/please review, size/L, changelog, build/bazel

#10686 feat(build): add imperative test suite
  .github/matrix-commitly.yml
  .github/matrix-full.yml
  .github/workflows/release.yml
  scripts/explain_manifest/config.py
  scripts/explain_manifest/expect.py
  scripts/explain_manifest/explain.py
  scripts/explain_manifest/fixtures/alpine-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-18.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
  scripts/explain_manifest/main.py
  scripts/explain_manifest/requirements.txt
  scripts/explain_manifest/suites.py
Labels: chore, size/XXL

#10747 tests(proxy/ssl): enable ssl tests for flavor traditional_compat
  spec/02-integration/05-proxy/06-ssl_spec.lua
Labels: core/router, size/S

#10741 docs(build): minor style fix
  build/README.md
Labels: core/docs, size/S, build/bazel

#10738 fix(venv): use shell agnostic script to generate env files and support
  build/BUILD.bazel
  build/templates/venv-commons
  build/templates/venv.fish
  build/templates/venv.sh
  scripts/dependency_services/common.sh
  scripts/dependency_services/up.fish
  scripts/dependency_services/up.sh
Labels: size/L, build/bazel

#10743 docs(admin): keys.jwk and keys.pem.private_key/public_key are referenceable
  autodoc/admin-api/data/admin-api.lua
Labels: pr/please review, size/S, autodoc

#10752 test(acme): fix acme flaky test
  spec/03-plugins/29-acme/05-redis_storage_spec.lua
Labels: size/S

#10355 feat(balancer): add KONG_UPSTREAM_DNS_TIME ctx
  CHANGELOG.md
  kong/init.lua
  kong/runloop/balancer/init.lua
  kong/runloop/balancer/targets.lua
  kong/tools/utils.lua
  spec/fixtures/custom_plugins/kong/plugins/ctx-tests-response/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/ctx-tests/handler.lua
Labels: core/balancer, size/L, changelog

#10742 docs(vault): add env vault configuration options in kong.conf
  kong.conf.default
Labels: pr/please review, pr/ready (but hold merge), size/S

#10728 tests(core): verify that queues work after time adjustments
  spec/01-unit/27-queue_spec.lua
Labels: size/L

#10288 feat(dynamic_log_level): support timeout for dynamic log level
  .requirements
  CHANGELOG.md
  autodoc/admin-api/data/admin-api.lua
  build/openresty/patches/nginx-1.21.4_06-dynamic_log_level.patch
  build/openresty/patches/ngx_lua-0.10.21_07-dynamic_log_level.patch
  kong/api/routes/debug.lua
  kong/constants.lua
  kong/init.lua
  kong/runloop/handler.lua
  scripts/explain_manifest/suites.py
  spec/02-integration/04-admin_api/22-debug_spec.lua
Labels: pr/please review, core/proxy, core/admin-api, size/L, changelog, autodoc, build/bazel

#10761 chore(tests): remove mention of resty.worker.events from helpers/perf/utils.lua
  spec/helpers/perf/utils.lua
Labels: pr/please review, size/XS

#10561 Fix/plugin server release lock
  CHANGELOG.md
  kong/runloop/plugin_servers/init.lua
  kong/runloop/plugin_servers/mp_rpc.lua
  kong/runloop/plugin_servers/pb_rpc.lua
Labels: core/language/go, core/language/python, core/language/js, size/S, changelog

#10753 feat(zipkin): use queues to send data to zipkin server
  CHANGELOG.md
  kong/clustering/compat/removed_fields.lua
  kong/plugins/zipkin/README.md
  kong/plugins/zipkin/handler.lua
  kong/plugins/zipkin/reporter.lua
  kong/plugins/zipkin/schema.lua
  spec/03-plugins/34-zipkin/reporter_spec.lua
  spec/03-plugins/34-zipkin/zipkin_queue_spec.lua
  spec/03-plugins/34-zipkin/zipkin_spec.lua
Labels: core/clustering, core/docs, plugins/zipkin, size/L, changelog, schema-change-noteworthy

#10760 chore(dev): enclose parameter for shell safety
  build/templates/venv-commons
Labels: size/XS, build/bazel

#10763 docs(changelog): move some entries to the correct place
  CHANGELOG.md
Labels: size/XS, changelog

#10739 chore(ci): notify Slack on master CI failure
  .github/workflows/master-fail-bot
Labels: chore, size/M

#10766 chore(deps): lmdb version bump to 1.1.0
  .requirements
  CHANGELOG.md
Labels: size/XS, changelog

#10723 feat(tracing): add http.client_ip attribute
  CHANGELOG.md
  kong/tracing/instrumentation.lua
  spec/03-plugins/37-opentelemetry/04-exporter_spec.lua
Labels: size/XS, changelog, core/tracing

#10756 fix(queues): log deprecation warnings at runtime
  kong/plugins/datadog/schema.lua
  kong/plugins/http-log/schema.lua
  kong/plugins/opentelemetry/schema.lua
  kong/plugins/statsd/schema.lua
  kong/tools/queue.lua
  spec/01-unit/27-queue_spec.lua
  spec/03-plugins/01-legacy_queue_parameter_warning_spec.lua
  spec/03-plugins/03-http-log/02-schema_spec.lua
Labels: plugins/datadog, plugins/statsd, plugins/http-log, size/L, plugins/opentelemetry, schema-change-noteworthy

#10755 fix(clustering): support queueing plugins of pre-3.3 DP with 3.3 CP
  kong/clustering/compat/checkers.lua
  kong/clustering/compat/init.lua
  spec/01-unit/19-hybrid/03-compat_spec.lua
Labels: core/clustering, size/L

#10730 [backport 3.0.x] fix(package): correct license metadata to be `Apache-2.0` (#10697)
  .requirements
Labels: size/XS
