Repository Kong/kong, pull requests merged in 2024-02, with the labels that each got.

#12482 hotfix(deps): bump openssl from 3.2.0 to 3.2.1
  .requirements
  build/openresty/openssl/openssl_repositories.bzl
  changelog/unreleased/kong/bump-openssl.yml
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/debian-10-amd64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/debian-12-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-amd64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
Labels: size/M, cherry-pick kong-ee, backport release/3.6.x

#12485 hotfix(deps): bump openssl from 3.2.0 to 3.2.1 (#12482)
  .requirements
  build/openresty/openssl/openssl_repositories.bzl
  changelog/unreleased/kong/bump-openssl.yml
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/debian-10-amd64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/debian-12-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-amd64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
Labels: size/M, build/bazel

#12488 perf(opentelemetry): increase queue max batch size
  changelog/unreleased/kong/otel-increase-queue-max-batch-size.yml
  kong/plugins/opentelemetry/schema.lua
Labels: size/XS, plugins/opentelemetry, schema-change-noteworthy, backport release/3.3.x, backport release/3.4.x, backport release/3.5.x, cherry-pick kong-ee

#12492 feat(ai-proxy): add telemetry for ai-proxy
  changelog/unreleased/kong/add-ai-proxy-telemetry.yml
  kong/api/routes/plugins.lua
Labels: core/admin-api, size/S, cherry-pick kong-ee, backport release/3.6.x

#12493 fix(ai-proxy): do not double-gzip responses when status is not 200
  kong/plugins/ai-proxy/handler.lua
Labels: skip-changelog, size/M, cherry-pick kong-ee, plugins/ai-proxy, backport release/3.6.x

#12399 chore(tools): sync slightly different comments of the http_mock
  spec/helpers/http_mock.lua
  spec/helpers/http_mock/asserts.lua
  spec/helpers/http_mock/debug_port.lua
  spec/helpers/http_mock/template.lua
Labels: size/S

#12433 chore(release): bump version to 3.7 as part of the Feature Freeze
  kong-3.7.0-0.rockspec
  kong/meta.lua
Labels: skip-changelog, size/XS

#12420 chore(conf): disable TLSv1.1 and lower in openssl 3.x
  changelog/unreleased/kong/disable-TLSv1_1-in-openssl3.yml
  kong.conf.default
  kong/conf_loader/parse.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
  kong/templates/nginx_kong_stream.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/01-unit/28-inject_confs_spec.lua
  spec/fixtures/1.2_custom_nginx.template
  spec/fixtures/aws-lambda.lua
  spec/fixtures/mock_webserver_tpl.lua
  spec/fixtures/template_inject/nginx_kong_test_custom_inject_http.lua
  spec/fixtures/template_inject/nginx_kong_test_custom_inject_stream.lua
  spec/fixtures/template_inject/nginx_kong_test_tcp_echo_server_custom_inject_stream.lua
  spec/helpers.lua
  spec/helpers/http_mock/template.lua
Labels: core/templates, core/configuration, size/M

#12497 chore(patches): revert the "respect max retries" patch
  build/openresty/patches/ngx_lua-0.10.20_02-dyn_upstream_keepalive.patch
  changelog/unreleased/kong/balancer_respect_max_retries.yml
  spec/02-integration/05-proxy/10-balancer/08-retries_spec.lua
Labels: size/XL, build/bazel

#12499 chore(patches): revert "fix(balancer): respect max retries (#12346)"
  build/openresty/patches/ngx_lua-0.10.21_02-dyn_upstream_keepalive.patch
  changelog/unreleased/kong/balancer_respect_max_retries.yml
  spec/02-integration/05-proxy/10-balancer/08-retries_spec.lua
Labels: size/XL, build/bazel

#12498 chore(patches): revert "[backport -> release/3.2.x] fix(balancer): respect max retries (#12346)"
  build/openresty/patches/ngx_lua-0.10.21_02-dyn_upstream_keepalive.patch
  changelog/unreleased/kong/balancer_respect_max_retries.yml
  spec/02-integration/05-proxy/10-balancer/08-retries_spec.lua
Labels: size/XL, build/bazel

#12500 chore(patches): revert "[backport -> release/3.5.x] fix(balancer): respect max retries (#12346)"
  build/openresty/patches/ngx_lua-0.10.25_01-dyn_upstream_keepalive.patch
  changelog/unreleased/kong/balancer_respect_max_retries.yml
  spec/02-integration/05-proxy/10-balancer/08-retries_spec.lua
Labels: skip-changelog, size/L, build/bazel, core/wasm

#12503 fix(ai-proxy): gzip decompression library has moved
  kong/llm/drivers/shared.lua
  kong/plugins/ai-proxy/handler.lua
  kong/plugins/ai-response-transformer/handler.lua
  spec/03-plugins/38-ai-proxy/08-encoding_integration_spec.lua
Labels: skip-changelog, size/L, cherry-pick kong-ee, plugins/ai-proxy, backport release/3.6.x, plugins/ai-request-transformer, plugins/ai-response-transformer

#12385 fix(core): set worker ID of privileged agent to -1
  changelog/unreleased/kong/fix_privileged_agent_id_1.yml
  kong/api/routes/kong.lua
  kong/clustering/control_plane.lua
  kong/plugins/acme/handler.lua
  kong/plugins/statsd/log.lua
  kong/runloop/handler.lua
  kong/runloop/log_level.lua
  kong/runloop/plugin_servers/pb_rpc.lua
  spec/02-integration/20-wasm/05-cache-invalidation_spec.lua
Labels: core/language/go, core/proxy, core/clustering, plugins/statsd, plugins/acme, core/admin-api, core/language/python, core/language/js, size/S

#12478 [backport -> release/3.3.x] tests(helpers): wait_for_all_config_update support pass custom headers and https_server support disable listen ipv6 (#11718)
  spec/fixtures/https_server.lua
  spec/fixtures/mock_webserver_tpl.lua
  spec/helpers.lua
Labels: size/M

#12479 [backport -> release/3.2.x] tests(helpers): wait_for_all_config_update support pass custom headers and https_server support disable listen ipv6 (#11718)
  spec/fixtures/https_server.lua
  spec/fixtures/mock_webserver_tpl.lua
  spec/helpers.lua
Labels: size/M

#12486 docs(readme/features): adding AI gateway highlights
  README.md
Labels: core/docs, size/XS, cherry-pick kong-ee, backport release/3.6.x

#12535 bump: bump h2client version to v0.4.4
  Makefile
Labels: skip-changelog, size/XS, cherry-pick kong-ee

#12501 [backport -> release/3.3.x] perf(opentelemetry): increase max batch size (#12488)
  changelog/unreleased/kong/otel-increase-queue-max-batch-size.yml
  kong/plugins/opentelemetry/schema.lua
Labels: size/XS, plugins/opentelemetry, schema-change-noteworthy

#12553 3.6 copyright
  COPYRIGHT
Labels: core/proxy, plugins/rate-limiting, plugins/key-auth, core/router, plugins/basic-auth, plugins/acme, core/admin-api, core/db, plugins/ldap-auth, plugins/response-ratelimiting, core/docs, chore, size/XL, schema-change-noteworthy, build/bazel, core/wasm, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer, plugins/ai-prompt-guard

#12544 fix(otel): fix otel sampling mode lua panic bug when http_response_header_for_traceid option enable
  changelog/unreleased/kong/otel-sampling-panic-when-header-trace-id-enable.yml
  kong/plugins/opentelemetry/handler.lua
  spec/03-plugins/37-opentelemetry/05-otelcol_spec.lua
Labels: size/M, plugins/opentelemetry, cherry-pick kong-ee

#12557 chore(release): update version to 3.6.1 as part of the GA release
  kong-3.6.1-0.rockspec
  kong/meta.lua
Labels: skip-changelog, size/XS

#12502 fix(opentelemetry): migration - increase default queue batch size
  kong-3.7.0-0.rockspec
  kong/db/migrations/operations/331_to_332.lua
  kong/plugins/opentelemetry/migrations/001_331_to_332.lua
  kong/plugins/opentelemetry/migrations/init.lua
  spec/05-migration/plugins/opentelemetry/migrations/001_331_to_332_spec.lua
  spec/upgrade_helpers.lua
Labels: core/db/migrations, skip-changelog, chore, size/L, plugins/opentelemetry, backport release/3.3.x, backport release/3.4.x, backport release/3.5.x, backport release/3.6.x

#12410 chore: apply label on failed cherry-pick
  .github/workflows/cherry-picks.yml
Labels: chore, size/XS

#12401 chore: apply label on failed backport
  .github/workflows/backport.yml
Labels: chore, size/XS, cherry-pick kong-ee

#12572 fix(vault): use global query when finding a vault by prefix
  changelog/unreleased/kong/fix-vault-workspaces.yml
  kong/pdk/vault.lua
Labels: core/pdk, size/S, backport release/3.4.x, backport release/3.5.x, cherry-pick kong-ee, backport release/3.6.x

#12548 chore(conf): enable grpc_ssl_conf_command too
  kong/conf_loader/parse.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
Labels: core/templates, core/configuration, skip-changelog, size/XS, backport release/3.4.x, backport release/3.5.x, cherry-pick kong-ee, backport release/3.6.x

#12578 [backport -> release/3.4.x] chore(conf): disable TLSv1.1 and lower in openssl 3.x (#12420)
  changelog/unreleased/kong/disable-TLSv1_1-in-openssl3.yml
  kong.conf.default
  kong/conf_loader/init.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
  kong/templates/nginx_kong_stream.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/01-unit/28-inject_confs_spec.lua
  spec/fixtures/1.2_custom_nginx.template
  spec/fixtures/aws-lambda.lua
  spec/fixtures/mock_webserver_tpl.lua
  spec/helpers.lua
  spec/helpers/http_mock/template.lua
Labels: core/templates, core/configuration, size/M, core/wasm

#12579 [backport -> release/3.5.x] chore(conf): disable TLSv1.1 and lower in openssl 3.x (#12420)
  changelog/unreleased/kong/disable-TLSv1_1-in-openssl3.yml
  kong.conf.default
  kong/conf_loader/init.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
  kong/templates/nginx_kong_stream.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/01-unit/28-inject_confs_spec.lua
  spec/fixtures/1.2_custom_nginx.template
  spec/fixtures/aws-lambda.lua
  spec/fixtures/mock_webserver_tpl.lua
  spec/fixtures/template_inject/nginx_kong_test_custom_inject_http.lua
  spec/fixtures/template_inject/nginx_kong_test_custom_inject_stream.lua
  spec/helpers.lua
  spec/helpers/http_mock/template.lua
Labels: core/templates, core/configuration, size/M, core/wasm

#12530 [backport -> release/3.5.x] perf(proxy): use higher default keepalive request value for Nginx tuning (#12223)
  changelog/unreleased/kong/optimize_keepalive_parameters.yml
  kong.conf.default
  kong/templates/kong_defaults.lua
Labels: core/templates, size/XS, core/wasm

#12554 fix(vault): postpone vault reference resolving on init_worker
  changelog/unreleased/kong/fix-vault-init-worker.yml
  kong/db/schema/init.lua
  kong/pdk/vault.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
Labels: core/pdk, core/db, size/L, schema-change-noteworthy, backport release/3.5.x, cherry-pick kong-ee, backport release/3.6.x

#12582 fix(core): fix an issue where Kong do not handle properly when Python and Javascript plugin server crashes
  changelog/unreleased/kong/plugin_server_restart.yml
  kong/runloop/plugin_servers/mp_rpc.lua
  kong/runloop/plugin_servers/pb_rpc.lua
Labels: core/language/go, core/language/python, core/language/js, size/M

#12590 [backport -> release/3.6.x] chore(conf): enable grpc_ssl_conf_command too (#12548)
  kong/conf_loader/parse.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
Labels: core/templates, core/configuration, skip-changelog

#12588 [backport -> release/3.4.x] Backport 12548 to release/3.4.x
  kong/conf_loader/init.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
Labels: core/templates, core/configuration, skip-changelog, size/XS, core/wasm

#12589 [backport -> release/3.5.x] Backport 12548 to release/3.5.x
  kong/conf_loader/init.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
Labels: core/templates, core/configuration, skip-changelog, size/XS, core/wasm

#12391 feat(test): add reconfiguration completion detection plugin
  spec/02-integration/13-vaults/06-refresh-secrets_spec.lua
  spec/03-plugins/39-reconfiguration-completion/01-access_spec.lua
  spec/03-plugins/39-reconfiguration-completion/02-helper_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/reconfiguration-completion/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/reconfiguration-completion/schema.lua
  spec/helpers.lua
Labels: skip-changelog, chore, size/XL, schema-change-noteworthy

#12595 chore(tests): remove redis code duplication in specs
  spec/02-integration/01-helpers/04-redis_helper_spec.lua
  spec/03-plugins/23-rate-limiting/04-access_spec.lua
  spec/03-plugins/23-rate-limiting/05-integration_spec.lua
  spec/03-plugins/24-response-rate-limiting/04-access_spec.lua
  spec/03-plugins/24-response-rate-limiting/05-integration_spec.lua
  spec/helpers/redis_helper.lua
Labels: skip-changelog, size/L, cherry-pick kong-ee

#12606 fix(timer-ng): decrease the minimum/maximum threads
  changelog/unreleased/kong/decrease-cocurrency-limit-of-timer-ng.yml
  kong/globalpatches.lua
Labels: size/XS, cherry-pick kong-ee, backport release/3.6.x

#12613 chore(changelog): update changelog for gRPC TLS seclevel change
  changelog/unreleased/kong/set_grpc_tls_seclevel.yml
Labels: size/XS, backport release/3.4.x, backport release/3.5.x, cherry-pick kong-ee, backport release/3.6.x

#12610 chore(release): add changelog automation and verification
  changelog/Makefile
  changelog/README.md
  changelog/create_pr
  changelog/verify-prs
Labels: core/docs, skip-changelog, size/XL

#12603 chore(deps): bump pcre2 from 10.42 to 10.43
  .requirements
  build/openresty/pcre/pcre_repositories.bzl
  changelog/unreleased/kong/bump-pcre.yml
Labels: size/XS, build/bazel

#12614 [backport -> release/3.4.x] Backport 12613 to release 3.4.x
  changelog/unreleased/kong/set_grpc_tls_seclevel.yml
Labels: core/cli, core/balancer, core/proxy, core/db/migrations, core/pdk, core/clustering, plugins/tcp-log, core/templates, core/router, plugins/aws-lambda, plugins/acme, core/admin-api, core/db, core/configuration, core/docs, plugins/correlation-id, core/logs, chore, size/XS, changelog, core/tracing, plugins/opentelemetry, schema-change-noteworthy, build/bazel, core/wasm

#12615 [backport -> release/3.5.x] Backport 12613 to release 3.5.x
  changelog/unreleased/kong/set_grpc_tls_seclevel.yml
Labels: size/XS, size/XXL

#12616 [backport -> release/3.6.x] Backport 12613 to release 3.6.x
  changelog/unreleased/kong/set_grpc_tls_seclevel.yml
Labels: core/docs, chore, size/XS, size/XXL, build/bazel

#12607 fix(api): avoid returning 405 on /schemas/vaults/:name
  changelog/unreleased/kong/fix_api_405_vaults_validate_endpoint.yml
  kong/api/routes/kong.lua
  spec/02-integration/04-admin_api/02-kong_routes_spec.lua
Labels: core/admin-api, size/S

#12599 [backport 3.4] feat(cors): Support private network access (#11523)
  changelog/unreleased/kong/11523.yml
  kong/clustering/compat/removed_fields.lua
  kong/plugins/cors/handler.lua
  kong/plugins/cors/schema.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/03-plugins/13-cors/01-access_spec.lua
Labels: plugins/cors, core/clustering, size/L, schema-change-noteworthy, core/wasm

#12628 chore(release): minor improvement to changelog PR automation
  changelog/Makefile
Labels: skip-changelog, size/XS, backport release/2.8.x, backport release/3.3.x, backport release/3.4.x, backport release/3.5.x, backport release/3.6.x

#12374 fix(core): disallow delete or create workspaces
  kong/db/schema/entities/workspaces.lua
  spec/02-integration/04-admin_api/25-workspaces_spec.lua
Labels: core/admin-api, core/db, skip-changelog, size/M, schema-change-noteworthy

#12617 chore(tests): remove redis >= v6 checks in tests
  spec/03-plugins/23-rate-limiting/05-integration_spec.lua
  spec/03-plugins/24-response-rate-limiting/05-integration_spec.lua
Labels: skip-changelog, size/L, cherry-pick kong-ee

#12634 [backport -> release/3.5.x] chore(release): minor improvement to changelog PR automation
  changelog/Makefile
Labels: skip-changelog, size/XS, core/wasm

#12635 [backport -> release/3.4.x] chore(release): minor improvement to changelog PR automation
  changelog/Makefile
Labels: skip-changelog, size/XS, core/wasm

#12636 [backport -> release/3.3.x] chore(release): minor improvement to changelog PR automation
  changelog/Makefile
Labels: skip-changelog

#12637 [backport -> release/2.8.x] chore(release): minor improvement to changelog PR automation
  changelog/Makefile
Labels: skip-changelog, size/XS

#12466 refactor(router/atc): move assert to unlikely path
  kong/router/fields.lua
Labels: core/router, skip-changelog, size/S, cherry-pick kong-ee

#12234 fix(request-debugging): add missing `router` section of the timing output
  changelog/unreleased/kong/fix-missing-router-section-of-request-debugging.yml
  kong/timing/init.lua
  spec/02-integration/21-request-debug/01-request-debug_spec.lua
Labels: size/S, backport release/3.5.x, cherry-pick kong-ee

#12430 refactor(db/schema): do not generate validator of router expression for non-traditional flavors
  kong/db/schema/entities/routes.lua
Labels: core/db, skip-changelog, size/S, schema-change-noteworthy, cherry-pick kong-ee

#12643 fix(kong.conf.default): fix the default value of `upstream_keepalive_max_requests`
  changelog/unreleased/kong/fix-default-value-of-upstream-keepalive-max-requests.yml
  kong.conf.default
Labels: core/templates, core/configuration, size/XS, backport release/2.8.x, backport release/3.4.x, backport release/3.5.x, backport release/3.6.x

#12476 refactor(router/atc): remove tail calls to avoid NYIs
  kong/router/atc.lua
  kong/router/compat.lua
Labels: core/router, skip-changelog, size/S, cherry-pick kong-ee

#12395 refactor(router/atc): simplify the code of atc router schema
  kong/router/atc.lua
Labels: core/router, skip-changelog, size/L, cherry-pick kong-ee

#12417 style(router/atc): simplify the code of atc fields
  kong/router/fields.lua
Labels: core/router, skip-changelog, size/L, cherry-pick kong-ee

#12621 chore(ci): add commit linter workflow
  .github/workflows/commitlint.yml
Labels: chore, size/S

#12465 chore(wasm): reuse kong.dns object for DNS bridge
  kong/runloop/wasm.lua
Labels: core/proxy, skip-changelog, size/S, backport release/3.4.x, backport release/3.5.x, cherry-pick kong-ee, core/wasm, backport release/3.6.x

#12641 fix(build): ensure `$BUILD_NAME` is used during the building of WASM test filters
  scripts/build-wasm-test-filters.sh
Labels: size/XS, build/bazel, cherry-pick kong-ee

#12664 refactor(router/atc): simplify searching for field accessor function
  kong/router/fields.lua
Labels: core/router, skip-changelog, size/S, cherry-pick kong-ee

#12629 fix: update file permission of kong.logrotate
  build/package/nfpm.yaml
  changelog/unreleased/kong/fix-file-permission-of-logrotate.yml
  scripts/explain_manifest/explain.py
  scripts/explain_manifest/suites.py
Labels: size/S, build/bazel
