Repository Kong/kong, pull requests merged in 2024-07, with the labels that each got.

#13312 chore(docs): replace non-ASCII quote in kong.conf.default with normal double quote
  kong.conf.default
Labels: skip-changelog, size/S, cherry-pick kong-ee

#13297 chore(release): bump version to 2.8.6
  kong-2.8.6-0.rockspec
  kong/meta.lua
Labels: size/XS

#13298 tests(dns): flakiness due to hook conflict
  spec/01-unit/21-dns-client/02-client_spec.lua
  spec/01-unit/21-dns-client/03-client_cache_spec.lua
Labels: skip-changelog, size/M, cherry-pick kong-ee

#13321 fix: update otel version to match Kong Gateway version
  kong/plugins/opentelemetry/handler.lua
Labels: skip-changelog, size/XS, plugins/opentelemetry, cherry-pick kong-ee

#13325 fix: update otel version to match Kong Gateway version
  kong/clustering/compat/init.lua
  kong/plugins/opentelemetry/handler.lua
Labels: core/clustering, skip-changelog, size/S, plugins/opentelemetry, cherry-pick kong-ee

#12949 refactor(clustering/rpc): cache the result of parse_method_name()
  kong/clustering/rpc/utils.lua
Labels: core/clustering, skip-changelog, size/S, cherry-pick kong-ee

#13303 fix(plugins/request-size-limiting): Check the file size when the request body buffered to a temporary file
  changelog/unreleased/kong/fix-request-size-limiting-with-chunked-transfer-encoding-and-no-content-length.yml
  kong/plugins/request-size-limiting/handler.lua
  spec/03-plugins/12-request-size-limiting/01-access_spec.lua
Labels: plugins/request-size-limiting, size/L, cherry-pick kong-ee

#12951 fix(clustering/rpc): more strict parameter checking when generating a RPC error
  kong/clustering/rpc/json_rpc_v2.lua
  kong/clustering/rpc/socket.lua
Labels: core/clustering, skip-changelog, size/S, cherry-pick kong-ee

#13296 feat(dao): add ability to select and delete expired entities
  kong/db/dao/init.lua
  kong/db/strategies/postgres/init.lua
  spec/02-integration/03-db/14-dao_spec.lua
Labels: core/db, skip-changelog, size/L, schema-change-noteworthy, cherry-pick kong-ee

#13328 Revert "fix(core): Regex header values in traditional router are now validated"
  changelog/unreleased/kong/traditional_router_header_validation.yml
  kong/db/schema/entities/routes.lua
  kong/db/schema/typedefs.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
Labels: core/db, skip-changelog, size/M, schema-change-noteworthy, cherry-pick kong-ee

#13117 chore(deps): add (and bump) cross deps versions to .requirements
  .requirements
  build/cross_deps/libxcrypt/repositories.bzl
  build/cross_deps/libyaml/repositories.bzl
  build/cross_deps/zlib/repositories.bzl
  changelog/unreleased/kong/bump-libxcrypt.yml
  changelog/unreleased/kong/bump-zlib.yml
Labels: size/M, build/bazel, cherry-pick kong-ee

#13343 chore(deps): fix the libzlib sha256
  .requirements
Labels: skip-changelog, size/XS

#13340 chore(cd): remove EOL distros
  .github/matrix-full.yml
Labels: chore, size/S

#13341 chore(cd): remove EOL distros
  .github/matrix-full.yml
Labels: chore, size/S

#12948 feat(ai-proxy): google-gemini support
  changelog/unreleased/kong/ai-proxy-google-gemini.yml
  kong-3.8.0-0.rockspec
  kong/llm/drivers/gemini.lua
  kong/llm/drivers/shared.lua
  kong/llm/init.lua
  kong/llm/schemas/init.lua
  kong/plugins/ai-proxy/handler.lua
  spec/03-plugins/38-ai-proxy/01-unit_spec.lua
  spec/fixtures/ai-proxy/unit/expected-requests/gemini/llm-v1-chat.json
  spec/fixtures/ai-proxy/unit/expected-responses/gemini/llm-v1-chat.json
  spec/fixtures/ai-proxy/unit/real-responses/gemini/llm-v1-chat.json
  spec/fixtures/ai-proxy/unit/streaming-chunk-formats/complete-json/expected-output.json
  spec/fixtures/ai-proxy/unit/streaming-chunk-formats/complete-json/input.bin
  spec/fixtures/ai-proxy/unit/streaming-chunk-formats/partial-json-beginning/expected-output.json
  spec/fixtures/ai-proxy/unit/streaming-chunk-formats/partial-json-beginning/input.bin
  spec/fixtures/ai-proxy/unit/streaming-chunk-formats/partial-json-end/expected-output.json
  spec/fixtures/ai-proxy/unit/streaming-chunk-formats/partial-json-end/input.bin
  spec/fixtures/ai-proxy/unit/streaming-chunk-formats/text-event-stream/expected-output.json
  spec/fixtures/ai-proxy/unit/streaming-chunk-formats/text-event-stream/input.bin
Labels: size/XXL, schema-change-noteworthy, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13329 feat(pdk): telemetry log
  changelog/unreleased/kong/pdk-telemetry-log.yml
  kong-3.8.0-0.rockspec
  kong/globalpatches.lua
  kong/observability/logs.lua
  kong/pdk/init.lua
  kong/pdk/log.lua
  kong/pdk/telemetry.lua
  spec/01-unit/26-observability/05-logs_spec.lua
  spec/01-unit/26-observability/06-telemetry-pdk_spec.lua
  spec/02-integration/14-observability/06-telemetry-pdk_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/pdk-logger/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/pdk-logger/schema.lua
Labels: core/pdk, core/logs, size/L, cherry-pick kong-ee

#13320 Clean up kong.conf.default for better output to doc site
  kong.conf.default
Labels: size/XL

#13350 chore(ci): mount package directory at image build time
  .github/workflows/release.yml
  build/dockerfiles/deb.Dockerfile
  build/dockerfiles/rpm.Dockerfile
Labels: skip-changelog, chore, size/S, build/bazel, cherry-pick kong-ee

#13352 chore(build): do not download ngx_brotli with '--//:brotli=false'
  build/openresty/BUILD.openresty.bazel
Labels: skip-changelog, chore, size/XS, build/bazel, cherry-pick kong-ee

#13361 chore(ci): change workflow filename to add-release-pongo.yml
  .github/workflows/add-release-pongo.yml
Labels: skip-changelog, chore, size/XS, cherry-pick kong-ee, backport release/3.7.x

#13165 fix(runloop): the sni cache isn't invalidated when a sni is updated
  changelog/unreleased/kong/fix-sni-cache-invalidate.yml
  kong/runloop/events.lua
  spec/02-integration/06-invalidations/02-core_entities_invalidations_spec.lua
Labels: core/proxy, size/M, cherry-pick kong-ee

#13351 chore(cd): make the RPM package relocatable
  build/package/nfpm.yaml
Labels: chore, size/XS, build/bazel, cherry-pick kong-ee

#13055 refactor(concurrency): consistent node-level locks
  kong/cluster_events/init.lua
  kong/concurrency.lua
  kong/db/declarative/import.lua
Labels: core/clustering, core/db, skip-changelog, size/L, cherry-pick kong-ee

#13365 Revert "refactor(concurrency): consistent node-level locks"
  kong/cluster_events/init.lua
  kong/concurrency.lua
  kong/db/declarative/import.lua
Labels: core/clustering, core/db, skip-changelog, size/L, cherry-pick kong-ee

#13316 fix(core): fix lua-nginx-module context was cleared when ngx.send_header() trigger filter_finalize case
  build/openresty/patches/nginx-1.25.3_07-fix-lua-context-clean-by-send-header.patch
  changelog/unreleased/kong/fix-filter-finalize-in-send-header-clear-context.yml
  spec/02-integration/05-proxy/24-buffered_spec.lua
  t/04-patch/03-fix-ngx-send-header-filter-finalize-ctx.t
Labels: size/M, build/bazel, cherry-pick kong-ee

#13318 chore(balancer/latency): update variable name
  kong/runloop/balancer/latency.lua
Labels: core/balancer, skip-changelog, size/M, cherry-pick kong-ee

#13201 fix(core): reduce uninitialized variable message when nginx return 400
  changelog/unreleased/kong/fix-reports-uninitialized-variable-in-400.yml
  kong/reports.lua
  kong/templates/nginx_kong.lua
  spec/02-integration/05-proxy/22-reports_spec.lua
Labels: core/templates, size/S, cherry-pick kong-ee

#13369 fix(observability): log a single warning when buffer is full until it recovers
  kong/observability/logs.lua
Labels: skip-changelog, size/S, cherry-pick kong-ee

#13372 fix(bazel): cp luarocks-admin to bin
  build/BUILD.bazel
  changelog/unreleased/kong/cp-luarocks-admin-to-bin.yml
  scripts/explain_manifest/docker_image_filelist.txt
  scripts/explain_manifest/suites.py
Labels: size/XS, build/bazel, cherry-pick kong-ee

#12305 feat(core/dns): new dns client library
  changelog/unreleased/kong/refactor_dns_client.yml
  kong-3.8.0-0.rockspec
  kong/api/routes/kong.lua
  kong/conf_loader/constants.lua
  kong/dns/README.md
  kong/dns/client.lua
  kong/dns/utils.lua
  kong/globalpatches.lua
  kong/resty/dns/client.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
  spec/01-unit/09-balancer/01-generic_spec.lua
  spec/01-unit/09-balancer/02-least_connections_spec.lua
  spec/01-unit/09-balancer/03-consistent_hashing_spec.lua
  spec/01-unit/09-balancer/04-round_robin_spec.lua
  spec/01-unit/09-balancer/06-latency_spec.lua
  spec/01-unit/14-dns_spec.lua
  spec/01-unit/21-dns-client/02-client_spec.lua
  spec/01-unit/21-dns-client/03-client_cache_spec.lua
  spec/01-unit/30-new-dns-client/01-utils_spec.lua
  spec/01-unit/30-new-dns-client/02-old_client_spec.lua
  spec/01-unit/30-new-dns-client/03-old_client_cache_spec.lua
  spec/01-unit/30-new-dns-client/04-client_ipc_spec.lua
  spec/01-unit/30-new-dns-client/05-client_stat_spec.lua
  spec/02-integration/04-admin_api/26-dns_client_spec.lua
  spec/02-integration/05-proxy/05-dns_spec.lua
  spec/02-integration/05-proxy/10-balancer/01-healthchecks_spec.lua
  spec/02-integration/14-observability/01-instrumentations_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/dns-client-test/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/dns-client-test/schema.lua
  spec/fixtures/shared_dict.lua
  spec/helpers/dns.lua
Labels: core/balancer, core/templates, core/admin-api, core/configuration, core/docs, size/XXL, cherry-pick kong-ee

#13388 feat(aws-lambda): add configurable sts endpoint url for aws-lambda plugin
  changelog/unreleased/kong/feat-aws-lambda-configurable-sts-endpoint.yml
  kong/clustering/compat/checkers.lua
  kong/plugins/aws-lambda/handler.lua
  kong/plugins/aws-lambda/schema.lua
Labels: core/clustering, plugins/aws-lambda, skip-changelog, size/S, schema-change-noteworthy

#13390 docs(changelog): assemble 2.8.5 changelog into CHANGELOG.md (#13289)
  CHANGELOG.md
Labels: size/S, changelog

#13381 fix(aws-lambda): fix an incompatibility with multi value header in proxy integration and legacy empty arrays mode
  changelog/unreleased/kong/fix-aws-lambda-empty-array-mutli-value.yml
  kong/plugins/aws-lambda/handler.lua
  spec/03-plugins/27-aws-lambda/99-access_spec.lua
  spec/fixtures/aws-lambda.lua
Labels: plugins/aws-lambda, size/M, cherry-pick kong-ee

#13376 fix(pdk.log): fix a bug that pdk.log.serialize() does not properly handle JSON nulls
  changelog/unreleased/kong/pdk-log-error.yml
  kong/pdk/log.lua
  spec/01-unit/10-log_serializer_spec.lua
Labels: core/logs, size/S, cherry-pick kong-ee

#13348 fix(build): set type of kong.logrotate as config|noreplace avoid overwriting during the upgrade
  build/package/nfpm.yaml
  changelog/unreleased/kong/fix-type-of-logrotate.yml
Labels: size/S, build/bazel, cherry-pick kong-ee

#13338 perf(tools): yield when gzip or gunzip
  changelog/unreleased/kong/yield-in-gzip.yml
  kong/tools/gzip.lua
Labels: size/S, cherry-pick kong-ee

#13411 chore(deps): bump lua-resty-openssl to 1.5.0
  changelog/unreleased/kong/bump-lua-resty-openssl.yml
  kong-3.8.0-0.rockspec
Labels: size/XS, cherry-pick kong-ee

#13389 style(dns): style and typo fixes
  kong/dns/README.md
  kong/dns/utils.lua
  spec/01-unit/30-new-dns-client/01-utils_spec.lua
Labels: core/docs, skip-changelog, size/M, cherry-pick kong-ee

#13412 docs(changelog): typofix for #13338
  changelog/unreleased/kong/yield-in-gzip.yml
Labels: size/XS, cherry-pick kong-ee

#13394 chore(ci): fix image release issue by hard-coding branch
  .github/workflows/release.yml
Labels: chore, size/XS

#13386 Revert "fix(proxy-cache): changes age param"
  changelog/unreleased/kong/fix-age-header.yml
  kong-3.8.0-0.rockspec
  kong/clustering/compat/checkers.lua
  kong/plugins/proxy-cache/clustering/compat/response_headers_translation.lua
  kong/plugins/proxy-cache/schema.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/03-plugins/31-proxy-cache/02-access_spec.lua
Labels: core/clustering, plugins/proxy-cache, skip-changelog, size/M, schema-change-noteworthy, cherry-pick kong-ee

#13413 refactor(plugins/aws-lambda): simplify code with tools.time utility
  kong/plugins/aws-lambda/handler.lua
Labels: plugins/aws-lambda, skip-changelog, size/XS, cherry-pick kong-ee

#13387 fix(proxy-cache): correctly add age header on cache hit
  changelog/unreleased/kong/proxy-cache-fix-age-header.yml
  kong/plugins/proxy-cache/handler.lua
  spec/03-plugins/31-proxy-cache/02-access_spec.lua
Labels: plugins/proxy-cache, size/M, schema-change-noteworthy, cherry-pick kong-ee

#13398 refactor(dns): simplify the code of new dns utils
  kong/dns/utils.lua
Labels: skip-changelog, size/M, cherry-pick kong-ee

#13419 fix(ai-proxy): gemini: broke cluster compat in last commit
  kong/clustering/compat/checkers.lua
  kong/clustering/compat/removed_fields.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
Labels: core/clustering, skip-changelog, size/L, cherry-pick kong-ee

#13424 fix(wasm): re-enable Lua DNS resolver for proxy-wasm
  changelog/unreleased/kong/fix-wasm-enable-pwm-lua-resolver.yml
  kong/conf_loader/init.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/02-integration/20-wasm/04-proxy-wasm_spec.lua
Labels: core/configuration, size/S, cherry-pick kong-ee

#13391 fix(opentelemetry): migration exception when upgrading from below version 3.3 to 3.7
  changelog/unreleased/kong/fix-otel-migrations-exception.yml
  kong/plugins/opentelemetry/migrations/001_331_to_332.lua
  spec/05-migration/plugins/opentelemetry/migrations/001_331_to_332_spec.lua
Labels: size/M, plugins/opentelemetry, cherry-pick kong-ee

#13417 fix(clustering): fix compat for prometheus ai metrics config fields
  changelog/unreleased/kong/fix-ai-metrics-prometheus-compat.yml
  kong/clustering/compat/removed_fields.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
Labels: core/clustering, size/S, cherry-pick kong-ee

#13397 fix(pluginserver): handle socket timeout
  kong/runloop/plugin_servers/pb_rpc.lua
Labels: core/language/go, core/language/python, core/language/js, skip-changelog, size/XS, cherry-pick kong-ee

#13392 docs(changelog): add 2.8.2-2.8.5 changelog entries
  CHANGELOG-OLD.md
Labels: core/docs, size/M

#13354 feat(ai-proxy): add AWS Bedrock Converse-API Driver
  changelog/unreleased/kong/ai-proxy-aws-bedrock.yml
  kong-3.8.0-0.rockspec
  kong/clustering/compat/checkers.lua
  kong/clustering/compat/removed_fields.lua
  kong/llm/drivers/anthropic.lua
  kong/llm/drivers/bedrock.lua
  kong/llm/drivers/cohere.lua
  kong/llm/drivers/gemini.lua
  kong/llm/drivers/shared.lua
  kong/llm/init.lua
  kong/llm/schemas/init.lua
  kong/plugins/ai-proxy/handler.lua
  kong/tools/aws_stream.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/03-plugins/38-ai-proxy/01-unit_spec.lua
  spec/03-plugins/38-ai-proxy/02-openai_integration_spec.lua
  spec/fixtures/ai-proxy/unit/expected-requests/bedrock/llm-v1-chat.json
  spec/fixtures/ai-proxy/unit/expected-responses/bedrock/llm-v1-chat.json
  spec/fixtures/ai-proxy/unit/real-responses/bedrock/llm-v1-chat.json
  spec/fixtures/ai-proxy/unit/real-responses/gemini/llm-v1-chat.json
  spec/fixtures/ai-proxy/unit/streaming-chunk-formats/aws/expected-output.json
  spec/fixtures/ai-proxy/unit/streaming-chunk-formats/aws/input.bin
  spec/fixtures/ai-proxy/unit/streaming-chunk-formats/partial-json-end/expected-output.json
Labels: core/clustering, size/XXL, schema-change-noteworthy, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13357 fix(certificates): validate the certificates schema failed if `snis` was in the request body
  changelog/unreleased/kong/certificates_schema_validate.yml
  kong/db/dao/certificates.lua
  kong/db/schema/entities/certificates.lua
  kong/db/schema/metaschema.lua
  kong/db/strategies/postgres/init.lua
  spec/02-integration/04-admin_api/02-kong_routes_spec.lua
  spec/02-integration/04-admin_api/06-certificates_routes_spec.lua
Labels: core/admin-api, core/db, size/L, schema-change-noteworthy, cherry-pick kong-ee

#13428 feat(ai-plugins): retrieved latency data and pushed it to logs and metrics
  changelog/unreleased/kong/add-ai-data-latency.yml
  kong/llm/drivers/shared.lua
  kong/plugins/prometheus/exporter.lua
  spec/03-plugins/26-prometheus/02-access_spec.lua
  spec/03-plugins/38-ai-proxy/02-openai_integration_spec.lua
  spec/03-plugins/39-ai-request-transformer/02-integration_spec.lua
  spec/03-plugins/40-ai-response-transformer/02-integration_spec.lua
Labels: plugins/prometheus, size/M, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13421 feat(core): introduce lua-resty-simdjson
  .github/matrix-full.yml
  .requirements
  BUILD.bazel
  WORKSPACE
  build/BUILD.bazel
  build/openresty/repositories.bzl
  build/openresty/simdjson_ffi/BUILD.bazel
  build/openresty/simdjson_ffi/simdjson_ffi_repositories.bzl
  changelog/unreleased/kong/resty-simdjson.yml
  kong/clustering/control_plane.lua
  kong/clustering/data_plane.lua
  kong/clustering/utils.lua
  kong/conf_loader/constants.lua
  kong/templates/kong_defaults.lua
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/debian-12-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-amd64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
  spec/01-unit/31-simdjson/01-cjson_compatibility_spec.lua
  spec/helpers.lua
Labels: core/clustering, core/templates, core/configuration, chore, size/L, build/bazel, cherry-pick kong-ee
