Repository Kong/kong, pull requests merged in 2024-03, with the labels that each got.

#12675 [backport -> release/3.6.x] chore(cd): update file permission of kong.logrotate
  build/package/nfpm.yaml
  changelog/unreleased/kong/fix-file-permission-of-logrotate.yml
  scripts/explain_manifest/explain.py
  scripts/explain_manifest/suites.py
Labels: size/S, build/bazel

#12674 [backport -> release/3.5.x] chore(cd): update file permission of kong.logrotate
  build/package/nfpm.yaml
  changelog/unreleased/kong/fix-file-permission-of-logrotate.yml
  scripts/explain_manifest/explain.py
  scripts/explain_manifest/suites.py
Labels: size/S, build/bazel, core/wasm

#12321 fix(cache): mlcache invalidation use separate cluster event channels to avoid useless invalidation
  changelog/unreleased/kong/separate_kong_cache_invalidation_cluster_event_channel.yml
  kong/cache/init.lua
  kong/global.lua
  spec/fixtures/custom_plugins/kong/plugins/invalidations/handler.lua
Labels: size/M

#12687 chore(patches): fix pcre2 regex memory corruption issues
  build/openresty/patches/ngx_lua-0.10.26_03-regex-memory-corruption.patch
  build/openresty/patches/ngx_stream_lua-0.0.14_02-remove-useless-pcre-config.patch
  build/openresty/patches/ngx_stream_lua-0.0.14_03-regex-memory-corruption.patch
Labels: skip-changelog, size/L, build/bazel, backport release/3.6.x

#12461 refactor(tracing): simplified the dynamic hooks code
  kong-3.7.0-0.rockspec
  kong/dynamic_hook/init.lua
  kong/dynamic_hook/wrap_function_gen.lua
  kong/init.lua
  kong/resty/dns/client.lua
  kong/runloop/handler.lua
  kong/timing/init.lua
Labels: core/proxy, skip-changelog, size/XL, cherry-pick kong-ee

#12683 [backport -> release/3.4.x] chore(cd): update file permission of kong.logrotate
  build/package/nfpm.yaml
  changelog/unreleased/kong/fix-file-permission-of-logrotate.yml
  scripts/explain_manifest/explain.py
  scripts/explain_manifest/suites.py
Labels: size/S, build/bazel, core/wasm

#12662 chore(deps): bump luarocks from 3.9.2 to 3.10.0
  .requirements
  build/luarocks/luarocks_repositories.bzl
  build/luarocks/luarocks_wrap_script.lua
  build/templates/venv-commons
  changelog/unreleased/kong/bump-luarocks.yml
Labels: size/S, build/bazel, cherry-pick kong-ee

#12471 Revert "hotfix(cd): skip comment on commit step"
  .github/workflows/release.yml
Labels: chore, size/XS

#12618 fix(ci): build and test use github token
  .github/workflows/build_and_test.yml
Labels: chore, size/XS

#12650 refactor(router/atc): separate expression transform code in atc-router
  kong-3.7.0-0.rockspec
  kong/router/atc.lua
  kong/router/compat.lua
  kong/router/expressions.lua
  kong/router/transform.lua
  kong/router/utils.lua
  spec/01-unit/08-router_spec.lua
Labels: core/router, skip-changelog, size/XXL, cherry-pick kong-ee

#12475 docs(pdk): add major version to version num example
  kong/pdk/init.lua
Labels: core/pdk, skip-changelog, size/XS

#12293 docs(prometheus): fix the description of some metrics
  kong/plugins/prometheus/schema.lua
Labels: plugins/prometheus, skip-changelog, size/XS, schema-change-noteworthy

#12691 chore(test): remove prefix directory when stop_kong called
  spec/02-integration/04-admin_api/03-consumers_routes_spec.lua
  spec/02-integration/04-admin_api/04-plugins_routes_spec.lua
  spec/02-integration/04-admin_api/09-routes_routes_spec.lua
  spec/02-integration/04-admin_api/10-services_routes_spec.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
  spec/02-integration/04-admin_api/19-vaults_spec.lua
  spec/02-integration/04-admin_api/21-admin-api-keys_spec.lua
  spec/02-integration/04-admin_api/21-truncated_arguments_spec.lua
  spec/02-integration/04-admin_api/25-max_safe_integer_spec.lua
  spec/02-integration/05-proxy/04-plugins_triggering_spec.lua
  spec/02-integration/05-proxy/09-websockets_spec.lua
  spec/02-integration/05-proxy/11-handler_spec.lua
  spec/02-integration/05-proxy/13-error_handlers_spec.lua
  spec/02-integration/05-proxy/25-upstream_keepalive_spec.lua
  spec/02-integration/06-invalidations/02-core_entities_invalidations_spec.lua
  spec/02-integration/11-dbless/01-respawn_spec.lua
  spec/02-integration/11-dbless/02-workers_spec.lua
  spec/02-integration/11-dbless/03-config_persistence_spec.lua
  spec/02-integration/13-vaults/05-ttl_spec.lua
  spec/02-integration/13-vaults/07-resurrect_spec.lua
  spec/03-plugins/01-legacy_queue_parameter_warning_spec.lua
  spec/03-plugins/19-hmac-auth/04-invalidations_spec.lua
  spec/03-plugins/20-ldap-auth/02-invalidations_spec.lua
  spec/03-plugins/23-rate-limiting/03-api_spec.lua
  spec/03-plugins/24-response-rate-limiting/04-access_spec.lua
  spec/03-plugins/29-acme/05-redis_storage_spec.lua
  spec/03-plugins/31-proxy-cache/02-access_spec.lua
  spec/03-plugins/31-proxy-cache/03-api_spec.lua
  spec/03-plugins/31-proxy-cache/04-invalidations_spec.lua
  spec/03-plugins/38-ai-proxy/02-openai_integration_spec.lua
  spec/03-plugins/38-ai-proxy/03-anthropic_integration_spec.lua
  spec/03-plugins/38-ai-proxy/04-cohere_integration_spec.lua
  spec/03-plugins/38-ai-proxy/05-azure_integration_spec.lua
  spec/03-plugins/38-ai-proxy/06-mistral_integration_spec.lua
  spec/03-plugins/38-ai-proxy/07-llama2_integration_spec.lua
  spec/03-plugins/38-ai-proxy/08-encoding_integration_spec.lua
  spec/03-plugins/39-ai-request-transformer/02-integration_spec.lua
  spec/03-plugins/40-ai-response-transformer/02-integration_spec.lua
  spec/03-plugins/41-ai-prompt-decorator/02-integration_spec.lua
  spec/03-plugins/42-ai-prompt-guard/02-integration_spec.lua
  spec/03-plugins/43-ai-prompt-template/02-integration_spec.lua
  spec/05-migration/plugins/acme/migrations/003_350_to_360_spec.lua
  spec/05-migration/plugins/http-log/migrations/001_280_to_300_spec.lua
  spec/05-migration/plugins/opentelemetry/migrations/001_331_to_332_spec.lua
  spec/05-migration/plugins/rate-limiting/migrations/006_350_to_360_spec.lua
  spec/05-migration/plugins/response-ratelimiting/migrations/001_350_to_360_spec.lua
Labels: skip-changelog, size/L, cherry-pick kong-ee

#12693 chore(CI): fix the workflow that comments the docker image on the commit
  .github/workflows/release.yml
Labels: chore, size/XS

#12638 feat(jwt): add support for ES512, PS256, PS384, PS512
  changelog/unreleased/kong/feat-jwt-es512.yml
  kong/plugins/jwt/daos.lua
  kong/plugins/jwt/jwt_parser.lua
  spec/03-plugins/16-jwt/01-jwt_parser_spec.lua
  spec/03-plugins/16-jwt/03-access_spec.lua
  spec/03-plugins/16-jwt/fixtures.lua
Labels: plugins/jwt, size/L, schema-change-noteworthy, cherry-pick kong-ee

#12698 [backport-2.8.x] fix(dns): fix the UDP socket leaking issue
  CHANGELOG/unreleased/kong/udp-socket-recycle.yml
  build/openresty/patches/lua-resty-dns-0.22_01-destory_resolver.patch
  kong/resty/dns/client.lua
  spec/02-integration/05-proxy/05-dns_spec.lua
Labels: size/L, build/bazel

#12701 chore: bump cherry-pick action to v1.2.0
  .github/workflows/cherry-picks.yml
Labels: chore, size/XS

#12713 [backport -> release/2.8.x] Backport 12691 to release/2.8.x
  spec/02-integration/02-cmd/03-reload_spec.lua
  spec/02-integration/04-admin_api/03-consumers_routes_spec.lua
  spec/02-integration/04-admin_api/04-plugins_routes_spec.lua
  spec/02-integration/04-admin_api/09-routes_routes_spec.lua
  spec/02-integration/04-admin_api/10-services_routes_spec.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
  spec/02-integration/04-admin_api/17-foreign-entity_spec.lua
  spec/02-integration/04-admin_api/18-worker-events.lua
  spec/02-integration/04-admin_api/19-vaults_spec.lua
  spec/02-integration/04-admin_api/21-truncated_arguments_spec.lua
  spec/02-integration/05-proxy/04-plugins_triggering_spec.lua
  spec/02-integration/05-proxy/09-websockets_spec.lua
  spec/02-integration/05-proxy/11-handler_spec.lua
  spec/02-integration/05-proxy/13-error_handlers_spec.lua
  spec/02-integration/05-proxy/25-upstream_keepalive_spec.lua
  spec/02-integration/06-invalidations/02-core_entities_invalidations_spec.lua
  spec/02-integration/11-dbless/01-respawn_spec.lua
  spec/02-integration/11-dbless/02-workers_spec.lua
  spec/03-plugins/19-hmac-auth/04-invalidations_spec.lua
  spec/03-plugins/20-ldap-auth/02-invalidations_spec.lua
  spec/03-plugins/23-rate-limiting/03-api_spec.lua
  spec/03-plugins/24-response-rate-limiting/04-access_spec.lua
  spec/03-plugins/31-proxy-cache/02-access_spec.lua
  spec/03-plugins/31-proxy-cache/03-api_spec.lua
  spec/03-plugins/31-proxy-cache/04-invalidations_spec.lua
Labels: size/L

#12714 [backport -> release/3.3.x] Backport 12691 to release/3.3.x
  spec/02-integration/02-cmd/03-reload_spec.lua
  spec/02-integration/04-admin_api/03-consumers_routes_spec.lua
  spec/02-integration/04-admin_api/04-plugins_routes_spec.lua
  spec/02-integration/04-admin_api/09-routes_routes_spec.lua
  spec/02-integration/04-admin_api/10-services_routes_spec.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
  spec/02-integration/04-admin_api/17-foreign-entity_spec.lua
  spec/02-integration/04-admin_api/19-vaults_spec.lua
  spec/02-integration/04-admin_api/21-admin-api-keys_spec.lua
  spec/02-integration/04-admin_api/21-truncated_arguments_spec.lua
  spec/02-integration/05-proxy/04-plugins_triggering_spec.lua
  spec/02-integration/05-proxy/09-websockets_spec.lua
  spec/02-integration/05-proxy/11-handler_spec.lua
  spec/02-integration/05-proxy/13-error_handlers_spec.lua
  spec/02-integration/05-proxy/25-upstream_keepalive_spec.lua
  spec/02-integration/06-invalidations/02-core_entities_invalidations_spec.lua
  spec/02-integration/11-dbless/01-respawn_spec.lua
  spec/02-integration/11-dbless/02-workers_spec.lua
  spec/02-integration/11-dbless/03-config_persistence_spec.lua
  spec/03-plugins/01-legacy_queue_parameter_warning_spec.lua
  spec/03-plugins/19-hmac-auth/04-invalidations_spec.lua
  spec/03-plugins/20-ldap-auth/02-invalidations_spec.lua
  spec/03-plugins/23-rate-limiting/03-api_spec.lua
  spec/03-plugins/24-response-rate-limiting/04-access_spec.lua
  spec/03-plugins/29-acme/05-redis_storage_spec.lua
  spec/03-plugins/31-proxy-cache/02-access_spec.lua
  spec/03-plugins/31-proxy-cache/03-api_spec.lua
  spec/03-plugins/31-proxy-cache/04-invalidations_spec.lua
  spec/05-migration/plugins/opentelemetry/migrations/001_331_to_332_spec.lua
Labels: size/L

#12715 [backport -> release/3.4.x] Backport 12691 to release/3.4.x
  spec/02-integration/02-cmd/03-reload_spec.lua
  spec/02-integration/04-admin_api/03-consumers_routes_spec.lua
  spec/02-integration/04-admin_api/04-plugins_routes_spec.lua
  spec/02-integration/04-admin_api/09-routes_routes_spec.lua
  spec/02-integration/04-admin_api/10-services_routes_spec.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
  spec/02-integration/04-admin_api/19-vaults_spec.lua
  spec/02-integration/04-admin_api/21-admin-api-keys_spec.lua
  spec/02-integration/04-admin_api/21-truncated_arguments_spec.lua
  spec/02-integration/05-proxy/04-plugins_triggering_spec.lua
  spec/02-integration/05-proxy/09-websockets_spec.lua
  spec/02-integration/05-proxy/11-handler_spec.lua
  spec/02-integration/05-proxy/13-error_handlers_spec.lua
  spec/02-integration/05-proxy/25-upstream_keepalive_spec.lua
  spec/02-integration/06-invalidations/02-core_entities_invalidations_spec.lua
  spec/02-integration/11-dbless/01-respawn_spec.lua
  spec/02-integration/11-dbless/02-workers_spec.lua
  spec/02-integration/11-dbless/03-config_persistence_spec.lua
  spec/02-integration/13-vaults/05-ttl_spec.lua
  spec/02-integration/20-wasm/01-admin-api_spec.lua
  spec/02-integration/20-wasm/03-runtime_spec.lua
  spec/02-integration/20-wasm/04-proxy-wasm_spec.lua
  spec/02-integration/20-wasm/05-cache-invalidation_spec.lua
  spec/02-integration/20-wasm/06-clustering_spec.lua
  spec/03-plugins/01-legacy_queue_parameter_warning_spec.lua
  spec/03-plugins/19-hmac-auth/04-invalidations_spec.lua
  spec/03-plugins/20-ldap-auth/02-invalidations_spec.lua
  spec/03-plugins/23-rate-limiting/03-api_spec.lua
  spec/03-plugins/24-response-rate-limiting/04-access_spec.lua
  spec/03-plugins/29-acme/05-redis_storage_spec.lua
  spec/03-plugins/31-proxy-cache/02-access_spec.lua
  spec/03-plugins/31-proxy-cache/03-api_spec.lua
  spec/03-plugins/31-proxy-cache/04-invalidations_spec.lua
  spec/05-migration/plugins/http-log/migrations/001_280_to_300_spec.lua
  spec/05-migration/plugins/opentelemetry/migrations/001_331_to_332_spec.lua
Labels: size/L, core/wasm

#12716 [backport -> release/3.5.x] Backport 12691 to release/3.5.x
  spec/02-integration/02-cmd/03-reload_spec.lua
  spec/02-integration/04-admin_api/03-consumers_routes_spec.lua
  spec/02-integration/04-admin_api/04-plugins_routes_spec.lua
  spec/02-integration/04-admin_api/09-routes_routes_spec.lua
  spec/02-integration/04-admin_api/10-services_routes_spec.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
  spec/02-integration/04-admin_api/19-vaults_spec.lua
  spec/02-integration/04-admin_api/21-admin-api-keys_spec.lua
  spec/02-integration/04-admin_api/21-truncated_arguments_spec.lua
  spec/02-integration/05-proxy/04-plugins_triggering_spec.lua
  spec/02-integration/05-proxy/09-websockets_spec.lua
  spec/02-integration/05-proxy/11-handler_spec.lua
  spec/02-integration/05-proxy/13-error_handlers_spec.lua
  spec/02-integration/05-proxy/25-upstream_keepalive_spec.lua
  spec/02-integration/06-invalidations/02-core_entities_invalidations_spec.lua
  spec/02-integration/11-dbless/01-respawn_spec.lua
  spec/02-integration/11-dbless/02-workers_spec.lua
  spec/02-integration/11-dbless/03-config_persistence_spec.lua
  spec/02-integration/13-vaults/05-ttl_spec.lua
  spec/02-integration/13-vaults/07-resurrect_spec.lua
  spec/03-plugins/01-legacy_queue_parameter_warning_spec.lua
  spec/03-plugins/19-hmac-auth/04-invalidations_spec.lua
  spec/03-plugins/20-ldap-auth/02-invalidations_spec.lua
  spec/03-plugins/23-rate-limiting/03-api_spec.lua
  spec/03-plugins/24-response-rate-limiting/04-access_spec.lua
  spec/03-plugins/29-acme/05-redis_storage_spec.lua
  spec/03-plugins/31-proxy-cache/02-access_spec.lua
  spec/03-plugins/31-proxy-cache/03-api_spec.lua
  spec/03-plugins/31-proxy-cache/04-invalidations_spec.lua
  spec/05-migration/plugins/http-log/migrations/001_280_to_300_spec.lua
  spec/05-migration/plugins/opentelemetry/migrations/001_331_to_332_spec.lua
Labels: size/L, core/wasm

#12717 [backport -> release/3.6.x] Backport 12691 to release/3.6.x
  spec/02-integration/04-admin_api/03-consumers_routes_spec.lua
  spec/02-integration/04-admin_api/04-plugins_routes_spec.lua
  spec/02-integration/04-admin_api/09-routes_routes_spec.lua
  spec/02-integration/04-admin_api/10-services_routes_spec.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
  spec/02-integration/04-admin_api/19-vaults_spec.lua
  spec/02-integration/04-admin_api/21-admin-api-keys_spec.lua
  spec/02-integration/04-admin_api/21-truncated_arguments_spec.lua
  spec/02-integration/04-admin_api/25-max_safe_integer_spec.lua
  spec/02-integration/05-proxy/04-plugins_triggering_spec.lua
  spec/02-integration/05-proxy/09-websockets_spec.lua
  spec/02-integration/05-proxy/11-handler_spec.lua
  spec/02-integration/05-proxy/13-error_handlers_spec.lua
  spec/02-integration/05-proxy/25-upstream_keepalive_spec.lua
  spec/02-integration/06-invalidations/02-core_entities_invalidations_spec.lua
  spec/02-integration/11-dbless/01-respawn_spec.lua
  spec/02-integration/11-dbless/02-workers_spec.lua
  spec/02-integration/11-dbless/03-config_persistence_spec.lua
  spec/02-integration/13-vaults/05-ttl_spec.lua
  spec/02-integration/13-vaults/07-resurrect_spec.lua
  spec/03-plugins/01-legacy_queue_parameter_warning_spec.lua
  spec/03-plugins/19-hmac-auth/04-invalidations_spec.lua
  spec/03-plugins/20-ldap-auth/02-invalidations_spec.lua
  spec/03-plugins/23-rate-limiting/03-api_spec.lua
  spec/03-plugins/24-response-rate-limiting/04-access_spec.lua
  spec/03-plugins/29-acme/05-redis_storage_spec.lua
  spec/03-plugins/31-proxy-cache/02-access_spec.lua
  spec/03-plugins/31-proxy-cache/03-api_spec.lua
  spec/03-plugins/31-proxy-cache/04-invalidations_spec.lua
  spec/03-plugins/38-ai-proxy/02-openai_integration_spec.lua
  spec/03-plugins/38-ai-proxy/03-anthropic_integration_spec.lua
  spec/03-plugins/38-ai-proxy/04-cohere_integration_spec.lua
  spec/03-plugins/38-ai-proxy/05-azure_integration_spec.lua
  spec/03-plugins/38-ai-proxy/06-mistral_integration_spec.lua
  spec/03-plugins/38-ai-proxy/07-llama2_integration_spec.lua
  spec/03-plugins/38-ai-proxy/08-encoding_integration_spec.lua
  spec/03-plugins/39-ai-request-transformer/02-integration_spec.lua
  spec/03-plugins/40-ai-response-transformer/02-integration_spec.lua
  spec/03-plugins/41-ai-prompt-decorator/02-integration_spec.lua
  spec/03-plugins/42-ai-prompt-guard/02-integration_spec.lua
  spec/03-plugins/43-ai-prompt-template/02-integration_spec.lua
  spec/05-migration/plugins/acme/migrations/003_350_to_360_spec.lua
  spec/05-migration/plugins/http-log/migrations/001_280_to_300_spec.lua
  spec/05-migration/plugins/opentelemetry/migrations/001_331_to_332_spec.lua
  spec/05-migration/plugins/rate-limiting/migrations/006_350_to_360_spec.lua
  spec/05-migration/plugins/response-ratelimiting/migrations/001_350_to_360_spec.lua
Labels: size/L

#12725 docs(readme): remove mentions to contributor t-shirt
  CONTRIBUTING.md
Labels: core/docs, size/S

#12709 [backport release/3.4.x] chore(CI): fix the workflow that comments the docker image on the commit
  .github/workflows/release.yml
Labels: chore, size/XS, core/wasm

#12710 [backport release/3.3.x] chore(CI): fix the workflow that comments the docker image on the commit
  .github/workflows/release.yml
Labels: chore, size/XS

#12711 [backport release/2.8.x] chore(CI): fix the workflow that comments the docker image on the commit
  .github/workflows/release.yml
Labels: chore, size/XS

#12724 fix(jwt-plugin): Add missing pkey sanity check for ES384 and ES512
  changelog/unreleased/kong/fix-jwt-plugin-check.yml
  kong/plugins/jwt/jwt_parser.lua
Labels: plugins/jwt, size/S, author/community, cherry-pick kong-ee

#12705 chore(patches): cleanup the pcre2 regex patch
  build/openresty/patches/ngx_lua-0.10.26_03-regex-memory-corruption.patch
  build/openresty/patches/ngx_stream_lua-0.0.14_03-regex-memory-corruption.patch
Labels: skip-changelog, size/L, build/bazel, cherry-pick kong-ee, backport release/3.6.x

#12726 feat(jwt-plugin): Add support for EdDSA
  changelog/unreleased/kong/feat-jwt-eddsa.yml
  kong/plugins/jwt/daos.lua
  kong/plugins/jwt/jwt_parser.lua
  spec/03-plugins/16-jwt/01-jwt_parser_spec.lua
  spec/03-plugins/16-jwt/03-access_spec.lua
  spec/03-plugins/16-jwt/fixtures.lua
Labels: plugins/jwt, size/L, schema-change-noteworthy, author/community, cherry-pick kong-ee

#12718 fix(pluginserver): ensure a change to plugin config takes effect
  changelog/unreleased/kong/fix-external-plugin-instance.yml
  kong/runloop/plugin_servers/init.lua
Labels: core/language/go, core/language/python, core/language/js, size/XS, backport release/3.6.x

#12727 fix(pluginsocket.proto): type for `set_upstream`
  changelog/unreleased/kong/pluginsocket-proto-wrong-type.yml
  kong/include/kong/pluginsocket.proto
Labels: size/XS

#12696 chore(tests): fix flaky due to too close time for a timer
  spec/02-integration/06-invalidations/01-cluster_events_spec.lua
Labels: skip-changelog, size/XS

#12654 fix(router/atc): reset rebuilding flag if route has no id
  changelog/unreleased/kong/fix-router-rebuing-flag.yml
  kong/router/atc.lua
  spec/01-unit/08-router_spec.lua
Labels: core/router, size/M, cherry-pick kong-ee

#12467 perf(router): remove NYI to be more JIT-friendly
  changelog/unreleased/kong/speed_up_router.yml
  kong/router/fields.lua
Labels: core/performance, core/router, size/L, cherry-pick kong-ee

#12720 remove repetitive words
  CHANGELOG.md
  kong/conf_loader/constants.lua
  kong/db/schema/init.lua
  kong/db/schema/json.lua
  spec/02-integration/04-admin_api/14-tags_spec.lua
  spec/02-integration/09-hybrid_mode/10-forward-proxy_spec.lua
Labels: core/db, core/configuration, skip-changelog, size/S, changelog, schema-change-noteworthy, author/community

#12730 feat(log-serializer): add `latencies.receive` property to log-serializer
  changelog/unreleased/kong/log-serializer-receive-latency.yml
  kong/pdk/log.lua
  spec/01-unit/10-log_serializer_spec.lua
Labels: core/logs, size/XS, cherry-pick kong-ee

#12735 chore(deps): bump luarocks from 3.10.0 to 3.11.0 (for workgroups)
  .requirements
  build/luarocks/luarocks_repositories.bzl
  changelog/unreleased/kong/bump-luarocks.yml
Labels: size/XS, build/bazel, cherry-pick kong-ee

#12754 docs(changelog): set log serializer changelog entry scope to "PDK"
  changelog/unreleased/kong/log-serializer-receive-latency.yml
Labels: size/XS

#12752 chore(deps): bump lua-kong-nginx-module to 0.9.0
  .requirements
  changelog/unreleased/kong/bump-lua-kong-nginx-module.yml
Labels: size/XS, cherry-pick kong-ee

#12755 refactor(template): eliminate manual indexing on certain Nginx variables due to inherent default indexing
  kong/templates/nginx_kong.lua
Labels: core/templates, skip-changelog, size/XS, cherry-pick kong-ee

#12756 chore(deps): bump lua-resty-timer-ng from 0.2.6 to 0.2.7
  changelog/unreleased/kong/bump-lua-resty-timer-ng.yml
  kong-3.7.0-0.rockspec
Labels: size/XS, cherry-pick kong-ee

#12741 style(plugins/grpc-web): fix some typos
  kong/plugins/grpc-web/deco.lua
  scripts/explain_manifest/expect.py
Labels: plugins/grpc-web, skip-changelog, size/XS, author/community, cherry-pick kong-ee

#11794 fix(key-auth): add missing www-authenticate headers
  changelog/unreleased/kong/key_auth_www_authenticate.yml
  kong/plugins/key-auth/handler.lua
  kong/plugins/key-auth/schema.lua
  spec/01-unit/01-db/01-schema/07-plugins_spec.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/03-flatten_spec.lua
  spec/03-plugins/09-key-auth/02-access_spec.lua
  spec/03-plugins/10-basic-auth/03-access_spec.lua
Labels: plugins/key-auth, plugins/basic-auth, size/L, schema-change-noteworthy, cherry-pick kong-ee

#12594 Fix devcontainer dependencies.
  .devcontainer/Dockerfile
Labels: chore, size/XS, author/community, cherry-pick kong-ee

#12459 fix(plugins): consistent error responses upon Admin API auth failures
  changelog/unreleased/kong/enhance_admin_api_auth_error_response.yml
  kong/plugins/basic-auth/access.lua
  kong/plugins/key-auth/handler.lua
  kong/plugins/ldap-auth/access.lua
  spec/02-integration/02-cmd/03-reload_spec.lua
  spec/03-plugins/09-key-auth/02-access_spec.lua
  spec/03-plugins/10-basic-auth/03-access_spec.lua
  spec/03-plugins/10-basic-auth/05-declarative_spec.lua
  spec/03-plugins/20-ldap-auth/01-access_spec.lua
Labels: plugins/key-auth, plugins/basic-auth, plugins/ldap-auth, size/M, core/wasm

#12759 chore(deps): bump lua-kong-nginx-module from 0.9.0 to 0.9.1
  .requirements
  changelog/unreleased/kong/bump-lua-kong-nginx-module.yml
Labels: size/XS, cherry-pick kong-ee

#12762 chore(release): simplify changelog automation
  changelog/Makefile
Labels: skip-changelog, size/M, backport release/2.8.x, backport release/3.3.x, backport release/3.4.x, backport release/3.5.x, cherry-pick kong-ee, backport release/3.6.x

#12670 feat(tracing): new headers propagation module for tracing plugins
  changelog/unreleased/kong/propagation-module-rework.yml
  kong-3.7.0-0.rockspec
  kong/db/schema/typedefs.lua
  kong/plugins/opentelemetry/handler.lua
  kong/plugins/opentelemetry/schema.lua
  kong/plugins/zipkin/handler.lua
  kong/plugins/zipkin/schema.lua
  kong/tracing/propagation.lua
  kong/tracing/propagation/extractors/_base.lua
  kong/tracing/propagation/extractors/aws.lua
  kong/tracing/propagation/extractors/b3.lua
  kong/tracing/propagation/extractors/datadog.lua
  kong/tracing/propagation/extractors/gcp.lua
  kong/tracing/propagation/extractors/jaeger.lua
  kong/tracing/propagation/extractors/ot.lua
  kong/tracing/propagation/extractors/w3c.lua
  kong/tracing/propagation/init.lua
  kong/tracing/propagation/injectors/_base.lua
  kong/tracing/propagation/injectors/aws.lua
  kong/tracing/propagation/injectors/b3-single.lua
  kong/tracing/propagation/injectors/b3.lua
  kong/tracing/propagation/injectors/datadog.lua
  kong/tracing/propagation/injectors/gcp.lua
  kong/tracing/propagation/injectors/jaeger.lua
  kong/tracing/propagation/injectors/ot.lua
  kong/tracing/propagation/injectors/w3c.lua
  kong/tracing/propagation/schema.lua
  kong/tracing/propagation/utils.lua
  spec/01-unit/26-tracing/02-propagation_spec.lua
  spec/01-unit/26-tracing/02-propagation_strategies_spec.lua
  spec/01-unit/26-tracing/03-propagation_module_spec.lua
  spec/01-unit/26-tracing/04-request-id_spec.lua
  spec/02-integration/14-tracing/02-propagation_spec.lua
  spec/03-plugins/02-legacy_propagation_parameter_warning_spec.lua
  spec/03-plugins/34-zipkin/zipkin_no_endpoint_spec.lua
  spec/03-plugins/34-zipkin/zipkin_spec.lua
  spec/03-plugins/37-opentelemetry/03-propagation_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/trace-propagator/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/trace-propagator/schema.lua
Labels: core/db, plugins/zipkin, size/XXL, core/tracing, plugins/opentelemetry, schema-change-noteworthy

#12744 fix(core): X-Kong-Upstream-Status header is not set
  changelog/unreleased/kong/fix-upstream-status-unset.yml
  kong/runloop/handler.lua
  spec/02-integration/05-proxy/15-upstream-status-header_spec.lua
Labels: core/proxy, size/M, cherry-pick kong-ee

#12739 feat(dns): function to force no sync toip()
  changelog/unreleased/kong/force-no_sync-noip.yml
  kong/resty/dns/client.lua
  spec/01-unit/21-dns-client/02-client_spec.lua
Labels: size/M, cherry-pick kong-ee

#12663 feat(wasm): support directive for general shm_kv entry
  changelog/unreleased/kong/feat-wasm-general-shm-kv.yml
  kong.conf.default
  kong/conf_loader/constants.lua
  kong/templates/nginx.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/fixtures/custom_nginx.template
Labels: core/templates, core/configuration, size/M, cherry-pick kong-ee

#12785 style(tools/system): fix typos in error message
  kong/tools/system.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee

#12731 feat(ai-prompt-guard): increase the maximum length of regex expression
  changelog/unreleased/kong/feat-increase-ai-anthropic-regex-expression-length.yml
  kong/plugins/ai-prompt-guard/schema.lua
  spec/03-plugins/42-ai-prompt-guard/00_config_spec.lua
Labels: size/S, schema-change-noteworthy, cherry-pick kong-ee, plugins/ai-prompt-guard

#12788 refactor(router/atc): remove closure to avoid NYIs
  kong/router/transform.lua
Labels: core/router, skip-changelog, size/M, cherry-pick kong-ee

#12793 style(plugins/basic-auth): correct realm field description
  kong/plugins/basic-auth/schema.lua
Labels: plugins/basic-auth, skip-changelog, size/XS, schema-change-noteworthy, cherry-pick kong-ee

#12773 fix(plugins/acme): fix certificate renew failure issue
  changelog/unreleased/kong/fix-acme-renewal-bug.yml
  kong/plugins/acme/api.lua
  kong/plugins/acme/handler.lua
  spec/03-plugins/29-acme/01-client_spec.lua
Labels: plugins/acme, size/S, backport release/3.5.x, cherry-pick kong-ee, backport release/3.6.x

#12776 doc(README): updating the definition of Kong with the new AI capabilities
  README.md
Labels: core/docs, size/XS

#12798 style(tools/module): improve code style for readability
  kong/tools/module.lua
Labels: skip-changelog, size/S, cherry-pick kong-ee

#12791 style(db/schema): improve readability of string operations
  kong/db/schema/typedefs.lua
Labels: core/db, skip-changelog, size/XS, schema-change-noteworthy, cherry-pick kong-ee

#12794 fix(plugins): compatibility with older data planes
  kong/clustering/compat/removed_fields.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
Labels: core/clustering, skip-changelog, size/S, cherry-pick kong-ee
