Repository Kong/kong, pull requests merged in 2024-01, with the labels that each got.

#12266 docs(changelog): fix a typo in #11258
  changelog/unreleased/kong/atc_reuse_context.yml
Labels: size/XS

#12244 fix(plugin): request transformer to preserve header cases
  changelog/unreleased/kong/fix_req_transformer_case_sensitive.yml
  kong/plugins/request-transformer/access.lua
  spec/03-plugins/36-request-transformer/02-access_spec.lua
Labels: plugins/request-transformer, size/S

#12264 chore(deps): bump openssl from 3.1.4 to 3.2.0
  .requirements
  build/openresty/openssl/openssl_repositories.bzl
  changelog/unreleased/kong/bump-openssl.yml
  scripts/explain_manifest/fixtures/alpine-amd64.txt
  scripts/explain_manifest/fixtures/alpine-arm64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/debian-10-amd64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/debian-12-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-amd64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
  scripts/explain_manifest/suites.py
Labels: size/L, build/bazel

#12273 fix(cd): revert actions versions to work under RHEL 7
  .github/workflows/release.yml
Labels: chore, size/S

#12276 refactor(plugins): replace usage or resty.openssl.hmac with resty.openssl.mac
  kong/plugins/hmac-auth/access.lua
  kong/plugins/jwt/jwt_parser.lua
  spec/03-plugins/19-hmac-auth/03-access_spec.lua
  spec/03-plugins/19-hmac-auth/04-invalidations_spec.lua
Labels: plugins/jwt, plugins/hmac-auth, skip-changelog, size/M

#12277 feat(ci): trigger a workflow for reviewing patches
  .github/workflows/openresty-patches-companion.yml
Labels: chore, size/S, build/bazel

#12295 Revert "fix(request-transformer): respect letter case of rename headers' new names (#12244)"
  changelog/unreleased/kong/fix_req_transformer_case_sensitive.yml
  kong/plugins/request-transformer/access.lua
  spec/03-plugins/36-request-transformer/02-access_spec.lua
Labels: plugins/request-transformer, skip-changelog, size/S

#12287 tests(rate-limiting): clear expired key in shared dict
  spec/03-plugins/23-rate-limiting/02-policies_spec.lua
Labels: size/S

#12299 fix(ci): skip the openresty patches workflow if it's a fork
  .github/workflows/openresty-patches-companion.yml
Labels: chore, size/XS

#12285 chore(cd): drop the legacy smoke tests step
  .github/workflows/release.yml
  build/tests/01-base.sh
  build/tests/02-admin-api.sh
  build/tests/03-http2-admin-api.sh
  build/tests/04-uninstall.sh
  build/tests/util.sh
Labels: chore, size/XL, build/bazel

#12019 feat(pdk): increase the precision of JSON number encoding from 14 to 16 decimals
  changelog/unreleased/kong/pdk-json-encoding-numbers-precision.yml
  kong-3.6.0-0.rockspec
  kong/constants.lua
  kong/db/strategies/postgres/init.lua
  kong/db/strategies/postgres/tags.lua
  kong/globalpatches.lua
  kong/pdk/request.lua
  kong/pdk/service/response.lua
  kong/tools/cjson.lua
  spec/02-integration/04-admin_api/25-max_safe_integer_spec.lua
  t/01-pdk/08-response/11-exit.t
Labels: core/pdk, core/db, plugins/zipkin, size/L

#12306 test(cmd): record ngx.time() before generating a cert
  spec/02-integration/02-cmd/12-hybrid_spec.lua
Labels: size/XS, backport release/2.8.x, backport release/3.2.x, backport release/3.3.x, backport release/3.4.x, backport release/3.5.x, cherry-pick kong-ee

#11210 release: 3.3.2
  .github/workflows/upgrade-tests.yml
  kong-3.3.2-0.rockspec
  kong/meta.lua
Labels: chore, size/S

#12318 chore(tests): fix flaky due to too close time for a timer
  spec/02-integration/06-invalidations/01-cluster_events_spec.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee

#12325 feat(tests): improve http_mock
  spec/helpers/http_mock.lua
  spec/helpers/http_mock/template.lua
Labels: size/S

#12328 chore(globalpatches): moved `require kong.constants` to the closure
  kong/globalpatches.lua
Labels: skip-changelog, size/XS

#12304 feat(core): enable status api by default
  changelog/unreleased/kong/default_status_port.yml
  kong.conf.default
  kong/templates/kong_defaults.lua
  spec/02-integration/08-status_api/04-config_spec.lua
  spec/fixtures/default_status_listen.conf
  spec/kong_tests.conf
Labels: core/templates, size/M, cherry-pick kong-ee

#12300 chore(acme): standardize redis configuration
  changelog/unreleased/kong/standardize-redis-conifguration-acme.yml
  kong-3.6.0-0.rockspec
  kong/clustering/compat/checkers.lua
  kong/plugins/acme/client.lua
  kong/plugins/acme/clustering/compat/redis_translation.lua
  kong/plugins/acme/migrations/003_350_to_360.lua
  kong/plugins/acme/migrations/init.lua
  kong/plugins/acme/schema.lua
  kong/plugins/acme/storage/config_adapters/init.lua
  kong/plugins/acme/storage/config_adapters/redis.lua
  kong/tools/redis/schema.lua
  spec/02-integration/01-helpers/01-helpers_spec.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/03-plugins/29-acme/05-redis_storage_spec.lua
  spec/05-migration/plugins/acme/migrations/003_350_to_360_spec.lua
  spec/helpers.lua
Labels: plugins/rate-limiting, core/clustering, plugins/acme, plugins/response-ratelimiting, size/XL, schema-change-noteworthy

#11950 feat(router): enable `net.src.*` and `net.dst.*` in http expression
  changelog/unreleased/kong/support_net_src_dst_field_in_expression.yml
  kong/db/schema/entities/routes.lua
  kong/router/atc.lua
  kong/router/compat.lua
  kong/router/expressions.lua
  kong/router/fields.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
  spec/01-unit/08-router_spec.lua
Labels: core/router, core/db, size/L, schema-change-noteworthy, cherry-pick kong-ee

#12307 fix(router): always calculate `match_t.upstream_uri` to avoid wrong cache
  kong/router/atc.lua
  spec/01-unit/08-router_spec.lua
  spec/02-integration/01-helpers/01-helpers_spec.lua
  spec/02-integration/05-proxy/02-router_spec.lua
  spec/02-integration/05-proxy/03-upstream_headers_spec.lua
  spec/02-integration/05-proxy/14-server_tokens_spec.lua
  spec/03-plugins/03-http-log/01-log_spec.lua
  spec/03-plugins/07-loggly/01-log_spec.lua
  spec/03-plugins/13-cors/01-access_spec.lua
  spec/03-plugins/25-oauth2/04-invalidations_spec.lua
  spec/03-plugins/31-proxy-cache/02-access_spec.lua
Labels: core/router, skip-changelog, size/M

#12301 chore(rl): standarize redis configuration
  changelog/unreleased/kong/standardize-redis-conifguration-rate-limiting.yml
  changelog/unreleased/kong/standardize-redis-conifguration-response-rl.yml
  kong-3.6.0-0.rockspec
  kong/clustering/compat/checkers.lua
  kong/plugins/rate-limiting/clustering/compat/redis_translation.lua
  kong/plugins/rate-limiting/migrations/006_350_to_360.lua
  kong/plugins/rate-limiting/migrations/init.lua
  kong/plugins/rate-limiting/policies/init.lua
  kong/plugins/rate-limiting/schema.lua
  kong/plugins/response-ratelimiting/clustering/compat/redis_translation.lua
  kong/plugins/response-ratelimiting/migrations/001_350_to_360.lua
  kong/plugins/response-ratelimiting/migrations/init.lua
  kong/plugins/response-ratelimiting/policies/init.lua
  kong/plugins/response-ratelimiting/schema.lua
  kong/tools/redis/schema.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/02-integration/21-request-debug/01-request-debug_spec.lua
  spec/03-plugins/23-rate-limiting/01-schema_spec.lua
  spec/03-plugins/23-rate-limiting/02-policies_spec.lua
  spec/03-plugins/23-rate-limiting/04-access_spec.lua
  spec/03-plugins/23-rate-limiting/05-integration_spec.lua
  spec/03-plugins/24-response-rate-limiting/01-schema_spec.lua
  spec/03-plugins/24-response-rate-limiting/04-access_spec.lua
  spec/03-plugins/24-response-rate-limiting/05-integration_spec.lua
  spec/05-migration/plugins/rate-limiting/migrations/006_350_to_360_spec.lua
  spec/05-migration/plugins/response-ratelimiting/migrations/001_350_to_360_spec.lua
Labels: plugins/rate-limiting, core/clustering, plugins/acme, plugins/response-ratelimiting, size/XXL, schema-change-noteworthy

#12316 style(tools): simplify the implementation of tools.cjson
  kong/tools/cjson.lua
Labels: skip-changelog, size/S, cherry-pick kong-ee

#12344 refactor(tools): rework `is_not_debug_mode` flag of request aware table
  kong/router/atc.lua
  kong/tools/request_aware_table.lua
Labels: core/router, skip-changelog, size/S

#12334 chore(ci): add labeler config for core/wasm
  .github/labeler.yml
Labels: chore, size/XS, backport release/3.4.x, backport release/3.5.x, cherry-pick kong-ee

#12343 fix(plugins): fix competing redis configs
  kong/db/schema/init.lua
  kong/plugins/acme/schema.lua
  kong/plugins/acme/storage/config_adapters/redis.lua
  kong/plugins/rate-limiting/policies/init.lua
  kong/plugins/rate-limiting/schema.lua
  kong/plugins/response-ratelimiting/policies/init.lua
  kong/plugins/response-ratelimiting/schema.lua
  spec/03-plugins/23-rate-limiting/01-schema_spec.lua
  spec/03-plugins/23-rate-limiting/05-integration_spec.lua
  spec/03-plugins/24-response-rate-limiting/01-schema_spec.lua
  spec/03-plugins/24-response-rate-limiting/05-integration_spec.lua
  spec/03-plugins/29-acme/05-redis_storage_spec.lua
Labels: plugins/rate-limiting, plugins/acme, core/db, plugins/response-ratelimiting, skip-changelog, size/XL, schema-change-noteworthy

#12355 style(conf_loader): simplify the code of listener parse
  kong/conf_loader/listeners.lua
Labels: core/configuration, skip-changelog, size/S

#12360 fix(clustering): restore immediate ping behavior on config update
  kong/clustering/data_plane.lua
Labels: core/clustering, skip-changelog, size/XS, cherry-pick kong-ee

#12284 fix(core): remove and restore nulls before and after transformations
  changelog/unreleased/kong/declarative_config_fix.yml
  kong/db/declarative/import.lua
  kong/db/schema/init.lua
  kong/db/strategies/off/init.lua
  spec/01-unit/01-db/11-declarative_lmdb_spec.lua
  spec/02-integration/20-wasm/09-filter-meta_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/preserve-nulls/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/preserve-nulls/schema.lua
Labels: core/db, size/L, schema-change-noteworthy

#12358 Revert "style(conf_loader): simplify the code of listener parse"
  kong/conf_loader/listeners.lua
Labels: core/configuration, skip-changelog, size/S

#12346 fix(balancer): respect max retries
  build/openresty/patches/ngx_lua-0.10.25_01-dyn_upstream_keepalive.patch
  changelog/unreleased/kong/balancer_respect_max_retries.yml
  spec/02-integration/05-proxy/10-balancer/08-retries_spec.lua
Labels: size/L, build/bazel

#12327 chore(deps): bump OpenResty to 1.25.3.1
  .requirements
  build/openresty/patches/LuaJIT-2.1-20230410_01_patch_macro_luajit_version.patch
  build/openresty/patches/LuaJIT-2.1-20230410_03_arm64_sigill.patch
  build/openresty/patches/LuaJIT-2.1-20230410_04_arm64_fix_HREFK.patch
  build/openresty/patches/LuaJIT-2.1-20230410_05_ldp_stp_fusion.patch
  build/openresty/patches/LuaJIT-2.1-20230410_06_arm64_reg_alloc_fix.patch
  build/openresty/patches/LuaJIT-2.1-20230410_07_ldp_stp_unaligned.patch
  build/openresty/patches/LuaJIT-2.1-20230410_08_ldoc_error_fix.patch
  build/openresty/patches/LuaJIT-2.1-20231117_01_patch_macro_luajit_version.patch
  build/openresty/patches/LuaJIT-2.1-20231117_02_pass_cc_env.patch
  build/openresty/patches/lua-cjson-2.1.0.11_01-handle-large-string-correctly.patch
  build/openresty/patches/lua-resty-core-0.1.28_01-dyn_upstream_keepalive.patch
  build/openresty/patches/lua-resty-dns-0.22_01-destroy_resolver.patch
  build/openresty/patches/nginx-1.25.3_01-upstream_client_certificate_and_ssl_verify.patch
  build/openresty/patches/nginx-1.25.3_02-remove-server-tokens-from-special-responses-output.patch
  build/openresty/patches/nginx-1.25.3_03-stream_upstream_client_certificate_and_ssl_verify.patch
  build/openresty/patches/nginx-1.25.3_04-grpc_authority_override.patch
  build/openresty/patches/nginx-1.25.3_05-remove-server-headers-from-ngx-header-filter-module.patch
  build/openresty/patches/nginx-1.25.3_06-dynamic_log_level.patch
  build/openresty/patches/nginx-1.25.3_07-cross.patch
  build/openresty/patches/nginx-1.25.3_08-cross-endianness-fix.patch
  build/openresty/patches/ngx_lua-0.10.26_01-dyn_upstream_keepalive.patch
  build/openresty/patches/ngx_lua-0.10.26_02-dynamic_log_level.patch
  build/openresty/patches/ngx_stream_lua-0.0.14_01-expose_request_struct.patch
  build/openresty/patches/openresty_01-custom_prefix_and_cc.patch
  build/openresty/repositories.bzl
  changelog/unreleased/kong/bump-openresty-1.21.4.3.yml
  changelog/unreleased/kong/bump-openresty.yml
  kong/conf_loader/listeners.lua
  kong/meta.lua
  kong/pdk/request.lua
  kong/plugins/oauth2/access.lua
  kong/templates/nginx_kong.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/02-integration/05-proxy/19-grpc_proxy_spec.lua
  spec/03-plugins/01-tcp-log/01-tcp-log_spec.lua
  spec/fixtures/mock_webserver_tpl.lua
  spec/fixtures/template_inject/nginx_kong_test_custom_inject_http.lua
  t/01-pdk/04-request/13-get_header.t
Labels: pr/discussion, plugins/oauth2, core/pdk, core/templates, core/configuration, size/XXL, build/bazel

#12361 docs(kong.conf.default): add proxy_protocol to status_listen property
  kong.conf.default
Labels: skip-changelog, size/XS

#12283 feat(router): support `http.path.segments.*` field in expressions flavor
  .requirements
  changelog/unreleased/kong/bump-atc-router.yml
  changelog/unreleased/kong/support_http_path_segments_field.yml
  kong/db/schema/entities/routes.lua
  kong/router/atc.lua
  kong/router/fields.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
  spec/01-unit/08-router_spec.lua
Labels: core/router, core/db, size/L, schema-change-noteworthy, cherry-pick kong-ee

#12367 feat(core): add ngx_brotli module
  .requirements
  build/openresty/BUILD.openresty.bazel
  build/openresty/repositories.bzl
  changelog/unreleased/kong/add_ngx_brotli_module.yml
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/debian-10-amd64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/debian-12-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-amd64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
  spec/02-integration/05-proxy/34-proxy_with_compress_spec.lua
Labels: chore, size/L, build/bazel

#12191 fix(tests): fix malloc assertion error by replacing thread tcp server.
  spec/01-unit/11-reports_spec.lua
  spec/fixtures/template_inject/nginx_kong_test_tcp_echo_server_custom_inject_stream.lua
  spec/helpers.lua
Labels: size/L, cherry-pick kong-ee

#12298 refactor(test): prevent use of mocked shared.DICT APIs in globalpatches.lua
  bin/busted
  kong/globalpatches.lua
  spec/fixtures/shared_dict.lua
Labels: core/cli, core/pdk, core/configuration, skip-changelog, size/M

#12384 [backport -> release/3.4.x] fix(balancer): respect max retries (#12346)
  build/openresty/patches/ngx_lua-0.10.25_01-dyn_upstream_keepalive.patch
  changelog/unreleased/kong/balancer_respect_max_retries.yml
  spec/02-integration/05-proxy/10-balancer/08-retries_spec.lua
Labels: size/L, build/bazel, cherry-pick kong-ee, core/wasm

#12383 [backport -> release/3.5.x] fix(balancer): respect max retries (#12346)
  build/openresty/patches/ngx_lua-0.10.25_01-dyn_upstream_keepalive.patch
  changelog/unreleased/kong/balancer_respect_max_retries.yml
  spec/02-integration/05-proxy/10-balancer/08-retries_spec.lua
Labels: size/L, build/bazel, cherry-pick kong-ee, core/wasm

#12390 chore(requirements): bump `atc-router` to `v1.5.1`
  .requirements
  changelog/unreleased/kong/bump-atc-router.yml
Labels: size/XS, cherry-pick kong-ee

#12378 perf(router): lazy generate field visit functions
  kong/router/atc.lua
  kong/router/fields.lua
Labels: core/router, skip-changelog, size/L, cherry-pick kong-ee

#11795 fix(basic-auth): add missing www-authenticate headers
  changelog/unreleased/kong/basic_www_authenticate.yml
  kong/plugins/basic-auth/access.lua
  kong/plugins/basic-auth/schema.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/02-process_auto_fields_spec.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/03-flatten_spec.lua
  spec/03-plugins/10-basic-auth/03-access_spec.lua
  spec/03-plugins/10-basic-auth/05-declarative_spec.lua
Labels: plugins/basic-auth, size/M, schema-change-noteworthy

#12241 fix(build): use NGX_WASM_MODULE_BRANCH environment variable
  build/README.md
  build/kong_bindings.bzl
  build/openresty/wasmx/wasmx_repositories.bzl
  changelog/unreleased/kong/fix-wasm-module-branch.yml
Labels: core/docs, size/S, build/bazel

#12336 feat(plugins): ai-prompt-decorator-plugin
  .github/labeler.yml
  changelog/unreleased/kong/add-ai-prompt-decorator-plugin.yml
  kong-3.6.0-0.rockspec
  kong/constants.lua
  kong/plugins/ai-prompt-decorator/handler.lua
  kong/plugins/ai-prompt-decorator/schema.lua
  spec/01-unit/12-plugins_order_spec.lua
  spec/03-plugins/41-ai-prompt-decorator/00-config_spec.lua
  spec/03-plugins/41-ai-prompt-decorator/01-unit_spec.lua
  spec/03-plugins/41-ai-prompt-decorator/02-integration_spec.lua
Labels: chore, size/XL, schema-change-noteworthy, cherry-pick kong-ee

#12375 [backport -> release/3.3.x] fix(balancer): respect max retries (#12346)
  build/openresty/patches/ngx_lua-0.10.21_02-dyn_upstream_keepalive.patch
  changelog/unreleased/kong/balancer_respect_max_retries.yml
  spec/02-integration/05-proxy/10-balancer/08-retries_spec.lua
Labels: size/XL, build/bazel, cherry-pick kong-ee

#12372 [backport -> release/3.2.x] fix(balancer): respect max retries (#12346)
  build/openresty/patches/ngx_lua-0.10.21_02-dyn_upstream_keepalive.patch
  changelog/unreleased/kong/balancer_respect_max_retries.yml
  spec/02-integration/05-proxy/10-balancer/08-retries_spec.lua
Labels: size/XL, build/bazel, cherry-pick kong-ee

#12371 [backport -> release/2.8.x] fix(balancer): respect max retries (#12346)
  build/openresty/patches/ngx_lua-0.10.20_02-dyn_upstream_keepalive.patch
  changelog/unreleased/kong/balancer_respect_max_retries.yml
  spec/02-integration/05-proxy/10-balancer/08-retries_spec.lua
Labels: size/XL, build/bazel, cherry-pick kong-ee

#12398 feat(router/atc): support field `http.path.segments.len`
  kong/db/schema/entities/routes.lua
  kong/router/fields.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
  spec/01-unit/08-router_spec.lua
Labels: core/router, core/db, skip-changelog, size/L, schema-change-noteworthy, cherry-pick kong-ee

#12406 docs(changelog): add description of `http.path.segments.len`
  changelog/unreleased/kong/support_http_path_segments_field.yml
Labels: size/XS, cherry-pick kong-ee

#12408 docs(changelog): add changelog entry for "not" operator support in ATC
  changelog/unreleased/expressions_not_operator.yml
Labels: size/XS

#12407 tests(router): ensure uri is normalized when using segments
  spec/01-unit/08-router_spec.lua
Labels: skip-changelog, size/M, cherry-pick kong-ee

#12405 chore(requirements): bump atc-router to v1.6.0
  .requirements
  changelog/unreleased/expressions_not_operator.yml
  changelog/unreleased/kong/bump-atc-router.yml
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
  spec/01-unit/08-router_spec.lua
Labels: size/M, cherry-pick kong-ee

#12370 fix(pdk): get the first http header value after bumping to OpenResty 1.25.3.1
  kong/pdk/request.lua
  kong/plugins/oauth2/access.lua
  kong/runloop/handler.lua
  kong/tools/http.lua
  t/01-pdk/04-request/13-get_header.t
Labels: core/proxy, plugins/oauth2, core/pdk, skip-changelog, size/M, cherry-pick kong-ee

#12340 feat(plugins): ai-prompt-template plugin
  .github/labeler.yml
  changelog/unreleased/kong/add-ai-prompt-template-plugin.yml
  kong-3.6.0-0.rockspec
  kong/constants.lua
  kong/plugins/ai-prompt-template/handler.lua
  kong/plugins/ai-prompt-template/schema.lua
  kong/plugins/ai-prompt-template/templater.lua
  spec/01-unit/12-plugins_order_spec.lua
  spec/03-plugins/43-ai-prompt-template/01-unit_spec.lua
  spec/03-plugins/43-ai-prompt-template/02-integration_spec.lua
Labels: chore, size/XL, schema-change-noteworthy, cherry-pick kong-ee

#12419 docs(changelog): move "expressions_not_operator" entry to correct place
  changelog/unreleased/expressions_not_operator.yml
  changelog/unreleased/kong/expressions_not_operator.yml
Labels: skip-changelog, size/XS, cherry-pick kong-ee

#12409 chore: add original description to backported/cherry-picked PRs
  .github/workflows/backport.yml
  .github/workflows/cherry-picks.yml
Labels: chore, size/S, cherry-pick kong-ee

#12425 chore(ci): revert upload/download-artifact version bump to v4
  .github/workflows/build.yml
  .github/workflows/build_and_test.yml
  .github/workflows/perf.yml
Labels: skip-changelog, chore, size/S

#12424 chore(patches): make dynamic upstream keepalive patch apply cleanly
  build/openresty/patches/ngx_lua-0.10.26_01-dyn_upstream_keepalive.patch
Labels: size/XS, build/bazel, cherry-pick kong-ee

#12421 fix(plugins): add len_min=0 for string fields
  kong/plugins/acme/schema.lua
  kong/plugins/rate-limiting/schema.lua
  kong/plugins/response-ratelimiting/schema.lua
Labels: plugins/rate-limiting, plugins/acme, plugins/response-ratelimiting, skip-changelog, size/XS, schema-change-noteworthy, cherry-pick kong-ee

#12341 feat(plugins): ai-transformer plugins
  .github/labeler.yml
  changelog/unreleased/kong/add-ai-request-transformer-plugin.yml
  changelog/unreleased/kong/add-ai-response-transformer-plugin.yml
  kong-3.6.0-0.rockspec
  kong/constants.lua
  kong/llm/drivers/anthropic.lua
  kong/llm/drivers/azure.lua
  kong/llm/drivers/cohere.lua
  kong/llm/drivers/llama2.lua
  kong/llm/drivers/mistral.lua
  kong/llm/drivers/openai.lua
  kong/llm/drivers/shared.lua
  kong/llm/init.lua
  kong/plugins/ai-request-transformer/handler.lua
  kong/plugins/ai-request-transformer/schema.lua
  kong/plugins/ai-response-transformer/handler.lua
  kong/plugins/ai-response-transformer/schema.lua
  spec/01-unit/12-plugins_order_spec.lua
  spec/03-plugins/38-ai-proxy/01-unit_spec.lua
  spec/03-plugins/39-ai-request-transformer/00-config_spec.lua
  spec/03-plugins/39-ai-request-transformer/01-transformer_spec.lua
  spec/03-plugins/39-ai-request-transformer/02-integration_spec.lua
  spec/03-plugins/40-ai-response-transformer/00-config_spec.lua
  spec/03-plugins/40-ai-response-transformer/01-transformer_spec.lua
  spec/03-plugins/40-ai-response-transformer/02-integration_spec.lua
  spec/fixtures/ai-proxy/anthropic/request-transformer/response-in-json.json
  spec/fixtures/ai-proxy/azure/request-transformer/response-in-json.json
  spec/fixtures/ai-proxy/cohere/request-transformer/response-in-json.json
  spec/fixtures/ai-proxy/llama2/request-transformer/response-in-json.json
  spec/fixtures/ai-proxy/mistral/request-transformer/response-in-json.json
  spec/fixtures/ai-proxy/openai/request-transformer/response-in-json.json
  spec/fixtures/ai-proxy/openai/request-transformer/response-not-json.json
  spec/fixtures/ai-proxy/openai/request-transformer/response-with-bad-instructions.json
  spec/fixtures/ai-proxy/openai/request-transformer/response-with-instructions.json
Labels: chore, size/XXL, schema-change-noteworthy, cherry-pick kong-ee, plugins/ai-proxy, backport release/3.6.x

#12337 feat(plugins): ai-prompt-guard-plugin
  .github/labeler.yml
  changelog/unreleased/kong/add-ai-prompt-guard-plugin.yml
  kong-3.6.0-0.rockspec
  kong/constants.lua
  kong/plugins/ai-prompt-guard/handler.lua
  kong/plugins/ai-prompt-guard/schema.lua
  spec/01-unit/12-plugins_order_spec.lua
  spec/03-plugins/42-ai-prompt-guard/00_config_spec.lua
  spec/03-plugins/42-ai-prompt-guard/01_unit_spec.lua
  spec/03-plugins/42-ai-prompt-guard/02-integration_spec.lua
Labels: chore, size/XL, schema-change-noteworthy, cherry-pick kong-ee, backport release/3.6.x

#12427 [backport -> release/3.6.x] feat(plugins): ai-prompt-guard-plugin #12337
  .github/labeler.yml
  changelog/unreleased/kong/add-ai-prompt-guard-plugin.yml
  kong-3.6.0-0.rockspec
  kong/constants.lua
  kong/plugins/ai-prompt-guard/handler.lua
  kong/plugins/ai-prompt-guard/schema.lua
  spec/01-unit/12-plugins_order_spec.lua
  spec/03-plugins/42-ai-prompt-guard/00_config_spec.lua
  spec/03-plugins/42-ai-prompt-guard/01_unit_spec.lua
  spec/03-plugins/42-ai-prompt-guard/02-integration_spec.lua
Labels: chore, size/XL, schema-change-noteworthy

#12366 fix(deps): bump pcre from the legacy libpcre 8.45 to libpcre2 10.42
  .requirements
  build/dockerfiles/apk.Dockerfile
  build/openresty/patches/openresty_02-pcre2.patch
  build/openresty/pcre/BUILD.pcre.bazel
  build/openresty/pcre/pcre_repositories.bzl
  changelog/unreleased/kong/bump-pcre.yml
  kong/tools/uri.lua
  scripts/explain_manifest/suites.py
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/04-on-the-fly-migration_spec.lua
Labels: size/M, build/bazel

#12436 chore(deps): bump lua-resty-aws from 1.3.5 to 1.3.6
  changelog/unreleased/kong/bump-lua-resty-aws-1.3.6.yml
  kong-3.6.0-0.rockspec
Labels: size/XS, backport release/3.6.x

#12437 chore(deps): bump luacheck from 1.1.1 to 1.1.2 (dev dep)
  Makefile
Labels: skip-changelog, size/XS

#12447 fix(redis): add default port for standardized Redis config
  kong/plugins/acme/schema.lua
  kong/tools/redis/schema.lua
  spec/01-unit/30-standardized_redis_config_spec.lua
  spec/02-integration/02-cmd/11-config_spec.lua
  spec/03-plugins/29-acme/04-schema_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/redis-dummy/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/redis-dummy/schema.lua
Labels: plugins/acme, skip-changelog, size/L, schema-change-noteworthy, cherry-pick kong-ee, backport release/3.6.x

#12402 fix(wasm): do not call attach() on re-entrancy
  changelog/unreleased/kong/wasm-attach.yml
  kong/runloop/wasm.lua
Labels: core/proxy, size/M, backport release/3.4.x, backport release/3.5.x, cherry-pick kong-ee, core/wasm, backport release/3.6.x

#12429 fix(plugins): consistent error responses upon Admin API auth failures
  changelog/unreleased/kong/enhance_admin_api_auth_error_response.yml
  kong/plugins/basic-auth/access.lua
  kong/plugins/key-auth/handler.lua
  kong/plugins/ldap-auth/access.lua
  spec/02-integration/02-cmd/03-reload_spec.lua
  spec/03-plugins/09-key-auth/02-access_spec.lua
  spec/03-plugins/10-basic-auth/03-access_spec.lua
  spec/03-plugins/10-basic-auth/05-declarative_spec.lua
  spec/03-plugins/20-ldap-auth/01-access_spec.lua
Labels: plugins/key-auth, plugins/basic-auth, plugins/ldap-auth, size/M, backport release/3.5.x, backport release/3.6.x

#12448 perf(router): use static functions for callbacks
  kong/router/fields.lua
Labels: pr/discussion, core/router, skip-changelog, size/L, backport release/3.6.x

#12446 chore(gui): bump kong-manager to v3.6.0.0
  .requirements
  changelog/unreleased/kong-manager/.gitkeep
  changelog/unreleased/kong-manager/entity_form_preview.yml
  changelog/unreleased/kong-manager/redesigned_basic_components.yml
  changelog/unreleased/kong-manager/standardized_notification_format.yml
  changelog/unreleased/kong-manager/unified_plugin_pages.yml
Labels: size/S

#12393 Update copyright date to 2024
  LICENSE
  README.md
Labels: core/docs, size/XS, author/community, cherry-pick kong-ee

#12464 hotfix(deps): enable JIT support for pcre2
  build/openresty/pcre/BUILD.pcre.bazel
Labels: size/XS, build/bazel

#12468 fix(balancer): ensure the `notify` callback is invoked only if defined when handling cached connection errors
  build/openresty/patches/ngx_lua-0.10.26_01-dyn_upstream_keepalive.patch
Labels: skip-changelog, size/L, build/bazel, cherry-pick kong-ee, backport release/3.6.x

#12470 chore(patches): revert the "respect max retries" patch
  build/openresty/patches/ngx_lua-0.10.26_01-dyn_upstream_keepalive.patch
  changelog/unreleased/kong/balancer_respect_max_retries.yml
  spec/02-integration/05-proxy/10-balancer/08-retries_spec.lua
Labels: skip-changelog, size/L, build/bazel, cherry-pick kong-ee
