Repository Kong/kong, pull requests merged in 2024-09, with the labels that each got.

#13601 docs(copyright): update 3.8.0 copyright
  COPYRIGHT
Labels: size/XL

#13401 feat(ci): pr diff
  .github/workflows/pr-diff.yml
Labels: skip-changelog, chore, size/L

#13120 feat(deps): add ada - whatwg-compliant and fast url parser
  .requirements
  build/BUILD.bazel
  build/openresty/ada/BUILD.bazel
  build/openresty/ada/ada_repositories.bzl
  build/openresty/repositories.bzl
  changelog/unreleased/kong/feat-add-ada.yml
  kong-3.9.0-0.rockspec
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/debian-12-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-amd64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
  scripts/explain_manifest/suites.py
  spec/01-unit/31-ada-url_spec.lua
Labels: size/L, build/bazel, cherry-pick kong-ee

#13575 feat(tools): add `get_updated_now()` in time tools
  kong/cluster_events/init.lua
  kong/clustering/control_plane.lua
  kong/db/strategies/postgres/connector.lua
  kong/db/strategies/postgres/init.lua
  kong/tools/time.lua
Labels: core/clustering, core/db, skip-changelog, size/M, cherry-pick kong-ee

#13613 fix(rate-limiting-plugin): fix a bug where the return values from `get_redis_connection()` are mistaken
  changelog/unreleased/kong/fix-return-values-mistaken-in-rate-limiting-plugin.yml
  kong/plugins/rate-limiting/policies/init.lua
Labels: plugins/rate-limiting, size/XS, cherry-pick kong-ee

#13542 tests(helpers): separate miscellaneous and shell functions
  spec/details/misc.lua
  spec/details/shell.lua
  spec/helpers.lua
Labels: skip-changelog, size/XL, cherry-pick kong-ee

#13615 style(tools): should not use `tools.utils` module
  kong/llm/proxy/handler.lua
  kong/observability/logs.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13616 tests(helper): separate module reload function
  spec/details/module.lua
  spec/helpers.lua
Labels: skip-changelog, size/S, cherry-pick kong-ee

#13552 tests(helpers): separate grpc test functions
  spec/details/grpc.lua
  spec/helpers.lua
Labels: skip-changelog, size/L, cherry-pick kong-ee

#13610 fix(vault): let vault entity cache key not containing workspace id
  changelog/unreleased/kong/fix-vault-cache-workspace-id.yml
  kong/db/dao/vaults.lua
  spec/02-integration/13-vaults/01-vault_spec.lua
Labels: core/db, size/S, schema-change-noteworthy

#13533 fix(aws-lambda): add null handling for multiValueHeaders
  changelog/unreleased/kong/fix-aws-lambda-multi-value-header-null.yml
  kong/plugins/aws-lambda/request-util.lua
  spec/03-plugins/27-aws-lambda/99-access_spec.lua
Labels: plugins/aws-lambda, size/M, cherry-pick kong-ee

#13602 feat(runloop): added the workspace id into the plugin config in the plugins iterator
  changelog/unreleased/kong/feat-plugin-conf-ws-id.yml
  kong/runloop/plugins_iterator.lua
  spec/02-integration/07-sdk/04-plugin-config_spec.lua
Labels: core/proxy, size/XS, cherry-pick kong-ee

#13617 tests(helpers): separate dns_mock module
  spec/details/dns.lua
  spec/helpers.lua
Labels: skip-changelog, size/L, cherry-pick kong-ee

#13627 fix(ai): llm model moved to share state to guarantee consistency
  changelog/unreleased/kong/fix-ai-semantic-cache-model.yml
  kong/llm/drivers/shared.lua
  kong/llm/proxy/handler.lua
  kong/llm/state.lua
  kong/plugins/ai-request-transformer/handler.lua
  kong/plugins/ai-response-transformer/handler.lua
  spec/03-plugins/38-ai-proxy/02-openai_integration_spec.lua
Labels: size/M, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer, backport release/3.8.x

#13626 feat: Add Ubuntu 24.04 to build matrix
  .github/matrix-commitly.yml
  .github/matrix-full.yml
  .github/workflows/release.yml
  build/README.md
  build/cross_deps/README.md
  build/cross_deps/libxcrypt/001-4.4.27-enable-hash-all.patch
  build/cross_deps/libxcrypt/repositories.bzl
  changelog/unreleased/kong/add-noble-numbat.yml
  scripts/explain_manifest/config.py
  scripts/explain_manifest/fixtures/ubuntu-24.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-24.04-arm64.txt
  scripts/explain_manifest/suites.py
  scripts/release-kong.sh
Labels: core/docs, chore, size/XL, build/bazel, cherry-pick kong-ee

#13628 tests(helpers): separate customized asserts
  spec/details/asserts.lua
  spec/details/misc.lua
  spec/helpers.lua
Labels: skip-changelog, size/XXL, cherry-pick kong-ee

#13630 tests(helpers): separate server mock functions
  spec/details/server.lua
  spec/details/ssl.lua
  spec/helpers.lua
Labels: skip-changelog, size/XL, cherry-pick kong-ee

#13637 chore(bazel): bump crosstool-ng-actions from 0.7.0 to 0.8.0
  build/toolchain/managed_toolchain.bzl
  build/toolchain/repositories.bzl
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
Labels: chore, size/M, build/bazel, cherry-pick kong-ee

#13636 tests(helpers): support ldoc generation
  spec/config.ld
  spec/details/dns.lua
  spec/details/misc.lua
  spec/details/shell.lua
Labels: skip-changelog, size/S, cherry-pick kong-ee

#13618 tests(helpers): separate db functions
  spec/details/asserts.lua
  spec/details/conf.lua
  spec/details/db.lua
  spec/details/shell.lua
  spec/helpers.lua
Labels: skip-changelog, size/XL, cherry-pick kong-ee

#13622 chore(ci): migrate bazelbuild/setup-bazelisk to bazel-contrib/setup-bazel
  .github/workflows/release.yml
Labels: chore, size/S

#13377 fix(core): fix ngx.balancer.recreate_request does not refresh body bu…
  build/openresty/patches/ngx_lua-0.10.26_07-fix-ngx-recreate-request-issue-for-balancer-body-modified-case.patch
  changelog/unreleased/kong/fix-ngx-balancer-recreate-request-api-for-balancer-body-refresh.yml
  t/04-patch/04-fix-ngx-recreate-request-work-for-body.t
Labels: skip-changelog, size/L, build/bazel, cherry-pick kong-ee

#13648 tests(helpers): separate cmd&pid functions
  spec/details/cmd.lua
  spec/details/pid.lua
  spec/details/server.lua
  spec/helpers.lua
Labels: skip-changelog, size/XXL, cherry-pick kong-ee

#13665 tests(helpers): rename directory `details` to `internal`
  spec/config.ld
  spec/helpers.lua
  spec/internal/asserts.lua
  spec/internal/cmd.lua
  spec/internal/conf.lua
  spec/internal/constants.lua
  spec/internal/db.lua
  spec/internal/dns.lua
  spec/internal/grpc.lua
  spec/internal/misc.lua
  spec/internal/module.lua
  spec/internal/pid.lua
  spec/internal/server.lua
  spec/internal/shell.lua
  spec/internal/ssl.lua
Labels: skip-changelog, size/M, cherry-pick kong-ee

#13653 release: 3.8.1
  kong-3.8.1-0.rockspec
  kong/meta.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee

#13623 chore(deps): bump openssl to 3.2.3
  .requirements
  build/openresty/openssl/openssl_repositories.bzl
  changelog/unreleased/kong/bump_openssl.yml
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/debian-12-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-amd64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
Labels: size/M, build/bazel

#13584 fix(db): targets:upsert to properly handle errors
  kong/db/dao/targets.lua
Labels: core/db, skip-changelog, size/XS, schema-change-noteworthy, cherry-pick kong-ee

#13678 chore(ci): point to the more reliable Github distributions for Luarocks
  build/luarocks/luarocks_repositories.bzl
Labels: size/XS, build/bazel, cherry-pick kong-ee

#13688 fix(ci): verify manifest fails with OpenSSL 3.2.3
  scripts/explain_manifest/fixtures/ubuntu-24.04-amd64.txt
Labels: skip-changelog, size/XS, cherry-pick kong-ee

#13689 docs(changelog): assemble 3.8.0 changelog into CHANGELOG.md
  CHANGELOG.md
Labels: size/L, changelog, author/community

#13690 Assemble 3.7.1 and 3.8.0 changelogs into CHANGELOG.md
  CHANGELOG.md
Labels: size/L, changelog, author/community

#13574 chore(docker): use ubi8 -> ubi9
  build/dockerfiles/rpm.Dockerfile
  changelog/unreleased/kong/bump-dockerfile-ubi9.yml
Labels: size/XS, build/bazel, author/community, cherry-pick kong-ee

#13667 tests(helpers): move some misc funcs
  spec/helpers.lua
  spec/internal/db.lua
  spec/internal/misc.lua
Labels: skip-changelog, size/L, author/community, cherry-pick kong-ee

#13674 tests(helpers): move client functions
  spec/helpers.lua
  spec/internal/client.lua
Labels: skip-changelog, size/XXL, author/community, cherry-pick kong-ee

#13588 chore(plugin): bump prometheus KONG_LATENCY_BUCKETS bucket to 6000
  changelog/unreleased/kong/bump-prometheus-latency-bucket.yml
  kong/plugins/prometheus/exporter.lua
Labels: plugins/prometheus, size/XS, cherry-pick kong-ee

#13608 chore(*): remove luarocks loader
  bin/busted
  bin/kong
  kong/init.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee

#13692 tests(helpers): move wait functions
  spec/helpers.lua
  spec/internal/cmd.lua
  spec/internal/wait.lua
Labels: skip-changelog, size/XXL, author/community, cherry-pick kong-ee

#13705 chore(ci): pin bazel-contrib/setup-bazel to e403ad507104847c3539436f64a9e9eecc73eeec
  .github/workflows/release.yml
Labels: chore, size/XS, author/community, cherry-pick kong-ee

#13691 docs(changelog): add the missing index of 3.6.0
  CHANGELOG.md
Labels: size/XS, changelog, author/community

#13706 chore(ci): bump cross build toolchain from 0.8.0 to 0.8.2
  build/toolchain/repositories.bzl
  scripts/explain_manifest/fixtures/ubuntu-24.04-arm64.txt
Labels: chore, size/S, build/bazel, author/community

#13713 feat(api): support official media-type of yaml in /config endpoint
  changelog/unreleased/kong/feat-api-yaml-media-type.yml
  kong/api/api_helpers.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
Labels: core/admin-api, size/S, cherry-pick kong-ee

#13693 tests(router): remove duplicated `reload_router()`
  spec/02-integration/05-proxy/01-proxy_spec.lua
  spec/02-integration/05-proxy/02-router_spec.lua
  spec/02-integration/05-proxy/06-ssl_spec.lua
  spec/02-integration/05-proxy/10-balancer/06-stream_spec.lua
  spec/02-integration/05-proxy/18-upstream_tls_spec.lua
  spec/02-integration/05-proxy/19-grpc_proxy_spec.lua
  spec/02-integration/05-proxy/21-grpc_plugins_triggering_spec.lua
  spec/02-integration/05-proxy/23-context_spec.lua
  spec/02-integration/05-proxy/26-udp_spec.lua
  spec/02-integration/05-proxy/28-stream_plugins_triggering_spec.lua
  spec/internal/misc.lua
  spec/internal/module.lua
  spec/internal/sys.lua
Labels: skip-changelog, size/L, author/community, cherry-pick kong-ee

#13714 chore(clustering): adjust control plane log level when client closes the connection
  kong/clustering/control_plane.lua
Labels: core/clustering, skip-changelog, size/S, cherry-pick kong-ee

#13652 fix(build): use a more reliable way to replace websocket library
  build/BUILD.bazel
  build/openresty/BUILD.openresty.bazel
Labels: size/S, build/bazel, author/community, cherry-pick kong-ee

#13704 fix(venv): fix compatibility on Bash 4.x and sync changes from EE
  scripts/dependency_services/common.sh
Labels: skip-changelog, size/L, author/community, cherry-pick kong-ee

#13721 fix(explain_manifest): fix behaviour change or API after version bump
  scripts/explain_manifest/explain.py
Labels: chore, size/XS, cherry-pick kong-ee

#13719 docs(*): update the changelog PR title to include the docs(release) scope
  changelog/create_pr
Labels: skip-changelog, size/XS, author/community, cherry-pick kong-ee
