Repository Kong/kong, pull requests merged in 2024-10, with the labels that each got.

#13604 refactor(shorthand_fields): remove translate_backwards in favor of replaced_with
  kong/db/schema/init.lua
  kong/db/schema/metaschema.lua
  kong/plugins/acme/schema.lua
  kong/plugins/rate-limiting/schema.lua
  kong/plugins/response-ratelimiting/schema.lua
Labels: plugins/rate-limiting, plugins/acme, core/db, plugins/response-ratelimiting, skip-changelog, size/M, schema-change-noteworthy, author/community, cherry-pick kong-ee

#13722 fix(rate-limiting): do not set response headers if `conf.hide_client_headers` is `true`
  .gitignore
  changelog/unreleased/kong/fix-rl-plugin-resp-hdr.yml
  kong/plugins/rate-limiting/handler.lua
  spec/03-plugins/23-rate-limiting/04-access_spec.lua
Labels: plugins/rate-limiting, size/M, author/community, cherry-pick kong-ee

#13720 chore(Bazel): format Bazel files by Bazel Buildifier
  BUILD.bazel
  build/BUILD.bazel
  build/cross_deps/libxcrypt/BUILD.libxcrypt.bazel
  build/cross_deps/libyaml/BUILD.libyaml.bazel
  build/cross_deps/libyaml/repositories.bzl
  build/cross_deps/repositories.bzl
  build/cross_deps/zlib/BUILD.zlib.bazel
  build/cross_deps/zlib/repositories.bzl
  build/libexpat/BUILD.libexpat.bazel
  build/libexpat/repositories.bzl
  build/luarocks/BUILD.luarocks.bazel
  build/openresty/BUILD.openresty.bazel
  build/openresty/atc_router/atc_router_repositories.bzl
  build/openresty/brotli/brotli_repositories.bzl
  build/openresty/openssl/openssl.bzl
  build/openresty/pcre/BUILD.pcre.bazel
  build/openresty/repositories.bzl
  build/openresty/simdjson_ffi/simdjson_ffi_repositories.bzl
  build/openresty/wasmx/wasmx_repositories.bzl
  build/repositories.bzl
  build/toolchain/cc_toolchain_config.bzl
Labels: skip-changelog, chore, size/M, build/bazel, author/community, incomplete-cherry-pick

#13732 fix(incremental): reduce the use of timers
  kong/clustering/services/sync/init.lua
  kong/clustering/services/sync/rpc.lua
Labels: core/clustering, skip-changelog, size/L, author/community, cherry-pick kong-ee

#13725 tests(wasm): add test for new dns client
  spec/02-integration/20-wasm/04-proxy-wasm_spec.lua
Labels: size/L, author/community, cherry-pick kong-ee

#13697 docs(request-debug): Add special note for request debug
  kong.conf.default
Labels: size/XS, cherry-pick kong-ee

#13733 fix(incremental sync): fix incorrect return value from Workspace:select_by_name
  kong/db/dao/workspaces.lua
Labels: core/proxy, core/db, skip-changelog, size/XS, schema-change-noteworthy, author/community, cherry-pick kong-ee

#13702 fix(llm): allow multi-modal requests in azure
  changelog/unreleased/kong/fix-ai-proxy-multi-modal-azure.yml
  kong/llm/drivers/shared.lua
Labels: size/S, author/community, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13460 feat(request-debugging): Finer time resolution and latency in total
  changelog/unreleased/kong/feat-request-debguger-finer-resolution-and-total-latency.yml
  kong/timing/context.lua
  spec/02-integration/21-request-debug/01-request-debug_spec.lua
Labels: size/L

#13734 chore(ci): bump Github actions to support node.js 20
  .github/actions/build-wasm-test-filters/action.yml
  .github/workflows/backport.yml
  .github/workflows/build.yml
  .github/workflows/build_and_test.yml
  .github/workflows/cherry-picks.yml
  .github/workflows/deck-integration.yml
  .github/workflows/perf.yml
  .github/workflows/release.yml
Labels: chore, size/M, author/community, incomplete-backport

#13605 Minor bug fix: Fix error message for `retries`
  changelog/unreleased/kong/fix-retries-error-message.yml
  kong/pdk/service.lua
  t/01-pdk/09-service/04-set-retries.t
Labels: core/pdk, size/XS, author/community, cherry-pick kong-ee

#13742 chore(requirements): bump `lua-resty-lmdb` to `v1.5.0`
  .requirements
  changelog/unreleased/kong/bump-lua-resty-lmdb.yml
Labels: size/XS, cherry-pick kong-ee

#13744 doc(changelog): fix grammar in lua-resty-lmdb update
  changelog/unreleased/kong/bump-lua-resty-lmdb.yml
Labels: size/XS, author/community, cherry-pick kong-ee

#13745 fix(tests): enable incremental sync for wasm cases
  spec/02-integration/20-wasm/10-wasmtime_spec.lua
Labels: skip-changelog, size/XS

#13664 feat(gui): add a new feature to support multiple domains for KM GUI
  changelog/unreleased/kong/add_multiple_domain_for_gui.yml
  kong.conf.default
  kong/admin_gui/init.lua
  kong/api/api_helpers.lua
  kong/conf_loader/constants.lua
  kong/conf_loader/init.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/29-admin_gui/02-admin_gui_template_spec.lua
  spec/02-integration/02-cmd/03-reload_spec.lua
Labels: core/admin-api, core/configuration, size/M

#13703 fix: [AG-113] Gemini transformer plugins, incorrect URL and response error parsers
  changelog/unreleased/kong/ai-gemini-fix-transformer-plugins.yml
  changelog/unreleased/kong/ai-transformers-bad-error-handling.yml
  kong/llm/drivers/gemini.lua
  kong/llm/init.lua
  spec/03-plugins/39-ai-request-transformer/02-integration_spec.lua
  spec/03-plugins/40-ai-response-transformer/02-integration_spec.lua
  spec/fixtures/ai-proxy/gemini/llm-v1-chat/responses/fails_safety.json
Labels: size/L, schema-change-noteworthy, author/community, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer, backport release/3.8.x

#13700 chore(deps): bump lua-resty-aws to 1.5.4
  changelog/unreleased/kong/bump-lua-resty-aws.yml
  kong-3.9.0-0.rockspec
Labels: size/XS, cherry-pick kong-ee

#13581 feat(plugin)(correlationId) increase priority order for plugin to mat…
  changelog/unreleased/kong/feat-correlation-id-order.yml
  kong/plugins/correlation-id/handler.lua
  spec/01-unit/12-plugins_order_spec.lua
Labels: core/proxy, plugins/rate-limiting, core/clustering, plugins/aws-lambda, plugins/acme, core/db, plugins/response-ratelimiting, plugins/correlation-id, chore, size/XS, schema-change-noteworthy, build/bazel, author/community, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13767 chore(release): fix PR and Jira links in 3.8.0 changelog
  CHANGELOG.md
  changelog/3.8.0/3.8.0.md
Labels: core/docs, skip-changelog, size/L, changelog, backport release/3.8.x

#13769 [Backport -> release/3.8.x] chore(release): fix PR and Jira links in 3.8.0 changelog
  CHANGELOG.md
  changelog/3.8.0/3.8.0.md
Labels: skip-changelog, size/L

#13758 chore(deps): bump lua-kong-nginx-module from 0.11.0 to 0.11.1
  .requirements
  changelog/unreleased/kong/bump-lua-kong-nginx-module.yml
Labels: size/XS, author/community

#13778 Fix: Replace missing systemd Unit File (2.8)
  build/package/nfpm.yaml
  changelog/unreleased/kong/fix_service_file.yml
  scripts/explain_manifest/fixtures/alpine-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/suites.py
Labels: size/S, build/bazel, author/community, cherry-pick kong-ee

#13764 fix(wasm): add a startup check for missing filters
  changelog/unreleased/kong/fix-wasm-check-missing-filters.yml
  kong/init.lua
  kong/runloop/wasm.lua
  spec/02-integration/20-wasm/11-missing-filters_spec.lua
Labels: core/proxy, size/L, author/community, cherry-pick kong-ee, core/wasm

#13782 chore(build): fix exec script of LuaRocks on macOS
  build/luarocks/templates/luarocks_exec.sh
Labels: skip-changelog, size/S, build/bazel

#13781 chore(ci): add docker image to the workflow summary
  .github/workflows/release.yml
Labels: chore, size/XS, author/community

#13658 Fix: Fix broken link in contributing.md
  CONTRIBUTING.md
Labels: core/docs, size/XS, author/community

#13783 chore(deps): bump `lua-resty-ljsonschema` to 1.2.0
  changelog/unreleased/kong/bump-lua-resty-ljsonschema.yml
  kong-3.9.0-0.rockspec
Labels: size/XS, author/community, cherry-pick kong-ee

#13793 chore(ci): updated public-shared-actions to v2.7.3
  .github/workflows/release.yml
Labels: skip-changelog, chore, size/XS, author/community

#13794 refactor(clustering): change sync data structure
  kong/clustering/services/sync/hooks.lua
  kong/clustering/services/sync/rpc.lua
  kong/clustering/services/sync/strategies/postgres.lua
  kong/db/migrations/core/024_370_to_380.lua
  spec/05-migration/db/migrations/core/024_370_to_380_spec.lua
Labels: core/db/migrations, core/clustering, skip-changelog, size/S, cherry-pick kong-ee

#13792 chore(changelog): update changelog description
  changelog/unreleased/kong/bump-lua-kong-nginx-module.yml
Labels: size/XS, author/community, cherry-pick kong-ee

#13788 fix(loggly): fix the error caused by the missing /bin/hostname
  changelog/unreleased/kong/fix-loggly-hostname-notfound.yml
  kong/pdk/node.lua
  kong/plugins/loggly/handler.lua
Labels: core/pdk, plugins/loggly, size/M, author/community, cherry-pick kong-ee

#13801 fix(incremental sync): added comment for 2 times do_sync
  kong/clustering/services/sync/rpc.lua
Labels: core/clustering, skip-changelog, size/XS, author/community, cherry-pick kong-ee

#13799 chore(deps): bump lua-resty-events to 0.3.1
  .requirements
  changelog/unreleased/kong/bump-lua-resty-events.yml
Labels: size/XS, author/community, cherry-pick kong-ee

#13807 Refactor/rename delta row
  kong/clustering/services/sync/hooks.lua
  kong/clustering/services/sync/rpc.lua
  kong/clustering/services/sync/strategies/postgres.lua
  kong/db/declarative/export.lua
  kong/db/migrations/core/024_370_to_380.lua
  spec/05-migration/db/migrations/core/024_370_to_380_spec.lua
Labels: core/db/migrations, core/clustering, core/db, skip-changelog, size/M, author/community, cherry-pick kong-ee

#13808 tests(db): Always do schema reset in `get_db_utils`
  spec/02-integration/03-db/08-declarative_spec.lua
  spec/internal/db.lua
Labels: size/XS

#13812 chore(docs): Correct spelling mistake in changelog makefile
  changelog/Makefile
Labels: skip-changelog, size/XS, author/community, cherry-pick kong-ee

#13723 fix(admin): reject AdminAPI call with empty tags
  changelog/unreleased/kong/fix-admin-api-for-empty-tags.yml
  kong/api/endpoints.lua
  kong/api/routes/consumers.lua
  kong/api/routes/upstreams.lua
  spec/02-integration/04-admin_api/03-consumers_routes_spec.lua
  spec/02-integration/04-admin_api/07-upstreams_routes_spec.lua
  spec/02-integration/04-admin_api/14-tags_spec.lua
Labels: core/admin-api, size/M, author/community, cherry-pick kong-ee, backport release/3.8.x

#13668 fix(admin-api): nested parameters can be parsed correctly when using form-urlencoded requests
  changelog/unreleased/kong/fix-parse-nested-parameters.yml
  kong/tools/http.lua
  spec/02-integration/04-admin_api/13-plugin-endpoints_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/admin-api-method/api.lua
Labels: core/admin-api, size/M, author/community, cherry-pick kong-ee

#13815 fix(incremental sync): fix cache_key handling for select_by_cache_key
  kong/db/dao/init.lua
  kong/db/declarative/import.lua
  kong/db/strategies/off/init.lua
Labels: core/db, skip-changelog, size/M, schema-change-noteworthy, author/community, cherry-pick kong-ee
