Repository Kong/kong, pull requests merged in 2024-08, with the labels that each got.

#13432 feat(tools): add a function to parse Nginx size strings
  kong/tools/string.lua
  spec/01-unit/05-utils_spec.lua
Labels: skip-changelog, size/M, cherry-pick kong-ee

#13442 tests(build): add simdjson FFI functions test
  scripts/explain_manifest/suites.py
Labels: size/XS, cherry-pick kong-ee

#13437 tests(core): add test cases for simdjson yielding
  spec/01-unit/31-simdjson/02-yield_spec.lua
Labels: skip-changelog, size/M, cherry-pick kong-ee

#13441 fix(clustering): still encoding with cjson
  kong/clustering/utils.lua
Labels: core/clustering, skip-changelog, size/XS, cherry-pick kong-ee

#13423 chore(build): remove the download link from openssl.org and add a fal…
  build/openresty/openssl/openssl_repositories.bzl
Labels: size/XS, build/bazel, cherry-pick kong-ee

#13431 feat(pdk): add zero value to support unlimited body size
  changelog/unreleased/kong/feat-pdk-unlimited-body-size.yml
  kong/pdk/request.lua
  t/01-pdk/04-request/15-get_raw_body.t
Labels: core/pdk, size/M, cherry-pick kong-ee

#13444 fix(llm): remove duplicate snippet after rebase
  kong/llm/proxy/handler.lua
Labels: skip-changelog, size/S, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13448 chore(deps): bump openssl to 3.2.2
  .requirements
  build/openresty/openssl/openssl_repositories.bzl
  changelog/unreleased/kong/bump_openssl.yml
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/debian-12-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-amd64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
Labels: size/M, build/bazel, cherry-pick kong-ee

#13450 chore(ci): fix the verify manifest error on AWS Linux 2
  scripts/explain_manifest/config.py
  scripts/explain_manifest/suites.py
Labels: chore, size/S, cherry-pick kong-ee

#13184 feat(acl): added a config `always_use_authenticated_groups` to support using authenticated groups even when an authenticated consumer exists.
  changelog/unreleased/kong/acl-always-use-authenticated-groups.yml
  kong/clustering/compat/removed_fields.lua
  kong/plugins/acl/handler.lua
  kong/plugins/acl/schema.lua
  spec/02-integration/03-db/08-declarative_spec.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/03-plugins/18-acl/02-access_spec.lua
Labels: core/clustering, plugins/acl, size/L, schema-change-noteworthy, cherry-pick kong-ee

#13409 fix(core): relocate unix sockets to a subdirectory
  build/dockerfiles/entrypoint.sh
  changelog/unreleased/kong/move-sockets-to-subdir.yml
  kong/clustering/utils.lua
  kong/cmd/start.lua
  kong/cmd/utils/prefix_handler.lua
  kong/conf_loader/init.lua
  kong/constants.lua
  kong/global.lua
  kong/init.lua
  kong/runloop/events.lua
  kong/runloop/handler.lua
  kong/templates/nginx.lua
  kong/templates/nginx_kong.lua
  kong/templates/nginx_kong_stream.lua
  kong/tools/stream_api.lua
  spec/01-unit/01-db/11-declarative_lmdb_spec.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
  spec/02-integration/03-db/14-dao_spec.lua
  spec/02-integration/05-proxy/01-proxy_spec.lua
  spec/02-integration/12-stream_api/01-stream_api_endpoint_spec.lua
  spec/fixtures/template_inject/nginx_kong_test_custom_inject_stream.lua
  spec/helpers.lua
Labels: pr/discussion, core/cli, core/proxy, core/clustering, core/templates, core/configuration, size/L, build/bazel, cherry-pick kong-ee, backport release/3.7.x

#13439 fix(correlation-id): auto-complete config.generator when constructing if it is `null` in database
  changelog/unreleased/kong/fix-correlation-id-config-generator.yml
  kong/plugins/correlation-id/schema.lua
  spec/03-plugins/11-correlation-id/02-schema_spec.lua
Labels: core/db, plugins/correlation-id, size/L, schema-change-noteworthy, cherry-pick kong-ee

#13465 docs(DEVELOPER.md): explain how to get the Rust build system authenticated by GitHub
  DEVELOPER.md
Labels: core/docs, size/S

#13458 refactor(plugin): abstruct proxy cache related function to kong.tools
  kong/plugins/proxy-cache/handler.lua
  kong/tools/http.lua
Labels: plugins/proxy-cache, skip-changelog, size/L, cherry-pick kong-ee

#13451 chore(deps): bump pcre2 to 10.44
  .requirements
  changelog/unreleased/kong/bump-pcre.yml
Labels: size/XS, cherry-pick kong-ee

#13427 feat(dns): support resolver_* directives for new dns client
  changelog/unreleased/kong/refactor_dns_client.yml
  kong.conf.default
  kong/conf_loader/constants.lua
  kong/conf_loader/parse.lua
  kong/dns/client.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
  kong/tools/dns.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/02-integration/02-cmd/11-config_spec.lua
  spec/02-integration/04-admin_api/11-reports_spec.lua
  spec/02-integration/05-proxy/22-reports_spec.lua
  spec/02-integration/10-go_plugins/01-reports_spec.lua
  spec/02-integration/17-admin_gui/03-reports_spec.lua
  spec/02-integration/20-wasm/04-proxy-wasm_spec.lua
  spec/02-integration/20-wasm/07-reports_spec.lua
  spec/02-integration/22-ai_plugins/01-reports_spec.lua
  spec/fixtures/default_status_listen.conf
  spec/kong_tests.conf
Labels: core/templates, core/configuration, size/L, cherry-pick kong-ee

#13469 chore(llm): remove llm model schema auth required
  kong/llm/schemas/init.lua
  spec/03-plugins/38-ai-proxy/00-config_spec.lua
Labels: skip-changelog, size/M, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13466 fix(dns): added /status/dns API to status_listen port
  changelog/unreleased/kong/refactor_dns_client.yml
  kong-3.8.0-0.rockspec
  kong/api/routes/dns.lua
  kong/status/init.lua
  spec/02-integration/08-status_api/05-dns_client_spec.lua
Labels: core/admin-api, skip-changelog, size/L, cherry-pick kong-ee

#13468 chore(changelog): add missing changelogs
  changelog/unreleased/kong/make_rpm_relocatable.yml
  changelog/unreleased/kong/remove_eol_debian_rhel.yml
Labels: size/XS, cherry-pick kong-ee

#13472 feat(ai-proxy): add option to return model name in response header
  changelog/unreleased/kong/ai-proxy-model-header.yml
  kong/clustering/compat/removed_fields.lua
  kong/llm/proxy/handler.lua
  kong/plugins/ai-proxy/schema.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/03-plugins/38-ai-proxy/02-openai_integration_spec.lua
  spec/03-plugins/38-ai-proxy/03-anthropic_integration_spec.lua
  spec/03-plugins/38-ai-proxy/04-cohere_integration_spec.lua
  spec/03-plugins/38-ai-proxy/05-azure_integration_spec.lua
  spec/03-plugins/38-ai-proxy/06-mistral_integration_spec.lua
Labels: core/clustering, size/S, schema-change-noteworthy, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13467 fix(ai-plugins): add missing kong.ctx.shared usage to llm.state
  kong/llm/drivers/bedrock.lua
  kong/llm/drivers/gemini.lua
  kong/llm/drivers/shared.lua
  kong/llm/state.lua
Labels: skip-changelog, size/S, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13481 feat(ai-proxy): allow to use mistral.ai cloud service by omitting
  changelog/unreleased/kong/ai-proxy-mistral-ai.yml
  kong/clustering/compat/checkers.lua
  kong/llm/drivers/anthropic.lua
  kong/llm/drivers/cohere.lua
  kong/llm/drivers/mistral.lua
  kong/llm/drivers/openai.lua
  kong/llm/drivers/shared.lua
  kong/llm/schemas/init.lua
  spec/03-plugins/38-ai-proxy/00-config_spec.lua
Labels: core/clustering, size/M, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13489 docs(DEVELOPER.md): fix the guide of authentication
  DEVELOPER.md
Labels: core/docs, size/S, cherry-pick kong-ee

#13483 chore(ci): add llm schemas to schema-change-noteworthy labeler
  .github/labeler.yml
Labels: chore, size/XS

#13486 fix(schema): deprecated shorthand fields precedence
  changelog/unreleased/fix-deprecate-shorthands-precedence.yml
  kong/api/routes/plugins.lua
  kong/db/dao/plugins.lua
  kong/db/schema/init.lua
  spec/01-unit/01-db/01-schema/01-schema_spec.lua
Labels: core/admin-api, core/db, size/L, schema-change-noteworthy, cherry-pick kong-ee

#13482 tests(tools): add tests against `kong.tools.http.parse_directive_header()`
  spec/01-unit/05-utils_spec.lua
Labels: size/S, cherry-pick kong-ee

#13457 fix(clustering): hybrid mode should accept special characters used in forward proxy password
  changelog/unreleased/kong/fix-clustering-forward-proxy-authentication.yml
  kong.conf.default
  kong/clustering/utils.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/02-integration/09-hybrid_mode/10-forward-proxy_spec.lua
Labels: core/clustering, size/M, cherry-pick kong-ee

#13447 chore(deps): bump openresty to 1.25.3.2
  .requirements
  build/openresty/patches/LuaJIT-2.1-20231117_01_patch_macro_luajit_version.patch
  build/openresty/patches/LuaJIT-2.1-20231117_02_pass_cc_env.patch
  build/openresty/patches/LuaJIT-2.1-20231117_03_Revert_Detect_SSE4.2_support_dynamically.patch
  build/openresty/patches/LuaJIT-2.1-20231117_04_Revert_bugfix_fixed_compatibility_regression_with_Mi.patch
  build/openresty/patches/LuaJIT-2.1-20231117_05_Revert_Adjust_SSE4.1_str_hash_to_replace_hash_sparse.patch
  build/openresty/patches/ngx_lua-0.10.26_04-head-request-smuggling.patch
  changelog/unreleased/kong/bump-openresty.yml
  kong/meta.lua
Labels: size/XXL, build/bazel, cherry-pick kong-ee

#13459 [cherry-pick master] tests(plugins): add old version plugin compatibility test (#9077)
  .github/workflows/build_and_test.yml
  spec/03-plugins/03-http-log/05-old-plugin-compatibility_spec.lua
  spec/helpers.lua
Labels: skip-changelog, chore, size/L, cherry-pick kong-ee

#13492 feat(tools): add readonly `tools.table.EMPTY` for common usage
  kong/clustering/compat/init.lua
  kong/conf_loader/constants.lua
  kong/hooks.lua
  kong/llm/init.lua
  kong/llm/proxy/handler.lua
  kong/plugins/acl/groups.lua
  kong/plugins/acl/handler.lua
  kong/plugins/oauth2/access.lua
  kong/plugins/proxy-cache/cache_key.lua
  kong/plugins/proxy-cache/handler.lua
  kong/plugins/rate-limiting/handler.lua
  kong/plugins/rate-limiting/policies/init.lua
  kong/plugins/request-transformer/access.lua
  kong/plugins/response-ratelimiting/access.lua
  kong/resty/dns/client.lua
  kong/router/traditional.lua
  kong/runloop/balancer/init.lua
  kong/runloop/balancer/least_connections.lua
  kong/runloop/balancer/targets.lua
  kong/tools/http.lua
  kong/tools/table.lua
Labels: core/balancer, plugins/oauth2, plugins/rate-limiting, core/clustering, plugins/request-transformer, core/router, plugins/response-ratelimiting, core/configuration, plugins/proxy-cache, plugins/acl, skip-changelog, size/M, schema-change-noteworthy, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13470 fix(runloop): Fixed an issue where setting `tls_verify` to `false` didn't override the global level config `proxy_ssl_verify`
  changelog/unreleased/kong/fix-service-tls-verify.yml
  kong/db/schema/entities/services.lua
  kong/runloop/upstream_ssl.lua
  spec/02-integration/05-proxy/18-upstream_tls_spec.lua
Labels: core/proxy, core/db, size/L, schema-change-noteworthy, cherry-pick kong-ee

#13454 chore(deps): bump lua-protobuf to 0.5.2
  changelog/unreleased/kong/bump-lua-protobuf.yml
  kong-3.8.0-0.rockspec
Labels: size/XS, cherry-pick kong-ee

#13493 feat(llm): add auth.allow_override option for llm auth functionality
  changelog/unreleased/kong/ai-proxy-add-allow-override-opt.yml
  kong/clustering/compat/removed_fields.lua
  kong/llm/drivers/anthropic.lua
  kong/llm/drivers/azure.lua
  kong/llm/drivers/cohere.lua
  kong/llm/drivers/llama2.lua
  kong/llm/drivers/mistral.lua
  kong/llm/drivers/openai.lua
  kong/llm/drivers/shared.lua
  kong/llm/schemas/init.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/03-plugins/38-ai-proxy/00-config_spec.lua
  spec/03-plugins/38-ai-proxy/02-openai_integration_spec.lua
  spec/03-plugins/38-ai-proxy/03-anthropic_integration_spec.lua
  spec/03-plugins/38-ai-proxy/04-cohere_integration_spec.lua
  spec/03-plugins/38-ai-proxy/05-azure_integration_spec.lua
  spec/03-plugins/38-ai-proxy/06-mistral_integration_spec.lua
  spec/03-plugins/38-ai-proxy/07-llama2_integration_spec.lua
Labels: core/clustering, size/XXL, schema-change-noteworthy, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13499 tests(tools): add parse_directive_header and calculate_resource_ttl function unit test
  spec/01-unit/05-utils_spec.lua
Labels: skip-changelog, size/M, cherry-pick kong-ee

#13358 fix(plugins): Request-Transformer rename behavior
  changelog/unreleased/kong/req-trans-rename.yml
  kong/plugins/request-transformer/access.lua
  spec/03-plugins/36-request-transformer/02-access_spec.lua
Labels: plugins/request-transformer, size/L, cherry-pick kong-ee

#13500 chore(tools): rename ai.proxy auth.allow_auth_override to auth.allow_…
  changelog/unreleased/kong/ai-proxy-add-allow-override-opt.yml
  kong/clustering/compat/removed_fields.lua
  kong/llm/drivers/anthropic.lua
  kong/llm/drivers/azure.lua
  kong/llm/drivers/cohere.lua
  kong/llm/drivers/llama2.lua
  kong/llm/drivers/mistral.lua
  kong/llm/drivers/openai.lua
  kong/llm/drivers/shared.lua
  kong/llm/schemas/init.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/03-plugins/38-ai-proxy/00-config_spec.lua
  spec/03-plugins/38-ai-proxy/02-openai_integration_spec.lua
  spec/03-plugins/38-ai-proxy/03-anthropic_integration_spec.lua
  spec/03-plugins/38-ai-proxy/04-cohere_integration_spec.lua
  spec/03-plugins/38-ai-proxy/05-azure_integration_spec.lua
  spec/03-plugins/38-ai-proxy/06-mistral_integration_spec.lua
  spec/03-plugins/38-ai-proxy/07-llama2_integration_spec.lua
Labels: core/clustering, size/M, schema-change-noteworthy, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13501 fix(dns): change dns client switch to `new_dns_client`
  kong.conf.default
  kong/api/routes/dns.lua
  kong/api/routes/kong.lua
  kong/conf_loader/constants.lua
  kong/resty/dns/client.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
  kong/tools/dns.lua
  spec/01-unit/09-balancer/01-generic_spec.lua
  spec/01-unit/09-balancer/02-least_connections_spec.lua
  spec/01-unit/09-balancer/03-consistent_hashing_spec.lua
  spec/01-unit/09-balancer/04-round_robin_spec.lua
  spec/01-unit/09-balancer/06-latency_spec.lua
  spec/01-unit/21-dns-client/02-client_spec.lua
  spec/01-unit/21-dns-client/03-client_cache_spec.lua
  spec/01-unit/30-new-dns-client/04-client_ipc_spec.lua
  spec/02-integration/08-status_api/05-dns_client_spec.lua
  spec/helpers/dns.lua
Labels: core/templates, core/admin-api, core/configuration, skip-changelog, size/L, cherry-pick kong-ee

#13487 fix(plugins): ai proxy cloud identity transformers
  changelog/unreleased/kong/ai-proxy-cloud-identity-transformer-plugins.yml
  kong/llm/drivers/bedrock.lua
  kong/llm/drivers/gemini.lua
  kong/llm/drivers/shared.lua
  kong/llm/init.lua
  kong/llm/proxy/handler.lua
  kong/plugins/ai-request-transformer/handler.lua
  kong/plugins/ai-response-transformer/handler.lua
Labels: size/L, schema-change-noteworthy, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13445 fix(llm): check multi modal input with provider and fix cost calculation
  changelog/unreleased/kong/fix-multi-modal.yml
  kong/llm/drivers/bedrock.lua
  kong/llm/drivers/shared.lua
  spec/03-plugins/38-ai-proxy/01-unit_spec.lua
  spec/03-plugins/38-ai-proxy/02-openai_integration_spec.lua
  spec/fixtures/ai-proxy/openai/llm-v1-chat/requests/good_multi_modal.json
Labels: skip-changelog, size/L, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13505 chore(llm): change llm.auth.allow_override option default value to false
  kong/llm/schemas/init.lua
  spec/03-plugins/38-ai-proxy/02-openai_integration_spec.lua
  spec/03-plugins/38-ai-proxy/03-anthropic_integration_spec.lua
  spec/03-plugins/38-ai-proxy/04-cohere_integration_spec.lua
  spec/03-plugins/38-ai-proxy/05-azure_integration_spec.lua
  spec/03-plugins/38-ai-proxy/06-mistral_integration_spec.lua
  spec/03-plugins/38-ai-proxy/07-llama2_integration_spec.lua
Labels: skip-changelog, schema-change-noteworthy, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13503 chore(deps): bump lua-resty-simdjson to v1.1.0
  .requirements
Labels: skip-changelog, chore, size/XS

#13332 feat(queue): added a new configuration `concurrency_limit`(integer, default to 1) for Queue to specify the number of delivery timers
  changelog/unreleased/kong/feat-queue-concurrency-limit.yml
  kong/clustering/compat/removed_fields.lua
  kong/tools/queue.lua
  kong/tools/queue_schema.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/02-process_auto_fields_spec.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/03-flatten_spec.lua
  spec/01-unit/27-queue_spec.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/03-plugins/03-http-log/01-log_spec.lua
Labels: core/clustering, plugins/http-log, size/L, schema-change-noteworthy, cherry-pick kong-ee

#13455 chore(deps): bump lua-resty-openssl to 1.5.1
  changelog/unreleased/kong/bump-lua-resty-openssl.yml
  kong-3.8.0-0.rockspec
Labels: size/XS, cherry-pick kong-ee

#13479 refactor(dns): remove unnecessary DNS client initialization
  changelog/unreleased/kong/fix-dns-initialization.yml
  kong/globalpatches.lua
  kong/init.lua
  kong/runloop/balancer/targets.lua
  kong/timing/hooks/dns.lua
Labels: core/balancer, core/clustering, core/admin-api, core/db, core/docs, chore, size/S, schema-change-noteworthy, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13517 chore(deps): bump lua-resty-acme to 0.15.0
  changelog/unreleased/kong/bump-lua-resty-acme.yml
  kong-3.8.0-0.rockspec
Labels: size/XS, cherry-pick kong-ee

#13509 Revert "chore(deps): bump openssl to 3.2.2 (#13448)"
  .requirements
  build/openresty/openssl/openssl_repositories.bzl
  changelog/unreleased/kong/bump_openssl.yml
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/debian-12-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-amd64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
Labels: skip-changelog, size/M, build/bazel, cherry-pick kong-ee

#13518 fix(checkers): remove log warning of acme redis password
  kong/clustering/compat/checkers.lua
Labels: core/clustering, skip-changelog, size/XS, cherry-pick kong-ee

#13507 chore(ci): graceful scan-images job execution during grype cdn failures
  .github/workflows/release.yml
Labels: chore, size/XS

#13520 chore(deps): bump lua-resty-lmdb to 1.4.3 (lmdb 0.9.33)
  .requirements
  changelog/unreleased/kong/bump-lua-resty-lmdb.yml
Labels: size/XS, cherry-pick kong-ee

#13514 fix(dns): disable new dns client by default
  changelog/unreleased/kong/refactor_dns_client.yml
  kong.conf.default
  kong/templates/kong_defaults.lua
Labels: pr/ready (but hold merge), core/templates, size/XS, cherry-pick kong-ee, backport release/3.8.x

#13522 feat(admin-gui): bump kong-manager to v3.8.0
  .requirements
  changelog/unreleased/kong-manager/a11y-improvements.yml
  changelog/unreleased/kong-manager/resizable-entity-lists.yml
  changelog/unreleased/kong-manager/sni-field-in-certificate-form.yml
  changelog/unreleased/kong-manager/ui-improvements.yml
Labels: size/S, cherry-pick kong-ee

#13506 fix(ai-proxy): disable gzip for SSE streams
  kong/llm/proxy/handler.lua
Labels: skip-changelog, size/S, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer, backport release/3.8.x

#13519 fix(db): pass "read" on read-only database operations
  changelog/unreleased/kong/fix-db-read-only.yml
  kong/db/strategies/postgres/plugins.lua
  kong/db/strategies/postgres/services.lua
  kong/db/strategies/postgres/tags.lua
  kong/plugins/response-ratelimiting/policies/cluster.lua
Labels: core/db, plugins/response-ratelimiting, size/S, cherry-pick kong-ee, backport release/3.8.x

#13526 tests(helper): reduce the count of local variables in top level
  spec/helpers.lua
Labels: skip-changelog, size/L, cherry-pick kong-ee

#13534 docs(changelog): move changelog files into the correct location
  changelog/unreleased/kong/fix-deprecate-shorthands-precedence.yml
  changelog/unreleased/kong/fix_hash.yml
Labels: size/XS, cherry-pick kong-ee, backport release/3.8.x

#13537 fix(*): lower the secret rotation error log level
  changelog/unreleased/kong/fix-vault-secret-rotation-log-level.yml
  kong/pdk/vault.lua
Labels: core/pdk, size/XS, cherry-pick kong-ee, backport release/3.8.x

#13539 tests(helpers): split constants into a standalone file
  spec/details/constants.lua
  spec/helpers.lua
Labels: skip-changelog, size/M, cherry-pick kong-ee

#13544 fix empty cve results due to grype db cache staleness
  .github/workflows/release.yml
Labels: skip-changelog, chore, size/XS

#13536 chore(ci): fallback to use the starting point of the previous branch for old plugin compatibility test if the first release tag doesn't exist yet
  .github/workflows/build_and_test.yml
Labels: skip-changelog, chore, size/S, backport release/3.8.x

#13558 tests(ai-plugins): fix flaky latency assertion
  spec/03-plugins/40-ai-response-transformer/02-integration_spec.lua
Labels: skip-changelog, cherry-pick kong-ee, backport release/3.8.x

#13471 fix(vault): let shdict secret vault cache presist enough time during resurrect_ttl
  changelog/unreleased/kong/fix-vault-resurrect-ttl-multi-worker.yml
  kong/pdk/vault.lua
  spec/02-integration/13-vaults/07-resurrect_spec.lua
  spec/fixtures/custom_vaults/kong/vaults/test/init.lua
Labels: core/pdk, size/L, cherry-pick kong-ee, backport release/3.8.x

#13523 chore(release): bump version to 3.9 as part of the feature freeze
  kong-3.9.0-0.rockspec
  kong/meta.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee

#13554 tests(db): add shorthands precedence test when using complex records
  spec/01-unit/01-db/01-schema/01-schema_spec.lua
Labels: skip-changelog, size/M, backport release/3.8.x

#13556 fix(ai-transformers): fix compat with LT 3.8.0
  kong/clustering/compat/removed_fields.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
Labels: core/clustering, skip-changelog, size/S, cherry-pick kong-ee, backport release/3.8.x

#13560 tests(ai-plugins): fix flaky latency assertion (part 2)
  spec/03-plugins/38-ai-proxy/02-openai_integration_spec.lua
  spec/03-plugins/39-ai-request-transformer/02-integration_spec.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee, backport release/3.8.x

#13570 chore(ci): fix build_and_test metadata
  .github/workflows/build_and_test.yml
Labels: skip-changelog, chore, size/XS

#13562 chore(admin-gui): bump kong-manager to v3.8.0.0-1
  .requirements
Labels: skip-changelog, size/XS

#13557 fix(core): rename unix sockets to shorter names to avoid exceeding socket name limit
  changelog/unreleased/kong/shorten-socket-names.yml
  kong/clustering/utils.lua
  kong/conf_loader/constants.lua
  kong/conf_loader/init.lua
  kong/constants.lua
  kong/global.lua
  kong/runloop/events.lua
  kong/runloop/handler.lua
  kong/templates/nginx.lua
  kong/templates/nginx_kong.lua
  kong/templates/nginx_kong_stream.lua
  kong/tools/stream_api.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/02-integration/02-cmd/02-start_stop_spec.lua
  spec/02-integration/05-proxy/01-proxy_spec.lua
  spec/02-integration/12-stream_api/01-stream_api_endpoint_spec.lua
  spec/fixtures/template_inject/nginx_kong_test_custom_inject_stream.lua
  spec/helpers.lua
Labels: core/proxy, core/clustering, core/templates, core/configuration, size/M, cherry-pick kong-ee, backport release/3.8.x

#13568 [backport -> release/3.8.x] chore(deps): bump ngx_wasm_module to 96b4e27e10c63b07ed40ea88a91c22f23981db35
  .requirements
  build/openresty/wasmx/wasmx_repositories.bzl
  changelog/unreleased/kong/bump-ngx-wasm-module.yml
  changelog/unreleased/kong/bump-wasmtime.yml
Labels: size/S, build/bazel, cherry-pick kong-ee

#13477 chore(cd): update rpm prefix and add resty symlink
  build/package/nfpm.yaml
Labels: chore, size/XS, build/bazel, cherry-pick kong-ee

#13578 chore(changelog): update the changelog regarding the RPM prefix
  changelog/unreleased/kong/make_rpm_relocatable.yml
Labels: size/XS

#13582 fix(ai): caching use deep copy for request table
  changelog/unreleased/kong/ai-proxy-add-deep-copy-lib.yml
  kong/llm/proxy/handler.lua
Labels: size/XS, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13589 fix(core): make deprecated shorthand fields take precedence when new value is null
  changelog/unreleased/kong/fix-for-null-aware-shorthand.yml
  kong/db/schema/init.lua
  kong/tools/table.lua
  spec/01-unit/01-db/01-schema/01-schema_spec.lua
Labels: core/db, size/M, schema-change-noteworthy, cherry-pick kong-ee, backport release/3.8.x

#13565 fix(*): reject config if both deprecated and new field defined and their values mismatch
  changelog/unreleased/kong/reject-config-on-deprecated-fields-mismatch.yml
  kong/db/schema/init.lua
  kong/db/schema/metaschema.lua
  kong/plugins/acme/schema.lua
  kong/plugins/rate-limiting/schema.lua
  kong/plugins/response-ratelimiting/schema.lua
  spec/01-unit/01-db/01-schema/01-schema_spec.lua
Labels: plugins/rate-limiting, plugins/acme, core/db, plugins/response-ratelimiting, size/L, schema-change-noteworthy, cherry-pick kong-ee, backport release/3.8.x
