Repository Kong/kong, pull requests merged in 2024-12, with the labels that each got.

#13950 Revert "chore(deps): bump atc-router from v1.6.2 to v1.7.0 (#13903)"
  .requirements
  changelog/unreleased/kong/bump-atc-router.yml
  crate_locks/atc_router.Cargo.lock
  crate_locks/atc_router.lock
Labels: skip-changelog, size/XXL, cherry-pick kong-ee, backport release/3.9.x

#13893 feat(clustering): full sync threshold should be configureable
  kong/clustering/services/sync/rpc.lua
  kong/conf_loader/constants.lua
  kong/templates/kong_defaults.lua
Labels: core/clustering, core/templates, core/configuration, skip-changelog, size/XS, cherry-pick kong-ee

#13959 tests(clustering/rpc): enable 09-hybrid_mode/01-sync_spec.lua for incremental sync
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
Labels: skip-changelog, size/M, cherry-pick kong-ee

#13951 [backport -> release/3.9.x] Revert "chore(deps): bump atc-router from v1.6.2 to v1.7.0 (#13903)"
  .requirements
  changelog/unreleased/kong/bump-atc-router.yml
  crate_locks/atc_router.Cargo.lock
  crate_locks/atc_router.lock
Labels: skip-changelog, size/XXL, cherry-pick kong-ee

#13963 feat(gui): bump kong-manager to v3.9.0.0-rc.3
  .requirements
Labels: skip-changelog, size/XS

#13946 fix(wasm): execute filter plugins in a consistent order
  kong/runloop/wasm.lua
  spec/02-integration/20-wasm/12-filters-as-plugins_spec.lua
  spec/fixtures/proxy_wasm_filters/tests/src/test_http.rs
  spec/fixtures/proxy_wasm_filters/tests/src/types.rs
Labels: core/proxy, skip-changelog, size/L, cherry-pick kong-ee, core/wasm, backport release/3.9.x

#13956 refactor(clustering/sync): clean the logic of sync_once
  kong/clustering/services/sync/rpc.lua
Labels: core/clustering, skip-changelog, size/M, cherry-pick kong-ee

#13957 tests(clustering/sync): test with multiple dp nodes
  spec/02-integration/19-incrmental_sync/01-sync_spec.lua
  spec/02-integration/19-incrmental_sync/02-multiple_dp_nodes_spec.lua
Labels: skip-changelog, size/L, cherry-pick kong-ee

#13969 feat(gui): bump kong-manager to v3.9.0.0-rc.4
  .requirements
Labels: skip-changelog, size/XS

#13972 Revert "refactor(clustering/sync): clean the logic of sync_once"
  kong/clustering/services/sync/rpc.lua
Labels: core/clustering, skip-changelog, size/M, cherry-pick kong-ee

#13978 chore(gui): bump kong-manager to v3.9.0.0
  .requirements
Labels: skip-changelog, size/XS

#13974 chore(tools): show PR title in the changelog/verify-prs report
  changelog/verify-prs
Labels: skip-changelog, size/S, cherry-pick kong-ee

#13980 tests(*): remove useless strategy arg from reload_kong helper function
  spec/02-integration/02-cmd/02-start_stop_spec.lua
  spec/02-integration/02-cmd/03-reload_spec.lua
  spec/02-integration/04-admin_api/22-debug_spec.lua
  spec/02-integration/11-dbless/03-config_persistence_spec.lua
  spec/internal/wait.lua
Labels: skip-changelog, size/M, cherry-pick kong-ee

#13982 docs(COPYRIGHT): update copyright for 3.9.0
  COPYRIGHT
Labels: size/XL

#13958 tests(clustering/rpc): add rpc service in custom plugin for testing
  spec/02-integration/18-hybrid_rpc/01-rpc_spec.lua
  spec/02-integration/18-hybrid_rpc/04-concentrator_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/rpc-hello-test/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/rpc-hello-test/schema.lua
Labels: skip-changelog, size/M, cherry-pick kong-ee

#13984 tests(busted): make all setup() and teardown() calls lazy
  .busted
Labels: skip-changelog, size/XS, cherry-pick kong-ee

#13995 tests(wasm): add missing filter tags
  spec/02-integration/20-wasm/06-clustering_spec.lua
  spec/02-integration/20-wasm/08-declarative_spec.lua
  spec/02-integration/20-wasm/10-wasmtime_spec.lua
Labels: skip-changelog, size/S, cherry-pick kong-ee, backport release/3.9.x

#13997 Revert "chore(cd): remove ubuntu-20.04"
  .github/matrix-full.yml
  scripts/explain_manifest/config.py
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
Labels: chore, size/L, cherry-pick kong-ee

#13885 style(clustering): log pings only when the hash changes
  kong/clustering/data_plane.lua
Labels: core/clustering, skip-changelog, size/XS, cherry-pick kong-ee

#14001 fix(sync): do not introduce router rebuild timer for full sync
  kong/runloop/handler.lua
Labels: core/proxy, skip-changelog, size/S, cherry-pick kong-ee

#13983 fix(prometheus): use configure() handler to toggle upstream_health_metrics
  changelog/unreleased/kong/prometheus-upstream-metrics-toggle.yml
  kong/plugins/prometheus/exporter.lua
  kong/plugins/prometheus/handler.lua
Labels: plugins/prometheus, size/M, cherry-pick kong-ee

#14005 tests(*): shutdown timerng instance after test completion
  .busted
  kong-3.10.0-0.rockspec
  kong/cmd/init.lua
  kong/cmd/utils/timer.lua
  spec/busted-ci-helper.lua
Labels: core/cli, skip-changelog, size/M, cherry-pick kong-ee

#14012 chore(wasm): remove bundled datakit filter
  build/openresty/wasmx/filters/variables.bzl
  changelog/3.9.0/kong/bump-datakit.yml
  changelog/3.9.0/kong/remove-datakit.yml
  kong/conf_loader/init.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/02-integration/20-wasm/07-reports_spec.lua
Labels: core/configuration, skip-changelog, size/M, build/bazel

#14014 docs(changelog): add 3.9.0 changelog entries
  CHANGELOG.md
Labels: skip-changelog, size/L, changelog

#14016 docs(changelog): update 3.9.0 changelog
  CHANGELOG.md
  changelog/3.9.0/3.9.0.md
Labels: core/docs, skip-changelog, size/M, changelog, cherry-pick kong-ee

#14018 docs(changelog): update 3.9.0 changelog (#14016)
  CHANGELOG.md
  changelog/3.9.0/3.9.0.md
Labels: core/docs, skip-changelog, size/M, changelog, cherry-pick kong-ee

#14022 refactor(sandbox): improve sandbox (#10900)
  .luacheckrc
  kong-3.10.0-0.rockspec
  kong.conf.default
  kong/db/init.lua
  kong/db/migrations/state.lua
  kong/db/strategies/postgres/connector.lua
  kong/plugins/file-log/handler.lua
  kong/plugins/http-log/handler.lua
  kong/plugins/loggly/handler.lua
  kong/plugins/pre-function/_handler.lua
  kong/plugins/syslog/handler.lua
  kong/plugins/tcp-log/handler.lua
  kong/plugins/udp-log/handler.lua
  kong/tools/kong-lua-sandbox.lua
  kong/tools/sandbox.lua
  kong/tools/sandbox/environment/handler.lua
  kong/tools/sandbox/environment/init.lua
  kong/tools/sandbox/environment/lua.lua
  kong/tools/sandbox/environment/schema.lua
  kong/tools/sandbox/init.lua
  kong/tools/sandbox/kong.lua
  kong/tools/sandbox/require/handler.lua
  kong/tools/sandbox/require/init.lua
  kong/tools/sandbox/require/lua.lua
  kong/tools/sandbox/require/schema.lua
  spec/01-unit/20-sandbox_spec.lua
  spec/03-plugins/18-acl/02-access_spec.lua
  spec/03-plugins/36-request-transformer/02-access_spec.lua
Labels: plugins/udp-log, core/db/migrations, plugins/loggly, plugins/tcp-log, plugins/syslog, plugins/file-log, plugins/http-log, core/db, plugins/serverless-functions, skip-changelog, size/XXL, schema-change-noteworthy

#14017 fix(dbless): nest unique field errors for child entities
  changelog/unreleased/kong/fix-dbless-consumer-credential-error.yml
  kong/db/schema/others/declarative_config.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
Labels: core/db, size/L, schema-change-noteworthy, cherry-pick kong-ee

#14013 chore(wasm): remove bundled datakit filter
  build/openresty/wasmx/filters/variables.bzl
  changelog/unreleased/kong/bump-datakit.yml
  changelog/unreleased/kong/remove-datakit.yml
  kong/conf_loader/init.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/02-integration/20-wasm/07-reports_spec.lua
Labels: core/configuration, size/M, build/bazel

#14024 refactor(clustering/sync): clean the logic of sync_once_impl()
  kong/clustering/services/sync/rpc.lua
Labels: core/clustering, skip-changelog, size/S, cherry-pick kong-ee

#13971 fix(clustering/rpc): support `cluster_use_proxy` option for clustering rpc protocol
  kong/clustering/rpc/manager.lua
  kong/clustering/utils.lua
  spec/02-integration/09-hybrid_mode/10-forward-proxy_spec.lua
  spec/02-integration/09-hybrid_mode/14-dp_privileged_agent_spec.lua
Labels: core/clustering, skip-changelog, size/M, cherry-pick kong-ee

#14027 feat(build): allow github_release to download without extract
  build/build_system.bzl
Labels: size/M, build/bazel, cherry-pick kong-ee

#14025 refactor(clustering/rpc): rename to cluster_rpc_sync
  kong/conf_loader/constants.lua
  kong/conf_loader/init.lua
  kong/global.lua
  kong/init.lua
  kong/pdk/vault.lua
  kong/runloop/handler.lua
  kong/templates/kong_defaults.lua
  spec/01-unit/01-db/10-declarative_spec.lua
  spec/01-unit/01-db/11-declarative_lmdb_spec.lua
  spec/02-integration/07-sdk/03-cluster_spec.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/02-integration/09-hybrid_mode/02-start_stop_spec.lua
  spec/02-integration/09-hybrid_mode/03-pki_spec.lua
  spec/02-integration/09-hybrid_mode/04-cp_cluster_sync_spec.lua
  spec/02-integration/09-hybrid_mode/05-ocsp_spec.lua
  spec/02-integration/09-hybrid_mode/08-lazy_export_spec.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/02-integration/09-hybrid_mode/09-node-id-persistence_spec.lua
  spec/02-integration/09-hybrid_mode/10-forward-proxy_spec.lua
  spec/02-integration/09-hybrid_mode/11-status_spec.lua
  spec/02-integration/09-hybrid_mode/12-errors_spec.lua
  spec/02-integration/09-hybrid_mode/13-deprecations_spec.lua
  spec/02-integration/09-hybrid_mode/14-dp_privileged_agent_spec.lua
  spec/02-integration/18-hybrid_rpc/01-rpc_spec.lua
  spec/02-integration/18-hybrid_rpc/04-concentrator_spec.lua
  spec/02-integration/19-incrmental_sync/01-sync_spec.lua
  spec/02-integration/19-incrmental_sync/02-multiple_dp_nodes_spec.lua
  spec/02-integration/20-wasm/06-clustering_spec.lua
  spec/02-integration/20-wasm/10-wasmtime_spec.lua
  spec/03-plugins/09-key-auth/04-hybrid_mode_spec.lua
  spec/03-plugins/11-correlation-id/02-schema_spec.lua
Labels: core/proxy, core/pdk, core/templates, core/configuration, skip-changelog, size/L

#13948 feat(clustering/rpc): support jsonrpc notification
  kong/clustering/rpc/concentrator.lua
  kong/clustering/rpc/future.lua
  kong/clustering/rpc/manager.lua
  kong/clustering/rpc/socket.lua
Labels: core/clustering, skip-changelog, size/L, cherry-pick kong-ee

#14023 release: 3.9.1
  kong-3.9.1-0.rockspec
  kong/meta.lua
Labels: skip-changelog, size/XS

#14019 fix(db): ensure that flattened_errors is encoded as a JSON array
  changelog/unreleased/kong/fix-error-flattening-json.yml
  kong/db/errors.lua
  kong/tools/cjson.lua
  spec/01-unit/01-db/01-schema/11-declarative_config/05-error-flattening_spec.lua
Labels: core/db, size/XXL, cherry-pick kong-ee

#14036 Add useful references to Konnect during getting started
  README.md
Labels: core/docs, skip-changelog, size/XS

#14037 chore(deps): bump lua-kong-nginx-module to 0.14.0
  .requirements
  changelog/unreleased/kong/bump-lua-kong-nginx-module-0140.yml
Labels: size/XS, cherry-pick kong-ee

#14034 refactor(clustering/rpc): post event when rpc is ready
  kong/clustering/data_plane.lua
  kong/clustering/rpc/manager.lua
  kong/clustering/services/sync/init.lua
  kong/clustering/utils.lua
  kong/init.lua
  spec/02-integration/09-hybrid_mode/15-cp_inert_rpc_sync_spec.lua
Labels: core/clustering, skip-changelog, size/L, cherry-pick kong-ee

#14026 refactor(clustering/rpc): simplify the implementation
  kong-3.10.0-0.rockspec
  kong/clustering/services/sync/hooks.lua
  kong/clustering/services/sync/rpc.lua
  kong/clustering/services/sync/strategies/postgres.lua
  kong/conf_loader/constants.lua
  kong/db/migrations/core/024_380_to_390.lua
  kong/db/migrations/core/025_390_to_3100.lua
  kong/templates/kong_defaults.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/02-integration/09-hybrid_mode/08-lazy_export_spec.lua
  spec/02-integration/19-incrmental_sync/01-sync_spec.lua
  spec/02-integration/19-incrmental_sync/02-multiple_dp_nodes_spec.lua
  spec/05-migration/db/migrations/core/024_380_to_390_spec.lua
  spec/05-migration/db/migrations/core/025_390_to_3100_spec.lua
Labels: core/db/migrations, core/clustering, core/templates, core/configuration, skip-changelog, size/XL

#14028 perf(lmdb): remove the key with global workspace id *
  changelog/unreleased/kong/perf-lmdb-remove-global-query-key.yml
  kong/db/declarative/import.lua
  kong/db/declarative/init.lua
  kong/db/strategies/off/init.lua
  spec/01-unit/01-db/10-declarative_spec.lua
  spec/01-unit/01-db/11-declarative_lmdb_spec.lua
Labels: core/db, skip-changelog, size/L, cherry-pick kong-ee

#14035 tests(clustering): dp status ready when use RPC Sync
  spec/02-integration/09-hybrid_mode/11-status_spec.lua
Labels: size/M, cherry-pick kong-ee

#14038 close socket connection when websocket connect failed to avoid potential leak
  changelog/unreleased/kong/fix-potential-socket-connection-leak.yml
  kong/clustering/rpc/manager.lua
  kong/clustering/utils.lua
Labels: core/clustering, size/XS, cherry-pick kong-ee

#14029 feat(patch): control the proxy_upstream in lua side
  .requirements
  build/openresty/patches/nginx-1.25.3_10-proxy-upstream-next.patch
  changelog/unreleased/kong/feat-patch-supprt-set_next_upstream.yml
Labels: size/M, build/bazel, cherry-pick kong-ee

#14046 feat(clustering/rpc): add dp labels support
  kong/clustering/rpc/manager.lua
  kong/clustering/services/sync/rpc.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
Labels: core/clustering, skip-changelog, size/S, cherry-pick kong-ee

#14053 chore(tests): assertions in test should use assert.is_true
  spec/01-unit/09-balancer/03-consistent_hashing_spec.lua
Labels: skip-changelog, size/S, cherry-pick kong-ee

#14058 docs(changelog): fix the broken 3.9.0 link in CHANGELOG.md
  CHANGELOG.md
Labels: size/XS, changelog

#14030 tests(clustering/rpc): rpc mock/hook
  bin/busted
  spec/02-integration/01-helpers/05-rpc-mock_spec.lua
  spec/02-integration/18-hybrid_rpc/05-sync-rpc_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/rpc-debug/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/rpc-debug/schema.lua
  spec/fixtures/custom_plugins/kong/plugins/rpc-hello-test/api.lua
  spec/fixtures/custom_plugins/kong/plugins/rpc-hello-test/handler.lua
  spec/helpers/rpc_mock/cp.lua
  spec/helpers/rpc_mock/default.lua
  spec/helpers/rpc_mock/dp.lua
  spec/helpers/rpc_mock/readme.md
  spec/helpers/rpc_mock/setup.lua
  spec/internal/misc.lua
Labels: core/clustering, core/docs, skip-changelog, size/XXL, cherry-pick kong-ee

#14050 feat(clustering/rpc): add support for cert details
  kong/clustering/rpc/manager.lua
  kong/clustering/services/sync/rpc.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
Labels: core/clustering, skip-changelog, size/S, cherry-pick kong-ee

#14063 style(pdk): rename some variables
  kong/pdk/vault.lua
Labels: core/pdk, skip-changelog, size/XS, cherry-pick kong-ee

#14057 perf(router): load service with route.ws_id while building routers
  kong/runloop/handler.lua
Labels: core/proxy, skip-changelog, size/S, cherry-pick kong-ee

#13990 feat(sessions): store session's meatadata
  changelog/unreleased/kong/session_store_metadata.yml
  kong-3.10.0-0.rockspec
  kong/plugins/session/daos.lua
  kong/plugins/session/daos/session_metadatas.lua
  kong/plugins/session/migrations/003_330_to_3100.lua
  kong/plugins/session/migrations/init.lua
  kong/plugins/session/schema.lua
  kong/plugins/session/session.lua
  kong/plugins/session/storage/kong.lua
  kong/plugins/session/strategies/postgres/session_metadatas.lua
  spec/03-plugins/30-session/02-kong_storage_adapter_spec.lua
  spec/05-migration/plugins/session/migrations/003_330_to_3100_spec.lua
Labels: plugins/session, size/L, schema-change-noteworthy, cherry-pick kong-ee

#14060 docs(changelog): remove the incorrect merge conflict line
  CHANGELOG.md
Labels: size/XS, changelog

#14066 docs(changelog): clarify the changelog entry of #14038
  changelog/unreleased/kong/fix-potential-socket-connection-leak.yml
Labels: size/XS
