Repository Kong/kong, pull requests merged in 2024-06, with the labels that each got.

#13104 refactor(tools/string): updating references of `tools.string`
  kong.conf.default
  kong/api/routes/health.lua
  kong/clustering/compat/version.lua
  kong/db/schema/entities/targets.lua
  kong/db/schema/entities/upstreams.lua
  kong/db/schema/typedefs.lua
  kong/plugins/ai-proxy/handler.lua
  kong/plugins/bot-detection/handler.lua
  kong/plugins/oauth2/secret.lua
  kong/plugins/proxy-cache/handler.lua
  kong/plugins/response-ratelimiting/header_filter.lua
  kong/plugins/zipkin/request_tags.lua
  kong/runloop/events.lua
  kong/tools/emmy_debugger.lua
  kong/tools/utils.lua
  kong/tracing/propagation/extractors/aws.lua
  spec/01-unit/05-utils_spec.lua
  spec/02-integration/02-cmd/10-migrations_spec.lua
  spec/03-plugins/30-session/01-access_spec.lua
  spec/fixtures/forward-proxy-server.lua
  spec/fixtures/mock_upstream.lua
Labels: core/proxy, plugins/oauth2, core/clustering, plugins/bot-detection, core/admin-api, core/db, plugins/response-ratelimiting, plugins/proxy-cache, skip-changelog, plugins/zipkin, size/L, core/tracing, schema-change-noteworthy, cherry-pick kong-ee, plugins/ai-proxy

#13032 docs(pdk): fix a typo in kong.client.tls comment
  kong/pdk/client/tls.lua
Labels: core/pdk, skip-changelog, size/XS, cherry-pick kong-ee

#13142 docs(changelog): fix change log entry of #13021
  changelog/unreleased/kong/feat-dont-allow-priority-with-others.yml
  changelog/unreleased/kong/fix-route-set-priority-with-others.yml
Labels: size/S, cherry-pick kong-ee

#13123 chore(deps): bump resty.acme from 0.13.0 to 0.14.0
  changelog/unreleased/kong/bump-lua-resty-acme.yml
  kong-3.8.0-0.rockspec
Labels: size/XS, cherry-pick kong-ee

#13124 chore(deps): bump resty.openssl from 1.3.1 to 1.4.0
  changelog/unreleased/kong/bump-lua-resty-openssl.yml
  kong-3.8.0-0.rockspec
Labels: size/XS, cherry-pick kong-ee

#13135 fix(core/balancer): fix a bug that the `host_header` not set correctly
  changelog/unreleased/host_header.yml
  kong/runloop/balancer/init.lua
  spec/02-integration/05-proxy/03-upstream_headers_spec.lua
Labels: core/balancer, size/M, cherry-pick kong-ee

#13131 feat(plugin/response-transformer): added support for json_body rename
  changelog/unreleased/kong/feat-response-transformer-json-rename.yml
  kong/clustering/compat/removed_fields.lua
  kong/plugins/response-transformer/body_transformer.lua
  kong/plugins/response-transformer/header_transformer.lua
  kong/plugins/response-transformer/schema.lua
  spec/01-unit/01-db/01-schema/07-plugins_spec.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/03-plugins/15-response-transformer/01-header_transformer_spec.lua
  spec/03-plugins/15-response-transformer/02-body_transformer_spec.lua
  spec/03-plugins/15-response-transformer/03-api_spec.lua
Labels: core/clustering, plugins/response-transformer, size/L, schema-change-noteworthy, cherry-pick kong-ee

#13133 ci: label `schema-change-noteworthy` for AI plugin PR
  .github/labeler.yml
Labels: chore, size/XS, cherry-pick kong-ee

#12849 chore(docs): add undocumented setting
  DEVELOPER.md
Labels: core/docs, skip-changelog, size/XS

#13116 fix(http-log): add port information to the host header
  changelog/unreleased/kong/fix-http-log-host-header.yml
  kong/plugins/http-log/handler.lua
  spec/03-plugins/03-http-log/01-log_spec.lua
Labels: plugins/http-log, size/M, author/community, cherry-pick kong-ee

#13020 fix(prometheus): improve logging when having the inconsistent labels count
  changelog/unreleased/kong/improve-prometheus-error-logging.yml
  kong/plugins/prometheus/prometheus.lua
Labels: plugins/prometheus, size/XS, author/community, cherry-pick kong-ee

#13152 chore(changelog): move changelog files to correct location
  changelog/unreleased/kong/host_header.yml
  changelog/unreleased/kong/migration_of_ai_proxy_plugin.yml
Labels: skip-changelog, chore, size/XS, cherry-pick kong-ee

#13154 style(templates): fix comment typo
  kong/templates/nginx_kong.lua
Labels: core/templates, skip-changelog, size/XS, author/community, cherry-pick kong-ee

#12878 refactor(router/atc): unify expression validation function in schema
  kong/db/schema/entities/routes.lua
  kong/router/compat.lua
  kong/router/expressions.lua
  kong/router/transform.lua
Labels: core/router, core/db, skip-changelog, size/L, schema-change-noteworthy, cherry-pick kong-ee

#13129 chore(deps): bump bazelisk from 1.19.0 to 1.20.0
  Makefile
Labels: size/XS, cherry-pick kong-ee

#13132 chore(deps): bump luarocks from 3.11.0 to 3.11.1
  .requirements
  changelog/unreleased/kong/bump-luarocks.yml
Labels: size/XS, cherry-pick kong-ee

#13125 chore(deps): bump luacheck from 1.1.2 to 1.2.0
  Makefile
Labels: skip-changelog, size/XS, cherry-pick kong-ee

#13084 feat(aws-lambda): add new configuration field `empty_arrays_mode` to control empty array decoding behavior
  changelog/unreleased/kong/feat-aws-lambda-decode-empty-array.yml
  kong-3.8.0-0.rockspec
  kong/clustering/compat/removed_fields.lua
  kong/plugins/aws-lambda/handler.lua
  kong/plugins/aws-lambda/request-util.lua
  kong/plugins/aws-lambda/schema.lua
  spec/03-plugins/27-aws-lambda/99-access_spec.lua
  spec/fixtures/aws-lambda.lua
Labels: core/clustering, plugins/aws-lambda, size/L, schema-change-noteworthy, cherry-pick kong-ee

#13119 chore(deps): bump github-cli from 2.30.0 to 2.50.0
  build/repositories.bzl
Labels: size/S, build/bazel, cherry-pick kong-ee

#13096 chore(ci): generate the Docker tag latest-ubuntu only for the latest commit on the default branch
  .github/workflows/release.yml
Labels: chore, size/XS, cherry-pick kong-ee

#13156 refactor(tools/http): update references from `kong.tools.utils` to `kong.tools.http`
  kong/api/api_helpers.lua
  kong/db/schema/typedefs.lua
  kong/error_handlers.lua
  kong/pdk/response.lua
  kong/plugins/response-transformer/schema.lua
  kong/tracing/propagation/schema.lua
  spec/01-unit/05-utils_spec.lua
Labels: core/pdk, plugins/response-transformer, core/admin-api, core/db, skip-changelog, size/L, core/tracing, schema-change-noteworthy, cherry-pick kong-ee

#13162 refactor(tools): update references of `tools.utils` to correct module
  kong/plugins/file-log/handler.lua
  kong/tools/utils.lua
  spec/helpers.lua
  spec/helpers/http_mock/nginx_instance.lua
Labels: plugins/file-log, skip-changelog, size/S, cherry-pick kong-ee

#12930 feat(wasm): add support for wasmtime cache
  changelog/unreleased/kong/wasm-module-cache.yml
  kong-3.8.0-0.rockspec
  kong/cmd/utils/prefix_handler.lua
  kong/conf_loader/init.lua
  kong/templates/nginx.lua
  kong/templates/wasmtime_cache_config.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/02-integration/20-wasm/10-wasmtime_spec.lua
  spec/fixtures/custom_nginx.template
Labels: core/cli, core/templates, core/configuration, size/L, cherry-pick kong-ee

#13169 style(conf_loader): add "jo" option for ngx.re.sub
  kong/conf_loader/init.lua
Labels: core/configuration, skip-changelog, size/XS, cherry-pick kong-ee

#13174 tests(cmd): match kong version in cmd verbose test should use plain match
  spec/02-integration/02-cmd/16-verbose_spec.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee

#13173 PDK: Cumulative changes
  kong/pdk/log.lua
Labels: core/logs, skip-changelog, size/M, cherry-pick kong-ee

#13118 chore(deps): bump nfpm from 2.31.0 to 2.37.1
  build/nfpm/repositories.bzl
Labels: size/S, build/bazel, cherry-pick kong-ee

#13028 fix(ai-proxy): prevent shared state
  changelog/unreleased/kong/fix-ai-proxy-shared-state.yml
  kong-3.8.0-0.rockspec
  kong/llm/init.lua
  kong/llm/schemas/init.lua
  kong/plugins/ai-proxy/handler.lua
  kong/plugins/ai-request-transformer/handler.lua
  kong/plugins/ai-response-transformer/handler.lua
  spec/03-plugins/39-ai-request-transformer/01-transformer_spec.lua
  spec/03-plugins/40-ai-response-transformer/01-transformer_spec.lua
  spec/03-plugins/40-ai-response-transformer/02-integration_spec.lua
Labels: size/XL, schema-change-noteworthy, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13170 chore(ci): use github.sha in push event to get latest commit SHA from default branch
  .github/workflows/release.yml
Labels: chore, size/XS

#13167 refactor(tools/http): simplify check_https() with ngx.var
  kong/tools/http.lua
  spec/01-unit/05-utils_spec.lua
  t/01-pdk/05-client/08-get_protocol.t
Labels: skip-changelog, size/M, cherry-pick kong-ee

#13080 refactor(conf_loader): separate system functions from conf loader
  kong-3.8.0-0.rockspec
  kong/conf_loader/init.lua
  kong/conf_loader/sys.lua
Labels: core/configuration, skip-changelog, size/M, cherry-pick kong-ee

#13164 feat(queue): implement functions `Quque.is_full` & `Queue.can_enqueue`
  kong/tools/queue.lua
  spec/01-unit/27-queue_spec.lua
Labels: skip-changelog, size/L, cherry-pick kong-ee

#13189 Backport #13028 to release/3.7.x
  changelog/unreleased/kong/fix-ai-proxy-shared-state.yml
  kong-3.7.1-0.rockspec
  kong/llm/init.lua
  kong/llm/schemas/init.lua
  kong/plugins/ai-proxy/handler.lua
  kong/plugins/ai-request-transformer/handler.lua
  kong/plugins/ai-response-transformer/handler.lua
  spec/03-plugins/39-ai-request-transformer/01-transformer_spec.lua
  spec/03-plugins/40-ai-response-transformer/01-transformer_spec.lua
  spec/03-plugins/40-ai-response-transformer/02-integration_spec.lua
Labels: size/XL, schema-change-noteworthy, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#13187 style(tests): reindex Test::Nginx tests
  t/01-pdk/02-log/00-phase_checks.t
  t/01-pdk/02-log/05-set_serialize_value.t
  t/01-pdk/04-request/21-get_uri_captures.t
  t/01-pdk/08-response/05-set_header.t
  t/01-pdk/08-response/11-exit.t
  t/01-pdk/08-response/13-error.t
  t/01-pdk/10-nginx/02-get_statistics.t
  t/01-pdk/15-tracing/01-context.t
  t/03-dns-client/02-timer-usage.t
  t/04-patch/01-ngx-buf-double-free.t
  t/04-patch/02-ngx-read-body-block.t
Labels: skip-changelog, size/M, cherry-pick kong-ee

#13185 style(tools/emmy_debugger): prefer vararg-style for ngx.log
  kong/tools/emmy_debugger.lua
Labels: skip-changelog, size/S, cherry-pick kong-ee

#13195 [backport -> release/3.6.x] fix(plugins): add realm to removed fields
  changelog/unreleased/kong/fix-realm-compat-changes-basic-auth.yml
  kong/clustering/compat/removed_fields.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
Labels: core/clustering, size/S

#13115 tests(ci): copy and upload failed test logs
  .github/workflows/build_and_test.yml
  spec/helpers.lua
Labels: skip-changelog, chore, size/M, cherry-pick kong-ee

#13182 docs(changelog): assemble changelog entries into a central place
  CHANGELOG.md
Labels: size/XXL, changelog, backport release/3.7.x

#13168 refactor(tools/string): speed up strip (whitespace)
  kong/tools/string.lua
Labels: skip-changelog, size/M, cherry-pick kong-ee

#13188 refactor(*): use kong.tools.string whenever possible
  kong/clustering/data_plane.lua
  kong/clustering/rpc/utils.lua
  kong/cmd/health.lua
  kong/cmd/utils/inject_confs.lua
  kong/cmd/utils/nginx_signals.lua
  kong/cmd/utils/prefix_handler.lua
  kong/conf_loader/init.lua
  kong/conf_loader/listeners.lua
  kong/conf_loader/parse.lua
  kong/db/strategies/postgres/connector.lua
  kong/plugins/aws-lambda/request-util.lua
  kong/plugins/oauth2/secret.lua
  kong/plugins/request-size-limiting/handler.lua
  kong/plugins/response-ratelimiting/header_filter.lua
  kong/plugins/response-transformer/header_transformer.lua
  kong/tools/http.lua
  kong/tools/ip.lua
  spec/02-integration/02-cmd/04-version_spec.lua
  spec/02-integration/02-cmd/10-migrations_spec.lua
  spec/02-integration/04-admin_api/01-admin_api_spec.lua
  spec/02-integration/05-proxy/01-proxy_spec.lua
  spec/02-integration/14-tracing/04-trace-ids-log_spec.lua
  spec/03-plugins/04-file-log/01-log_spec.lua
  spec/03-plugins/05-syslog/01-log_spec.lua
  spec/03-plugins/11-correlation-id/01-access_spec.lua
  spec/03-plugins/38-ai-proxy/02-openai_integration_spec.lua
  spec/03-plugins/39-ai-request-transformer/02-integration_spec.lua
  spec/03-plugins/40-ai-response-transformer/02-integration_spec.lua
  spec/fixtures/https_server.lua
  spec/fixtures/mock_upstream.lua
  spec/helpers.lua
Labels: core/cli, plugins/oauth2, core/clustering, plugins/aws-lambda, plugins/response-transformer, core/db, plugins/request-size-limiting, plugins/response-ratelimiting, core/configuration, skip-changelog, size/L, cherry-pick kong-ee

#13177 refactor(pdk/log): optimize log serialize
  kong/pdk/log.lua
  t/01-pdk/02-log/05-set_serialize_value.t
Labels: core/logs, skip-changelog, size/L, cherry-pick kong-ee

#13199 style(conf_loader): minor code style clean
  kong/conf_loader/parse.lua
Labels: core/configuration, skip-changelog, size/S, cherry-pick kong-ee

#13198 fix(queue): function `Queue.can_enqueue` should handle non-existing queue instance correctly
  kong/tools/queue.lua
  spec/01-unit/27-queue_spec.lua
Labels: skip-changelog, size/S, cherry-pick kong-ee

#11820 fix(ldap): add missing www-authenticate headers
  changelog/unreleased/kong/ldap_www_authenticate.yml
  kong/clustering/compat/removed_fields.lua
  kong/plugins/ldap-auth/access.lua
  kong/plugins/ldap-auth/schema.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/03-plugins/20-ldap-auth/01-access_spec.lua
Labels: core/clustering, plugins/ldap-auth, size/L, schema-change-noteworthy, cherry-pick kong-ee

#13212 chore(cd): build ubuntu jammy artifacts in docker
  .github/matrix-commitly.yml
  .github/matrix-full.yml
Labels: chore, size/XS, backport release/3.7.x

#13040 chore(build): use wasmx_dynamic_mod to mark dynamic module as created
  build/openresty/BUILD.openresty.bazel
Labels: skip-changelog, size/XS, build/bazel, cherry-pick kong-ee

#11791 fix(hmac): add missing www-authenticate headers
  changelog/unreleased/kong/hmac_www_authenticate.yml
  kong/clustering/compat/removed_fields.lua
  kong/plugins/hmac-auth/access.lua
  kong/plugins/hmac-auth/schema.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/03-plugins/19-hmac-auth/03-access_spec.lua
Labels: plugins/hmac-auth, core/clustering, size/L, schema-change-noteworthy, cherry-pick kong-ee

#13213 refactor(pdk): simplify private RL pdk
  kong/pdk/private/rate_limiting.lua
  kong/plugins/rate-limiting/handler.lua
  kong/plugins/response-ratelimiting/access.lua
  kong/plugins/response-ratelimiting/header_filter.lua
  t/01-pdk/16-rl-ctx.t
Labels: plugins/rate-limiting, core/pdk, plugins/response-ratelimiting, skip-changelog, size/XL, cherry-pick kong-ee

#13220 fix(propagation): remove redundant warning messages
  changelog/unreleased/kong/fix-propagation-remove-redundant-warnings.yml
  kong/tracing/propagation/init.lua
Labels: size/S, core/tracing, cherry-pick kong-ee

#13223 style(workflows): proper changelog wording
  .github/workflows/update-ngx-wasm-module.yml
Labels: skip-changelog, chore, size/XS

#13215 refactor(schema): move some repetitive vault resolving code to local functions
  kong/db/schema/init.lua
Labels: core/db, skip-changelog, size/L, schema-change-noteworthy, cherry-pick kong-ee

#13224 refactor(pdk): show more friendly error msg when passing invalid arguments
  kong/pdk/private/rate_limiting.lua
  t/01-pdk/16-rl-ctx.t
Labels: core/pdk, skip-changelog, size/M, cherry-pick kong-ee

#11833 fix(oauth2): add missing www-authenticate headers
  changelog/unreleased/kong/oauth2_www_authenticate.yml
  kong/clustering/compat/removed_fields.lua
  kong/plugins/oauth2/access.lua
  kong/plugins/oauth2/schema.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/03-plugins/25-oauth2/03-access_spec.lua
Labels: plugins/oauth2, core/clustering, size/L, schema-change-noteworthy, cherry-pick kong-ee

#13227 fix(wasm): disable jit for set_host_properties_handlers()
  kong/runloop/wasm.lua
Labels: core/proxy, skip-changelog, size/XS, core/wasm

#12365 fix(core): Regex header values in traditional router are now validated
  changelog/unreleased/kong/traditional_router_header_validation.yml
  kong/db/schema/entities/routes.lua
  kong/db/schema/typedefs.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
Labels: core/db, size/M, schema-change-noteworthy, cherry-pick kong-ee

#13236 docs(changelog): move changelog locations
  changelog/unreleased/kong/11480.yaml
  changelog/unreleased/kong/11515.yaml
  changelog/unreleased/kong/optimize_keepalive_parameters.yml
  changelog/unreleased/kong/udp-socket-recycle.yml
Labels: skip-changelog, size/XS

#13235 tests(cluster_events): fix flaky due to too close time for a delay timer
  spec/02-integration/06-invalidations/01-cluster_events_spec.lua
Labels: size/XS, cherry-pick kong-ee

#13240 perf(LuaJIT): revert optimization for hash
  build/openresty/patches/LuaJIT-2.1-20231117_03_Revert_Detect_SSE4.2_support_dynamically.patch
  build/openresty/patches/LuaJIT-2.1-20231117_04_Revert_bugfix_fixed_compatibility_regression_with_Mi.patch
  build/openresty/patches/LuaJIT-2.1-20231117_05_Revert_Adjust_SSE4.1_str_hash_to_replace_hash_sparse.patch
  changelog/unreleased/fix_hash.yml
Labels: size/XXL, build/bazel, cherry-pick kong-ee, backport release/3.7.x

#13260 docs(changelog): assemble changelog entries into a central place
  CHANGELOG.md
Labels: size/XXL, changelog

#13233 fix(ci): replace "cpio" rpm extraction
  scripts/explain_manifest/main.py
Labels: chore, size/XS, backport release/2.8.x, backport release/3.4.x, backport release/3.5.x, backport release/3.6.x, backport release/3.7.x

#13270 chore(release): update version to 3.7.1 as part of the GA release (#1…
  kong-3.7.1-0.rockspec
  kong/meta.lua
Labels: skip-changelog, size/XS

#13241 chore(ci): disable package upload to Pulp
  .github/workflows/release.yml
Labels: chore, size/S

#13271 chore(release): update version to 2.8.5
  kong-2.8.5-0.rockspec
  kong/meta.lua
Labels: size/XS

#13276 Revert "fix(dns): ignore records with RR types differs from that of the query when parsing answers (#13002)"
  changelog/unreleased/kong/fix-dns-ignore-records-with-non-matching-types.yml
  kong/resty/dns/client.lua
  spec/01-unit/21-dns-client/02-client_spec.lua
  spec/01-unit/21-dns-client/03-client_cache_spec.lua
Labels: skip-changelog, size/L, cherry-pick kong-ee, backport release/3.7.x

#13278 docs(changelog): documented dns client behavior revert
  changelog/unreleased/kong/revert-dns-behavior.yml
Labels: size/XS, cherry-pick kong-ee

#13282 chore(build): downgrade dependencies versions
  .requirements
  build/luarocks/luarocks_repositories.bzl
  build/openresty/openssl/openssl_repositories.bzl
  build/openresty/patches/LuaJIT-2.1-20210510_04_pass_cc_env.patch
  build/openresty/patches/nginx-cross-endianness-fix.patch
  build/openresty/patches/nginx-cross.patch
  scripts/explain_manifest/fixtures/alpine-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/debian-10-amd64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
Labels: size/L, build/bazel

#13285 fix(package): add missing zlib1g-dev dependency
  build/package/nfpm.yaml
  changelog/unreleased/kong/add_zlib1g-dev.yml
Labels: size/XS, build/bazel

#13287 chore(ci): skip uploading centos packages to cloudsmith
  .github/workflows/release.yml
Labels: chore, size/XS

#13286 Generate 2.8.5 changelog
  changelog/2.8.5/2.8.5.md
  changelog/2.8.5/kong-manager/.gitkeep
  changelog/2.8.5/kong/.gitkeep
  changelog/2.8.5/kong/add_zlib1g-dev.yml
  changelog/2.8.5/kong/fix_hash.yml
  changelog/unreleased/kong-manager/.gitkeep
  changelog/unreleased/kong/.gitkeep
Labels: core/docs, size/S

#13289 docs(changelog): assemble 2.8.5 changelog into CHANGELOG.md
  CHANGELOG.md
Labels: size/S, changelog

#13209 fix(ai-plugins): remove no_consumer and no_service restriction on AI plugins
  changelog/unreleased/kong/fix-ai-plugin-no-consumer.yml
  kong/plugins/ai-prompt-template/schema.lua
  kong/plugins/ai-proxy/schema.lua
  kong/plugins/ai-response-transformer/schema.lua
Labels: size/XS, schema-change-noteworthy, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-response-transformer, plugins/ai-prompt-template, backport release/3.7.x

#13180 refactor(router/atc): cache `ngx.var` result in stream routing
  kong/router/fields.lua
Labels: core/router, skip-changelog, size/S, cherry-pick kong-ee

#13200 style(pdk/log): simplify buffer:put with vararg-style
  kong/pdk/log.lua
Labels: core/logs, skip-changelog, size/M, cherry-pick kong-ee

#13275 fix(tracing): ensure sampling decisions apply to correct trace ID
  changelog/unreleased/kong/fix-tracing-sampling-rate.yml
  kong/pdk/tracing.lua
  spec/03-plugins/37-opentelemetry/04-exporter_spec.lua
Labels: core/pdk, size/M, core/tracing, cherry-pick kong-ee

#13069 fix(redis): remove unnecessary redis config deprecation warnings in hybrid mode
  changelog/unreleased/kong/fix-acme-misleading-deprecation-logs.yml
  changelog/unreleased/kong/fix-response-rl-misleading-deprecation-logs.yml
  changelog/unreleased/kong/fix-rl-misleading-deprecation-logs.yml
  kong/db/schema/init.lua
  spec/02-integration/09-hybrid_mode/13-deprecations_spec.lua
  spec/03-plugins/23-rate-limiting/07-hybrid_mode_spec.lua
Labels: core/db, size/L, schema-change-noteworthy, cherry-pick kong-ee, backport release/3.7.x

#13239 feat(ci): automatically add release version to Pongo
  .github/workflows/add-pongo-release.yml
Labels: skip-changelog, chore, size/M

#13206 fix(core) correct noisy acl warmup
  kong/cache/warmup.lua
Labels: skip-changelog, size/XS, author/community, cherry-pick kong-ee

#13310 fix(core): should_warn checks if kong global has been defined
  kong/db/schema/init.lua
Labels: core/db, skip-changelog, size/XS, schema-change-noteworthy, cherry-pick kong-ee
