Repository Kong/kong, pull requests merged in 2024-05, with the labels that each got.

#12926 chore(makefile): add target 'test-logs' to show test logs
  Makefile
Labels: skip-changelog, size/XS

#12971 fix(plugins/grpc-gateway):handle json decode error safely(#10028)
  changelog/unreleased/kong/fix-grpc-gateway-json-decode-bug.yml
  kong/plugins/grpc-gateway/deco.lua
  kong/plugins/grpc-gateway/handler.lua
  spec/03-plugins/28-grpc-gateway/01-proxy_spec.lua
Labels: plugins/grpc-gateway, size/M, author/community, cherry-pick kong-ee

#12973 chore(gui): bump kong-manager to v3.7.0.0-1
  .requirements
  changelog/unreleased/kong-manager/data_plane_list.yml
  changelog/unreleased/kong-manager/dynamic_log_leveling.yml
Labels: skip-changelog, size/S

#12972 fix(rpc): disable cluster_rpc for 3.7
  changelog/unreleased/kong/cp-dp-rpc.yml
  changelog/unreleased/kong/dynamic-log-level-rpc.yml
  kong/conf_loader/init.lua
  kong/templates/kong_defaults.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/02-integration/18-hybrid_rpc/01-rpc_spec.lua
  spec/02-integration/18-hybrid_rpc/02-log-level_spec.lua
  spec/02-integration/18-hybrid_rpc/04-concentrator_spec.lua
Labels: core/templates, core/configuration, skip-changelog, size/M, cherry-pick kong-ee, backport release/3.7.x

#12761 fix(cmd): do not override `kong.conf` if `--db-timeout` is not passed
  changelog/unreleased/kong/fix-cli-db-timeout-overrides.yml
  kong/cmd/migrations.lua
  kong/cmd/restart.lua
  kong/cmd/start.lua
Labels: core/cli, size/S, cherry-pick kong-ee, backport release/3.7.x

#12974 fix(ai proxy): 3.7 regression fixes rollup
  kong/clustering/compat/checkers.lua
  kong/llm/drivers/anthropic.lua
  kong/llm/drivers/azure.lua
  kong/llm/drivers/openai.lua
  kong/llm/drivers/shared.lua
  kong/llm/init.lua
  kong/plugins/ai-proxy/handler.lua
  kong/plugins/ai-proxy/schema.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/03-plugins/38-ai-proxy/02-openai_integration_spec.lua
  spec/03-plugins/39-ai-request-transformer/02-integration_spec.lua
  spec/03-plugins/40-ai-response-transformer/02-integration_spec.lua
Labels: core/clustering, skip-changelog, size/L, schema-change-noteworthy, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer, backport release/3.7.x

#12983 fix(migrations): split redis migrations into up and teardown
  changelog/unreleased/kong/fix-migrations-for-redis-plugins-acme.yml
  changelog/unreleased/kong/fix-migrations-for-redis-plugins-response-rl.yml
  changelog/unreleased/kong/fix-migrations-for-redis-plugins-rl.yml
  kong/plugins/acme/migrations/003_350_to_360.lua
  kong/plugins/rate-limiting/migrations/006_350_to_360.lua
  kong/plugins/response-ratelimiting/migrations/001_350_to_360.lua
  spec/05-migration/plugins/acme/migrations/003_350_to_360_spec.lua
Labels: plugins/rate-limiting, plugins/acme, plugins/response-ratelimiting, size/L, cherry-pick kong-ee, backport release/3.6.x, backport release/3.7.x

#12907 chore(ai-prompt-decorator): improve error handling and cleanup
  changelog/unreleased/kong/cleanup_ai.yml
  kong/plugins/ai-prompt-decorator/handler.lua
  kong/plugins/ai-prompt-guard/handler.lua
  kong/plugins/ai-prompt-guard/schema.lua
  spec/03-plugins/41-ai-prompt-decorator/01-unit_spec.lua
  spec/03-plugins/41-ai-prompt-decorator/02-integration_spec.lua
  spec/03-plugins/42-ai-prompt-guard/00-config_spec.lua
  spec/03-plugins/42-ai-prompt-guard/01-unit_spec.lua
  spec/03-plugins/42-ai-prompt-guard/02-integration_spec.lua
Labels: size/XXL, schema-change-noteworthy, cherry-pick kong-ee, plugins/ai-prompt-guard, plugins/ai-prompt-decorator, backport release/3.7.x

#12993 chore(workflows): label-schema to overwrite slack message with pr title and footer as pr link
  .github/workflows/label-schema.yml
Labels: chore, size/XS, cherry-pick kong-ee

#12992 fix(migration): make redis schema migrations reentrant
  kong/plugins/acme/migrations/003_350_to_360.lua
  kong/plugins/rate-limiting/migrations/006_350_to_360.lua
  kong/plugins/response-ratelimiting/migrations/001_350_to_360.lua
Labels: plugins/rate-limiting, plugins/acme, plugins/response-ratelimiting, skip-changelog, size/M, cherry-pick kong-ee, backport release/3.7.x

#12912 fix(plugin): cleanup and fix error handling
  kong/plugins/ai-prompt-template/handler.lua
  kong/plugins/ai-prompt-template/templater.lua
  spec/03-plugins/43-ai-prompt-template/01-unit_spec.lua
  spec/03-plugins/43-ai-prompt-template/02-integration_spec.lua
Labels: skip-changelog, size/L, cherry-pick kong-ee, plugins/ai-prompt-template, backport release/3.7.x

#12998 fix(ai-proxy): internal server error on path parse failure
  kong/llm/drivers/llama2.lua
  kong/llm/drivers/mistral.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer, backport release/3.7.x

#13006 fix(ai-proxy): removed compat fields pre-3.7
  kong/clustering/compat/removed_fields.lua
Labels: core/clustering, skip-changelog, size/S, cherry-pick kong-ee, backport release/3.7.x

#13012 chore(release): bump version to 3.8 as part of the feature freeze
  kong-3.8.0-0.rockspec
  kong/meta.lua
Labels: skip-changelog, size/XS

#13026 fix(ci): require correct `socket` module
  spec/busted-ci-helper.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee

#13002 fix(dns): ignore records with non-matching types when parsing answers
  changelog/unreleased/kong/fix-dns-ignore-records-with-non-matching-types.yml
  kong/resty/dns/client.lua
  spec/01-unit/21-dns-client/02-client_spec.lua
  spec/01-unit/21-dns-client/03-client_cache_spec.lua
Labels: size/L, cherry-pick kong-ee

#12990 refactor(router/atc): cleanup split routes and services
  kong/router/transform.lua
Labels: core/router, skip-changelog, size/L, cherry-pick kong-ee

#13018 fix(aws-lambda): add missing version field into aws gateway compatible payload
  changelog/unreleased/kong/fix-aws-lambda-gateway-compat-version-field.yml
  kong/plugins/aws-lambda/request-util.lua
  spec/03-plugins/27-aws-lambda/05-aws-serializer_spec.lua
Labels: plugins/aws-lambda, size/XS, cherry-pick kong-ee

#13033 fix(cd): add tests to ensure wasm filters are in place
  scripts/explain_manifest/suites.py
Labels: skip-changelog, size/S, cherry-pick kong-ee

#13029 chore(build): move sha256 checksum to .requirements
  .requirements
  build/libexpat/repositories.bzl
  build/luarocks/luarocks_repositories.bzl
  build/openresty/openssl/openssl_repositories.bzl
  build/openresty/pcre/pcre_repositories.bzl
  build/openresty/repositories.bzl
Labels: skip-changelog, size/S, build/bazel, cherry-pick kong-ee

#13038 chore(deps): bump lua-resty-healthcheck to 3.0.2
  changelog/unreleased/kong/bump-lua-resty-healthcheck.yml
  kong-3.8.0-0.rockspec
Labels: size/XS, cherry-pick kong-ee

#13037 fix(build): remove the original websocket library from openresty
  build/BUILD.bazel
Labels: skip-changelog, size/XS

#13036 [backport -> release/3.4.x] fix(conf_loader): cluster_cert/cluster_ca_cert to support base64 encoded values (#11385)
  changelog/unreleased/kong/fix-base64-cluster-cert.yml
  kong/conf_loader/init.lua
  spec/01-unit/03-conf_loader_spec.lua
Labels: core/configuration, size/L, cherry-pick kong-ee, core/wasm

#13046 style(conf_loader): use localized `lower()` properly
  kong/conf_loader/init.lua
Labels: core/configuration, skip-changelog, size/XS, cherry-pick kong-ee

#13048 tests(plugin): a more reliable way to wait for config update
  spec/03-plugins/17-ip-restriction/02-access_spec.lua
Labels: size/S

#13021 feat(db/schema): do not allow setting priority with traditional route in mixed mode
  changelog/unreleased/kong/feat-dont-allow-priority-with-others.yml
  kong/db/schema/entities/routes.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
Labels: core/db, size/M, schema-change-noteworthy, cherry-pick kong-ee

#13008 tests(db/declarative): bootstrap correctly to avoid corrupted table
  spec/02-integration/03-db/08-declarative_spec.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee

#13017 chore(clustering): cleanup redundant checkers
  kong/clustering/compat/checkers.lua
Labels: core/clustering, skip-changelog, size/M

#13056 docs(changelog): apply suggestions
  changelog/unreleased/kong/cleanup_ai.yml
  changelog/unreleased/kong/log-serializer-kong-latency.yml
Labels: size/XS, cherry-pick kong-ee, backport release/3.7.x

#13060 tests(dns): fix the flakiness of the individual_toip test case
  spec/01-unit/21-dns-client/02-client_spec.lua
Labels: size/S, cherry-pick kong-ee

#13072 docs(changelog): apply changelog suggestions
  changelog/3.7.0/kong/add-ai-data-report.yml
  changelog/3.7.0/kong/add-messages-api-to-anthropic.yml
  changelog/3.7.0/kong/add_tzdata.yml
  changelog/3.7.0/kong/ai-proxy-client-params.yml
  changelog/3.7.0/kong/ai-proxy-preserve-mode.yml
  changelog/3.7.0/kong/analytics-for-anthropic.yml
  changelog/3.7.0/kong/bump-lua-protobuf.yml
  changelog/3.7.0/kong/bump-lua-resty-http-0.17.2.yml
  changelog/3.7.0/kong/bump-ngx-wasm-module.yml
  changelog/3.7.0/kong/bump-v8.yml
  changelog/3.7.0/kong/bump-wasmtime.yml
  changelog/3.7.0/kong/decrease-cocurrency-limit-of-timer-ng.yml
  changelog/3.7.0/kong/disable-TLSv1_1-in-openssl3.yml
  changelog/3.7.0/kong/feat-ai-proxy-add-streaming.yml
  changelog/3.7.0/kong/feat-hybrid-sync-mixed-route-policy.yml
  changelog/3.7.0/kong/feat-increase-ai-anthropic-regex-expression-length.yml
  changelog/3.7.0/kong/feat-wasm-general-shm-kv.yml
  changelog/3.7.0/kong/fix-aws-lambda-kong-latency.yml
  changelog/3.7.0/kong/fix-cjson-t-end.yml
  changelog/3.7.0/kong/fix-ctx-host-port.yml
  changelog/3.7.0/kong/fix-dbless-duplicate-target-error.yml
  changelog/3.7.0/kong/fix-default-value-of-upstream-keepalive-max-requests.yml
  changelog/3.7.0/kong/fix-external-plugin-instance.yml
  changelog/3.7.0/kong/fix-file-permission-of-logrotate.yml
  changelog/3.7.0/kong/fix-hybrid-dp-certificate-with-vault-not-refresh.yml
  changelog/3.7.0/kong/fix-jwt-plugin-check.yml
  changelog/3.7.0/kong/fix-missing-router-section-of-request-debugging.yml
  changelog/3.7.0/kong/fix-mlcache-renew-lock-leaks.yml
  changelog/3.7.0/kong/fix-router-rebuing-flag.yml
  changelog/3.7.0/kong/fix-snis-tls-passthrough-in-trad-compat.yml
  changelog/3.7.0/kong/fix-upstream-status-unset.yml
  changelog/3.7.0/kong/fix-vault-init-worker.yml
  changelog/3.7.0/kong/fix-wasm-disable-pwm-lua-resolver.yml
  changelog/3.7.0/kong/flavor-expressions-supports-traditional-fields.yml
  changelog/3.7.0/kong/key_auth_www_authenticate.yml
  changelog/3.7.0/kong/log-serializer-receive-latency.yml
  changelog/3.7.0/kong/otel-increase-queue-max-batch-size.yml
  changelog/3.7.0/kong/otel-sampling-panic-when-header-trace-id-enable.yml
  changelog/3.7.0/kong/plugin_server_restart.yml
  changelog/3.7.0/kong/propagation-module-rework.yml
  changelog/3.7.0/kong/revert-req-body-limitation-patch.yml
  changelog/3.7.0/kong/set_grpc_tls_seclevel.yml
  changelog/3.7.0/kong/speed_up_router.yml
  changelog/3.7.0/kong/update-ai-proxy-telemetry.yml
  changelog/3.7.0/kong/wasm-bundled-filters.yml
Labels: skip-changelog, size/L, cherry-pick kong-ee

#13086 docs(changelog): apply changelog suggestions for 3.7
  changelog/unreleased/kong/add-ai-data-report.yml
  changelog/unreleased/kong/add-messages-api-to-anthropic.yml
  changelog/unreleased/kong/add_tzdata.yml
  changelog/unreleased/kong/ai-proxy-client-params.yml
  changelog/unreleased/kong/ai-proxy-preserve-mode.yml
  changelog/unreleased/kong/analytics-for-anthropic.yml
  changelog/unreleased/kong/bump-lua-protobuf.yml
  changelog/unreleased/kong/bump-lua-resty-http-0.17.2.yml
  changelog/unreleased/kong/bump-ngx-wasm-module.yml
  changelog/unreleased/kong/bump-v8.yml
  changelog/unreleased/kong/bump-wasmtime.yml
  changelog/unreleased/kong/decrease-cocurrency-limit-of-timer-ng.yml
  changelog/unreleased/kong/disable-TLSv1_1-in-openssl3.yml
  changelog/unreleased/kong/feat-ai-proxy-add-streaming.yml
  changelog/unreleased/kong/feat-hybrid-sync-mixed-route-policy.yml
  changelog/unreleased/kong/feat-increase-ai-anthropic-regex-expression-length.yml
  changelog/unreleased/kong/feat-wasm-general-shm-kv.yml
  changelog/unreleased/kong/fix-aws-lambda-kong-latency.yml
  changelog/unreleased/kong/fix-cjson-t-end.yml
  changelog/unreleased/kong/fix-ctx-host-port.yml
  changelog/unreleased/kong/fix-dbless-duplicate-target-error.yml
  changelog/unreleased/kong/fix-default-value-of-upstream-keepalive-max-requests.yml
  changelog/unreleased/kong/fix-external-plugin-instance.yml
  changelog/unreleased/kong/fix-file-permission-of-logrotate.yml
  changelog/unreleased/kong/fix-hybrid-dp-certificate-with-vault-not-refresh.yml
  changelog/unreleased/kong/fix-jwt-plugin-check.yml
  changelog/unreleased/kong/fix-missing-router-section-of-request-debugging.yml
  changelog/unreleased/kong/fix-mlcache-renew-lock-leaks.yml
  changelog/unreleased/kong/fix-router-rebuing-flag.yml
  changelog/unreleased/kong/fix-snis-tls-passthrough-in-trad-compat.yml
  changelog/unreleased/kong/fix-upstream-status-unset.yml
  changelog/unreleased/kong/fix-vault-init-worker.yml
  changelog/unreleased/kong/fix-wasm-disable-pwm-lua-resolver.yml
  changelog/unreleased/kong/flavor-expressions-supports-traditional-fields.yml
  changelog/unreleased/kong/key_auth_www_authenticate.yml
  changelog/unreleased/kong/log-serializer-receive-latency.yml
  changelog/unreleased/kong/otel-increase-queue-max-batch-size.yml
  changelog/unreleased/kong/otel-sampling-panic-when-header-trace-id-enable.yml
  changelog/unreleased/kong/plugin_server_restart.yml
  changelog/unreleased/kong/propagation-module-rework.yml
  changelog/unreleased/kong/revert-req-body-limitation-patch.yml
  changelog/unreleased/kong/set_grpc_tls_seclevel.yml
  changelog/unreleased/kong/speed_up_router.yml
  changelog/unreleased/kong/update-ai-proxy-telemetry.yml
  changelog/unreleased/kong/wasm-bundled-filters.yml
Labels: size/L, cherry-pick kong-ee

#13024 fix(router/atc): uri replace didn't works well if contains the optional group
  changelog/unreleased/kong/fix-request-transformer-uri-replace.yml
  kong/router/atc.lua
  spec/01-unit/08-router_spec.lua
  spec/03-plugins/36-request-transformer/02-access_spec.lua
Labels: core/router, size/M, author/community, cherry-pick kong-ee

#13079 style(admin_gui): code style minor clean
  kong/admin_gui/utils.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee

#13071 feat(emmy-lua-debugger): support busted & multi worker debugging + docs
  DEVELOPER.md
  bin/busted
  kong/tools/emmy_debugger.lua
Labels: core/docs, skip-changelog, size/L, cherry-pick kong-ee

#13059 style(router/atc): simplify sni transform code
  kong/router/transform.lua
Labels: core/router, skip-changelog, size/S, cherry-pick kong-ee

#13061 style(router/atc): move http vars into proper scope
  kong/router/fields.lua
Labels: core/router, skip-changelog, size/S, cherry-pick kong-ee

#13091 docs(copyright): update copyright file
  COPYRIGHT
Labels: size/XL

#13092 docs(copyright): update copyright
  COPYRIGHT
Labels: size/XL

#13068 docs(dynamic-hooks): add dynamic hooks documentation
  kong/dynamic_hook/README.md
  kong/dynamic_hook/init.lua
Labels: core/docs, skip-changelog, size/L, cherry-pick kong-ee

#13058 Generate 3.7.0 changelog
  changelog/3.7.0/3.7.0.md
  changelog/3.7.0/kong/cleanup_ai.yml
  changelog/3.7.0/kong/fix-cli-db-timeout-overrides.yml
  changelog/3.7.0/kong/fix-migrations-for-redis-plugins-acme.yml
  changelog/3.7.0/kong/fix-migrations-for-redis-plugins-response-rl.yml
  changelog/3.7.0/kong/fix-migrations-for-redis-plugins-rl.yml
Labels: core/docs, skip-changelog, size/M

#12812 fix(proxy-cache): changes age param
  changelog/unreleased/kong/fix-age-header.yml
  kong-3.8.0-0.rockspec
  kong/clustering/compat/checkers.lua
  kong/plugins/proxy-cache/clustering/compat/response_headers_translation.lua
  kong/plugins/proxy-cache/schema.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/03-plugins/31-proxy-cache/02-access_spec.lua
Labels: core/clustering, plugins/proxy-cache, size/M, schema-change-noteworthy, author/community, cherry-pick kong-ee

#13093 refactor(tools/time): updating references of time functions
  kong/init.lua
  kong/runloop/balancer/init.lua
  kong/runloop/balancer/targets.lua
  kong/timing/context.lua
  kong/tools/utils.lua
  spec/01-unit/05-utils_spec.lua
Labels: core/balancer, skip-changelog, size/M, cherry-pick kong-ee

#13095 tests(hybrid): reset schema for correct bootstrap
  spec/01-unit/19-hybrid/03-compat_spec.lua
Labels: size/S, cherry-pick kong-ee

#13106 chore(release): update version to 3.7.1 as part of the GA release
  kong-3.7.1-0.rockspec
  kong/meta.lua
Labels: skip-changelog, size/XS

#13103 style(tools/uri): use `table.new` correctly
  kong/tools/uri.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee

#13063 refactor(balancer): get headers as hash identifier by ngx.var
  kong/runloop/balancer/init.lua
  spec/02-integration/05-proxy/10-balancer/03-consistent-hashing_spec.lua
Labels: core/balancer, skip-changelog, size/M, cherry-pick kong-ee

#13108 refactor(tools/ip): update references from kong.tools.utils to kong.tools.ip
  kong/cache/warmup.lua
  kong/conf_loader/listeners.lua
  kong/db/dao/targets.lua
  kong/db/schema/entities/targets.lua
  kong/db/schema/entities/upstreams.lua
  kong/db/schema/typedefs.lua
  kong/pdk/ip.lua
  kong/router/utils.lua
  kong/runloop/balancer/init.lua
  spec/01-unit/05-utils_spec.lua
  spec/fixtures/balancer_utils.lua
Labels: core/balancer, core/pdk, core/router, core/db, core/configuration, skip-changelog, size/L, schema-change-noteworthy, cherry-pick kong-ee

#13122 chore(.requirements): fix comments on brotli
  .requirements
Labels: skip-changelog, size/XS

#13130 tests(integration): 09-config-compat_spec accessing undefined variable utils
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
Labels: size/XS, cherry-pick kong-ee
