Repository Kong/kong, pull requests merged in 2024-04, with the labels that each got.

#12815 style(plugins/ai-prompt-template): improve code style for readability
  kong/plugins/ai-prompt-template/handler.lua
Labels: skip-changelog, size/M, cherry-pick kong-ee, plugins/ai-prompt-template

#12800 style(tools/table): clean the comments and improve usage
  kong/db/schema/init.lua
  kong/tools/table.lua
Labels: core/db, skip-changelog, size/S, schema-change-noteworthy, cherry-pick kong-ee

#12784 perf(hook): remove NYIs to be more JIT-friendly
  changelog/unreleased/kong/speed_up_internal_hooking_mechanism.yml
  kong/hooks.lua
Labels: size/M, cherry-pick kong-ee

#12813 refactor(tools/system): move system module out of tools.utils
  kong/reports.lua
  kong/tools/utils.lua
  spec/01-unit/05-utils_spec.lua
Labels: skip-changelog, size/S, cherry-pick kong-ee

#12808 style(tools/dns): improve code style for readability
  kong/tools/dns.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee

#12779 chore(cd): stop uploading to pulp
  .github/workflows/release.yml
  scripts/release-kong.sh
Labels: skip-changelog, chore, size/S, cherry-pick kong-ee

#12820 chore(ci): cherry-pick only PRs targetting master
  .github/workflows/cherry-picks.yml
Labels: chore, size/XS

#12795 fix(log-serializer): do not add receive time to `latencies.kong`
  changelog/unreleased/kong/log-serializer-kong-latency.yml
  kong/pdk/log.lua
  spec/01-unit/10-log_serializer_spec.lua
Labels: core/logs, size/S, cherry-pick kong-ee

#12775 chore: label-schema to include pr title in the footer of the slack message
  .github/workflows/label-schema.yml
Labels: chore, size/XS

#12823 ci: remove `synchronize` trigger for label-schema
  .github/workflows/label-schema.yml
Labels: chore, size/XS, cherry-pick kong-ee

#12829 tests(http_mock): assert eventually-consistent file condition
  spec/02-integration/01-helpers/03-http_mock_spec.lua
Labels: size/XS, cherry-pick kong-ee

#12770 chore(test): busted script support system trusted certificate store
  bin/busted
Labels: skip-changelog, size/S, cherry-pick kong-ee

#12782 docs(aws-lambda): add name format description for aws lambda plugin
  kong/plugins/aws-lambda/schema.lua
Labels: plugins/aws-lambda, skip-changelog, size/XS, schema-change-noteworthy, cherry-pick kong-ee

#12837 docs(changelog): make the changelog of performance optimization more customer-friendly
  changelog/unreleased/kong/speed_up_internal_hooking_mechanism.yml
Labels: size/XS

#12373 docs: fix links to busted and luacheck in DEVELOPER.md
  DEVELOPER.md
Labels: core/docs, size/S, author/community

#12699 feat(AI-proxy-plugin): support the new /v1/messages API provided by Anthropic
  changelog/unreleased/kong/add-messages-api-to-anthropic.yml
  kong/llm/drivers/anthropic.lua
  kong/llm/drivers/shared.lua
  spec/03-plugins/38-ai-proxy/01-unit_spec.lua
  spec/03-plugins/38-ai-proxy/03-anthropic_integration_spec.lua
  spec/03-plugins/39-ai-request-transformer/01-transformer_spec.lua
  spec/fixtures/ai-proxy/anthropic/llm-v1-chat/responses/good.json
  spec/fixtures/ai-proxy/anthropic/llm-v1-completions/responses/good.json
  spec/fixtures/ai-proxy/anthropic/request-transformer/response-in-json.json
  spec/fixtures/ai-proxy/unit/expected-requests/anthropic/llm-v1-chat.json
  spec/fixtures/ai-proxy/unit/expected-requests/anthropic/llm-v1-completions.json
  spec/fixtures/ai-proxy/unit/expected-responses/anthropic/llm-v1-chat.json
  spec/fixtures/ai-proxy/unit/expected-responses/anthropic/llm-v1-completions.json
  spec/fixtures/ai-proxy/unit/real-responses/anthropic/llm-v1-chat.json
  spec/fixtures/ai-proxy/unit/real-responses/anthropic/llm-v1-completions.json
Labels: size/L, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#12834 chore(deps): bump lua-protobuf to v0.5.1
  changelog/unreleased/kong/bump-lua-protobuf.yml
  kong-3.7.0-0.rockspec
Labels: size/XS, cherry-pick kong-ee

#12830 tests(vaults): fix log file assertion
  spec/02-integration/02-cmd/02-start_stop_spec.lua
Labels: size/S, cherry-pick kong-ee

#12679 docs(CONTRIBUTING.md): fix some typos
  CONTRIBUTING.md
Labels: core/docs, size/M, author/community, cherry-pick kong-ee

#12848 chore(tracing): do not error on too short trace id + tests
  changelog/unreleased/kong/tracing-pdk-short-trace-ids.yml
  kong/pdk/tracing.lua
  spec/01-unit/26-tracing/01-tracer_pdk_spec.lua
  spec/03-plugins/37-opentelemetry/03-propagation_spec.lua
Labels: core/pdk, size/L, core/tracing, cherry-pick kong-ee

#12806 fix(core): ensure ngx.ctx.host_port is a number (and not a string)
  changelog/unreleased/kong/fix-ctx-host-port.yml
  kong/pdk/log.lua
  kong/router/fields.lua
  kong/router/traditional.lua
  kong/runloop/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/ctx-tests-response/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/ctx-tests/handler.lua
Labels: core/proxy, core/router, core/logs, size/M, backport release/2.8.x, backport release/3.3.x, backport release/3.4.x, backport release/3.5.x, cherry-pick kong-ee, backport release/3.6.x

#12781 fix(ai-proxy): add analytics for `chat` route_type of anthropic
  changelog/unreleased/kong/analytics-for-anthropic.yml
  kong/llm/drivers/anthropic.lua
  kong/llm/init.lua
  spec/03-plugins/38-ai-proxy/00-config_spec.lua
  spec/03-plugins/38-ai-proxy/03-anthropic_integration_spec.lua
  spec/fixtures/ai-proxy/anthropic/llm-v1-chat/responses/good.json
  spec/fixtures/ai-proxy/unit/real-responses/anthropic/llm-v1-chat.json
Labels: size/M, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#12857 perf(*): `ngx.re` uses are jitted and cached
  kong/llm/init.lua
  kong/plugins/acme/client.lua
  kong/plugins/grpc-gateway/deco.lua
  kong/plugins/jwt/handler.lua
  kong/plugins/oauth2/access.lua
  kong/plugins/proxy-cache/handler.lua
  kong/runloop/plugin_servers/mp_rpc.lua
  kong/runloop/plugin_servers/pb_rpc.lua
Labels: core/language/go, plugins/jwt, plugins/oauth2, plugins/acme, plugins/proxy-cache, core/language/python, plugins/grpc-gateway, core/language/js, skip-changelog, size/S, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#12583 change ai analytics
  changelog/unreleased/kong/update-ai-proxy-telemetry.yml
  kong/llm/drivers/shared.lua
  kong/plugins/ai-proxy/handler.lua
  kong/plugins/ai-request-transformer/handler.lua
  kong/plugins/ai-response-transformer/handler.lua
  spec/03-plugins/38-ai-proxy/02-openai_integration_spec.lua
Labels: size/L, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#12862 chore(deps): bump penlight to 1.14.0
  changelog/unreleased/kong/bump-penlight.yml
  kong-3.7.0-0.rockspec
  spec/03-plugins/36-request-transformer/02-access_spec.lua
Labels: size/XS, cherry-pick kong-ee

#12864 chore(deps): bump `atc-router` from `v1.6.0` to `v1.6.1`
  .requirements
  changelog/unreleased/kong/bump-atc-router.yml
Labels: size/XS, cherry-pick kong-ee

#12852 [backport -> release/3.4.x] fix(core): ensure ngx.ctx.host_port is a number (and not a string)
  changelog/unreleased/kong/fix-ctx-host-port.yml
  kong/pdk/log.lua
  kong/router/fields.lua
  kong/router/traditional.lua
  kong/runloop/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/ctx-tests-response/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/ctx-tests/handler.lua
Labels: core/proxy, core/logs, size/M, core/wasm

#12851 [backport -> release/3.5.x] fix(core): ensure ngx.ctx.host_port is a number (and not a string)
  changelog/unreleased/kong/fix-ctx-host-port.yml
  kong/pdk/log.lua
  kong/router/fields.lua
  kong/router/traditional.lua
  kong/runloop/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/ctx-tests-response/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/ctx-tests/handler.lua
Labels: core/proxy, core/logs, size/M, core/wasm

#12850 [backport -> release/3.6.x] fix(core): ensure ngx.ctx.host_port is a number (and not a string)
  changelog/unreleased/kong/fix-ctx-host-port.yml
  kong/pdk/log.lua
  kong/router/fields.lua
  kong/router/traditional.lua
  kong/runloop/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/ctx-tests-response/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/ctx-tests/handler.lua
Labels: core/proxy, core/router, core/logs, size/M

#12872 chore(deps): bump lua-kong-module which introduced the new get_log_level API
  .requirements
  changelog/unreleased/kong/bump-lua-kong-nginx-module.yml
  kong/api/routes/debug.lua
  kong/runloop/log_level.lua
Labels: core/proxy, core/admin-api, size/S, cherry-pick kong-ee

#12667 feat(db/schema): add traditional fields to expressions flavor
  changelog/unreleased/kong/flavor-expressions-supports-traditional-fields.yml
  kong/db/schema/entities/routes.lua
  kong/db/schema/entities/routes_subschemas.lua
  kong/router/atc.lua
  kong/router/compat.lua
  kong/router/expressions.lua
  kong/router/transform.lua
  spec/01-unit/01-db/01-schema/06-routes_spec.lua
  spec/01-unit/08-router_spec.lua
  spec/02-integration/05-proxy/01-proxy_spec.lua
  spec/02-integration/05-proxy/02-router_spec.lua
  spec/02-integration/05-proxy/06-ssl_spec.lua
  spec/02-integration/05-proxy/10-balancer/06-stream_spec.lua
  spec/02-integration/05-proxy/18-upstream_tls_spec.lua
  spec/02-integration/05-proxy/19-grpc_proxy_spec.lua
  spec/02-integration/05-proxy/21-grpc_plugins_triggering_spec.lua
  spec/02-integration/05-proxy/23-context_spec.lua
  spec/02-integration/05-proxy/26-udp_spec.lua
  spec/02-integration/05-proxy/28-stream_plugins_triggering_spec.lua
  spec/02-integration/05-proxy/31-stream_tls_spec.lua
Labels: core/router, core/db, size/XL, schema-change-noteworthy, cherry-pick kong-ee

#12874 tests(router): use router.transform.get_expression
  spec/01-unit/08-router_spec.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee

#12881 feat(build): allow use local path to replace git repositories
  .requirements
  build/build_system.bzl
  build/openresty/atc_router/atc_router_repositories.bzl
  build/openresty/brotli/brotli_repositories.bzl
  build/openresty/repositories.bzl
  build/openresty/wasmx/wasmx_repositories.bzl
  build/repositories.bzl
Labels: skip-changelog, size/M, build/bazel, cherry-pick kong-ee

#12868 fix(certificate): hybrid dp cannot refresh certificate entity with vault reference
  changelog/unreleased/kong/fix-hybrid-dp-certificate-with-vault-not-refresh.yml
  kong/runloop/certificate.lua
  spec/02-integration/05-proxy/18-upstream_tls_spec.lua
  spec/02-integration/13-vaults/05-ttl_spec.lua
Labels: core/proxy, core/pdk, size/L, backport release/3.4.x, backport release/3.5.x, cherry-pick kong-ee, backport release/3.6.x

#12865 fix(core): fix balancer stop_healthchecks function table nil panic bug
  changelog/unreleased/kong/fix_balancer_healthecker_unexpected_panic.yml
  kong/runloop/balancer/healthcheckers.lua
Labels: core/balancer, size/S, cherry-pick kong-ee

#12879 chore(ci): add permissions to cherry-pick job
  .github/workflows/cherry-picks.yml
Labels: chore, size/XS

#12846 chore(deps): bump lua-resty-aws to 1.4.1
  changelog/unreleased/kong/bump-lua-resty-aws.yml
  kong-3.7.0-0.rockspec
Labels: size/XS, cherry-pick kong-ee

#12883 fix(tests): fix the flakiness caused by incomplete migration in the Vault tests
  spec/02-integration/13-vaults/05-ttl_spec.lua
  spec/02-integration/13-vaults/07-resurrect_spec.lua
Labels: size/XS, cherry-pick kong-ee

#12853 [KAG-4210] Incorporate wasm filters into bazel build
  build/BUILD.bazel
  build/openresty/BUILD.openresty.bazel
  build/openresty/repositories.bzl
  build/openresty/wasmx/filters/BUILD.bazel
  build/openresty/wasmx/filters/repositories.bzl
  build/openresty/wasmx/filters/variables.bzl
Labels: size/M, build/bazel, cherry-pick kong-ee, core/wasm

#12860 fix(plugins/AI-proxy): db migrations for AI-proxy plugin
  changelog/unreleased/migration_of_ai_proxy_plugin.yml
  kong-3.7.0-0.rockspec
  kong/llm/init.lua
  kong/plugins/ai-proxy/migrations/001_360_to_370.lua
  kong/plugins/ai-proxy/migrations/init.lua
  spec/05-migration/plugins/ai-proxy/migrations/001_360_to_370_spec.lua
Labels: core/db/migrations, size/M, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#12854 fix(AI-Proxy): improve the robustness of anthropic's statistics
  kong/llm/drivers/anthropic.lua
  spec/03-plugins/38-ai-proxy/03-anthropic_integration_spec.lua
  spec/fixtures/ai-proxy/anthropic/llm-v1-chat/responses/malformed_usage_response.json
  spec/fixtures/ai-proxy/anthropic/llm-v1-chat/responses/no_usage_response.json
Labels: pr/ready (but hold merge), skip-changelog, size/L, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#12816 chore(cd): degrade actions/cache from v4 to v3
  .github/workflows/release.yml
Labels: chore, size/XS, cherry-pick kong-ee

#12891 fix: typo in feat-jwt-es512.yml change log
  changelog/unreleased/kong/feat-jwt-es512.yml
Labels: size/XS, cherry-pick kong-ee

#12814 feat(clustering): add compatible checkers for mixed mode routes
  kong/clustering/compat/checkers.lua
  kong/clustering/compat/init.lua
  kong/clustering/control_plane.lua
  spec/01-unit/19-hybrid/03-compat_spec.lua
Labels: core/clustering, skip-changelog, size/L, cherry-pick kong-ee

#12797 fix(dbless): nest duplicate entity primary key errors for children
  changelog/unreleased/kong/fix-dbless-duplicate-target-error.yml
  kong/db/errors.lua
  kong/db/schema/others/declarative_config.lua
  spec/02-integration/04-admin_api/15-off_spec.lua
Labels: core/db, size/L, schema-change-noteworthy, cherry-pick kong-ee

#12825 fix(wasm): disable Lua DNS resolver for proxy-wasm
  changelog/unreleased/kong/fix-wasm-disable-pwm-lua-resolver.yml
  kong/conf_loader/init.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/02-integration/20-wasm/04-proxy-wasm_spec.lua
Labels: core/configuration, size/S, cherry-pick kong-ee

#12908 chore(deps): bump lua-resty-http to 0.17.2
  changelog/unreleased/kong/bump-lua-resty-http-0.17.2.yml
  kong-3.7.0-0.rockspec
Labels: size/XS

#12911 chore(deps): bump atc-router from v1.6.1 to v1.6.2
  .requirements
  changelog/unreleased/kong/bump-atc-router.yml
Labels: size/XS, cherry-pick kong-ee

#12910 chore(deps): bump libexpat from 2.5.0 to 2.6.2
  .requirements
  build/libexpat/repositories.bzl
  changelog/unreleased/kong/bump-libexpat.yml
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/debian-10-amd64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/debian-12-amd64.txt
  scripts/explain_manifest/fixtures/el7-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-amd64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
Labels: size/M, build/bazel, cherry-pick kong-ee

#12909 chore(deps): bump resty.acme from 0.12.0 to 0.13.0
  changelog/unreleased/kong/bump-lua-resty-acme.yml
  kong-3.7.0-0.rockspec
Labels: size/XS, cherry-pick kong-ee

#12889 fix analytics with new format
  changelog/unreleased/kong/update-ai-proxy-telemetry.yml
  kong/llm/drivers/shared.lua
  kong/plugins/ai-request-transformer/handler.lua
  kong/plugins/ai-response-transformer/handler.lua
  spec/03-plugins/38-ai-proxy/02-openai_integration_spec.lua
  spec/03-plugins/39-ai-request-transformer/02-integration_spec.lua
  spec/03-plugins/40-ai-response-transformer/02-integration_spec.lua
Labels: core/pdk, core/db, size/L, schema-change-noteworthy, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#12917 fix(dns): keep the force no sync option on recursive toip calls
  kong/resty/dns/client.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee

#12904 fix(cjson): port cjson fix that throws error when T_END found in the
  build/openresty/patches/lua-cjson-2.1.0.13_01-error-on-t_end.patch
  changelog/unreleased/kong/fix-cjson-t-end.yml
Labels: size/S, build/bazel, cherry-pick kong-ee

#12875 refactor(router/atc): do not create new table in `split_routes_and_services_by_path()`
  kong/router/transform.lua
  spec/01-unit/08-router_spec.lua
Labels: core/router, skip-changelog, size/M, cherry-pick kong-ee

#12843 feat(wasm): support bundled filters
  changelog/unreleased/kong/wasm-bundled-filters.yml
  kong.conf.default
  kong/conf_loader/constants.lua
  kong/conf_loader/init.lua
  kong/constants.lua
  kong/templates/kong_defaults.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/02-integration/20-wasm/06-clustering_spec.lua
  spec/02-integration/20-wasm/07-reports_spec.lua
  spec/02-integration/20-wasm/08-declarative_spec.lua
Labels: core/templates, core/configuration, size/L, build/bazel, cherry-pick kong-ee, core/wasm

#12320 feat(clustering): CP/DP RPC framework & dynamic log level RPC
  .requirements
  build/BUILD.bazel
  build/openresty/repositories.bzl
  build/openresty/snappy/BUILD.bazel
  build/openresty/snappy/snappy_repositories.bzl
  changelog/unreleased/kong/cp-dp-rpc.yml
  changelog/unreleased/kong/dynamic-log-level-rpc.yml
  kong-3.7.0-0.rockspec
  kong/api/routes/debug.lua
  kong/clustering/control_plane.lua
  kong/clustering/rpc/callbacks.lua
  kong/clustering/rpc/concentrator.lua
  kong/clustering/rpc/future.lua
  kong/clustering/rpc/json_rpc_v2.lua
  kong/clustering/rpc/manager.lua
  kong/clustering/rpc/queue.lua
  kong/clustering/rpc/socket.lua
  kong/clustering/rpc/utils.lua
  kong/clustering/services/debug.lua
  kong/conf_loader/constants.lua
  kong/constants.lua
  kong/db/migrations/core/023_360_to_370.lua
  kong/db/migrations/core/init.lua
  kong/db/schema/entities/clustering_data_planes.lua
  kong/db/schema/typedefs.lua
  kong/db/strategies/postgres/connector.lua
  kong/init.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong.lua
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  spec/01-unit/01-db/06-postgres_spec.lua
  spec/01-unit/04-prefix_handler_spec.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/02-integration/18-hybrid_rpc/01-rpc_spec.lua
  spec/02-integration/18-hybrid_rpc/02-log-level_spec.lua
  spec/02-integration/18-hybrid_rpc/03-inert_spec.lua
  spec/05-migration/db/migrations/core/023_360_to_370_spec.lua
Labels: core/proxy, core/db/migrations, core/clustering, core/templates, core/admin-api, core/db, core/configuration, size/XXL, schema-change-noteworthy, build/bazel, cherry-pick kong-ee

#12836 feat(prometheus): add workspace label to the real time metrics
  changelog/unreleased/kong/feat-add-workspace-label-to-prometheus.yml
  kong/pdk/log.lua
  kong/plugins/prometheus/exporter.lua
  spec/03-plugins/26-prometheus/02-access_spec.lua
  spec/03-plugins/26-prometheus/03-custom-serve_spec.lua
  spec/03-plugins/26-prometheus/04-status_api_spec.lua
  spec/03-plugins/26-prometheus/05-metrics_spec.lua
Labels: core/logs, plugins/prometheus, size/M, cherry-pick kong-ee

#12923 fix(tests): oauth2 flakiness
  spec/03-plugins/25-oauth2/04-invalidations_spec.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee

#12934 chore(deps): bump tj-actions/changed-files to 44.0.0
  .github/workflows/changelog-requirement.yml
Labels: chore, size/XS

#12936 chore(deps): bump tj-actions/changed-files to 44.0.0
  .github/workflows/changelog-requirement.yml
Labels: chore, size/XS, core/wasm

#12900 chore(docs): reword consumers username and custom_id field description
  kong/db/schema/entities/consumers.lua
Labels: core/db, skip-changelog, size/XS, schema-change-noteworthy, cherry-pick kong-ee

#12935 chore(deps): bump tj-actions/changed-files to 44.0.0
  .github/workflows/changelog-requirement.yml
Labels: chore, size/XS, core/wasm

#12939 fix(build): fix snappy shared library build on macOS
  .bazelrc
  build/BUILD.bazel
  build/openresty/snappy/BUILD.bazel
Labels: skip-changelog, size/S, build/bazel, cherry-pick kong-ee

#12944 Revert "chore(deps): bump bazelbuild/setup-bazelisk from 2.0.0 to 3.0.0"
  .github/workflows/release.yml
Labels: chore, size/XS

#12932 refactor(tools): update all references to `tools.rand`
  kong/globalpatches.lua
  kong/pdk/tracing.lua
  kong/plugins/oauth2/access.lua
  kong/plugins/oauth2/secret.lua
  kong/plugins/session/schema.lua
  kong/plugins/zipkin/handler.lua
  kong/plugins/zipkin/span.lua
  kong/tools/utils.lua
  spec/01-unit/05-utils_spec.lua
  spec/01-unit/26-tracing/01-tracer_pdk_spec.lua
  spec/02-integration/14-tracing/02-propagation_spec.lua
  spec/02-integration/20-wasm/06-clustering_spec.lua
  spec/02-integration/20-wasm/09-filter-meta_spec.lua
  spec/03-plugins/04-file-log/01-log_spec.lua
  spec/03-plugins/09-key-auth/01-api_spec.lua
  spec/03-plugins/10-basic-auth/02-api_spec.lua
  spec/03-plugins/16-jwt/02-api_spec.lua
  spec/03-plugins/19-hmac-auth/02-api_spec.lua
  spec/03-plugins/31-proxy-cache/05-cache_key_spec.lua
  spec/03-plugins/34-zipkin/zipkin_no_endpoint_spec.lua
  spec/03-plugins/34-zipkin/zipkin_queue_spec.lua
  spec/03-plugins/34-zipkin/zipkin_spec.lua
  spec/03-plugins/37-opentelemetry/01-otlp_spec.lua
  spec/03-plugins/37-opentelemetry/03-propagation_spec.lua
  spec/03-plugins/37-opentelemetry/04-exporter_spec.lua
  spec/fixtures/custom_vaults/kong/vaults/random/init.lua
  spec/helpers/perf/drivers/docker.lua
  spec/helpers/perf/drivers/terraform.lua
Labels: plugins/oauth2, core/pdk, plugins/session, skip-changelog, plugins/zipkin, size/L, core/tracing, schema-change-noteworthy, cherry-pick kong-ee

#12757 feat(plugins): standard-webhooks
  .github/labeler.yml
  changelog/unreleased/kong/plugins-add-standard-webhooks.yml
  kong-3.7.0-0.rockspec
  kong/constants.lua
  kong/plugins/standard-webhooks/handler.lua
  kong/plugins/standard-webhooks/internal.lua
  kong/plugins/standard-webhooks/schema.lua
  spec/01-unit/12-plugins_order_spec.lua
  spec/03-plugins/44-standard-webhooks/01-unit_spec.lua
  spec/03-plugins/44-standard-webhooks/02-integration_spec.lua
Labels: chore, size/L, schema-change-noteworthy, cherry-pick kong-ee

#12946 fix(clustering/rpc): fix incorrect `is_timeout()` call introduced during
  kong/clustering/rpc/concentrator.lua
  spec/02-integration/18-hybrid_rpc/04-concentrator_spec.lua
  spec/fixtures/template_inject/nginx_kong_test_custom_inject_http.lua
Labels: core/clustering, skip-changelog, size/L, cherry-pick kong-ee

#12941 chore(deps): bump ngx_wasm_module to 91d447ff
  .requirements
  changelog/unreleased/kong/bump-ngx-wasm-module.yml
  spec/02-integration/20-wasm/04-proxy-wasm_spec.lua
  spec/fixtures/proxy_wasm_filters/tests/src/routines.rs
  spec/fixtures/proxy_wasm_filters/tests/src/test_http.rs
Labels: size/S, cherry-pick kong-ee

#12903 refactor(ai-plugins): streamline AI Proxy streaming system & add compatibilty for existing "client SDKs"
  changelog/unreleased/kong/ai-proxy-client-params.yml
  changelog/unreleased/kong/ai-proxy-preserve-mode.yml
  kong/clustering/compat/checkers.lua
  kong/llm/drivers/anthropic.lua
  kong/llm/drivers/azure.lua
  kong/llm/drivers/cohere.lua
  kong/llm/drivers/llama2.lua
  kong/llm/drivers/mistral.lua
  kong/llm/drivers/openai.lua
  kong/llm/drivers/shared.lua
  kong/llm/init.lua
  kong/plugins/ai-proxy/handler.lua
  kong/tools/http.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/03-plugins/38-ai-proxy/01-unit_spec.lua
  spec/03-plugins/38-ai-proxy/02-openai_integration_spec.lua
  spec/03-plugins/38-ai-proxy/03-anthropic_integration_spec.lua
  spec/03-plugins/38-ai-proxy/04-cohere_integration_spec.lua
  spec/03-plugins/38-ai-proxy/05-azure_integration_spec.lua
  spec/03-plugins/38-ai-proxy/06-mistral_integration_spec.lua
  spec/03-plugins/38-ai-proxy/09-streaming_integration_spec.lua
  spec/03-plugins/39-ai-request-transformer/01-transformer_spec.lua
  spec/03-plugins/40-ai-response-transformer/01-transformer_spec.lua
  spec/fixtures/ai-proxy/anthropic/llm-v1-chat/requests/good-stream.json
  spec/fixtures/ai-proxy/unit/expected-requests/anthropic/llm-v1-chat.json
  spec/fixtures/ai-proxy/unit/expected-requests/anthropic/llm-v1-completions.json
  spec/fixtures/ai-proxy/unit/expected-requests/azure/llm-v1-completions.json
  spec/fixtures/ai-proxy/unit/expected-requests/cohere/llm-v1-chat.json
  spec/fixtures/ai-proxy/unit/expected-requests/cohere/llm-v1-completions.json
  spec/fixtures/ai-proxy/unit/expected-requests/llama2/raw/llm-v1-chat.json
  spec/fixtures/ai-proxy/unit/expected-requests/llama2/raw/llm-v1-completions.json
  spec/fixtures/ai-proxy/unit/real-stream-frames/openai/llm-v1-completions.txt
Labels: core/clustering, size/XXL, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#12924 feat(ai): improve analytics report
  changelog/unreleased/kong/add-ai-data-report.yml
  kong/init.lua
  kong/reports.lua
  spec/02-integration/22-ai_plugins/01-reports_spec.lua
Labels: size/L, cherry-pick kong-ee

#12961 Revert "feat(plugins): standard-webhooks"
  .github/labeler.yml
  changelog/unreleased/kong/plugins-add-standard-webhooks.yml
  kong-3.7.0-0.rockspec
  kong/constants.lua
  kong/plugins/standard-webhooks/handler.lua
  kong/plugins/standard-webhooks/internal.lua
  kong/plugins/standard-webhooks/schema.lua
  spec/01-unit/12-plugins_order_spec.lua
  spec/03-plugins/44-standard-webhooks/01-unit_spec.lua
  spec/03-plugins/44-standard-webhooks/02-integration_spec.lua
Labels: skip-changelog, chore, size/L, schema-change-noteworthy, cherry-pick kong-ee, plugins/standard-webhooks

#12940 chore(patches): add patches from upstream openresty
  build/openresty/patches/ngx_lua-0.10.26_04-head-request-smuggling.patch
  build/openresty/patches/ngx_lua-0.10.26_05-setkeepalive-data-integrity.patch
  build/openresty/patches/ngx_lua-0.10.26_06-ngx-arg-connection-close.patch
  build/openresty/patches/ngx_stream_lua-0.0.14_04-setkeepalive-data-integrity.patch
  build/openresty/patches/ngx_stream_lua-0.0.14_05-ssl-context.patch
Labels: size/L, build/bazel, cherry-pick kong-ee

#12899 feat: add EmmyLuaDebugger hook
  DEVELOPER.md
  changelog/unreleased/kong/feat-emmy-debugger.yml
  kong-3.7.0-0.rockspec
  kong/init.lua
  kong/tools/emmy_debugger.lua
Labels: core/docs, size/L, cherry-pick kong-ee

#12960 feat(admin-gui): bump kong-admin to v3.7.0.0
  .requirements
  changelog/unreleased/kong-manager/data_plane_list.yml
  changelog/unreleased/kong-manager/dynamic_log_leveling.yml
  changelog/unreleased/kong-manager/expressions_routes.yml
  changelog/unreleased/kong-manager/plugin_forms_improvements.yml
  changelog/unreleased/kong-manager/ui_improvements.yml
Labels: size/M, cherry-pick kong-ee, backport release/3.7.x

#12963 docs(changelog): add changelog entry for #12814
  changelog/unreleased/kong/feat-hybrid-sync-mixed-route-policy.yml
Labels: size/XS, cherry-pick kong-ee, backport release/3.7.x

#12950 docs(kong.conf.default): update the description of router_flavor
  kong.conf.default
Labels: skip-changelog, size/XS, cherry-pick kong-ee, backport release/3.7.x

#12966 fix(emmy-lua-debugger): add support status warning for feature
  changelog/unreleased/kong/feat-emmy-debugger.yml
  kong/tools/emmy_debugger.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee

#12970 fix(emmy-lua-debugger): add support status warning for feature
  changelog/unreleased/kong/feat-emmy-debugger.yml
  kong/tools/emmy_debugger.lua
Labels: size/XS
