Repository Kong/kong, pull requests merged in 2025-06, with the labels that each got.

#14632 docs(changelog): consolidate 3.9.1 changelog into CHANGELOG.md (#14596)
  CHANGELOG.md
Labels: size/M, changelog

#14633 chore(scripts): update the version_bump script's commit message
  scripts/make-release
Labels: size/XS, cherry-pick kong-ee, backport release/3.9.x

#14634 chore(release): bump version to 3.9.2
  kong-3.9.2-0.rockspec
  kong/meta.lua
Labels: skip-changelog, size/XS

#14644 [backport to release/3.9.x] chore(ci): enable dockerhub organization access token (OAT) (#14572)
  .github/workflows/release.yml
Labels: chore, size/S

#14648 fix(build): use default AR args for the Lua package on macOS
  build/luarocks/lua/BUILD.lua.bazel
Labels: size/XS, build/bazel, cherry-pick kong-ee

#14669 docs(COPYRIGHT): update copyright for 3.9.1
  COPYRIGHT
Labels: size/XS
