Repository Kong/kong, pull requests merged in 2025-05, with the labels that each got.

#14437 fix(jwt):correct header delimiter to use comma
  changelog/unreleased/kong/fix-jwt-www-authenticate-header-delimiter.yml
  kong/plugins/jwt/handler.lua
  spec/03-plugins/16-jwt/03-access_spec.lua
Labels: size/S, author/community

#14441 style(plugin/jwt): correct code style for #14437
  changelog/unreleased/kong/fix-jwt-www-authenticate-header-delimiter.yml
  kong/plugins/jwt/handler.lua
Labels: plugins/jwt, skip-changelog, size/XS, cherry-pick kong-ee

#14443 chore(*): remove enterprise license notice
  .github/workflows/license-notice-check.yml
  kong/plugins/ai-prompt-decorator/filters/decorate-prompt.lua
  kong/plugins/ai-prompt-guard/filters/guard-prompt.lua
  kong/plugins/ai-prompt-template/filters/render-prompt-template.lua
  kong/plugins/ai-request-transformer/filters/transform-request.lua
  kong/plugins/ai-response-transformer/filters/transform-response.lua
  kong/runloop/upstream_retry.lua
  kong/tools/sandbox/environment/handler.lua
  kong/tools/sandbox/environment/init.lua
  kong/tools/sandbox/environment/lua.lua
  kong/tools/sandbox/environment/schema.lua
  kong/tools/sandbox/init.lua
  kong/tools/sandbox/kong.lua
  kong/tools/sandbox/require/handler.lua
  kong/tools/sandbox/require/init.lua
  kong/tools/sandbox/require/lua.lua
  kong/tools/sandbox/require/schema.lua
  spec/01-unit/01-db/11-declarative_lmdb_spec.lua
  spec/03-plugins/03-http-log/05-old-plugin-compatibility_spec.lua
  spec/03-plugins/25-oauth2/05-kdf_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/preserve-nulls/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/preserve-nulls/schema.lua
Labels: core/proxy, skip-changelog, chore, size/L, schema-change-noteworthy, plugins/ai-request-transformer, plugins/ai-response-transformer, plugins/ai-prompt-guard, plugins/ai-prompt-template, plugins/ai-prompt-decorator

#14452 ci(*): detect unexpected EE changes
  .github/workflows/copyright-check.yml
Labels: skip-changelog, chore, size/S

#14458 fix(core): downgrade log level for routes rebuilding (#12340)
  changelog/unreleased/kong/fix-downgrade-routes-plugins-rebuilding-log-level.yml
  kong/runloop/handler.lua
Labels: core/proxy, size/S, cherry-pick kong-ee

#13809 chore(pdk): set stack rewind to 3 to display the correct line when do…
  kong/pdk/private/phases.lua
Labels: core/pdk, skip-changelog, size/XS, cherry-pick kong-ee

#14538 tests(clustering/rpc): add test cases for rpc concentrator
  spec/02-integration/18-hybrid_rpc/04-concentrator_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/rpc-concentrator-test/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/rpc-concentrator-test/schema.lua
Labels: skip-changelog, size/L, cherry-pick kong-ee

#14541 fix(clustering/rpc): rpc concentrator may not work with sync v1
  kong/clustering/control_plane.lua
  kong/clustering/rpc/manager.lua
  spec/02-integration/18-hybrid_rpc/04-concentrator_spec.lua
Labels: core/clustering, skip-changelog, size/M, cherry-pick kong-ee

#14569 feat(anonymous_reports): report the state of new_dns_client
  kong/reports.lua
  spec/01-unit/11-reports_spec.lua
Labels: skip-changelog, size/S, cherry-pick kong-ee, backport release/3.9.x

#14584 docs(COPYRIGHT): update copyright for 3.9.1
  COPYRIGHT
Labels: size/XS

#14594 docs(changelog): reword changelog entries based on the review comments
  changelog/unreleased/kong/add_ai_gemini_boto_support.yml
  changelog/unreleased/kong/fix-ai-azure-incorrect-path-overriding.yml
  changelog/unreleased/kong/fix_ai-logger-error-handling.yml
  changelog/unreleased/kong/fix_ai-plugins-templating.yml
  changelog/unreleased/kong/fix_ai-streaming-function-calls.yml
  changelog/unreleased/kong/fix_ai_proxy_config_issue.yml
Labels: size/S, cherry-pick kong-ee, backport release/3.9.x

#14371 style(plugin/oauth2): incorrect RFC reference in OAuth2 plugin schema
  kong/plugins/oauth2/schema.lua
Labels: skip-changelog, size/XS, author/community, cherry-pick kong-ee

#14596 docs(changelog): consolidate 3.9.1 changelog into CHANGELOG.md
  CHANGELOG.md
Labels: size/M, changelog
