Repository Kong/kong, pull requests merged in 2025-01, with the labels that each got.

#14049 fix(certificate): unable to refresh certificate entity with vault reference when initial with an invalid string
  changelog/unreleased/kong-ee/fix-certificate-reference.yml
  kong/resty/mlcache/init.lua
  spec/02-integration/13-vaults/05-ttl_spec.lua
  t/05-mlcache/07-l1_serializer.t
Labels: size/XL, backport release/3.7.x, backport release/3.8.x, backport release/3.6.x, backport release/3.9.x

#14070 feat(clustering/rpc): always sync when rpc connected
  kong/clustering/data_plane.lua
  kong/clustering/services/sync/init.lua
Labels: core/clustering, skip-changelog, size/S, cherry-pick kong-ee

#14064 fix(clustering/rpc): check deltas if it is nil
  kong/clustering/services/sync/rpc.lua
Labels: core/clustering, skip-changelog, size/XS, cherry-pick kong-ee

#14071 fix(clustering/rpc): invoke `notify_new_version` on events `clustering, push_config`
  kong/clustering/services/sync/init.lua
Labels: core/clustering, skip-changelog, size/XS, cherry-pick kong-ee

#14076 feat(clustering/rpc): stop ngx.timer.every if no sync.v2
  kong/clustering/data_plane.lua
  kong/clustering/services/sync/init.lua
  kong/clustering/services/sync/rpc.lua
Labels: core/clustering, skip-changelog, size/M, cherry-pick kong-ee

#14089 fix(clustering/rpc): dont start too many timers for sync
  kong/clustering/services/sync/rpc.lua
Labels: skip-changelog, size/S

#14085 fix(session): adds a compatablity for session
  kong/clustering/compat/removed_fields.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
Labels: skip-changelog, size/M

#14090 chore(CI): remove `release-and-tests-fail-bot.yml`
  .github/workflows/release-and-tests-fail-bot.yml
Labels: size/M

#14099 [Backport -> release/3.6.x] chore(CI): remove `release-and-tests-fail-bot.yml`
  .github/workflows/release-and-tests-fail-bot.yml
Labels: size/M

#14102 [Backport -> release/3.6.1] chore(CI): remove `release-and-tests-fail-bot.yml`
  .github/workflows/release-and-tests-fail-bot.yml
Labels: size/M

#14109 [Backport -> release/3.9.0] chore(CI): remove `release-and-tests-fail-bot.yml`
  .github/workflows/release-and-tests-fail-bot.yml
Labels: size/M

#14108 [Backport -> release/3.9.x] chore(CI): remove `release-and-tests-fail-bot.yml`
  .github/workflows/release-and-tests-fail-bot.yml
Labels: size/M

#14106 [Backport -> release/3.7.1] chore(CI): remove `release-and-tests-fail-bot.yml`
  .github/workflows/release-and-tests-fail-bot.yml
Labels: size/M

#14103 [Backport -> release/3.7.x] chore(CI): remove `release-and-tests-fail-bot.yml`
  .github/workflows/release-and-tests-fail-bot.yml
Labels: size/M

#14101 [Backport -> release/3.6.0] chore(CI): remove `release-and-tests-fail-bot.yml`
  .github/workflows/release-and-tests-fail-bot.yml
Labels: size/M

#14100 [Backport -> release/3.6.x-no-redis-changes] chore(CI): remove `release-and-tests-fail-bot.yml`
  .github/workflows/release-and-tests-fail-bot.yml
Labels: size/M

#14098 [Backport -> release/3.5.0] chore(CI): remove `release-and-tests-fail-bot.yml`
  .github/workflows/release-and-tests-fail-bot.yml
Labels: size/M

#14097 [Backport -> release/3.5.x] chore(CI): remove `release-and-tests-fail-bot.yml`
  .github/workflows/release-and-tests-fail-bot.yml
Labels: size/M

#14096 [Backport -> release/3.4.x] chore(CI): remove `release-and-tests-fail-bot.yml`
  .github/workflows/release-and-tests-fail-bot.yml
Labels: size/M

#14095 [Backport -> release/3.3.1] chore(CI): remove `release-fail-bot.yml`
  .github/workflows/release-fail-bot.yml
Labels: size/M

#14094 [Backport -> release/3.3.x] chore(CI): remove `release-and-tests-fail-bot.yml`
  .github/workflows/release-and-tests-fail-bot.yml
Labels: size/M

#14093 [Backport -> release/3.2.x] chore(CI): remove `release-and-tests-fail-bot.yml`
  .github/workflows/release-and-tests-fail-bot.yml
Labels: size/M

#14092 [Backport -> next/2.8.5] chore(CI): remove `release-and-tests-fail-bot.yml`
  .github/workflows/release-and-tests-fail-bot.yml
Labels: size/M

#14091 [Backport -> next/2.8.x] chore(CI): remove `release-and-tests-fail-bot.yml`
  .github/workflows/release-and-tests-fail-bot.yml
Labels: size/M

#14104 [Backport -> release/3.7.0] chore(CI): remove `release-and-tests-fail-bot.yml`
  .github/workflows/release-and-tests-fail-bot.yml
Labels: size/M

#14115 chore(ci): pin third-party GitHub actions to specific commit hashes
  .github/workflows/autodocs.yml
  .github/workflows/build_and_test.yml
  .github/workflows/changelog-validation.yml
  .github/workflows/label-schema.yml
  .github/workflows/release.yml
  .github/workflows/update-test-runtime-statistics.yml
Labels: size/S

#14079 fix(ai): response stream chunking de-buffering
  changelog/unreleased/kong/fix-ai-chunking.yml
  kong-3.10.0-0.rockspec
  kong/llm/plugin/base.lua
  kong/llm/plugin/shared-filters/enable-buffering.lua
  kong/llm/plugin/shared-filters/normalize-response-header.lua
  kong/llm/plugin/shared-filters/parse-sse-chunk.lua
  kong/plugins/ai-proxy/handler.lua
  spec/03-plugins/38-ai-proxy/09-streaming_integration_spec.lua
Labels: size/M, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer, backport release/3.9.x

#14084 fix(core): set correct permissions for socket path when umask is set to `0027`
  changelog/unreleased/kong/fix-socket-path-permissions.yml
  kong/cmd/utils/prefix_handler.lua
Labels: size/XS

#14117 fix(workflow): rename workflows
  .github/workflows/backport-v2.yml
  .github/workflows/cherry-picks-v2.yml
  .github/workflows/labeler-v2.yml
Labels: chore, size/S

#14119 fix(workflow): remove unused pr-diff workflow
  .github/workflows/pr-diff.yml
Labels: size/L

#14061 chore(deps): install lua-messagepack 0.5.2 by rock directly
  build/luarocks/BUILD.luarocks.bazel
  build/luarocks/luarocks_repositories.bzl
Labels: size/S, build/bazel

#13708 chore(build): rename rust target wasm32-wasi to wasm32-wasip1
  .github/actions/build-wasm-test-filters/action.yml
  scripts/build-wasm-test-filters.sh
Labels: chore, size/S, build/bazel, cherry-pick kong-ee

#14128 [backport to release/3.9.x] chore(ci): pin third-party GitHub actions to specific commit hashes (#14115)
  .github/workflows/autodocs.yml
  .github/workflows/build_and_test.yml
  .github/workflows/changelog-validation.yml
  .github/workflows/label-schema.yml
  .github/workflows/release.yml
  .github/workflows/update-test-runtime-statistics.yml
Labels: size/S

#14078 feat(clustering/rpc): change sync version to string
  kong/clustering/services/sync/rpc.lua
  kong/clustering/services/sync/strategies/postgres.lua
  spec/02-integration/18-hybrid_rpc/05-sync-rpc_spec.lua
Labels: core/clustering, core/db, skip-changelog, size/M, cherry-pick kong-ee

#14118 fix(balancer): handle hyphenated-Pascal-case headers in consistent hashing
  changelog/unreleased/kong/fix-consistent-hashing-for-hyphenated-pascal-case-headers.yml
  kong/runloop/balancer/init.lua
  spec/02-integration/05-proxy/10-balancer/03-consistent-hashing_spec.lua
Labels: size/M

#14125 fix(clustering/rpc): sync if versions arent equal
  kong/clustering/services/sync/rpc.lua
Labels: core/clustering, skip-changelog, size/XS, cherry-pick kong-ee

#14137 fix(docs): fix a typo in bash commands of crate_locks readme
  crate_locks/README.md
Labels: core/docs, size/XS

#14138 chore(deps): bump atc-router from v1.6.2 to 1.7.1
  .requirements
  changelog/unreleased/kong/bump-atc-router.yml
  crate_locks/atc_router.Cargo.lock
  crate_locks/atc_router.lock
Labels: size/XXL, cherry-pick kong-ee

#14136 tests(clustering): simplify hybrid status tests
  spec/02-integration/09-hybrid_mode/11-status_spec.lua
Labels: skip-changelog, size/M, cherry-pick kong-ee

#14135 refactor(clustering/rpc): move is_valid_version() to strategies
  kong/clustering/services/sync/rpc.lua
  kong/clustering/services/sync/strategies/postgres.lua
Labels: core/clustering, skip-changelog, size/S, cherry-pick kong-ee, incomplete-cherry-pick

#14056 fix(runloop): skip router rebuilding if reconfigure is running
  kong/runloop/handler.lua
Labels: core/proxy, skip-changelog, size/S, cherry-pick kong-ee

#14149 [backport to release/3.7.x] chore(wasm): remove bundled datakit filter (#14013)
  build/openresty/wasmx/filters/variables.bzl
  changelog/unreleased/kong/remove-datakit.yml
  kong/conf_loader/init.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/02-integration/20-wasm/07-reports_spec.lua
Labels: size/M

#14150 [backport to release/3.8.x] chore(wasm): remove bundled datakit filter (#14013)
  build/openresty/wasmx/filters/variables.bzl
  changelog/unreleased/kong/remove-datakit.yml
  kong/conf_loader/init.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/02-integration/20-wasm/07-reports_spec.lua
Labels: size/S

#14129 tests(clustering/rpc): add cases for notifications
  spec/02-integration/18-hybrid_rpc/07-notification_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/rpc-notification-test/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/rpc-notification-test/schema.lua
Labels: skip-changelog, size/L, cherry-pick kong-ee

#14152 fix(clustering/rpc): record the default workspace after the dropping the lmdb
  kong/clustering/services/sync/rpc.lua
Labels: core/clustering, skip-changelog, size/XS, cherry-pick kong-ee

#14142 tests(clustering): enable rpc sync on test
  spec/03-plugins/11-correlation-id/02-schema_spec.lua
Labels: size/XS, cherry-pick kong-ee

#14040 refactor(clustering/rpc): support rpc batching on dp side
  kong/clustering/rpc/manager.lua
  kong/clustering/rpc/socket.lua
  spec/02-integration/18-hybrid_rpc/06-batch-rpc_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/rpc-batch-test/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/rpc-batch-test/schema.lua
Labels: core/clustering, skip-changelog, size/L, cherry-pick kong-ee

#14122 fix(changelog): add the missing changelog of AI analytics breaking
  changelog/unreleased/kong/fix-ai-analytics-key.yml
Labels: size/XS

#14158 style(clustering/rpc): fix typo of META_V1
  kong/clustering/rpc/manager.lua
Labels: core/clustering, skip-changelog, size/S, cherry-pick kong-ee

#14159 Revert "tests(clustering): enable rpc sync on test"
  spec/03-plugins/11-correlation-id/02-schema_spec.lua
Labels: size/XS, cherry-pick kong-ee

#14082 fix(declarative): generate correct uuid for transient entities
  changelog/unreleased/kong/fix-declarative-config-load.yml
  kong/db/schema/others/declarative_config.lua
  spec/01-unit/01-db/10-declarative_spec.lua
Labels: core/db, size/M, schema-change-noteworthy, cherry-pick kong-ee

#14121 chore(cd): update prerelease docker repository
  .github/workflows/release.yml
Labels: chore, size/XS

#14148 fix(ai): fix Azure streaming with raw JSON transmission mode
  changelog/unreleased/kong/fix-ai-azure-streaming.yml
  kong/llm/drivers/shared.lua
Labels: size/XS, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer, backport release/3.9.x

#14166 fix(plugins): Fixed the stale header cache that causes a break in `grpc-web` & `grpc-gateway` plugins
  changelog/unreleased/kong/fix-header_cache.yml
  kong/runloop/handler.lua
  spec/03-plugins/28-grpc-gateway/01-proxy_spec.lua
  spec/03-plugins/32-grpc-web/01-proxy_spec.lua
Labels: core/proxy, size/L, cherry-pick kong-ee

#14165 chore(ci): pin 3rd-party actions to specific commit hashes
  .github/actions/build-wasm-test-filters/action.yml
Labels: chore, size/XS

#14164 tests(clustering/rpc): add cases for rpc error handler
  kong/clustering/rpc/socket.lua
  spec/02-integration/18-hybrid_rpc/02-error_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/rpc-error-test/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/rpc-error-test/schema.lua
Labels: core/clustering, skip-changelog, size/L, cherry-pick kong-ee

#14177 tests(clustering): clean assertions in batch tests
  spec/02-integration/18-hybrid_rpc/06-batch-rpc_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/rpc-batch-test/handler.lua
Labels: skip-changelog, size/M, cherry-pick kong-ee

#14176 tests(correlation-id): fix flaky test
  spec/03-plugins/11-correlation-id/02-schema_spec.lua
Labels: skip-changelog, size/S, cherry-pick kong-ee, incomplete-cherry-pick

#14181 chore(ci): bump action-slack-notify and public-shared-actions
  .github/workflows/label-schema.yml
  .github/workflows/release.yml
Labels: chore, size/XS, cherry-pick kong-ee, backport release/3.9.x

#14179 tests(clustering): errors spec only for sync.v1
  spec/02-integration/09-hybrid_mode/12-errors_spec.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee, incomplete-cherry-pick

#14174 tests(clustering/rpc): add cases for sync.v2.notify_new_version
  kong/clustering/services/sync/rpc.lua
  spec/02-integration/18-hybrid_rpc/09-notify_new_version_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/rpc-notify-new-version-test/handler.lua
  spec/fixtures/custom_plugins/kong/plugins/rpc-notify-new-version-test/schema.lua
Labels: core/clustering, skip-changelog, size/L, cherry-pick kong-ee, incomplete-cherry-pick

#14191 chore(deps): bump libexpat to 2.6.4
  .requirements
  build/libexpat/BUILD.libexpat.bazel
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/debian-12-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-amd64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-24.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-24.04-arm64.txt
Labels: skip-changelog, chore, size/M, build/bazel, cherry-pick kong-ee

#14193 chore(deps): bump libexpat to 2.6.4 (#14191)
  .requirements
  build/libexpat/BUILD.libexpat.bazel
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/debian-12-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-amd64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-24.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-24.04-arm64.txt
Labels: skip-changelog, size/M

#14180 refactor(clustering): use tools.table.EMPTY to avoid overhead
  kong/clustering/control_plane.lua
  kong/clustering/services/sync/rpc.lua
Labels: core/clustering, skip-changelog, size/XS, cherry-pick kong-ee

#14055 feat(clustering/rpc): rpc batching on concentrator
  kong/clustering/rpc/concentrator.lua
Labels: core/clustering, skip-changelog, size/L, cherry-pick kong-ee

#13992 fix(core): add `tls_verify`, `tls_verify_depth`, `ca_certificates` of a service into the upstream keepalive pool name
  changelog/unreleased/kong/fix-upstream-keep-alive-pool-name.yml
  kong/init.lua
  spec/02-integration/05-proxy/25-upstream_keepalive_spec.lua
Labels: size/L, cherry-pick kong-ee

#14207 docs(changelog): add a changelog for bumping libexpat
  changelog/unreleased/kong/bump-libexpat-to-2_6_4.yml
Labels: size/XS, cherry-pick kong-ee

#14210 chore(changelog): update changelog for bumping libexpat
  changelog/unreleased/kong/bump-libexpat-to-2_6_4.yml
Labels: size/XS, cherry-pick kong-ee

#14208 [backport to release/3.9.x] chore(changelog): add a changelog for bumping libexpat (#14207)
  changelog/unreleased/kong/bump-libexpat-to-2_6_4.yml
Labels: size/XS

#14205 feat(clustering/rpc): update dp status after syncing
  kong/clustering/services/sync/rpc.lua
Labels: core/clustering, skip-changelog, size/S, cherry-pick kong-ee, incomplete-cherry-pick

#14192 fix(clustering/rpc): warning log level for sync retry failing
  kong/clustering/services/sync/rpc.lua
  spec/02-integration/18-hybrid_rpc/09-notify_new_version_spec.lua
Labels: core/clustering, skip-changelog, size/S, cherry-pick kong-ee, incomplete-cherry-pick

#14189 refactor(clustering/rpc): wait 5 seconds for rpc queue
  kong/clustering/rpc/socket.lua
Labels: core/clustering, skip-changelog, size/XS, cherry-pick kong-ee, incomplete-cherry-pick

#14206 fix(cluster): the version `3.10.0.0` assigned the incorrect number.
  kong/clustering/compat/removed_fields.lua
  spec/01-unit/19-hybrid/02-clustering_spec.lua
Labels: core/clustering, skip-changelog, size/XS, cherry-pick kong-ee

#14171 tests(clustering): enable rpc sync for correlation-id
  spec/03-plugins/11-correlation-id/02-schema_spec.lua
Labels: size/M, cherry-pick kong-ee

#14199 refactor(clustering/rpc): reshape do_sync
  kong/clustering/services/sync/rpc.lua
Labels: core/clustering, skip-changelog, size/L, cherry-pick kong-ee, incomplete-cherry-pick

#14127 feat(clustering/sync): validate deltas when syncing
  bin/busted
  kong-3.10.0-0.rockspec
  kong/clustering/services/sync/rpc.lua
  kong/clustering/services/sync/validate.lua
  kong/db/declarative/init.lua
  kong/db/schema/others/declarative_config.lua
  spec/02-integration/09-hybrid_mode/09-node-id-persistence_spec.lua
  spec/02-integration/18-hybrid_rpc/06-validate_deltas_spec.lua
  spec/fixtures/dc_blueprints.lua
  spec/internal/db.lua
Labels: core/clustering, core/db, skip-changelog, size/L, schema-change-noteworthy, cherry-pick kong-ee

#14213 fix(clustering/rpc): added required field for mocked workspace to byass validation
  spec/fixtures/custom_plugins/kong/plugins/rpc-notify-new-version-test/handler.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee, incomplete-cherry-pick

#14153 chore(ci): fix luarocks script redirect typo
  build/luarocks/templates/luarocks_make.sh
  build/luarocks/templates/luarocks_target.sh
Labels: size/XS, build/bazel, cherry-pick kong-ee

#14215 tests(clustering): move validate_deltas to unit tests
  spec/01-unit/19-hybrid/04-validate_deltas_spec.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee, incomplete-cherry-pick

#14111 fix(core): separate plugin server runtime data from kong configuration
  changelog/unreleased/kong/fix-admin-api-route-path-response-error.yml
  kong/runloop/plugin_servers/process.lua
Labels: core/language/go, core/language/python, core/language/js, size/S, cherry-pick kong-ee

#14227 [cherry-pick kong-ee#11258 ] chore(*): new dns client consistency with EE
  kong/dns/client.lua
Labels: skip-changelog, size/M

#14020 feat(prometheus): expose controlplane connectivity state as a gauge
  changelog/unreleased/kong/add-cp-connectivity-metric-prometheus.yml
  kong/clustering/data_plane.lua
  kong/plugins/prometheus/exporter.lua
  spec/03-plugins/26-prometheus/04-status_api_spec.lua
Labels: core/clustering, plugins/prometheus, size/L, cherry-pick kong-ee

#14230 chore(patches): backport revert override of ljlibd
  build/openresty/patches/LuaJIT-2.1-20240815_03-revert-reflect-override-of-ljlibd.patch
Labels: skip-changelog, size/M, build/bazel

#14220 fix(clustering/sync): fix default workspace check
  kong/clustering/services/sync/rpc.lua
Labels: core/clustering, skip-changelog, size/S, cherry-pick kong-ee

#14234 Docs: change key-sets to Key Sets to match Konnect in entity description text
  kong/db/schema/entities/key_sets.lua
  kong/db/schema/entities/keys.lua
Labels: core/db, core/docs, skip-changelog, size/XS, schema-change-noteworthy, cherry-pick kong-ee
