Repository Kong/kong, pull requests merged in 2025-04, with the labels that each got.

#14385 refactor(clustering/rpc): remove CP's duplicated sync event
  kong/clustering/services/sync/hooks.lua
Labels: core/clustering, skip-changelog, size/XS

#14319 docs(pdk): tracing
  kong/pdk/tracing.lua
Labels: core/pdk, skip-changelog, size/XS, core/tracing, cherry-pick kong-ee

#14396 chore(deps): bump openresty from 1.27.1.1 to 1.27.1.2
  .requirements
  build/openresty/patches/LuaJIT-2.1-20240815_01_patch_macro_luajit_version.patch
  build/openresty/patches/LuaJIT-2.1-20250117_01-patch-macro-luajit-version.patch
  build/openresty/patches/LuaJIT-2.1-20250117_02-pass-cc-env.patch
  build/openresty/patches/LuaJIT-2.1-20250117_03-revert-reflect-override-of-ljlibd.patch
  build/openresty/patches/lua-cjson-2.1.0.14_01-error-on-t-end.patch
  build/openresty/patches/nginx-1.27.1_01-upstream-client-certificate-and-ssl-verify.patch
  build/openresty/patches/nginx-1.27.1_03-stream-upstream-client-certificate-and-ssl-verify.patch
  build/openresty/patches/nginx-1.27.1_04-grpc-authority-override.patch
  build/openresty/patches/nginx-1.27.1_06-dynamic-log-level.patch
  build/openresty/patches/nginx-1.27.1_11-refresh-uri-when-proxy-pass-balancer-recreate.patch
  build/openresty/patches/nginx-1.27.1_12-fix-preread-bug.patch
  build/openresty/patches/nginx-1.27.1_12-upstream-latency-metrics.patch
  build/openresty/patches/ngx_lua-0.10.27_03-remove-http2-hardcode-limitation-in-ngx-location.patch
  build/openresty/patches/ngx_lua-0.10.27_04-tcpsock-setkeepalive-tls13.patch
  build/openresty/patches/ngx_lua-0.10.28_01-dynamic-log-level.patch
  build/openresty/patches/ngx_lua-0.10.28_02-ssl-disable-h2-alpn.patch
  build/openresty/patches/ngx_stream_lua-0.0.14_01-expose_request_struct.patch
  build/openresty/patches/ngx_stream_lua-0.0.14_02-tcpsock-setkeepalive-tls13.patch
  build/openresty/patches/ngx_stream_lua-0.0.16_01-expose-request-struct.patch
  build/openresty/patches/openresty_01-custom-prefix-and-cc.patch
  changelog/unreleased/kong/bump-openresty.yml
  kong/meta.lua
Labels: size/L, build/bazel, cherry-pick kong-ee

#14402 chore(ci): fix version pattern for Docker tag generation
  .github/workflows/release.yml
Labels: chore, size/XS

#14410 chore(lint): fix some helpers-outside-of-setup warnings
  .ci/ast-grep/rules/helpers-outside-of-setup.yml
  .ci/ast-grep/tests/__snapshots__/helpers-outside-of-setup-snapshot.yml
  .ci/ast-grep/tests/helpers-outside-of-setup-test.yml
  spec/02-integration/02-cmd/17-drain_spec.lua
  spec/02-integration/05-proxy/06-ssl_spec.lua
  spec/02-integration/05-proxy/13-error_handlers_spec.lua
  spec/02-integration/05-proxy/24-buffered_spec.lua
  spec/02-integration/07-sdk/03-cluster_spec.lua
  spec/02-integration/08-status_api/01-core_routes_spec.lua
  spec/02-integration/09-hybrid_mode/11-status_spec.lua
  spec/02-integration/14-observability/03-tracer-pdk_spec.lua
  spec/02-integration/14-observability/06-telemetry-pdk_spec.lua
  spec/02-integration/16-queues/01-shutdown_spec.lua
  spec/02-integration/22-ai_plugins/01-reports_spec.lua
  spec/03-plugins/25-oauth2/01-schema_spec.lua
  spec/03-plugins/26-prometheus/02-access_spec.lua
  spec/03-plugins/26-prometheus/05-metrics_spec.lua
  spec/03-plugins/26-prometheus/06-hybrid-mode_metrics_spec.lua
  spec/03-plugins/26-prometheus/07-optional_fields_spec.lua
  spec/03-plugins/27-aws-lambda/99-access_spec.lua
  spec/03-plugins/29-acme/01-client_spec.lua
  spec/03-plugins/35-azure-functions/01-access_spec.lua
  spec/03-plugins/36-request-transformer/02-access_spec.lua
  spec/03-plugins/37-opentelemetry/04-exporter_spec.lua
  spec/03-plugins/38-ai-proxy/02-openai_integration_spec.lua
  spec/03-plugins/38-ai-proxy/03-anthropic_integration_spec.lua
  spec/03-plugins/38-ai-proxy/04-cohere_integration_spec.lua
  spec/03-plugins/38-ai-proxy/05-azure_integration_spec.lua
  spec/03-plugins/38-ai-proxy/06-mistral_integration_spec.lua
  spec/03-plugins/38-ai-proxy/07-llama2_integration_spec.lua
  spec/03-plugins/38-ai-proxy/08-encoding_integration_spec.lua
  spec/03-plugins/38-ai-proxy/09-streaming_integration_spec.lua
  spec/03-plugins/38-ai-proxy/10-huggingface_integration_spec.lua
  spec/03-plugins/38-ai-proxy/11-gemini_integration_spec.lua
  spec/03-plugins/39-ai-request-transformer/02-integration_spec.lua
  spec/03-plugins/40-ai-response-transformer/01-transformer_spec.lua
  spec/03-plugins/40-ai-response-transformer/02-integration_spec.lua
Labels: skip-changelog, size/XXL

#14403 fix(db): add missing func select_by_ca_certificate for off strategy
  kong-3.10.0-0.rockspec
  kong/db/strategies/off/plugins.lua
  kong/db/strategies/off/services.lua
  spec/01-unit/01-db/13-off/01-select-by-ca-certificate_spec.lua
Labels: core/db, skip-changelog, size/L, cherry-pick kong-ee

#14388 perf(*): faster string splitting and an iterator
  changelog/unreleased/kong/perf-string-splitting.yml
  kong/api/endpoints.lua
  kong/clustering/compat/init.lua
  kong/clustering/compat/version.lua
  kong/clustering/rpc/manager.lua
  kong/cmd/utils/prefix_handler.lua
  kong/conf_loader/parse.lua
  kong/llm/drivers/llama2.lua
  kong/llm/drivers/shared.lua
  kong/observability/tracing/instrumentation.lua
  kong/observability/tracing/propagation/extractors/aws.lua
  kong/pdk/log.lua
  kong/plugins/aws-lambda/request-util.lua
  kong/plugins/hmac-auth/access.lua
  kong/plugins/oauth2/access.lua
  kong/plugins/oauth2/secret.lua
  kong/plugins/proxy-cache/handler.lua
  kong/plugins/response-ratelimiting/header_filter.lua
  kong/plugins/response-transformer/header_transformer.lua
  kong/plugins/zipkin/handler.lua
  kong/plugins/zipkin/request_tags.lua
  kong/router/fields.lua
  kong/runloop/events.lua
  kong/tools/emmy_debugger.lua
  kong/tools/http.lua
  kong/tools/ip.lua
  kong/tools/string.lua
  spec/01-unit/32-tools_string_spec.lua
  spec/02-integration/04-admin_api/12-plugins-conf_spec.lua
  spec/03-plugins/05-syslog/01-log_spec.lua
  spec/03-plugins/08-datadog/01-log_spec.lua
  spec/03-plugins/30-session/01-access_spec.lua
  spec/04-perf/01-rps/01-simple_spec.lua
  spec/04-perf/01-rps/02-balancer_spec.lua
  spec/04-perf/01-rps/03-plugin_iterator_spec.lua
  spec/04-perf/01-rps/04-simple_hybrid_spec.lua
  spec/04-perf/01-rps/05-prometheus.lua
  spec/04-perf/01-rps/06-core_entities_crud_spec.lua
  spec/04-perf/01-rps/07-upstream_lock_regression_spec.lua
  spec/04-perf/02-flamegraph/01-simple_spec.lua
  spec/04-perf/02-flamegraph/03-plugin_iterator_spec.lua
  spec/04-perf/02-flamegraph/05-prometheus.lua
  spec/04-perf/02-flamegraph/07-upstream_lock_regression_spec.lua
  spec/fixtures/forward-proxy-server.lua
  spec/fixtures/mock_upstream.lua
Labels: core/cli, core/proxy, plugins/oauth2, plugins/hmac-auth, core/clustering, core/router, plugins/aws-lambda, plugins/response-transformer, core/admin-api, plugins/response-ratelimiting, core/configuration, plugins/proxy-cache, core/logs, plugins/zipkin, size/XL, core/tracing, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer

#14422 chore(docs): move changelog entry to the correct directory
  changelog/unreleased/kong/fix-certificate-reference.yml
Labels: skip-changelog

#14414 chore(lint): fix remaining helpers-outside-of-setup warnings
  spec/02-integration/04-admin_api/21-admin-api-keys_spec.lua
  spec/02-integration/05-proxy/10-balancer/02-least-connections_spec.lua
  spec/02-integration/05-proxy/10-balancer/07-latency_spec.lua
  spec/02-integration/08-status_api/05-dns_client_spec.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/03-plugins/23-rate-limiting/04-access_spec.lua
  spec/03-plugins/26-prometheus/04-status_api_spec.lua
  spec/03-plugins/39-ai-request-transformer/01-transformer_spec.lua
Labels: skip-changelog, size/L, cherry-pick kong-ee

#14368 fix(plugin/cors): treat empty Origin header same as missing header
  changelog/unreleased/kong/fix-cors-allow-empty-string-origin.yml
  kong/plugins/cors/handler.lua
  spec/03-plugins/13-cors/01-access_spec.lua
Labels: size/M, author/community, cherry-pick kong-ee

#14434 docs(readme): display master latest commit's Build & Test workflow status
  README.md
Labels: core/docs, size/XS

#14419 ci: add pgvector folder to CI labeler
  .github/labeler.yml
Labels: chore, size/XS
