Repository Kong/kong, pull requests merged in 2025-07, with the labels that each got.

#14671 chore(deps): bump luarocks to 3.12.2
  .requirements
  changelog/unreleased/kong/bump-luarocks-to-3_12_2.yml
Labels: size/XS, cherry-pick kong-ee

#14708 fix(ci): fix upgrade-test failure caused by renamed rockspec file
  scripts/upgrade-tests/test-upgrade-path.sh
Labels: size/S, cherry-pick kong-ee

#14709 docs: bump new year
  COPYRIGHT
  LICENSE
  README.md
Labels: size/XS, author/community
