Repository Kong/kong, pull requests merged in 2025-02, with the labels that each got.

#14228 chore(ci): update build-wasm-test-filters action
  .github/actions/build-wasm-test-filters/action.yml
Labels: chore, size/M

#14218 chore(deps): bump ngx_wasm_module to 7042e29b059ae9831dc2d8cec6043e0da18b3a4a
  .requirements
  changelog/unreleased/kong/bump-ngx-wasm-module.yml
Labels: size/XS, cherry-pick kong-ee

#13960 fix(prometheus): add a toggle switch for wasm metrics export
  changelog/unreleased/kong/prometheus-upstream-metrics-toggle.yml
  kong/clustering/compat/removed_fields.lua
  kong/plugins/prometheus/exporter.lua
  kong/plugins/prometheus/schema.lua
  kong/plugins/prometheus/wasmx.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/03-plugins/26-prometheus/09-wasmx_spec.lua
Labels: core/clustering, plugins/prometheus, size/M, schema-change-noteworthy, cherry-pick kong-ee

#14222 tests(*): make nginx_worker_processes to take effect properly
  spec/02-integration/02-cmd/02-start_stop_spec.lua
  spec/02-integration/05-proxy/02-router_spec.lua
  spec/kong_tests.conf
Labels: size/XS, cherry-pick kong-ee

#14216 fix(clustering/sync): insert default values to delta entities before validation
  kong/clustering/services/sync/validate.lua
  spec/01-unit/19-hybrid/04-validate_deltas_spec.lua
Labels: core/clustering, skip-changelog, size/M, cherry-pick kong-ee, incomplete-cherry-pick

#14211 fix(llm): fix gzip handling when using multiple AI plugins
  kong/llm/plugin/shared-filters/normalize-response-header.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer, backport release/3.9.x

#14241 fix(clustering/rpc): add random for timer‘s name
  kong/clustering/rpc/socket.lua
Labels: core/clustering, skip-changelog, size/XS, cherry-pick kong-ee

#14242 style(daos): rename function parameter to keep consistency
  kong/db/dao/init.lua
Labels: core/db, skip-changelog, size/S, schema-change-noteworthy

#13696 fix(response-ratelimiting): fix missing usage headers for upstream
  changelog/unreleased/kong/fix-response-ratelimiting-upstream-headers.yml
  kong/plugins/response-ratelimiting/access.lua
  spec/03-plugins/24-response-rate-limiting/04-access_spec.lua
Labels: plugins/response-ratelimiting, size/M, author/community, cherry-pick kong-ee, backport release/3.9.x

#14245 tests(clustering/rpc): enable rpc sync for config compat
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
Labels: skip-changelog, size/XS, cherry-pick kong-ee, incomplete-cherry-pick

#14186 fix(llm): fix error when upstream_url missing trailing slash
  changelog/unreleased/kong/fix-ai-upstream-url-trailing-empty.yml
  kong/llm/drivers/anthropic.lua
  kong/llm/drivers/azure.lua
  kong/llm/drivers/bedrock.lua
  kong/llm/drivers/cohere.lua
  kong/llm/drivers/gemini.lua
  kong/llm/drivers/openai.lua
Labels: size/S, cherry-pick kong-ee, plugins/ai-proxy, plugins/ai-request-transformer, plugins/ai-response-transformer, incomplete-cherry-pick

#14173 fix(config): correct option name for kong_cache
  changelog/unreleased/kong/fix-db_resurrect_ttl.yml
  kong/global.lua
Labels: size/XS, cherry-pick kong-ee

#14255 fix(clustering/rpc): do not log disconnected node
  kong/clustering/services/sync/hooks.lua
Labels: core/clustering, skip-changelog, size/XS, cherry-pick kong-ee

#14247 chore(sandbox): allow more sub-modules with sandboxed handlers
  kong/tools/sandbox/require/handler.lua
Labels: skip-changelog, size/M, cherry-pick kong-ee

#14266 chore(tests): stabilize flaky tests of response rate limiting plugin
  changelog/unreleased/kong/fix-response-ratelimiting-upstream-headers.yml
  spec/03-plugins/24-response-rate-limiting/04-access_spec.lua
  spec/fixtures/1.2_custom_nginx.template
  spec/fixtures/template_inject/nginx_kong_test_custom_inject_http.lua
Labels: size/L, cherry-pick kong-ee

#14262 feat(clustering/sync): flatten and report validation error
  kong/clustering/rpc/socket.lua
  kong/clustering/services/sync/rpc.lua
  kong/clustering/services/sync/validate.lua
  kong/constants.lua
  kong/db/errors.lua
  spec/01-unit/19-hybrid/04-validate_deltas_spec.lua
  spec/02-integration/18-hybrid_rpc/10-validate_deltas_spec.lua
Labels: core/clustering, core/db, skip-changelog, size/L, cherry-pick kong-ee

#14279 feat(clustering/rpc): correct rpc disconnected event on dp side
  kong/clustering/rpc/manager.lua
Labels: core/clustering, skip-changelog, size/M, cherry-pick kong-ee, incomplete-cherry-pick

#14253 perf(tools/string): a way faster strip function
  kong/tools/string.lua
Labels: skip-changelog, size/M, cherry-pick kong-ee

#14258 chore(changelog): add some entries to changelog
  changelog/unreleased/kong/bump-kong-nginx-module.yml
  changelog/unreleased/kong/bump-lua-resty-simdjson.yml
  changelog/unreleased/kong/bump-snappy-library.yml
Labels: size/XS, cherry-pick kong-ee

#14277 fix(pdk): make kong.service.request.clear_query_arg encode spaces as %20 instead of +
  changelog/unreleased/kong/fix-pdk-clear-query-arg-space-encoding.yml
  kong/pdk/service/request.lua
  t/01-pdk/06-service-request/14-clear_query_arg.t
Labels: core/pdk, size/M

#14283 fix(clustering/rpc): small typo fix for metacall
  kong/clustering/rpc/manager.lua
Labels: core/clustering, skip-changelog, size/XS, cherry-pick kong-ee

#14256 tests(clustering/wasm): enable rpc sync tests for wasm partially
  spec/02-integration/20-wasm/06-clustering_spec.lua
Labels: skip-changelog, size/S, cherry-pick kong-ee, incomplete-cherry-pick

#14284 tests(clustering/rpc): check not existed method for notification
  kong/clustering/rpc/socket.lua
  spec/02-integration/18-hybrid_rpc/07-notification_spec.lua
  spec/fixtures/custom_plugins/kong/plugins/rpc-notification-test/handler.lua
Labels: core/clustering, skip-changelog, size/S, cherry-pick kong-ee, incomplete-cherry-pick

#14155 feat(cors): add an option to skip return ACAO when no origin in request
  changelog/unreleased/kong/feat-cors-skip-return-acao-when-no-origin-in-request.yml
  kong/clustering/compat/removed_fields.lua
  kong/plugins/cors/handler.lua
  kong/plugins/cors/schema.lua
  spec/02-integration/09-hybrid_mode/09-config-compat_spec.lua
  spec/03-plugins/13-cors/01-access_spec.lua
Labels: plugins/cors, core/clustering, size/M, schema-change-noteworthy, cherry-pick kong-ee

#14285 refactor(clustering/rpc): rpc sync should start without delay
  kong/clustering/services/sync/init.lua
Labels: core/clustering, skip-changelog, size/XS, cherry-pick kong-ee

#14280 chore(deps): bump pcre2 library from 10.44 to 10.45
  .requirements
  changelog/unreleased/kong/bump-pcre.yml
Labels: size/XS, cherry-pick kong-ee

#14281 ci(*): skip labeler on fork PRs
  .github/workflows/labeler-v2.yml
Labels: skip-changelog, chore, size/XS

#14290 fix(db): add missing select statement for export
  kong/db/strategies/postgres/init.lua
Labels: core/db, skip-changelog, size/S, cherry-pick kong-ee

#14289 feat(clustering/sync): add strict validation for delta workspace id
  kong/clustering/services/sync/validate.lua
  spec/01-unit/19-hybrid/04-validate_deltas_spec.lua
Labels: core/clustering, skip-changelog, size/M, cherry-pick kong-ee, incomplete-cherry-pick

#14292 chore(deps): bump OpenSSL to 3.4.1
  .requirements
  changelog/unreleased/kong/bump_openssl.yml
  scripts/explain_manifest/fixtures/amazonlinux-2-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-amd64.txt
  scripts/explain_manifest/fixtures/amazonlinux-2023-arm64.txt
  scripts/explain_manifest/fixtures/debian-11-amd64.txt
  scripts/explain_manifest/fixtures/debian-12-amd64.txt
  scripts/explain_manifest/fixtures/el8-amd64.txt
  scripts/explain_manifest/fixtures/el9-amd64.txt
  scripts/explain_manifest/fixtures/el9-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-20.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-22.04-arm64.txt
  scripts/explain_manifest/fixtures/ubuntu-24.04-amd64.txt
  scripts/explain_manifest/fixtures/ubuntu-24.04-arm64.txt
  scripts/explain_manifest/suites.py
Labels: size/M, cherry-pick kong-ee

#14301 tests(cmd): fix flaky test
  spec/02-integration/02-cmd/02-start_stop_spec.lua
Labels: skip-changelog, size/XS

#14274 tests(clustering/rpc): wait dp full sync ends for rpc sync
  spec/02-integration/07-sdk/03-cluster_spec.lua
  spec/02-integration/09-hybrid_mode/01-sync_spec.lua
  spec/02-integration/09-hybrid_mode/03-pki_spec.lua
  spec/02-integration/09-hybrid_mode/05-ocsp_spec.lua
  spec/02-integration/09-hybrid_mode/08-lazy_export_spec.lua
  spec/02-integration/09-hybrid_mode/10-forward-proxy_spec.lua
  spec/02-integration/09-hybrid_mode/13-deprecations_spec.lua
  spec/03-plugins/09-key-auth/04-hybrid_mode_spec.lua
  spec/03-plugins/11-correlation-id/02-schema_spec.lua
Labels: core/db, skip-changelog, size/M

#14303 refactor(clustering/rpc): clean for validate_deltas()
  kong/clustering/services/sync/validate.lua
Labels: core/clustering, skip-changelog, size/S

#14184 chore(spec): generate_keys supports EC key
  spec/internal/misc.lua
Labels: skip-changelog, size/S, cherry-pick kong-ee

#14311 fix(clustering/rpc): validate version string more strictly
  kong/clustering/services/sync/strategies/postgres.lua
  spec/01-unit/19-hybrid/05-validate-versions_spec.lua
Labels: core/clustering, skip-changelog, size/M, cherry-pick kong-ee

#13915 feat(tracing): Add instana header support in propagation
  changelog/unreleased/kong/instana-header-support.yml
  kong-3.10.0-0.rockspec
  kong/observability/tracing/propagation/extractors/instana.lua
  kong/observability/tracing/propagation/init.lua
  kong/observability/tracing/propagation/injectors/instana.lua
  kong/observability/tracing/propagation/utils.lua
  kong/plugins/opentelemetry/schema.lua
  kong/plugins/zipkin/schema.lua
  spec/01-unit/26-observability/02-propagation_strategies_spec.lua
  spec/03-plugins/34-zipkin/zipkin_spec.lua
  spec/03-plugins/37-opentelemetry/03-propagation_spec.lua
Labels: size/L, core/tracing, plugins/opentelemetry, schema-change-noteworthy, author/community, cherry-pick kong-ee

#14300 chore(deps): bump ngx_wasm_module to a376e67ce02c916304cc9b9ef25a540865ee6740
  .requirements
  changelog/unreleased/kong/bump-ngx-wasm-module.yml
Labels: size/XS, cherry-pick kong-ee

#14308 chore(test): don't duplicate work when launching busted
  bin/busted
Labels: size/M, cherry-pick kong-ee

#14298 fix(targets): targets can't be removed from dns query queue
  changelog/unreleased/kong/fix-target-deletion.yml
  kong/runloop/balancer/targets.lua
  spec/02-integration/05-proxy/05-dns_spec.lua
Labels: core/balancer, size/L, cherry-pick kong-ee

#14287 fix(templates): add missing security headers for Admin GUI
  changelog/unreleased/kong/admin-gui-csp-header.yml
  kong.conf.default
  kong/cmd/utils/prefix_handler.lua
  kong/conf_loader/constants.lua
  kong/templates/kong_defaults.lua
  kong/templates/nginx_kong_gui_include.lua
  spec/01-unit/03-conf_loader_spec.lua
  spec/01-unit/04-prefix_handler_spec.lua
Labels: core/cli, core/templates, core/configuration, size/L, cherry-pick kong-ee

#14302 perf(tracing): improving performance of trace ID size lookup
  changelog/unreleased/kong/perf-trace-ID-size-lookup.yml
  kong/observability/tracing/propagation/injectors/_base.lua
Labels: size/S, core/tracing, cherry-pick kong-ee

#14320 tests(migrations): add test to detect un-listed migration file
  spec/01-unit/01-db/12-missing-migrations_spec.lua
Labels: size/L, cherry-pick kong-ee
