Repository Kong/kong, pull requests merged in 2025-08, with the labels that each got.

#14721 docs(cors): Clarify behavior with no origins specified
  kong/plugins/cors/schema.lua
Labels: plugins/cors, skip-changelog, size/XS, schema-change-noteworthy, cherry-pick kong-ee

#14735 fix(build): use default AR args for the Lua package on macOS (#14648)
  build/luarocks/lua/BUILD.lua.bazel
Labels: size/XS, build/bazel, cherry-pick kong-ee

#14719 docs(DEVELOPER): fix a dead link in dev md
  DEVELOPER.md
Labels: size/XS, author/community
